Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$

add osp to the md patch object
  modules/web/src/app/core/services/node.ts
  modules/web/src/app/shared/entity/machine-deployment.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add osp to the md patch object (#6265)
  src/app/core/services/node.ts
  src/app/shared/entity/machine-deployment.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update jobs and scripts to Go 1.21.3
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

spell check
  docs/proposals/testing.md
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/common/kubeconfig.go
  modules/api/pkg/handler/v2/cluster/kubeconfig_test.go
  modules/api/pkg/handler/v2/constraint/constraint.go
  modules/api/pkg/provider/cloud/aws/client_test.go
  modules/api/pkg/test/e2e/utils/oidc.go
  modules/web/version.js
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.23] Update jobs and scripts to Go 1.20.10
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

spell check (#6269)
  docs/proposals/testing.md
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/common/kubeconfig.go
  modules/api/pkg/handler/v2/cluster/kubeconfig_test.go
  modules/api/pkg/handler/v2/constraint/constraint.go
  modules/api/pkg/provider/cloud/aws/client_test.go
  modules/api/pkg/test/e2e/utils/oidc.go
  modules/web/version.js
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump golang.net/x/net to v0.17.0
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update golang.org/x/net to v0.17.0
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

go mod tidy
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Simplify hack/verify-swagger.sh to work with jq 1.7
  modules/api/hack/verify-swagger.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Exclude generated api client code from spelling check
  hack/verify-spelling.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

spell check
  docs/proposals/testing.md
  hack/verify-spelling.sh
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/common/kubeconfig.go
  modules/api/pkg/handler/v2/cluster/kubeconfig_test.go
  modules/api/pkg/handler/v2/constraint/constraint.go
  modules/api/pkg/provider/cloud/aws/client_test.go
  modules/api/pkg/test/e2e/utils/oidc.go
  modules/web/version.js
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

spell check (#6272)
  docs/proposals/testing.md
  hack/verify-spelling.sh
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/common/kubeconfig.go
  modules/api/pkg/handler/v2/cluster/kubeconfig_test.go
  modules/api/pkg/handler/v2/constraint/constraint.go
  modules/api/pkg/provider/cloud/aws/client_test.go
  modules/api/pkg/test/e2e/utils/oidc.go
  modules/web/version.js
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update jobs and scripts to Go 1.21.3 (#6268)
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/go.mod
  modules/api/go.sum
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/api/hack/verify-swagger.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

spell check (#6273)
  docs/proposals/testing.md
  hack/verify-spelling.sh
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/common/kubeconfig.go
  modules/api/pkg/handler/v2/cluster/kubeconfig_test.go
  modules/api/pkg/handler/v2/constraint/constraint.go
  modules/api/pkg/provider/cloud/aws/client_test.go
  modules/api/pkg/test/e2e/utils/oidc.go
  modules/web/version.js
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update Go image used for gen-api-client.sh
  modules/api/hack/gen-api-client.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.23] Update jobs and scripts to Go 1.20.10 (#6271)
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/go.mod
  modules/api/go.sum
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add osp to the md patch object (#6267)
  modules/web/src/app/core/services/node.ts
  modules/web/src/app/shared/entity/machine-deployment.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add osp to the md patch object (#6266)
  modules/web/src/app/core/services/node.ts
  modules/web/src/app/shared/entity/machine-deployment.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump k8c.io/kubermatic/v2 to 604ffa6a3d8f52ef78dc9bb93354d68f99c4a296
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix CI issues
  modules/api/.wwhrd.yml
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_networking_config.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_sphere.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_sphere_cloud_spec.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update KKP version, bump patch
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update web for 2.23.5 patch release
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update KKP version, bump patch
  Makefile
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update web for 2.22.8 patch release
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update web for 2.21.13 patch release
  Makefile
  package-lock.json
  package.json
  src/assets/config/changelog.json
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update forgotten replace block in go.mod
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Improve changelog
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix json format in changelog
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add functionality to configure `basePath` in preset and cluster
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/vsphere/component.ts
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/vsphere/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/shared/entity/preset.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/vsphere/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/vsphere/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update web for 2.21.13 patch release (#6280)
  Makefile
  package-lock.json
  package.json
  src/assets/config/changelog.json
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update KKP version
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce
