Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$

[release/v2.20] Bump version to v2.20.15
  Makefile
  package-lock.json
  package.json
  src/assets/config/changelog.json
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.21] Bump version to v2.21.8
  Makefile
  package-lock.json
  package.json
  src/assets/config/changelog.json
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.22] Bump k8c.io/kubermatic/v2 dependency to b17aad2a0bc46968c0baaafe826858fd3ef23489
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.22] Bump version to v2.22.2
  Makefile
  modules/api/Makefile
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.22] Add user-facing changelog for v2.22.2 changes
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.22] Add note on machine-controller bump
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.22] Bump version to v2.22.2 (#5892)
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update externalChangelogURL
  src/assets/config/changelog.json
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.20] Bump version to v2.20.15 (#5890)
  Makefile
  package-lock.json
  package.json
  src/assets/config/changelog.json
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.21] Bump version to v2.21.8 (#5891)
  Makefile
  package-lock.json
  package.json
  src/assets/config/changelog.json
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump golang version to 1.20.3
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/images/web-terminal/Dockerfile
  hack/verify-spelling.sh
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/custom-dashboard/Dockerfile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Linter workarounds to make it pass
  modules/api/.golangci.yml
  modules/api/pkg/provider/cloud/nutanix/client.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add TODO for test fixes
  modules/api/.golangci.yml
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Test updated headless img
  .prow/frontend.yaml
  modules/web/containers/chrome-headless/release.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update chrome headless image
  .prow/frontend.yaml
  modules/web/containers/chrome-headless/release.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Upgrade to Go 1.20.3 (#5886)
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/images/web-terminal/Dockerfile
  hack/verify-spelling.sh
  modules/api/.golangci.yml
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/api/pkg/handler/v1/user/user_test.go
  modules/api/pkg/handler/v2/cluster/binding_test.go
  modules/api/pkg/provider/cloud/nutanix/client.go
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/chrome-headless/release.sh
  modules/web/containers/custom-dashboard/Dockerfile
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add functionality to configure metering report types
  modules/web/src/app/dynamic/enterprise/metering/schedule-config/add-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/metering/schedule-config/add-dialog/template.html
  modules/web/src/app/dynamic/enterprise/metering/schedule-config/component.spec.ts
  modules/web/src/app/dynamic/enterprise/metering/schedule-config/component.ts
  modules/web/src/app/dynamic/enterprise/metering/schedule-config/edit-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/metering/schedule-config/edit-dialog/template.html
  modules/web/src/app/dynamic/enterprise/metering/schedule-config/template.html
  modules/web/src/app/dynamic/enterprise/metering/service/metering.ts
  modules/web/src/app/shared/entity/datacenter.ts
  modules/web/src/test/data/metering.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add functionality to configure metering report types (#5894)
  modules/web/src/app/dynamic/enterprise/metering/schedule-config/add-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/metering/schedule-config/add-dialog/template.html
  modules/web/src/app/dynamic/enterprise/metering/schedule-config/component.spec.ts
  modules/web/src/app/dynamic/enterprise/metering/schedule-config/component.ts
  modules/web/src/app/dynamic/enterprise/metering/schedule-config/edit-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/metering/schedule-config/edit-dialog/template.html
  modules/web/src/app/dynamic/enterprise/metering/schedule-config/template.html
  modules/web/src/app/dynamic/enterprise/metering/service/metering.ts
  modules/web/src/app/shared/entity/datacenter.ts
  modules/web/src/test/data/metering.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add-auto-upgrade-option-in-ui
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/shared/entity/settings.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add-auto-upgrade-option-in-api
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/v1/admin/settings.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

update-swagger
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.sum
  modules/api/pkg/handler/v1/admin/settings_test.go
  modules/api/pkg/test/e2e/utils/apiclient/models/global_settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/machine_deployment_options.go
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/shared/directives/value-changed-indicator.ts
  modules/web/src/app/shared/entity/settings.ts
  modules/web/src/test/services/settings-mock.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add auto upgrade option for admin settings (#5893)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/v1/admin/settings.go
  modules/api/pkg/handler/v1/admin/settings_test.go
  modules/api/pkg/test/e2e/utils/apiclient/models/global_settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/machine_deployment_options.go
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/shared/directives/value-changed-indicator.ts
  modules/web/src/app/shared/entity/settings.ts
  modules/web/src/test/services/settings-mock.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix the km-number-stepper value changed
  modules/web/src/app/shared/directives/value-changed-indicator.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix the km-number-stepper value changed (#5901)
  modules/web/src/app/shared/directives/value-changed-indicator.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update k8c.io/kubermatic/v2 to 8243a5d86430c1eae37b22b6fd974d1d347764ee
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.22] Bump k8c.io/kubermatic/v2 to 2d9db24e56ab
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.22] Bump tests to v1.25.9
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump version in tests
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.22] Bump k8c.io/kubermatic/v2 to 2d9db24e56ab (#5903)
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update k8c.io/kubermatic/v2 to 8243a5d86430 (#5902)
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add support to disable changelog popup
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/v1/admin/settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/global_settings.go
  modules/web/src/app/core/components/help-panel/component.ts
  modules/web/src/app/core/components/help-panel/template.html
  modules/web/src/app/settings/admin/customization/component.ts
  modules/web/src/app/settings/admin/customization/template.html
  modules/web/src/app/shared/entity/settings.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add support to disable changelog popup (#5905)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/v1/admin/settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/global_settings.go
  modules/web/src/app/core/components/help-panel/component.ts
  modules/web/src/app/core/components/help-panel/template.html
  modules/web/src/app/settings/admin/customization/component.ts
  modules/web/src/app/settings/admin/customization/template.html
  modules/web/src/app/shared/entity/settings.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add EnableAcceleratedNetworking option to api
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/machine/convert.go
  modules/api/pkg/resources/machine/common.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add EnableAcceleratedNetworking option to UI
  modules/web/src/app/node-data/extended/provider/azure/component.ts
  modules/web/src/app/node-data/extended/provider/azure/template.html
  modules/web/src/app/shared/entity/node.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add margin between placeholder text and `Add Project` button
  modules/web/src/app/project/style.scss
  modules/web/src/app/project/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add margin between placeholder text and `Add Project` button (#5912)
  modules/web/src/app/project/style.scss
  modules/web/src/app/project/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add the accelerated Networking value to size object
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/api/v1/types_test.go
  modules/api/pkg/handler/common/provider/azure.go
  modules/api/pkg/handler/v1/provider/azure_test.go
  modules/api/pkg/test/e2e/utils/apiclient/models/azure_node_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/azure_size.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_kubevirt.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kubevirt_cloud_spec.go
  modules/web/src/app/core/services/node-data/provider/azure.ts
  modules/web/src/app/core/services/wizard/wizard.ts
  modules/web/src/app/node-data/basic/provider/azure/component.ts
  modules/web/src/app/node-data/basic/provider/azure/template.html
  modules/web/src/app/node-data/extended/provider/azure/component.ts
  modules/web/src/app/node-data/extended/provider/azure/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/entity/provider/azure.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Support for enabling accelerated networking on Azure (#5906)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/api/v1/types_test.go
  modules/api/pkg/handler/common/provider/azure.go
  modules/api/pkg/handler/v1/provider/azure_test.go
  modules/api/pkg/machine/convert.go
  modules/api/pkg/resources/machine/common.go
  modules/api/pkg/test/e2e/utils/apiclient/models/azure_node_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/azure_size.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_kubevirt.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kubevirt_cloud_spec.go
  modules/web/src/app/core/services/node-data/provider/azure.ts
  modules/web/src/app/core/services/wizard/wizard.ts
  modules/web/src/app/node-data/basic/provider/azure/component.ts
  modules/web/src/app/node-data/basic/provider/azure/template.html
  modules/web/src/app/node-data/extended/provider/azure/component.ts
  modules/web/src/app/node-data/extended/provider/azure/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/entity/node.ts
  modules/web/src/app/shared/entity/provider/azure.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce
