Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$

Use version as query param to cache bust theme styles
  modules/web/src/app/component.ts
  modules/web/src/app/dynamic/enterprise/theming/services/manager.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update frontend with new API response
  modules/api/pkg/api/v1/types.go
  modules/web/src/app/core/services/cluster.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

gen swagger and api client
  modules/api/pkg/test/e2e/utils/apiclient/client/project/list_clusters_for_project_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/list_clusters_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/list_clusters_v2_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_list.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix tests
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/v2/cluster/cluster.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
  modules/api/pkg/test/e2e/api/util.go
  modules/api/pkg/test/e2e/utils/client.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix lint
  modules/api/pkg/handler/v2/cluster/cluster_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Use version as query param to cache bust theme styles (#5943)
  modules/web/src/app/component.ts
  modules/web/src/app/dynamic/enterprise/theming/services/manager.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add support to import openstack kubeone cluster
  modules/api/pkg/handler/v2/external_cluster/kubeone.go
  modules/web/src/app/kubeone-wizard/module.ts
  modules/web/src/app/kubeone-wizard/steps/credentials/provider/basic/openstack/component.ts
  modules/web/src/app/kubeone-wizard/steps/credentials/provider/basic/openstack/template.html
  modules/web/src/app/kubeone-wizard/steps/credentials/provider/basic/template.html
  modules/web/src/app/kubeone-wizard/steps/provider/component.ts
  modules/web/src/app/kubeone-wizard/steps/summary/template.html
  modules/web/src/app/shared/entity/kubeone-cluster.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add support to import openstack kubeone cluster (#5951)
  modules/api/pkg/handler/v2/external_cluster/kubeone.go
  modules/web/src/app/kubeone-wizard/module.ts
  modules/web/src/app/kubeone-wizard/steps/credentials/provider/basic/openstack/component.ts
  modules/web/src/app/kubeone-wizard/steps/credentials/provider/basic/openstack/template.html
  modules/web/src/app/kubeone-wizard/steps/credentials/provider/basic/template.html
  modules/web/src/app/kubeone-wizard/steps/provider/component.ts
  modules/web/src/app/kubeone-wizard/steps/summary/template.html
  modules/web/src/app/shared/entity/kubeone-cluster.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix vertical space between label and value
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/wizard/step/cluster/template.html
  modules/web/src/assets/css/global/_main.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix vertical space between label and value (#5953)
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/wizard/step/cluster/template.html
  modules/web/src/assets/css/global/_main.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Adjust search field border color and delete backup button position
  modules/web/src/app/backup/details/automatic-backup/template.html
  modules/web/src/app/backup/list/automatic-backup/template.html
  modules/web/src/assets/themes/light.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

vshpher credential clarify
  modules/web/src/app/wizard/step/provider-settings/provider/basic/vsphere/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

vshpher credential clarify (#5956)
  modules/web/src/app/wizard/step/provider-settings/provider/basic/vsphere/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix spacing in edit preset dialog
  modules/web/src/app/settings/admin/presets/dialog/style.scss
  modules/web/src/app/settings/admin/presets/edit-dialog/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix spacing in edit preset dialog (#5957)
  modules/web/src/app/settings/admin/presets/dialog/style.scss
  modules/web/src/app/settings/admin/presets/edit-dialog/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Rework vSphere credentials UI/UX
  modules/web/src/app/cluster/details/cluster/edit-provider-settings/vsphere-provider-settings/component.ts
  modules/web/src/app/cluster/details/cluster/edit-provider-settings/vsphere-provider-settings/template.html
  modules/web/src/app/wizard/step/provider-settings/provider/basic/vsphere/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/basic/vsphere/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Rework vSphere credentials UI/UX (#5959)
  modules/web/src/app/cluster/details/cluster/edit-provider-settings/vsphere-provider-settings/component.ts
  modules/web/src/app/cluster/details/cluster/edit-provider-settings/vsphere-provider-settings/template.html
  modules/web/src/app/wizard/step/provider-settings/provider/basic/vsphere/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/basic/vsphere/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update KKP && bump version
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add changelog for 2.22.3 release
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump dashboard with correct KKP version, fix issues, remove parallel exec from some tests to avoid loopclosure lint issue
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/provider/cloud/gke/provider.go
  modules/api/pkg/provider/cloud/nutanix/client.go
  modules/api/pkg/provider/kubernetes/constraint_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update swagger && api client after KKP bump
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/test/e2e/utils/apiclient/models/anything.go
  modules/api/pkg/test/e2e/utils/apiclient/models/code.go
  modules/api/pkg/test/e2e/utils/apiclient/models/target.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update changelog in web
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix using more than one error-wrapping directive
  modules/api/pkg/provider/cloud/nutanix/client.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump version to v2.21.9 && add new changelog
  Makefile
  package-lock.json
  package.json
  src/assets/config/changelog.json
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump version to v2.20.16 && add new changelog
  Makefile
  package-lock.json
  package.json
  src/assets/config/changelog.json
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump version to v2.21.9 && add new changelog (#5961)
  Makefile
  package-lock.json
  package.json
  src/assets/config/changelog.json
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump version to v2.20.16 && add new changelog (#5962)
  Makefile
  package-lock.json
  package.json
  src/assets/config/changelog.json
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix-update-default-backup-destination
  modules/api/pkg/handler/v1/admin/seed.go
  modules/web/src/app/settings/admin/bucket-settings/destinations/destination-dialog/component.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix-update-default-backup-destination (#5963)
  modules/api/pkg/handler/v1/admin/seed.go
  modules/web/src/app/settings/admin/bucket-settings/destinations/destination-dialog/component.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.22] Update KKP && bump version (#5960)
  Makefile
  modules/api/Makefile
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/provider/cloud/gke/provider.go
  modules/api/pkg/provider/cloud/nutanix/client.go
  modules/api/pkg/provider/kubernetes/constraint_test.go
  modules/api/pkg/test/e2e/utils/apiclient/models/anything.go
  modules/api/pkg/test/e2e/utils/apiclient/models/code.go
  modules/api/pkg/test/e2e/utils/apiclient/models/target.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add toggele option to default constraints
  modules/web/src/app/settings/admin/opa/default-constraints/component.ts
  modules/web/src/app/settings/admin/opa/default-constraints/style.scss
  modules/web/src/app/settings/admin/opa/default-constraints/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add toggele option to default constraints (#5971)
  modules/web/src/app/settings/admin/opa/default-constraints/component.ts
  modules/web/src/app/settings/admin/opa/default-constraints/style.scss
  modules/web/src/app/settings/admin/opa/default-constraints/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Replace isPartial with errorMessage
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/v2/cluster/cluster.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/provider/cloud/nutanix/client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/list_clusters_for_project_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/list_clusters_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/list_clusters_v2_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_list.go
  modules/api/pkg/test/e2e/utils/apiclient/models/project_cluster_list.go
  modules/api/pkg/test/e2e/utils/client.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Introduce new ProjectClusterList in UI
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/test/e2e/utils/apiclient/models/project_cluster_list.go
  modules/web/src/app/core/services/cluster.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add dot at the end of error msg
  modules/api/pkg/handler/v2/cluster/cluster.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove explicit setting of statusOK in TestHttpClientWithRetries
  modules/api/pkg/test/e2e/utils/http_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix e2e tests after changing cluster list response
  modules/web/cypress/fixtures/alibaba/clusters.json
  modules/web/cypress/fixtures/anexia/clusters.json
  modules/web/cypress/fixtures/aws/clusters.json
  modules/web/cypress/fixtures/azure/clusters.json
  modules/web/cypress/fixtures/bringyourown/clusters.json
  modules/web/cypress/fixtures/digitalocean/clusters.json
  modules/web/cypress/fixtures/empty-project-cluster-list.json
  modules/web/cypress/fixtures/gcp/clusters.json
  modules/web/cypress/fixtures/hetzner/clusters.json
  modules/web/cypress/fixtures/kubevirt/clusters.json
  modules/web/cypress/fixtures/nutanix/clusters.json
  modules/web/cypress/fixtures/openstack/clusters.json
  modules/web/cypress/fixtures/packet/clusters.json
  modules/web/cypress/fixtures/vsphere/clusters.json
  modules/web/cypress/intercept/clusters.ts
  modules/web/cypress/types/fixtures.ts
  modules/web/src/app/core/services/cluster.ts
  modules/web/src/app/shared/entity/cluster.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Trying to resolve data race
  modules/api/pkg/handler/v2/cluster/cluster.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
  modules/api/pkg/test/e2e/utils/client.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce
