Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$

Add Instance type for eks MD (#4906)
  src/app/core/services/external-machine-deployment.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/aks/component.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/eks/component.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/eks/style.scss
  src/app/external-cluster-wizard/steps/external-cluster/provider/eks/template.html
  src/app/shared/entity/external-machine-deployment.ts
  src/app/shared/entity/provider/eks.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Hide delete button for external clusters which are deleted or do not exist
  src/app/cluster/details/external-cluster/component.ts
  src/app/cluster/details/external-cluster/template.html
  src/app/cluster/list/external-cluster/component.ts
  src/app/cluster/list/external-cluster/template.html
  src/app/shared/entity/external-cluster.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Hide delete button for external clusters which are deleted or do not exist (#5054)
  src/app/cluster/details/external-cluster/component.ts
  src/app/cluster/details/external-cluster/template.html
  src/app/cluster/list/external-cluster/component.ts
  src/app/cluster/list/external-cluster/template.html
  src/app/shared/entity/external-cluster.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add provisioning and power states for aks
  src/app/cluster/details/external-cluster/external-machine-deployment-details/template.html
  src/app/cluster/details/external-cluster/external-machine-deployment-list/component.ts
  src/app/cluster/details/external-cluster/external-machine-deployment-list/template.html
  src/app/cluster/details/external-cluster/template.html
  src/app/shared/entity/external-cluster.ts
  src/app/shared/entity/external-machine-deployment.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add provisioning and power states for aks (#5038)
  src/app/cluster/details/external-cluster/external-machine-deployment-details/template.html
  src/app/cluster/details/external-cluster/external-machine-deployment-list/component.ts
  src/app/cluster/details/external-cluster/external-machine-deployment-list/template.html
  src/app/cluster/details/external-cluster/template.html
  src/app/shared/entity/external-cluster.ts
  src/app/shared/entity/external-machine-deployment.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump version to 2.19.10
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump version to 2.20.8
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fixed region changes subscription.
  src/app/core/services/external-cluster.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fixed region changes subscription. (#5055)
  src/app/core/services/external-cluster.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fixed bug in external cluster AKS wizard, where changing the credentials preset was not updating Kubernetes version, locations and resource groups API calls.
  src/app/core/services/external-cluster.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/aks/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fixed bug in external cluster AKS wizard, where changing the credentials preset was not updating Kubernetes version, locations and resource groups API calls. (#5060)
  src/app/core/services/external-cluster.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/aks/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump version to 2.20.8 (#5066)
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump version to 2.19.10 (#5065)
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Use default OperatingSystemProfile values from datacenter
  src/app/node-data/component.ts
  src/app/shared/entity/datacenter.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Use default OperatingSystemProfile values from datacenter (#5068)
  src/app/node-data/component.ts
  src/app/shared/entity/datacenter.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Display machine deployments count in cluster list
  src/app/cluster/list/cluster/component.ts
  src/app/cluster/list/cluster/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Display machine deployments count of clusters on project overview page
  src/app/cluster/list/cluster/component.ts
  src/app/project-overview/clusters-overview/component.ts
  src/app/project-overview/clusters-overview/template.html
  src/app/project-overview/component.ts
  src/app/project-overview/template.html
  src/app/shared/utils/cluster.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Display spinner when loading clusters on project overview
  src/app/project-overview/clusters-overview/component.ts
  src/app/project-overview/clusters-overview/template.html
  src/app/project-overview/component.ts
  src/app/project-overview/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Display machines count in cluster list (#5070)
  src/app/cluster/list/cluster/component.ts
  src/app/cluster/list/cluster/template.html
  src/app/project-overview/clusters-overview/component.ts
  src/app/project-overview/clusters-overview/template.html
  src/app/project-overview/component.ts
  src/app/project-overview/template.html
  src/app/shared/utils/cluster.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Upgrade dependencies to latest versions
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Upgrade dependencies to latest versions (#5073)
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add back button
  src/app/shared/components/add-external-cluster-dialog/component.ts
  src/app/shared/components/add-external-cluster-dialog/steps/cluster/provider/aks/component.ts
  src/app/shared/components/add-external-cluster-dialog/steps/cluster/provider/eks/component.ts
  src/app/shared/components/add-external-cluster-dialog/steps/cluster/provider/gke/component.ts
  src/app/shared/components/add-external-cluster-dialog/style.scss
  src/app/shared/components/add-external-cluster-dialog/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add quota widget in machine deployment dialog, cluster template and create cluster dialog.
  src/app/cluster-template/component.ts
  src/app/cluster-template/routing.ts
  src/app/cluster-template/template.html
  src/app/cluster/details/cluster/component.ts
  src/app/cluster/details/cluster/machine-deployment-details/component.ts
  src/app/cluster/details/cluster/machine-deployment-details/template.html
  src/app/cluster/details/cluster/machine-deployment-list/component.ts
  src/app/cluster/details/cluster/template.html
  src/app/cluster/list/cluster/component.ts
  src/app/cluster/list/cluster/template.html
  src/app/cluster/routing.ts
  src/app/core/services/node.ts
  src/app/dynamic/enterprise/quotas/quota-widget/component.ts
  src/app/dynamic/enterprise/quotas/quota-widget/style.scss
  src/app/dynamic/enterprise/quotas/quota-widget/template.html
  src/app/node-data/component.ts
  src/app/node-data/dialog/component.ts
  src/app/node-data/dialog/template.html
  src/app/node-data/style.scss
  src/app/node-data/template.html
  src/app/project-overview/create-resource-panel/component.ts
  src/app/project-overview/create-resource-panel/template.html
  src/app/shared/components/add-cluster-from-template-dialog/component.ts
  src/app/shared/components/add-cluster-from-template-dialog/template.html
  src/app/shared/components/cluster-from-template/content/component.ts
  src/app/shared/components/cluster-from-template/content/style.scss
  src/app/shared/components/cluster-from-template/content/template.html
  src/app/shared/components/cluster-from-template/dialog/component.ts
  src/app/shared/components/cluster-from-template/dialog/template.html
  tsconfig.json
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add quota widget in machine deployment dialog, cluster template and create cluster dialog. (#5075)
  src/app/cluster-template/component.ts
  src/app/cluster-template/routing.ts
  src/app/cluster-template/template.html
  src/app/cluster/details/cluster/component.ts
  src/app/cluster/details/cluster/machine-deployment-details/component.ts
  src/app/cluster/details/cluster/machine-deployment-details/template.html
  src/app/cluster/details/cluster/machine-deployment-list/component.ts
  src/app/cluster/details/cluster/template.html
  src/app/cluster/list/cluster/component.ts
  src/app/cluster/list/cluster/template.html
  src/app/cluster/routing.ts
  src/app/core/services/node.ts
  src/app/dynamic/enterprise/quotas/quota-widget/component.ts
  src/app/dynamic/enterprise/quotas/quota-widget/style.scss
  src/app/dynamic/enterprise/quotas/quota-widget/template.html
  src/app/node-data/component.ts
  src/app/node-data/dialog/component.ts
  src/app/node-data/dialog/template.html
  src/app/node-data/style.scss
  src/app/node-data/template.html
  src/app/project-overview/create-resource-panel/component.ts
  src/app/project-overview/create-resource-panel/template.html
  src/app/shared/components/add-cluster-from-template-dialog/component.ts
  src/app/shared/components/add-cluster-from-template-dialog/template.html
  src/app/shared/components/cluster-from-template/content/component.ts
  src/app/shared/components/cluster-from-template/content/style.scss
  src/app/shared/components/cluster-from-template/content/template.html
  src/app/shared/components/cluster-from-template/dialog/component.ts
  src/app/shared/components/cluster-from-template/dialog/template.html
  tsconfig.json
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

WIP
  pkg/provider/watcher/kubernetes/settings.go
  pkg/provider/watcher/kubernetes/settings_test.go
  pkg/provider/watcher/kubernetes/user.go
  pkg/provider/watcher/kubernetes/user_test.go
  pkg/provider/watcher/types.go
  pkg/watcher/kubernetes/settings.go
  pkg/watcher/kubernetes/settings_test.go
  pkg/watcher/kubernetes/user.go
  pkg/watcher/kubernetes/user_test.go
  pkg/watcher/types.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

WIP
  pkg/handler/common/cluster.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

compilable version
  go.mod
  go.sum
  pkg/defaulting/cluster.go
  pkg/defaulting/cluster_test.go
  pkg/defaulting/configuration.go
  pkg/defaulting/configuration_integration_test.go
  pkg/defaulting/configuration_test.go
  pkg/defaulting/externalcluster.go.back
  pkg/defaulting/images_ce.go
  pkg/defaulting/images_ee.go
  pkg/defaulting/seed.go
  pkg/defaulting/usersshkey.go.back
  pkg/defaulting/usersshkey_test.go.back
  pkg/handler/common/cluster.go
  pkg/handler/routes_v1_websocket.go
  pkg/handler/v2/external_cluster/external_cluster.go
  pkg/handler/websocket/settings.go
  pkg/handler/websocket/user.go
  pkg/kubernetes/helper.go
  pkg/provider/cloud/bringyourown/provider.go
  pkg/provider/cloud/provider.go
  pkg/resources/cluster/cluster.go
  pkg/validation/cluster_test.go
  pkg/watcher/types.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

move api main.go into cmd
  cmd/dashboard/main.go
  cmd/dashboard/metrics.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix imports
  pkg/defaulting/cluster.go
  pkg/handler/common/cluster.go
  pkg/resources/cluster/cluster.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix import for EE version
  cmd/kubermatic-api/wrappers_ee.go
  pkg/handler/v1/admin/wrappers_ee.go
  pkg/handler/v2/group-project-binding/wrappers_ee.go
  pkg/handler/v2/resource_quota/wrappers_ee.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add swagger generation
  cmd/kubermatic-api/swagger.json
  go.mod
  go.sum
  hack/lib.sh
  hack/tools.go
  hack/update-swagger.sh
  hack/verify-swagger.sh
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Upgrade dependencies to latest version
  package-lock.json
  package.json
  src/app/node-data/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

swagger
  cmd/kubermatic-api/swagger.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix swagger generation by exlcuding kubermatic api types
  hack/update-swagger.sh
  hack/verify-swagger.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add go build targets to dashboard's Makefile
  .gitignore
  Makefile
  hack/ci/download-gocache.sh
  hack/run-api.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce
