Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$

opa: add enforcementAction field on constraint
  modules/web/src/app/shared/entity/opa.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Adjust tests to upstream changes
  modules/api/pkg/handler/test/helper.go
  modules/api/pkg/handler/v1/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Prevent version upgrade for system applications (#5628)
  modules/web/src/app/shared/components/application-list/add-application-dialog/template.html
  modules/web/src/app/shared/components/application-list/component.ts
  modules/web/src/app/shared/components/application-list/edit-application-dialog/component.ts
  modules/web/src/app/shared/components/application-list/edit-application-dialog/template.html
  modules/web/src/app/shared/entity/application.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.20] Bump version to 2.20.13
  Makefile
  package-lock.json
  package.json
  src/assets/config/changelog.json
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.19] Bump version to 2.19.15
  Makefile
  package-lock.json
  package.json
  src/assets/config/changelog.json
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

opa: add enforcementAction field on constraint (#5626)
  modules/web/src/app/shared/entity/opa.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Load application definition details to display method and source icons
  modules/web/src/app/core/services/application.ts
  modules/web/src/app/shared/components/application-list/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Forbid upgrading to Kubernetes v1.25 if Pod Security Policy are enabled
  modules/web/src/app/cluster/details/shared/version-change-dialog/component.ts
  modules/web/src/app/cluster/details/shared/version-change-dialog/template.html
  modules/web/src/app/shared/entity/cluster.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.19] Bump version to 2.19.15 (#5625)
  Makefile
  package-lock.json
  package.json
  src/assets/config/changelog.json
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Prepare dashboard for KKP 2.22.0-alpha.0 release
  Makefile
  modules/api/Makefile
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update dependency for k8c.io/kubermatic/v2 to `62c8bfb` (#5624)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/test/helper.go
  modules/api/pkg/handler/v1/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/cniversion/cniversion.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster_test.go
  modules/api/pkg/resources/cluster/cluster.go
  modules/api/pkg/resources/machine/common.go
  modules/api/pkg/test/e2e/utils/apiclient/models/constraint_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/tag_category.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_sphere_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_sphere_tag.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.20] Bump version to 2.20.13 (#5627)
  Makefile
  package-lock.json
  package.json
  src/assets/config/changelog.json
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Resolve merge problem
  modules/api/pkg/ee/resource-quota/handler.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Support for configuring tags for vSphere clusters
  modules/web/src/app/core/services/wizard/provider/vsphere.ts
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/shared/entity/provider/vsphere.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/vsphere/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/vsphere/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add endpoints to list tag categories for vSphere
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/common/provider/vsphere.go
  modules/api/pkg/handler/v2/provider/vsphere.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/provider/cloud/vsphere/provider.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vsphere/list_project_v_sphere_tag_categories_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vsphere/list_project_v_sphere_tag_categories_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vsphere/list_v_sphere_tag_categories_no_credentials_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vsphere/list_v_sphere_tag_categories_no_credentials_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vsphere/vsphere_client.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_sphere_tag_category.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Introduce endpoints to list tags
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/common/provider/vsphere.go
  modules/api/pkg/handler/v2/provider/vsphere.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/provider/cloud/vsphere/provider.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vsphere/list_project_v_sphere_tags_for_tag_categories_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vsphere/list_project_v_sphere_tags_for_tag_categories_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vsphere/list_v_sphere_tags_for_tag_category_no_credentials_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vsphere/list_v_sphere_tags_for_tag_category_no_credentials_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vsphere/vsphere_client.go
  modules/web/src/app/shared/components/chip-list/component.ts
  modules/web/src/app/shared/components/chip-list/template.html
  modules/web/src/app/wizard/step/provider-settings/provider/extended/vsphere/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/vsphere/template.html
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Refactored code
  modules/web/src/app/node-data/extended/provider/vsphere/component.ts
  modules/web/src/app/node-data/extended/provider/vsphere/template.html
  modules/web/src/app/node-data/extended/template.html
  modules/web/src/app/wizard/step/provider-settings/provider/extended/vsphere/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Synchronize OWNERS_ALIASES file with Github teams (#5635)
  OWNERS_ALIASES
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Revamp support for tag categories (#5629)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/common/provider/vsphere.go
  modules/api/pkg/handler/v2/provider/vsphere.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/provider/cloud/vsphere/provider.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vsphere/list_project_v_sphere_tag_categories_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vsphere/list_project_v_sphere_tag_categories_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vsphere/list_project_v_sphere_tags_for_tag_categories_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vsphere/list_project_v_sphere_tags_for_tag_categories_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vsphere/list_v_sphere_tag_categories_no_credentials_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vsphere/list_v_sphere_tag_categories_no_credentials_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vsphere/list_v_sphere_tags_for_tag_category_no_credentials_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vsphere/list_v_sphere_tags_for_tag_category_no_credentials_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vsphere/vsphere_client.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_sphere_tag_category.go
  modules/web/src/app/core/services/wizard/provider/vsphere.ts
  modules/web/src/app/node-data/extended/provider/vsphere/component.ts
  modules/web/src/app/node-data/extended/provider/vsphere/template.html
  modules/web/src/app/node-data/extended/template.html
  modules/web/src/app/shared/components/chip-list/component.ts
  modules/web/src/app/shared/components/chip-list/template.html
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/shared/entity/provider/vsphere.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/vsphere/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/vsphere/template.html
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Load application definition details to display method and source icons (#5630)
  modules/web/src/app/core/services/application.ts
  modules/web/src/app/shared/components/application-list/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump MC and KKP dependencies
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/v2/provider/vsphere.go
  modules/api/pkg/machine/convert.go
  modules/api/pkg/resources/machine/common.go
  modules/api/pkg/test/e2e/utils/apiclient/models/tag_category.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_sphere_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_sphere_tag.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Forbid upgrading to Kubernetes v1.25 if Pod Security Policy are enabled (#5623)
  modules/web/src/app/cluster/details/shared/version-change-dialog/component.ts
  modules/web/src/app/cluster/details/shared/version-change-dialog/template.html
  modules/web/src/app/shared/entity/cluster.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

allow user to go through the cluster template wizard
  modules/web/src/app/dynamic/enterprise/quotas/services/quota-calculation.ts
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/node-data/template.html
  modules/web/src/app/wizard/component.ts
  modules/web/src/app/wizard/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

allow user to go through the cluster template wizard (#5631)
  modules/web/src/app/dynamic/enterprise/quotas/services/quota-calculation.ts
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/node-data/template.html
  modules/web/src/app/wizard/component.ts
  modules/web/src/app/wizard/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Prepare dashboard for KKP 2.22.0-alpha.0 release (#5633)
  Makefile
  modules/api/Makefile
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Revamp VSphere provider tags
  modules/web/src/app/core/module.ts
  modules/web/src/app/core/services/node-data/provider/vsphere.ts
  modules/web/src/app/core/services/node-data/service.ts
  modules/web/src/app/core/services/provider/vsphere.ts
  modules/web/src/app/core/services/wizard/provider/vsphere.ts
  modules/web/src/app/node-data/extended/provider/vsphere/component.ts
  modules/web/src/app/node-data/extended/provider/vsphere/tag-categories/component.ts
  modules/web/src/app/node-data/extended/provider/vsphere/tag-categories/style.scss
  modules/web/src/app/node-data/extended/provider/vsphere/tag-categories/template.html
  modules/web/src/app/node-data/extended/provider/vsphere/template.html
  modules/web/src/app/node-data/module.ts
  modules/web/src/app/shared/entity/node.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/vsphere/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Minor fixes
  modules/web/src/app/machine-networks/component.spec.ts
  modules/web/src/app/node-data/extended/provider/vsphere/tag-categories/component.ts
  modules/web/src/app/node-data/extended/provider/vsphere/tag-categories/template.html
  modules/web/src/app/shared/components/machine-networks-new/component.spec.ts
  modules/web/src/app/wizard/step/network/component.spec.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/vsphere/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Revamp support for tag association for vSphere machines (#5636)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/v2/provider/vsphere.go
  modules/api/pkg/machine/convert.go
  modules/api/pkg/resources/machine/common.go
  modules/api/pkg/test/e2e/utils/apiclient/models/tag_category.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_sphere_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_sphere_tag.go
  modules/web/src/app/core/module.ts
  modules/web/src/app/core/services/node-data/provider/vsphere.ts
  modules/web/src/app/core/services/node-data/service.ts
  modules/web/src/app/core/services/provider/vsphere.ts
  modules/web/src/app/core/services/wizard/provider/vsphere.ts
  modules/web/src/app/machine-networks/component.spec.ts
  modules/web/src/app/node-data/extended/provider/vsphere/component.ts
  modules/web/src/app/node-data/extended/provider/vsphere/tag-categories/component.ts
  modules/web/src/app/node-data/extended/provider/vsphere/tag-categories/style.scss
  modules/web/src/app/node-data/extended/provider/vsphere/tag-categories/template.html
  modules/web/src/app/node-data/extended/provider/vsphere/template.html
  modules/web/src/app/node-data/module.ts
  modules/web/src/app/shared/components/machine-networks-new/component.spec.ts
  modules/web/src/app/shared/entity/node.ts
  modules/web/src/app/wizard/step/network/component.spec.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/vsphere/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/vsphere/template.html
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fixing show projects and send projects id's
  modules/web/src/app/external-cluster-wizard/steps/external-cluster/provider/eks/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/preset/component.ts
  modules/web/src/app/settings/admin/presets/dialog/steps/preset/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fixing show projects and send projects id's (#5634)
  modules/web/src/app/external-cluster-wizard/steps/external-cluster/provider/eks/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/preset/component.ts
  modules/web/src/app/settings/admin/presets/dialog/steps/preset/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Load category tags when new tag with category is added
  modules/web/src/app/node-data/extended/provider/vsphere/tag-categories/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Load category tags when new tag with category is added (#5640)
  modules/web/src/app/node-data/extended/provider/vsphere/tag-categories/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix font-size and hide extended progress bars if no quota configured
  modules/web/src/app/dynamic/enterprise/quotas/quota-widget/style.scss
  modules/web/src/app/dynamic/enterprise/quotas/quota-widget/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix font-size and hide extended progress bars if no quota configured (#5641)
  modules/web/src/app/dynamic/enterprise/quotas/quota-widget/style.scss
  modules/web/src/app/dynamic/enterprise/quotas/quota-widget/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.20] Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.21] Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Synchronize OWNERS_ALIASES file with Github teams (#5642)
  OWNERS_ALIASES
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.20] Synchronize OWNERS_ALIASES file with Github teams (#5643)
  OWNERS_ALIASES
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce
