Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

pre-dashboard-go-mod-verify:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      command:
      - make
      - verify-go
      resources:
        requests:
          cpu: 100m

pre-dashboard-test-unit:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/chrome-headless:v0.11
      command:
      - make
      - test-headless
      resources:
        requests:
          cpu: 1
          memory: 3Gi
        limits:
          cpu: 2
          memory: 5Gi
      env:
      - name: CODECOV_TOKEN
        valueFrom:
  ...

pre-dashboard-test-full-e2e:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-full-e2e-ce:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-e2e:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-test-e2e-ce:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-build-image:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

pre-dashboard-build-image-ce:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

Remove `shareReplay` operator for health endpoint to fix polling issue (#5545)
  modules/web/src/app/core/services/cluster.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update oidc provider factory
  modules/api/pkg/provider/auth/oidc.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.20] changelog update 2.20.12 (#5547)
  src/assets/config/changelog.json
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.21] changelog update 2.21.5 (#5548)
  src/assets/config/changelog.json
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.19] changelog update 2.19.14 (#5546)
  src/assets/config/changelog.json
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix the labels for one line limit
  modules/web/src/app/project-overview/component.ts
  modules/web/src/app/project-overview/create-resource-panel/template.html
  modules/web/src/app/project-overview/style.scss
  modules/web/src/app/project-overview/template.html
  modules/web/src/app/shared/components/labels/style.scss
  modules/web/src/app/shared/components/labels/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

project overview follow up (#5536)
  modules/web/src/app/project-overview/component.ts
  modules/web/src/app/project-overview/create-resource-panel/template.html
  modules/web/src/app/project-overview/style.scss
  modules/web/src/app/project-overview/template.html
  modules/web/src/app/shared/components/labels/style.scss
  modules/web/src/app/shared/components/labels/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add support to migrate KubeOne cluster container runtime (#5499)
  modules/web/src/app/cluster/details/kubeone/component.ts
  modules/web/src/app/cluster/details/kubeone/edit-cluster-dialog/component.ts
  modules/web/src/app/cluster/details/kubeone/edit-cluster-dialog/template.html
  modules/web/src/app/cluster/details/kubeone/template.html
  modules/web/src/app/cluster/module.ts
  modules/web/src/app/shared/entity/external-cluster.ts
  modules/web/src/app/shared/entity/kubeone-cluster.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.19] Bump version to 2.19.14
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.20] Bump version v2.20.12
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.21] Bump version to 2.21.5
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.19] Bump version to 2.19.14 (#5553)
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.20] Bump version v2.20.12 (#5554)
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

remove unused argument
  modules/api/cmd/kubermatic-api/main.go
  modules/api/pkg/provider/auth/oidc.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.21] Bump version to 2.21.5 (#5555)
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

store oidc config
  modules/api/pkg/handler/auth/oidc.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

bump kkp version
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

gen swagger/api client
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_kubevirt.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_virt_infra_storage_class.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kubevirt_cloud_spec.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add KubeOne MachineDeploymets upgrade list
  modules/api/pkg/handler/v2/external_cluster/kubeone.go
  modules/api/pkg/handler/v2/external_cluster/upgrade.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Move KubeVirt custom images to Initial Nodes step and add `OS` support
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/template.html
  modules/web/src/app/shared/components/kubevirt-custom-images-summary/component.ts
  modules/web/src/app/shared/components/kubevirt-custom-images-summary/template.html
  modules/web/src/app/shared/components/kubevirt-custom-images/component.ts
  modules/web/src/app/shared/components/kubevirt-custom-images/custom-image-dialog/component.ts
  modules/web/src/app/shared/components/kubevirt-custom-images/custom-image-dialog/template.html
  modules/web/src/app/shared/components/kubevirt-custom-images/style.scss
  modules/web/src/app/shared/components/kubevirt-custom-images/template.html
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/shared/entity/datacenter.ts
  modules/web/src/app/shared/module.ts
  modules/web/src/app/wizard/module.ts
  modules/web/src/app/wizard/step/provider-settings/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/kubevirt/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/kubevirt/template.html
  modules/web/src/app/wizard/step/provider-settings/provider/extended/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add KubeOne MachineDeploymets upgrade list (#5558)
  modules/api/pkg/handler/v2/external_cluster/kubeone.go
  modules/api/pkg/handler/v2/external_cluster/upgrade.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add functionality to edit KubeVirt custom images
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/provider/kubevirt/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/provider/kubevirt/template.html
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/cluster/module.ts
  modules/web/src/app/shared/entity/cluster.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update KubeVirt logo to mark end of technology preview
  modules/web/src/assets/images/clouds/kubevirt-dark.svg
  modules/web/src/assets/images/clouds/kubevirt.svg
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update KubeVirt logo to mark end of technology preview (#5559)
  modules/web/src/assets/images/clouds/kubevirt-dark.svg
  modules/web/src/assets/images/clouds/kubevirt.svg
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

bump to version which has an image
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add permission for load service account
  modules/web/src/app/project-overview/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

bump kkp version (#5556)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_kubevirt.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_virt_infra_storage_class.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kubevirt_cloud_spec.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix credentials handing for GCP
  modules/api/pkg/handler/v2/provider/gcp.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix credentials handing for GCP (#5562)
  modules/api/pkg/handler/v2/provider/gcp.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix the handleProviderChange methode
  modules/web/src/app/core/services/wizard/wizard.ts
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/wizard/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix the handleProviderChange methode (#5544)
  modules/web/src/app/core/services/wizard/wizard.ts
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/wizard/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

disable Groups for non owner role
  modules/web/src/app/shared/model/Config.ts
  modules/web/src/assets/config/userGroupConfig.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

update premmisions for service accounts and groups (#5563)
  modules/web/src/app/project-overview/component.ts
  modules/web/src/app/shared/model/Config.ts
  modules/web/src/assets/config/userGroupConfig.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add functionality to upgrade KubeOne machine deployment version
  modules/web/src/app/cluster/details/kubeone/machine-deployment-details/component.ts
  modules/web/src/app/cluster/details/kubeone/machine-deployment-details/template.html
  modules/web/src/app/cluster/details/kubeone/machine-deployment-dialog/component.ts
  modules/web/src/app/cluster/details/kubeone/machine-deployment-dialog/style.scss
  modules/web/src/app/cluster/details/kubeone/machine-deployment-dialog/template.html
  modules/web/src/app/cluster/details/kubeone/machine-deployment-list/component.ts
  modules/web/src/app/cluster/details/kubeone/machine-deployment-list/template.html
  modules/web/src/app/cluster/details/kubeone/template.html
  modules/web/src/app/cluster/module.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Some fixes for RQ calculation
  modules/api/pkg/ee/resource-quota/handler.go
  modules/api/pkg/ee/resource-quota/handler_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove KubeVirt custom images
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/components/kubevirt-pre-allocated-data-volumes/component.ts
  modules/web/src/app/shared/components/kubevirt-pre-allocated-data-volumes/template.html
  modules/web/src/app/shared/module.ts
  modules/web/src/app/wizard/module.ts
  modules/web/src/app/wizard/step/provider-settings/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/kubevirt/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/kubevirt/style.scss
  modules/web/src/app/wizard/step/provider-settings/provider/extended/kubevirt/template.html
  modules/web/src/app/wizard/step/provider-settings/provider/extended/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Minor refactors, removing redundant oidcVerifier
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/options.go
  modules/api/pkg/handler/auth/oidc.go
  modules/api/pkg/handler/routing.go
  modules/api/pkg/handler/test/hack/hack.go
  modules/api/pkg/handler/v2/routing.go
  modules/api/pkg/provider/auth/oidc.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Some fixes for RQ calculation (#5564)
  modules/api/pkg/ee/resource-quota/handler.go
  modules/api/pkg/ee/resource-quota/handler_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix boilerplate & spelling
  modules/api/pkg/provider/auth/oidc.go
  modules/api/pkg/provider/auth/types/types.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add KubeVirt images endpoint
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/common/provider/kubevirt.go
  modules/api/pkg/handler/v2/provider/kubevirt.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/kubevirt_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_kubevirt_images_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_kubevirt_images_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_kubevirt.go
  modules/api/pkg/test/e2e/utils/apiclient/models/http_source.go
  modules/api/pkg/test/e2e/utils/apiclient/models/image_cloning.go
  modules/api/pkg/test/e2e/utils/apiclient/models/image_list_with_versions.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_virt_http_source.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_virt_image_source.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_virt_image_sources.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_virt_images.go
  modules/api/pkg/test/e2e/utils/apiclient/models/o_s_versions.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$
