Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-go-mod-verify, pre-dashboard-web-lint, pre-dashboard-web-check

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-api-e2e: any of: modules/api/pkg
  pre-dashboard-api-unit: any of: modules/api
  pre-dashboard-api-lint: any of: modules/api
  pre-dashboard-api-verify: any of: modules/api
  pre-dashboard-web-integration-tests: any of: modules/web
  pre-dashboard-web-integration-tests-ce: any of: modules/web
  pre-dashboard-web-unit: any of: modules/web
  pre-dashboard-web-go-mod-verify: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-lint: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-check: any of: modules/web

UI/UX improvements: - Add upload status progress bar - Add error handling for file size and failed uploads - Add cancel button to stop uploads - Prevent window from closing when upload is in progress
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/import-dialog/style.scss
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/import-dialog/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/import-dialog/theme.scss
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/upload-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/upload-dialog/style.scss
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/upload-dialog/template.html
  modules/web/src/app/shared/components/dialog-title/component.ts
  modules/web/src/app/shared/components/dialog-title/template.html
  modules/web/src/assets/css/global/_main.scss
  modules/web/src/assets/css/global/_theme.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Update package-lock file
  modules/web/package-lock.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Hide selection indicator from button toggle (#7340)
  modules/web/src/app-config.ts
  modules/web/src/app/module.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

run fix scripts
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/test/e2e/utils/apiclient/models/admin.go
  modules/web/src/app/settings/admin/global-viewer/add-global-viewer-dialog/component.ts
  modules/web/src/app/settings/admin/global-viewer/add-global-viewer-dialog/template.html
  modules/web/src/app/settings/admin/global-viewer/component.ts
  modules/web/src/app/settings/admin/global-viewer/module.ts
  modules/web/src/app/settings/admin/global-viewer/style.scss
  modules/web/src/app/settings/admin/global-viewer/template.html
  modules/web/src/app/shared/components/side-nav-field/component.ts
  modules/web/src/app/shared/entity/common.ts
  modules/web/src/app/shared/utils/member.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Add functionality to configure checksum algorithm for backup storage location
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/add-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/add-dialog/template.html
  modules/web/src/app/settings/admin/defaults/component.ts
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/shared/entity/backup.ts
  modules/web/src/app/shared/entity/settings.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix(7343): add labels for backup objects
  modules/api/pkg/ee/clusterbackup/backup/handler.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Add functionality to configure checksum algorithm for backup storage location (#7346)
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/add-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/add-dialog/template.html
  modules/web/src/app/settings/admin/defaults/component.ts
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/shared/entity/backup.ts
  modules/web/src/app/shared/entity/settings.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix(7343): addressed review comments
  modules/api/pkg/ee/clusterbackup/backup/handler.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Add global viewer role to the dashboard (#7337)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/v1/admin/admin.go
  modules/api/pkg/provider/kubernetes/admin.go
  modules/api/pkg/provider/types.go
  modules/api/pkg/test/e2e/utils/apiclient/models/admin.go
  modules/api/pkg/test/e2e/utils/apiclient/models/user.go
  modules/web/src/app/project/template.html
  modules/web/src/app/settings/admin/global-viewer/add-global-viewer-dialog/component.ts
  modules/web/src/app/settings/admin/global-viewer/add-global-viewer-dialog/template.html
  modules/web/src/app/settings/admin/global-viewer/component.ts
  modules/web/src/app/settings/admin/global-viewer/module.ts
  modules/web/src/app/settings/admin/global-viewer/style.scss
  modules/web/src/app/settings/admin/global-viewer/template.html
  modules/web/src/app/settings/admin/nav/template.html
  modules/web/src/app/settings/admin/routing.ts
  modules/web/src/app/shared/components/side-nav-field/component.ts
  modules/web/src/app/shared/entity/common.ts
  modules/web/src/app/shared/entity/member.ts
  modules/web/src/app/shared/utils/member.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Upload backups to cluster backup storage location (#7335)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/ee/clusterbackup/storage-location/handler.go
  modules/api/pkg/ee/clusterbackup/storage-location/provider.go
  modules/api/pkg/handler/v2/clusterbackup/storage-location/cbsl.go
  modules/api/pkg/handler/v2/clusterbackup/storage-location/wrappers_ce.go
  modules/api/pkg/handler/v2/clusterbackup/storage-location/wrappers_ee.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/provider/types.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/get_cluster_backup_storage_location_credentials_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/get_cluster_backup_storage_location_credentials_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/project_client.go
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/app/core/services/cluster-backup.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/import-dialog/style.scss
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/import-dialog/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/upload-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/upload-dialog/style.scss
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/upload-dialog/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/module.ts
  modules/web/src/app/shared/components/dialog-title/component.ts
  modules/web/src/app/shared/components/dialog-title/template.html
  modules/web/src/assets/css/_images.scss
  modules/web/src/assets/css/global/_main.scss
  modules/web/src/assets/css/global/_theme.scss
  modules/web/src/assets/images/icons/upload.svg
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix(build): fix build for post dashboard push ce main
  modules/api/pkg/provider/kubernetes/member.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Add CI job to ensure API is buildable for CE version
  .prow/api.yaml
  .prow/frontend.yaml
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Enable KubeLB for all datacenters
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/v2/seedsettings/seedsettings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/audit_sidecar_configuration.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_l_b.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_l_b_datacenter_settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_l_b_seed_settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_l_b_seed_settings_api.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kyverno_policy_namespace.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_binding_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/seed.go
  modules/api/pkg/test/e2e/utils/apiclient/models/seed_settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/seed_spec.go
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/shared/entity/datacenter.ts
  modules/web/src/app/wizard/step/cluster/component.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix pre-dashboard-api-build-ce
  .prow/api.yaml
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Minor fixes
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/test/e2e/utils/apiclient/models/seed_settings.go
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/wizard/step/cluster/component.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix(build): address review comments
  modules/api/pkg/ee/group-project-binding/handler/handler.go
  modules/api/pkg/provider/kubernetes/member.go
  modules/api/pkg/provider/userinfo.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

fix(build): address review comments
  modules/api/pkg/ee/group-project-binding/handler/handler.go
  modules/api/pkg/provider/kubernetes/member.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

fix(build): fix build for post dashboard ce main (#7349)
  modules/api/pkg/ee/group-project-binding/handler/handler.go
  modules/api/pkg/provider/kubernetes/member.go
  modules/api/pkg/provider/userinfo.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Enable KubeLB for all datacenters (#7350)
  .prow/api.yaml
  .prow/frontend.yaml
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/v2/seedsettings/seedsettings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/audit_sidecar_configuration.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_l_b.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_l_b_datacenter_settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_l_b_seed_settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_l_b_seed_settings_api.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kyverno_policy_namespace.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_binding_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/seed.go
  modules/api/pkg/test/e2e/utils/apiclient/models/seed_settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/seed_spec.go
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/shared/entity/datacenter.ts
  modules/web/src/app/wizard/step/cluster/component.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix(7343): add labels for backup objects (#7345)
  modules/api/pkg/ee/clusterbackup/backup/handler.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Display source of cluster backups
  modules/api/pkg/ee/clusterbackup/backup/handler.go
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/template.html
  modules/web/src/app/shared/entity/backup.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Display source of cluster backups (#7348)
  modules/api/pkg/ee/clusterbackup/backup/handler.go
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/template.html
  modules/web/src/app/shared/entity/backup.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

add kyverno icon
  modules/api/pkg/ee/kyverno/policy-binding/handler.go
  modules/api/pkg/ee/kyverno/policy-binding/provider.go
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/cluster/module.ts
  modules/web/src/app/core/components/sidenav/template.html
  modules/web/src/app/dynamic/enterprise/kyverno-policies/module.ts
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/wizard/step/cluster/template.html
  modules/web/src/assets/css/_images.scss
  modules/web/src/assets/images/icons/kyverno.svg
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

updates kyverno api endpoints
  modules/api/pkg/ee/kyverno/policy-binding/handler.go
  modules/api/pkg/ee/kyverno/policy-binding/provider.go
  modules/api/pkg/ee/kyverno/policy-template/handler.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/provider/types.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

add kyverno components policies and bindings
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/ee/kyverno/policy-binding/handler.go
  modules/web/src/app/core/components/sidenav/template.html
  modules/web/src/app/core/module.ts
  modules/web/src/app/core/services/kyverno.ts
  modules/web/src/app/dynamic/community/kyverno-policies/module.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/module.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-binding/add-binding/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-binding/add-binding/template.html
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-binding/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-binding/style.scss
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-binding/template.html
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/add-template/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/add-template/template.html
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/style.scss
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/template.html
  modules/web/src/app/dynamic/enterprise/kyverno-policies/template.html
  modules/web/src/app/dynamic/module-registry.ts
  modules/web/src/app/settings/admin/nav/template.html
  modules/web/src/app/shared/entity/kyverno.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

remove add binding dialog template and code enhancement
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/ee/kyverno/policy-binding/provider.go
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/cluster/module.ts
  modules/web/src/app/core/components/sidenav/template.html
  modules/web/src/app/core/services/kyverno.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/cluster-policies/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/cluster-policies/style.scss
  modules/web/src/app/dynamic/enterprise/kyverno-policies/cluster-policies/template.html
  modules/web/src/app/dynamic/enterprise/kyverno-policies/cluster-policies/view-template/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/cluster-policies/view-template/template.html
  modules/web/src/app/dynamic/enterprise/kyverno-policies/module.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-binding/add-binding/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-binding/add-binding/template.html
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-binding/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/add-template/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/add-template/template.html
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/template.html
  modules/web/src/app/shared/entity/kyverno.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

re-add the add policy dialog
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/cluster/module.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/cluster-policies/add-policy-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/cluster-policies/add-policy-dialog/template.html
  modules/web/src/app/dynamic/enterprise/kyverno-policies/cluster-policies/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/cluster-policies/template.html
  modules/web/src/app/dynamic/enterprise/kyverno-policies/cluster-policies/view-template/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/add-template/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

add kyverno pages and routes
  modules/web/src/app/core/components/sidenav/component.ts
  modules/web/src/app/core/components/sidenav/template.html
  modules/web/src/app/dynamic/community/kyverno-policies/module.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/module.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-binding/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-binding/template.html
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/template.html
  modules/web/src/app/dynamic/enterprise/kyverno-policies/template.html
  modules/web/src/app/dynamic/module-registry.ce.ts
  modules/web/src/app/dynamic/module-registry.ts
  modules/web/src/app/routing.ts
  modules/web/src/app/settings/admin/nav/template.html
  modules/web/src/app/settings/admin/routing.ts
  modules/web/src/app/shared/components/side-nav-field/component.ts
  modules/web/src/app/shared/entity/common.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

add OPA deprevated warning
  modules/web/src/app/cluster/details/cluster/style.scss
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/settings/admin/opa/component.ts
  modules/web/src/app/settings/admin/opa/style.scss
  modules/web/src/app/settings/admin/opa/template.html
  modules/web/src/app/wizard/step/cluster/style.scss
  modules/web/src/app/wizard/step/cluster/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

add OPA deprevated warning (#7344)
  modules/web/src/app/cluster/details/cluster/style.scss
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/settings/admin/opa/component.ts
  modules/web/src/app/settings/admin/opa/style.scss
  modules/web/src/app/settings/admin/opa/template.html
  modules/web/src/app/wizard/step/cluster/style.scss
  modules/web/src/app/wizard/step/cluster/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

add beta tag
  modules/api/cmd/kubermatic-api/swagger.json
  modules/web/src/app/dynamic/enterprise/kyverno-policies/cluster-policies/add-policy-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/template.html
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/theme.scss
  modules/web/src/app/settings/admin/nav/template.html
  modules/web/src/app/settings/admin/nav/theme.scss
  modules/web/src/assets/css/theme/_component.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

bump kkp
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

update
  modules/api/Makefile
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_kubevirt.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_l_b.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_l_b_datacenter_settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_template_spec.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Fix update-kkp make target
  modules/api/Makefile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

review comments
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/admin_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/create_policy_binding_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/create_policy_binding_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/delete_policy_binding_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/delete_policy_binding_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/get_policy_binding_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/get_policy_binding_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/list_policy_binding_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/list_policy_binding_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/patch_policy_binding_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/patch_policy_binding_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/project_client.go
  modules/web/src/app/dynamic/enterprise/kyverno-policies/cluster-policies/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/cluster-policies/style.scss
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/add-template/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/style.scss
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/template.html
  modules/web/src/app/settings/admin/nav/template.html
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

API: Bump KKP dependency to latest commit (#7351)
  modules/api/Makefile
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_kubevirt.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_l_b.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_l_b_datacenter_settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_template_spec.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

prepare 2.28.0-alpha.2
  Makefile
  modules/api/Makefile
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

prepare 2.28.0-alpha.2 (#7353)
  Makefile
  modules/api/Makefile
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check
