Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

pre-dashboard-go-mod-verify:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      command:
      - make
      - verify-go
      resources:
        requests:
          cpu: 100m

pre-dashboard-test-unit:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/chrome-headless:v0.11
      command:
      - make
      - test-headless
      resources:
        requests:
          cpu: 1
          memory: 3Gi
        limits:
          cpu: 2
          memory: 5Gi
      env:
      - name: CODECOV_TOKEN
        valueFrom:
  ...

pre-dashboard-test-full-e2e:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-full-e2e-ce:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-e2e:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-test-e2e-ce:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-build-image:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

pre-dashboard-build-image-ce:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

Parameters extended for bug report (#4381)
  .github/ISSUE_TEMPLATE/bug-report.md
Due: none

Apply review comments
  src/app/backup/list/snapshot/delete-dialog/component.ts
  src/app/backup/list/snapshot/delete-dialog/template.html
  src/app/cluster/details/cluster/cluster-delete-confirmation/component.ts
  src/app/cluster/details/cluster/cluster-delete-confirmation/template.html
  src/app/member/add-member/component.ts
  src/app/member/add-member/template.html
  src/app/serviceaccount/create-dialog/component.ts
  src/app/serviceaccount/create-dialog/template.html
  src/app/settings/admin/presets/dialog/component.ts
  src/app/settings/admin/presets/dialog/template.html
  src/app/shared/components/add-cluster-from-template-dialog/component.ts
  src/app/shared/components/add-cluster-from-template-dialog/template.html
  src/app/shared/components/add-external-cluster-dialog/component.ts
  src/app/shared/components/add-external-cluster-dialog/template.html
  src/app/shared/components/add-project-dialog/component.ts
  src/app/shared/components/add-project-dialog/template.html
  src/app/shared/components/add-ssh-key-dialog/component.ts
  src/app/shared/components/add-ssh-key-dialog/template.html
  src/app/shared/components/cluster-from-template/dialog/component.ts
  src/app/shared/components/cluster-from-template/dialog/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

use OWNERS_ALIASES to keep team automatically in-sync
  OWNERS
  OWNERS_ALIASES
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix unit tests
  src/app/cluster/details/cluster/cluster-delete-confirmation/component.spec.ts
  src/app/member/add-member/component.spec.ts
  src/app/serviceaccount/create-dialog/component.spec.ts
  src/app/shared/components/add-project-dialog/component.spec.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

update owners
  OWNERS
  OWNERS_ALIASES
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

use OWNERS_ALIASES to keep team automatically in-sync (#4384)
  OWNERS
  OWNERS_ALIASES
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Disable buttons during API calls (#4363)
  package.json
  src/app/backup/list/restore/template.html
  src/app/backup/list/snapshot/delete-dialog/component.ts
  src/app/backup/list/snapshot/delete-dialog/template.html
  src/app/cluster-template/template.html
  src/app/cluster/details/cluster/cluster-delete-confirmation/component.spec.ts
  src/app/cluster/details/cluster/cluster-delete-confirmation/component.ts
  src/app/cluster/details/cluster/cluster-delete-confirmation/template.html
  src/app/core/components/help-panel/component.ts
  src/app/member/add-member/component.spec.ts
  src/app/member/add-member/component.ts
  src/app/member/add-member/template.html
  src/app/serviceaccount/create-dialog/component.spec.ts
  src/app/serviceaccount/create-dialog/component.ts
  src/app/serviceaccount/create-dialog/template.html
  src/app/settings/admin/presets/dialog/component.ts
  src/app/settings/admin/presets/dialog/template.html
  src/app/shared/components/add-cluster-from-template-dialog/component.ts
  src/app/shared/components/add-cluster-from-template-dialog/template.html
  src/app/shared/components/add-external-cluster-dialog/component.ts
  src/app/shared/components/add-external-cluster-dialog/steps/service.ts
  src/app/shared/components/add-external-cluster-dialog/template.html
  src/app/shared/components/add-project-dialog/component.spec.ts
  src/app/shared/components/add-project-dialog/component.ts
  src/app/shared/components/add-project-dialog/template.html
  src/app/shared/components/add-ssh-key-dialog/component.spec.ts
  src/app/shared/components/add-ssh-key-dialog/component.ts
  src/app/shared/components/add-ssh-key-dialog/template.html
  src/app/shared/components/button/component.ts
  src/app/shared/components/button/style.scss
  src/app/shared/components/button/template.html
  src/app/shared/components/cluster-from-template/dialog/component.ts
  src/app/shared/components/cluster-from-template/dialog/template.html
  src/app/shared/module.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

adjusting code
  src/app/shared/directives/autofocus/directive.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Initial commit
  cypress/integration/v2/stories/service-accounts.spec.ts
  cypress/integration/v2/stories/ssh-keys.spec.ts
  cypress/pages/v2/clusters/detail/page.ts
  cypress/pages/v2/clusters/list/page.ts
  cypress/pages/v2/clusters/proxy.ts
  cypress/pages/v2/pages.ts
  cypress/pages/v2/serviceaccounts/page.ts
  cypress/pages/v2/sshkeys/page.ts
  cypress/pages/v2/sshkeys/strategy/factory.ts
  cypress/pages/v2/sshkeys/strategy/mocked.ts
  cypress/pages/v2/sshkeys/strategy/types.ts
  cypress/pages/v2/wizard/page.ts
  cypress/utils/provider.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

conflict fixing
  src/app/member/add-member/template.html
  src/app/shared/components/add-ssh-key-dialog/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

formatting adjusting
  src/app/shared/components/add-ssh-key-dialog/template.html
  src/app/shared/directives/autofocus/directive.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add autofocus to dialog where needed (#4370)
  src/app/member/add-member/template.html
  src/app/serviceaccount/create-dialog/template.html
  src/app/shared/components/add-project-dialog/template.html
  src/app/shared/components/add-ssh-key-dialog/template.html
  src/app/shared/directives/autofocus/directive.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix installation in e2e tests
  hack/e2e/setup-kubermatic-in-kind.sh
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix installation in e2e tests (#4392)
  hack/e2e/setup-kubermatic-in-kind.sh
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove leftovers
  cypress/pages/v2/pages.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Lift max Node version restriction
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Rewrite edition e2e tests
  cypress/integration/stories/v2/edition.spec.ts
  cypress/pages/v2/pages.ts
  cypress/pages/v2/usersettings/page.ts
  cypress/plugins/index.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Simplify code
  src/app/core/services/settings.ts
  src/app/core/services/user.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove console logs
  src/app/core/services/settings.ts
  src/app/core/services/user.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Rewrite members story
  cypress/integration/stories/multi-owner.spec.ts
  cypress/integration/stories/v2/members.spec.ts
  cypress/pages/members.po.ts
  cypress/pages/v2/members/page.ts
  cypress/pages/v2/members/strategy/factory.ts
  cypress/pages/v2/members/strategy/mocked.ts
  cypress/pages/v2/members/strategy/types.ts
  cypress/pages/v2/pages.ts
  cypress/plugins/index.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update mocks
  cypress/fixtures/members.json
  cypress/pages/v2/members/strategy/mocked.ts
  cypress/utils/config.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Clean up
  cypress/fixtures/member.json
  cypress/fixtures/service-account.json
  cypress/utils/mocks.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix login
  cypress/integration/stories/v2/members.spec.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Clean up
  cypress/pages/service-accounts.po.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix e2e tests
  cypress/integration/stories/v2/members.spec.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fetching metering schedules
  src/app/dynamic/enterprise/metering/component.ts
  src/app/dynamic/enterprise/metering/schedule-config/component.ts
  src/app/dynamic/enterprise/metering/schedule-config/template.html
  src/app/shared/entity/datacenter.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

disply schedule table
  src/app/dynamic/enterprise/metering/schedule-config/component.ts
  src/app/dynamic/enterprise/metering/schedule-config/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Move configs to specific files
  .browserslistrc
  .eslintignore
  .eslintrc.yml
  .jsbeautifyrc
  .stylelintrc.yml
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove unused dependencies
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add missing licenses
  .eslintrc.yml
  .stylelintrc.yml
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add metering schedule form [wip]
  src/app/dynamic/enterprise/metering/module.ts
  src/app/dynamic/enterprise/metering/schedule-config/component.ts
  src/app/dynamic/enterprise/metering/schedule-config/schedule-config-dialog/component.ts
  src/app/dynamic/enterprise/metering/schedule-config/schedule-config-dialog/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add small mock API server to run with mocked e2e tests
  cypress/utils/mocks.ts
  fixtures/db.json
  fixtures/routes.json
  package-lock.json
  package.json
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update cluster creation flow
  cypress/pages/v2/wizard/page.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update logic
  cypress/pages/v2/wizard/page.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add metering schedule form
  src/app/dynamic/enterprise/metering/schedule-config/schedule-config-dialog/component.ts
  src/app/dynamic/enterprise/metering/schedule-config/schedule-config-dialog/template.html
  src/app/dynamic/enterprise/metering/service/metering.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Get delete button by ID
  cypress/pages/v2/members/page.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update SA logic and use quiet logging for mock server
  cypress/pages/v2/serviceaccounts/page.ts
  cypress/pages/v2/sshkeys/page.ts
  package.json
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$
