Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-go-mod-verify, pre-dashboard-web-lint, pre-dashboard-web-check

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-api-e2e: any of: modules/api/pkg
  pre-dashboard-api-unit: any of: modules/api
  pre-dashboard-api-lint: any of: modules/api
  pre-dashboard-api-verify: any of: modules/api
  pre-dashboard-web-integration-tests: any of: modules/web
  pre-dashboard-web-integration-tests-ce: any of: modules/web
  pre-dashboard-web-unit: any of: modules/web
  pre-dashboard-web-go-mod-verify: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-lint: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-check: any of: modules/web

[release/v2.30] switch dashboard api-e2e cluster-create test from Hetzner to AWS (#8204)
  .prow/api.yaml
  hack/ci/run-api-e2e.sh
  modules/api/pkg/test/e2e/api/aws_test.go
  modules/api/pkg/test/e2e/utils/client.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

feat(settings): add admin groups for automatic admin privileges
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/v1/admin/admin.go
  modules/api/pkg/handler/v1/admin/admin_test.go
  modules/api/pkg/handler/v1/admin/settings.go
  modules/web/src/app/settings/admin/admins/component.ts
  modules/web/src/app/settings/admin/admins/style.scss
  modules/web/src/app/settings/admin/admins/template.html
  modules/web/src/app/settings/admin/defaults/component.ts
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/shared/entity/member.ts
  modules/web/src/app/shared/entity/settings.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

List KubeVirt instancetypes/preferences via v1beta1 with v1alpha1 fallback (#8203)
  modules/api/hack/reconciling.yaml
  modules/api/pkg/handler/common/provider/kubevirt.go
  modules/api/pkg/handler/common/provider/kubevirt_test.go
  modules/api/pkg/handler/v2/provider/kubevirt_test.go
  modules/api/pkg/provider/cloud/kubevirt/client.go
  modules/api/pkg/provider/cloud/kubevirt/manifests/instancetypes/standard-2.yaml
  modules/api/pkg/provider/cloud/kubevirt/manifests/instancetypes/standard-4.yaml
  modules/api/pkg/provider/cloud/kubevirt/manifests/instancetypes/standard-8.yaml
  modules/api/pkg/provider/cloud/kubevirt/manifests/manifests_test.go
  modules/api/pkg/provider/cloud/kubevirt/manifests/preferences/sockets-advantage.yaml
  modules/api/pkg/provider/cloud/kubevirt/manifests/test/instancetypes/standard-1.yaml
  modules/api/pkg/provider/cloud/kubevirt/manifests/test/preferences/standard-1.yaml
  modules/api/pkg/provider/cloud/kubevirt/vm_instancetype.go
  modules/api/pkg/provider/cloud/kubevirt/vm_preference.go
  modules/api/pkg/resources/reconciling/zz_generated_reconcile.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

minor lint fixes and small note
  modules/api/go.mod
  modules/web/src/app/settings/admin/admins/style.scss
  modules/web/src/app/settings/admin/admins/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

chore(web): bump dependencies (minor/patch only)
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.30] Bump KKP dependency for k8s patch v1.34.10
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Bump KKP dependencies to latest commit
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

[release/v2.30] Bump KKP dependency for k8s patch v1.34.10 (#8212)
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Bump KKP dependencies to latest commit (#8210)
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

[release/v2.29] Bump KKP dependency and Go build image version
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/go.mod
  modules/api/go.sum
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Update SDK dependency as well
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

[release/v2.29] Bump KKP dependency and Go build image version (#8215)
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/go.mod
  modules/api/go.sum
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

[release/v2.28] Bump KKP dependencies for KKP patch release v2.28.13
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.29] Bump KKP dependencies for KKP patch release v2.29.10
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.28] Bump KKP dependencies for KKP patch release v2.28.13 (#8220)
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

chore(web): bump dependencies (minor/patch only) (#8211)
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.29] Bump KKP dependencies for KKP patch release v2.29.10 (#8221)
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.30] Bump KKP dependencies for KKP patch release v2.30.6
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.30] Bump KKP dependencies for KKP patch release v2.30.6 (#8222)
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

remove sigs and introduce dev-kkp team
  OWNERS
  OWNERS_ALIASES
  modules/api/OWNERS
  modules/api/certs/OWNERS
  modules/api/pkg/OWNERS
  modules/api/pkg/api/OWNERS
  modules/api/pkg/handler/OWNERS
  modules/api/pkg/provider/kubernetes/OWNERS
  modules/web/OWNERS
  modules/web/containers/OWNERS
  modules/web/src/OWNERS
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

remove sigs and introduce dev-kkp team (#8224)
  OWNERS
  OWNERS_ALIASES
  modules/api/OWNERS
  modules/api/certs/OWNERS
  modules/api/pkg/OWNERS
  modules/api/pkg/api/OWNERS
  modules/api/pkg/handler/OWNERS
  modules/api/pkg/provider/kubernetes/OWNERS
  modules/web/OWNERS
  modules/web/containers/OWNERS
  modules/web/src/OWNERS
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

remove sigs and introduce dev-kkp team (#8223)
  OWNERS
  OWNERS_ALIASES
  modules/api/OWNERS
  modules/api/certs/OWNERS
  modules/api/pkg/OWNERS
  modules/api/pkg/api/OWNERS
  modules/api/pkg/handler/OWNERS
  modules/api/pkg/provider/kubernetes/OWNERS
  modules/web/OWNERS
  modules/web/containers/OWNERS
  modules/web/src/OWNERS
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix(web): remove black focus outlines in dark theme
  modules/web/src/assets/css/theme/_main.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix(web): show info icons and tooltips for cluster options
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/wizard/step/cluster/template.html
  modules/web/src/assets/css/material/_main.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix(web): remove black focus outlines in dark theme (#8226)
  modules/web/src/assets/css/theme/_main.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Update KKP dependencies to include the KubeVirt node defaults field
  .gitignore
  hack/ci/setup-kubermatic-in-kind.sh
  hack/ci/testdata/dex_values.yaml
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_kubevirt.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_virt_node_defaults.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Update KKP dependencies to include the KubeVirt node defaults field (#8237)
  .gitignore
  hack/ci/setup-kubermatic-in-kind.sh
  hack/ci/testdata/dex_values.yaml
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_kubevirt.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_virt_node_defaults.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

add kuubevirt node defaults
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
  modules/web/src/app/shared/entity/datacenter.ts
  modules/web/src/app/shared/entity/node.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

add kuubevirt node defaults (#8229)
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
  modules/web/src/app/shared/entity/datacenter.ts
  modules/web/src/app/shared/entity/node.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix(update): go sdk version and update comments
  modules/api/go.mod
  modules/api/go.sum
  modules/web/src/app/settings/admin/defaults/component.ts
  modules/web/src/app/shared/entity/member.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

update tooltips and use shared file for standardizing tooltips
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/shared/constants/common.ts
  modules/web/src/app/shared/utils/common.ts
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix(update) go.mod file
  modules/api/go.mod
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

chore(api): make update-kkp revision configurable
  modules/api/Makefile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

chore(api): rename KKP_REF to KKP_REVISION
  modules/api/Makefile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

fix: update go / swagger files
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.sum
  modules/api/pkg/test/e2e/utils/apiclient/models/admin.go
  modules/api/pkg/test/e2e/utils/apiclient/models/global_settings.go
  modules/web/src/app/shared/entity/member.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Make the KKP revision used by `make update-kkp` configurable (#8239)
  modules/api/Makefile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify
