Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-go-mod-verify, pre-dashboard-web-lint, pre-dashboard-web-check

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-web-integration-tests: any of: modules/web
  pre-dashboard-web-integration-tests-ce: any of: modules/web
  pre-dashboard-web-unit: any of: modules/web
  pre-dashboard-web-go-mod-verify: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-lint: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-check: any of: modules/web

remove MasterImpersonatedClient
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/wrappers_ce.go
  modules/api/cmd/kubermatic-api/wrappers_ee.go
  modules/api/pkg/ee/cmd/kubermatic-api/wrappers.go
  modules/api/pkg/ee/kyverno/policy-binding/handler.go
  modules/api/pkg/ee/kyverno/policy-binding/provider.go
  modules/api/pkg/ee/kyverno/policy-template/handler.go
  modules/api/pkg/ee/kyverno/policy-template/provider.go
  modules/api/pkg/provider/types.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

remove swagger:ignore for policytemplate spec
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/ee/kyverno/policy-template/handler.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/patchpolicy_template_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_template.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_template_spec.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

update dep
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/ee/kyverno/policy-binding/handler.go
  modules/api/pkg/ee/kyverno/policy-binding/provider.go
  modules/api/pkg/ee/kyverno/policy-template/handler.go
  modules/api/pkg/ee/kyverno/policy-template/provider.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

typos and routs URL fixes
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.sum
  modules/api/pkg/ee/kyverno/policy-binding/handler.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/admin_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/create_policy_binding_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/create_policy_template_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/delete_policy_binding_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/delete_policy_template_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/get_policy_binding_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/get_policy_template_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/list_policy_binding_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/list_policy_template_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/patch_policy_binding_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/patchpolicy_template_responses.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update dependencies for API
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/ee/kyverno/policy-binding/handler.go
  modules/api/pkg/ee/kyverno/policy-binding/provider.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update generated code
  modules/api/.golangci.yml
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/ee/kyverno/policy-binding/handler.go
  modules/api/pkg/test/e2e/utils/apiclient/models/audit_sidecar_settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_kubevirt.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_packet.go
  modules/api/pkg/test/e2e/utils/apiclient/models/network_policy.go
  modules/api/pkg/test/e2e/utils/apiclient/models/network_policy_mode.go
  modules/api/pkg/test/e2e/utils/apiclient/models/packet.go
  modules/api/pkg/test/e2e/utils/apiclient/models/packet_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_binding_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_binding_status.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_target_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_template_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_template_target.go
  modules/api/pkg/test/e2e/utils/apiclient/models/provider_network.go
  modules/api/pkg/test/e2e/utils/apiclient/models/resource_selector.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Whitelist github.com/letsencrypt/boulder
  modules/api/.wwhrd.yml
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update tests
  modules/api/pkg/handler/v1/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update dependencies for API (#7316)
  modules/api/.golangci.yml
  modules/api/.wwhrd.yml
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/ee/kyverno/policy-binding/handler.go
  modules/api/pkg/ee/kyverno/policy-binding/provider.go
  modules/api/pkg/handler/v1/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template_test.go
  modules/api/pkg/test/e2e/utils/apiclient/models/audit_sidecar_settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_kubevirt.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_packet.go
  modules/api/pkg/test/e2e/utils/apiclient/models/network_policy.go
  modules/api/pkg/test/e2e/utils/apiclient/models/network_policy_mode.go
  modules/api/pkg/test/e2e/utils/apiclient/models/packet.go
  modules/api/pkg/test/e2e/utils/apiclient/models/packet_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_binding_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_binding_status.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_target_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_template_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_template_target.go
  modules/api/pkg/test/e2e/utils/apiclient/models/provider_network.go
  modules/api/pkg/test/e2e/utils/apiclient/models/resource_selector.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

feat(gloabl-viewer): add support for global viewer role in middleware
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/middleware/middleware.go
  modules/api/pkg/handler/v1/project/project.go
  modules/api/pkg/provider/kubernetes/member.go
  modules/api/pkg/provider/types.go
  modules/api/pkg/provider/userinfo.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update web-terminal image dependencies (#7254)
  hack/images/web-terminal/Dockerfile
  hack/images/web-terminal/release.sh
  modules/api/pkg/handler/websocket/terminal.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump the image tag for chrome-headless image to use build image 1.24
  modules/web/containers/chrome-headless/release.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Bump the image tag for chrome-headless image to use build image 1.24 (#7322)
  modules/web/containers/chrome-headless/release.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Update the image tag for KKP owned image
  hack/lib.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update new image tag for chrome-headless image
  .prow/frontend.yaml
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update the new image tag for build image
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/chrome-headless/release.sh
  modules/web/containers/custom-dashboard/Dockerfile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

add kyverno pages and routes
  modules/web/src/app/core/components/sidenav/component.ts
  modules/web/src/app/core/components/sidenav/template.html
  modules/web/src/app/dynamic/community/kyverno-policies/module.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/module.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-binding/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-binding/template.html
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/template.html
  modules/web/src/app/dynamic/enterprise/kyverno-policies/template.html
  modules/web/src/app/dynamic/module-registry.ce.ts
  modules/web/src/app/dynamic/module-registry.ts
  modules/web/src/app/routing.ts
  modules/web/src/app/settings/admin/nav/template.html
  modules/web/src/app/settings/admin/routing.ts
  modules/web/src/app/shared/components/side-nav-field/component.ts
  modules/web/src/app/shared/entity/common.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

updates kyverno api endpoints
  modules/api/pkg/ee/kyverno/policy-binding/handler.go
  modules/api/pkg/ee/kyverno/policy-binding/provider.go
  modules/api/pkg/ee/kyverno/policy-template/handler.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/provider/types.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add kyverno components policies and bindings
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/ee/kyverno/policy-binding/handler.go
  modules/web/src/app/core/components/sidenav/template.html
  modules/web/src/app/core/module.ts
  modules/web/src/app/core/services/kyverno.ts
  modules/web/src/app/dynamic/community/kyverno-policies/module.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/module.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-binding/add-binding/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-binding/add-binding/template.html
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-binding/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-binding/style.scss
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-binding/template.html
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/add-template/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/add-template/template.html
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/style.scss
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/template.html
  modules/web/src/app/dynamic/enterprise/kyverno-policies/template.html
  modules/web/src/app/dynamic/module-registry.ts
  modules/web/src/app/settings/admin/nav/template.html
  modules/web/src/app/shared/entity/kyverno.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Update the image tag for KKP owned images (#7321)
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/lib.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/chrome-headless/release.sh
  modules/web/containers/custom-dashboard/Dockerfile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

add feature gate disable user ssh key in UI
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/routes_v1.go
  modules/api/pkg/handler/v1/ssh/ssh.go
  modules/api/pkg/provider/kubernetes/featuregates.go
  modules/api/pkg/test/e2e/utils/apiclient/models/feature_gates.go
  modules/web/src/app/cluster/details/cluster/component.ts
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/core/components/sidenav/component.ts
  modules/web/src/app/core/components/sidenav/template.html
  modules/web/src/app/core/services/feature-gate.ts
  modules/web/src/app/project-overview/component.ts
  modules/web/src/app/project-overview/template.html
  modules/web/src/app/sshkey/component.ts
  modules/web/src/app/sshkey/template.html
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/template.html
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

feat(gloabl-viewer): addressed review comments
  modules/api/pkg/handler/v1/project/project.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add support for global viewer role in middleware (#7318)
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/middleware/middleware.go
  modules/api/pkg/handler/v1/project/project.go
  modules/api/pkg/provider/kubernetes/member.go
  modules/api/pkg/provider/types.go
  modules/api/pkg/provider/userinfo.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add isenabled guard
  modules/web/src/app/cluster/details/cluster/component.spec.ts
  modules/web/src/app/cluster/details/cluster/edit-sshkeys/component.spec.ts
  modules/web/src/app/cluster/details/cluster/edit-sshkeys/component.ts
  modules/web/src/app/core/module.ts
  modules/web/src/app/core/services/ssh-key/guard.ts
  modules/web/src/app/core/services/ssh-key/ssh-key.ts
  modules/web/src/app/project-overview/component.ts
  modules/web/src/app/routing.ts
  modules/web/src/app/shared/components/add-ssh-key-dialog/component.spec.ts
  modules/web/src/app/shared/components/add-ssh-key-dialog/component.ts
  modules/web/src/app/sshkey/component.spec.ts
  modules/web/src/app/sshkey/component.ts
  modules/web/src/app/sshkey/template.html
  modules/web/src/app/wizard/step/cluster/ssh-keys/component.spec.ts
  modules/web/src/app/wizard/step/cluster/ssh-keys/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Disable user SSH-Key feature gate UI (#7324)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/routes_v1.go
  modules/api/pkg/handler/v1/ssh/ssh.go
  modules/api/pkg/provider/kubernetes/featuregates.go
  modules/api/pkg/test/e2e/utils/apiclient/models/feature_gates.go
  modules/web/src/app/cluster/details/cluster/component.spec.ts
  modules/web/src/app/cluster/details/cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-sshkeys/component.spec.ts
  modules/web/src/app/cluster/details/cluster/edit-sshkeys/component.ts
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/core/components/sidenav/component.ts
  modules/web/src/app/core/components/sidenav/template.html
  modules/web/src/app/core/module.ts
  modules/web/src/app/core/services/feature-gate.ts
  modules/web/src/app/core/services/ssh-key/guard.ts
  modules/web/src/app/core/services/ssh-key/ssh-key.ts
  modules/web/src/app/project-overview/component.ts
  modules/web/src/app/project-overview/template.html
  modules/web/src/app/routing.ts
  modules/web/src/app/shared/components/add-ssh-key-dialog/component.spec.ts
  modules/web/src/app/shared/components/add-ssh-key-dialog/component.ts
  modules/web/src/app/sshkey/component.spec.ts
  modules/web/src/app/sshkey/component.ts
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/ssh-keys/component.spec.ts
  modules/web/src/app/wizard/step/cluster/ssh-keys/component.ts
  modules/web/src/app/wizard/step/cluster/template.html
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

feat(gloabl-viewer): add support for global viewer role in middleware
  modules/api/pkg/handler/v1/user/user.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

feat: disable default kubevirt instance types and preferences
  modules/api/go.sum
  modules/api/pkg/handler/common/provider/kubevirt.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

udpate
  modules/api/pkg/handler/common/provider/kubevirt.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

update
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

feat: disable default kubevirt instance types and preferences (#7304)
  modules/api/pkg/handler/common/provider/kubevirt.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

feat(gloabl-viewer): add support for global viewer role in middleware (#7336)
  modules/api/pkg/handler/v1/user/user.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

maping isGloalViewer
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/v1/admin/admin.go
  modules/api/pkg/provider/kubernetes/admin.go
  modules/api/pkg/provider/types.go
  modules/api/pkg/test/e2e/utils/apiclient/models/admin.go
  modules/api/pkg/test/e2e/utils/apiclient/models/user.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

create the global viewer components
  modules/web/src/app/project/template.html
  modules/web/src/app/settings/admin/global-viewer/add-global-viewer-dialog/component.ts
  modules/web/src/app/settings/admin/global-viewer/add-global-viewer-dialog/template.html
  modules/web/src/app/settings/admin/global-viewer/component.ts
  modules/web/src/app/settings/admin/global-viewer/module.ts
  modules/web/src/app/settings/admin/global-viewer/style.scss
  modules/web/src/app/settings/admin/global-viewer/template.html
  modules/web/src/app/settings/admin/nav/template.html
  modules/web/src/app/settings/admin/routing.ts
  modules/web/src/app/shared/components/side-nav-field/component.ts
  modules/web/src/app/shared/entity/common.ts
  modules/web/src/app/shared/entity/member.ts
  modules/web/src/app/shared/utils/member.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Hide selection indicator from button toggle
  modules/web/src/app-config.ts
  modules/web/src/app/module.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix Swagger UI
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/app/pages/api-docs/component.ts
  modules/web/src/assets/css/root.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix Swagger UI (#7339)
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/app/pages/api-docs/component.ts
  modules/web/src/assets/css/root.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Add functionality to upload backups to cluster backup storage location
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/ee/clusterbackup/storage-location/handler.go
  modules/api/pkg/ee/clusterbackup/storage-location/provider.go
  modules/api/pkg/handler/v2/clusterbackup/storage-location/cbsl.go
  modules/api/pkg/handler/v2/clusterbackup/storage-location/wrappers_ce.go
  modules/api/pkg/handler/v2/clusterbackup/storage-location/wrappers_ee.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/provider/types.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/get_cluster_backup_storage_location_credentials_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/get_cluster_backup_storage_location_credentials_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/project_client.go
  modules/web/package.json
  modules/web/src/app/core/services/cluster-backup.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/upload-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/upload-dialog/style.scss
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/upload-dialog/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/module.ts
  modules/web/src/assets/css/_images.scss
  modules/web/src/assets/images/icons/upload.svg
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check
