Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-go-mod-verify, pre-dashboard-web-lint, pre-dashboard-web-check

pre-dashboard-go-mod-verify:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      command:
      - make
      - verify-go
      resources:
        requests:
          cpu: 100m

pre-dashboard-test-unit:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/chrome-headless:v0.11
      command:
      - make
      - test-headless
      resources:
        requests:
          cpu: 1
          memory: 3Gi
        limits:
          cpu: 2
          memory: 5Gi
      env:
      - name: CODECOV_TOKEN
        valueFrom:
  ...

pre-dashboard-test-full-e2e:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-full-e2e-ce:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-e2e:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-test-e2e-ce:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-build-image:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

pre-dashboard-build-image-ce:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

[main] prepare 2.26.0-beta.1
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[main] codegen
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/test/e2e/utils/apiclient/models/a_k_s.go
  modules/api/pkg/test/e2e/utils/apiclient/models/a_w_s.go
  modules/api/pkg/test/e2e/utils/apiclient/models/alibaba.go
  modules/api/pkg/test/e2e/utils/apiclient/models/anexia.go
  modules/api/pkg/test/e2e/utils/apiclient/models/azure.go
  modules/api/pkg/test/e2e/utils/apiclient/models/baremetal.go
  modules/api/pkg/test/e2e/utils/apiclient/models/digitalocean.go
  modules/api/pkg/test/e2e/utils/apiclient/models/e_k_s.go
  modules/api/pkg/test/e2e/utils/apiclient/models/fake.go
  modules/api/pkg/test/e2e/utils/apiclient/models/g_c_p.go
  modules/api/pkg/test/e2e/utils/apiclient/models/g_k_e.go
  modules/api/pkg/test/e2e/utils/apiclient/models/hetzner.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kubevirt.go
  modules/api/pkg/test/e2e/utils/apiclient/models/nutanix.go
  modules/api/pkg/test/e2e/utils/apiclient/models/openstack.go
  modules/api/pkg/test/e2e/utils/apiclient/models/openstack_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/packet.go
  modules/api/pkg/test/e2e/utils/apiclient/models/provider_preset.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_mware_cloud_director.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_sphere.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Prepare 2.26.0 beta.1 (#6833)
  Makefile
  modules/api/Makefile
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/test/e2e/utils/apiclient/models/a_k_s.go
  modules/api/pkg/test/e2e/utils/apiclient/models/a_w_s.go
  modules/api/pkg/test/e2e/utils/apiclient/models/alibaba.go
  modules/api/pkg/test/e2e/utils/apiclient/models/anexia.go
  modules/api/pkg/test/e2e/utils/apiclient/models/azure.go
  modules/api/pkg/test/e2e/utils/apiclient/models/baremetal.go
  modules/api/pkg/test/e2e/utils/apiclient/models/digitalocean.go
  modules/api/pkg/test/e2e/utils/apiclient/models/e_k_s.go
  modules/api/pkg/test/e2e/utils/apiclient/models/fake.go
  modules/api/pkg/test/e2e/utils/apiclient/models/g_c_p.go
  modules/api/pkg/test/e2e/utils/apiclient/models/g_k_e.go
  modules/api/pkg/test/e2e/utils/apiclient/models/hetzner.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kubevirt.go
  modules/api/pkg/test/e2e/utils/apiclient/models/nutanix.go
  modules/api/pkg/test/e2e/utils/apiclient/models/openstack.go
  modules/api/pkg/test/e2e/utils/apiclient/models/openstack_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/packet.go
  modules/api/pkg/test/e2e/utils/apiclient/models/provider_preset.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_mware_cloud_director.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_sphere.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

update editable values api
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/v2/preset/preset.go
  modules/api/pkg/handler/v2/provider/openstack.go
  modules/api/pkg/provider/kubernetes/preset.go
  modules/api/pkg/test/e2e/utils/apiclient/models/open_stack_api_preset.go
  modules/api/pkg/test/e2e/utils/apiclient/models/preset_provider.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add checkbox in preset dialog and enable customizable fields in cluster creation wizard
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/test/e2e/utils/apiclient/models/open_stack_api_preset.go
  modules/api/pkg/test/e2e/utils/apiclient/models/preset_provider.go
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/component.ts
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/template.html
  modules/web/src/app/shared/entity/preset.ts
  modules/web/src/app/wizard/module.ts
  modules/web/src/app/wizard/step/provider-settings/provider/basic/openstack/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/basic/openstack/template.html
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/application/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/application/template.html
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/default/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/default/template.html
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/template.html
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

add checkIfPresetCustomized func
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/v2/preset/preset.go
  modules/api/pkg/test/e2e/utils/apiclient/models/a_k_s.go
  modules/api/pkg/test/e2e/utils/apiclient/models/a_w_s.go
  modules/api/pkg/test/e2e/utils/apiclient/models/alibaba.go
  modules/api/pkg/test/e2e/utils/apiclient/models/anexia.go
  modules/api/pkg/test/e2e/utils/apiclient/models/azure.go
  modules/api/pkg/test/e2e/utils/apiclient/models/baremetal.go
  modules/api/pkg/test/e2e/utils/apiclient/models/digitalocean.go
  modules/api/pkg/test/e2e/utils/apiclient/models/e_k_s.go
  modules/api/pkg/test/e2e/utils/apiclient/models/fake.go
  modules/api/pkg/test/e2e/utils/apiclient/models/g_c_p.go
  modules/api/pkg/test/e2e/utils/apiclient/models/g_k_e.go
  modules/api/pkg/test/e2e/utils/apiclient/models/hetzner.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kubevirt.go
  modules/api/pkg/test/e2e/utils/apiclient/models/nutanix.go
  modules/api/pkg/test/e2e/utils/apiclient/models/openstack.go
  modules/api/pkg/test/e2e/utils/apiclient/models/packet.go
  modules/api/pkg/test/e2e/utils/apiclient/models/preset_provider.go
  modules/api/pkg/test/e2e/utils/apiclient/models/provider_preset.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_mware_cloud_director.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_sphere.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

correct labels for vSphere InfraManagement credentials
  modules/web/src/app/cluster/details/cluster/edit-provider-settings/vsphere-provider-settings/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/wizard/step/provider-settings/provider/basic/vsphere/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix value syncronization issues in openstack provider settings
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/template.html
  modules/web/src/app/shared/components/openstack-credentials/application/component.ts
  modules/web/src/app/shared/components/openstack-credentials/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/basic/openstack/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/default/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Remove code for obsolete features
  modules/web/src/app/cluster/details/shared/version-change-dialog/component.ts
  modules/web/src/app/cluster/details/shared/version-change-dialog/template.html
  modules/web/src/app/node-data/dialog/component.ts
  modules/web/src/app/node-data/dialog/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/template.html
  modules/web/src/app/shared/entity/cluster.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Web terminal: fix warning when sourcing .bashrc
  hack/images/web-terminal/.bashrc
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

update the user settings
  modules/web/src/app/core/components/help-panel/component.ts
  modules/web/src/app/core/components/help-panel/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

update the user settings (#6849)
  modules/web/src/app/core/components/help-panel/component.ts
  modules/web/src/app/core/components/help-panel/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.25] prepare 2.25.9
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.25] codegen
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_openstack.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.23] prepare 2.23.19
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.24] prepare 2.24.13
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.25] update changelog
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.23] prepare 2.23.19 (#6851)
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.24] prepare 2.24.13 (#6850)
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.25] prepare 2.25.9 (#6852)
  Makefile
  modules/api/Makefile
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_openstack.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Web terminal: fix warning when sourcing .bashrc (#6848)
  hack/images/web-terminal/.bashrc
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Terminal: Update dependencies
  hack/images/web-terminal/Dockerfile
  hack/images/web-terminal/release.sh
  modules/api/pkg/handler/websocket/terminal.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Terminal: Update dependencies (#6853)
  hack/images/web-terminal/Dockerfile
  hack/images/web-terminal/release.sh
  modules/api/pkg/handler/websocket/terminal.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

correct labels for vSphere InfraManagement credentials (#6838)
  modules/web/src/app/cluster/details/cluster/edit-provider-settings/vsphere-provider-settings/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/wizard/step/provider-settings/provider/basic/vsphere/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.25] prepare 2.25.10
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.25] prepare 2.25.10 (#6855)
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.25] prepare 2.25.11
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.25] prepare 2.25.11 (#6856)
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Show warning for applications with datacenters
  modules/web/src/app/settings/admin/applications/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Hide system applications from admin panel
  modules/web/src/app/settings/admin/applications/component.ts
  modules/web/src/app/settings/admin/applications/style.scss
  modules/web/src/app/settings/admin/applications/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

QOL enhancements for Applications in Admin Panel (#6863)
  modules/web/src/app/settings/admin/applications/component.ts
  modules/web/src/app/settings/admin/applications/style.scss
  modules/web/src/app/settings/admin/applications/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

prepare 2.26.0-beta.2
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

codegen
  modules/api/cmd/kubermatic-api/swagger.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

cluster backup enhancements
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/add-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/add-dialog/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/add-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/add-dialog/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/add-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/add-dialog/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/template.html
  modules/web/src/app/shared/entity/backup.ts
  modules/web/src/app/shared/utils/health-status.ts
  modules/web/src/app/shared/validators/cron.validator.ts
  modules/web/src/app/shared/validators/others.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

UI UX fixes (#6874)
  modules/web/src/app/cluster/details/cluster/machine-deployment-details/template.html
  modules/web/src/app/project/style.scss
  modules/web/src/app/project/template.html
  modules/web/src/app/serviceaccount/token/style.scss
  modules/web/src/app/settings/admin/applications/style.scss
  modules/web/src/app/settings/admin/applications/template.html
  modules/web/src/app/settings/admin/bucket-settings/style.scss
  modules/web/src/app/settings/admin/defaults/static-labels-form/style.scss
  modules/web/src/app/settings/admin/defaults/static-labels-form/template.html
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/settings/admin/limits/style.scss
  modules/web/src/app/settings/admin/limits/template.html
  modules/web/src/app/settings/admin/presets/edit-dialog/theme.scss
  modules/web/src/app/settings/admin/presets/theme.scss
  modules/web/src/app/settings/admin/seed-configurations/style.scss
  modules/web/src/app/settings/admin/seed-configurations/template.html
  modules/web/src/app/shared/components/add-project-dialog/template.html
  modules/web/src/app/shared/components/application-list/style.scss
  modules/web/src/app/shared/components/application-list/template.html
  modules/web/src/app/wizard/step/cluster/template.html
  modules/web/src/assets/css/material/_main.scss
  modules/web/src/assets/css/material/_theme.scss
  modules/web/src/assets/themes/dark.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-web-integration-tests: any of: modules/web
  pre-dashboard-web-integration-tests-ce: any of: modules/web
  pre-dashboard-web-unit: any of: modules/web
  pre-dashboard-web-go-mod-verify: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-lint: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-check: any of: modules/web
