Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$

Fix KubeVirt Node marshalling error (#5661)
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/api/v1/types_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Forgot to bump some Makefiles (#5681)
  Makefile
  modules/api/Makefile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix quota calculation for kubevirt edit md (#5682)
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Mark KubeVirt node affinity preset values as optional
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Mark KubeVirt node affinity preset values as optional (#5685)
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Mark KubeVirt node affinity preset values as optional
  src/app/node-data/basic/provider/kubevirt/component.ts
  src/app/node-data/basic/provider/kubevirt/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Mark KubeVirt node affinity preset values as optional (#5686)
  src/app/node-data/basic/provider/kubevirt/component.ts
  src/app/node-data/basic/provider/kubevirt/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update proxy mode options on initial page load
  modules/web/src/app/wizard/step/cluster/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Hotfix: Populate OSP annotation for cluster templates
  modules/web/src/app/shared/components/save-cluster-template/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Display creation date in cluster template list view
  modules/web/src/app/cluster-template/component.ts
  modules/web/src/app/cluster-template/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Hotfix: Populate OSP annotation for cluster templates (#5690)
  modules/web/src/app/shared/components/save-cluster-template/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

update disk size value
  modules/web/src/app/node-data/basic/provider/azure/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Display creation date in cluster template list view (#5692)
  modules/web/src/app/cluster-template/component.ts
  modules/web/src/app/cluster-template/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update proxy mode options on initial page load (#5688)
  modules/web/src/app/wizard/step/cluster/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

update disk size value (#5689)
  modules/web/src/app/node-data/basic/provider/azure/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Hotfix: Validation for cron expressions for etcd backups and metering schedule
  modules/web/src/app/backup/list/automatic-backup/add-dialog/template.html
  modules/web/src/app/dynamic/enterprise/metering/schedule-config/add-dialog/template.html
  modules/web/src/app/dynamic/enterprise/metering/schedule-config/edit-dialog/template.html
  modules/web/src/app/shared/validators/cron.validator.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Refactored code
  modules/web/src/app/shared/validators/cron.validator.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Hotfix: Validation for cron expressions for etcd backups and metering schedule (#5693)
  modules/web/src/app/backup/list/automatic-backup/add-dialog/template.html
  modules/web/src/app/dynamic/enterprise/metering/schedule-config/add-dialog/template.html
  modules/web/src/app/dynamic/enterprise/metering/schedule-config/edit-dialog/template.html
  modules/web/src/app/shared/validators/cron.validator.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump KKP dependency to latest commit
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update test data
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster_test.go
  modules/api/pkg/test/e2e/utils/apiclient/models/resource_requirements.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Refactored code
  modules/api/cmd/kubermatic-api/swagger.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add periodic "ping to client" to keep the Web Terminal connection alive
  modules/api/pkg/handler/routes_v1_websocket.go
  modules/api/pkg/handler/websocket/terminal.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix swagger
  modules/api/cmd/kubermatic-api/swagger.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump KKP dependency to latest commit (#5695)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster_test.go
  modules/api/pkg/test/e2e/utils/apiclient/models/resource_requirements.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix edit application #5679
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/test/helper.go
  modules/api/pkg/handler/v2/application_installation/application_installation_test.go
  modules/api/pkg/handler/v2/application_installation/conversion.go
  modules/api/pkg/test/e2e/utils/apiclient/models/application_installation_list_item.go
  modules/web/src/app/core/services/application.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update image for web terminal
  modules/api/pkg/handler/websocket/terminal.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove dynamic kubelet config setting and set it to always disabled
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/node-data/dialog/component.ts
  modules/web/src/app/node-data/dialog/template.html
  modules/web/src/app/node-data/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove dynamic kubelet config setting and set it to always disabled (#5700)
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/node-data/dialog/component.ts
  modules/web/src/app/node-data/dialog/template.html
  modules/web/src/app/node-data/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Restore flavor fields of KubeVirt node spec
  modules/api/pkg/machine/convert.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update image for web terminal (#5699)
  modules/api/pkg/handler/websocket/terminal.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix Sorting provider overview table
  modules/web/src/app/settings/admin/seed-configurations/seed-configurations-details/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Restore flavor fields of KubeVirt node spec (#5698)
  modules/api/pkg/machine/convert.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix initial value for projects in create preset
  modules/web/src/app/settings/admin/presets/dialog/steps/preset/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Hotfix: handling for default project quotas
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/api/v2/convert.go
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/v1/admin/settings.go
  modules/api/pkg/handler/v1/admin/settings_test.go
  modules/api/pkg/handler/websocket/settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/global_settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/project_resource_quota.go
  modules/api/pkg/test/e2e/utils/apiclient/models/resource_details.go
  modules/api/pkg/test/e2e/utils/apiclient/models/setting_spec.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Hotfix: handling for default project quotas
  modules/api/pkg/test/e2e/api/settings_test.go
  modules/api/pkg/test/e2e/utils/client.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update default project quota layout
  modules/web/src/app/dynamic/enterprise/quotas/default-project-quota/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add periodic "ping to client" to keep the Web Terminal connection alive (#5696)
  modules/api/pkg/handler/routes_v1_websocket.go
  modules/api/pkg/handler/websocket/terminal.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix Sorting provider overview table (#5703)
  modules/web/src/app/settings/admin/seed-configurations/seed-configurations-details/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Hotfix: handling for default project quotas (#5704)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/api/v2/convert.go
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/v1/admin/settings.go
  modules/api/pkg/handler/v1/admin/settings_test.go
  modules/api/pkg/handler/websocket/settings.go
  modules/api/pkg/test/e2e/api/settings_test.go
  modules/api/pkg/test/e2e/utils/apiclient/models/global_settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/project_resource_quota.go
  modules/api/pkg/test/e2e/utils/apiclient/models/resource_details.go
  modules/api/pkg/test/e2e/utils/apiclient/models/setting_spec.go
  modules/api/pkg/test/e2e/utils/client.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce
