Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$

limit husky to fe in pre-commit hook
  modules/web/.husky/pre-commit
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

KubeVirt split csi driver deployment
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/test/helper.go
  modules/api/pkg/handler/v2/application_installation/application_installation_test.go
  modules/api/pkg/provider/cloud/kubevirt/provider.go
  modules/api/pkg/provider/kubernetes/credentials.go
  modules/api/pkg/validation/cluster.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Omit restricted labels from get and list cluster template API endpoint
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template.go
  modules/api/pkg/test/e2e/utils/apiclient/models/application_ref.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kubevirt_node_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/namespace_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/public_a_w_s_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/public_azure_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/public_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/public_g_c_p_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/public_openstack_cloud_spec.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Handle advance networking configuration in cluster step
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/shared/entity/cluster-template.ts
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/template.html
  modules/web/src/app/wizard/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix OSDiskSize value in azure edit machine deployment modal
  modules/web/src/app/node-data/basic/provider/azure/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Minor fixes for AWS
  modules/web/src/app/core/services/node-data/service.ts
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/node-data/extended/provider/aws/component.ts
  modules/web/src/app/node-data/extended/provider/azure/component.ts
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/shared/model/NodeSpecChange.ts
  modules/web/src/app/wizard/step/cluster/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix license checker
  modules/web/license-checker-config.json
  modules/web/license-header.txt
  modules/web/src/app/dynamic/enterprise/LICENSE
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix license checker (#5320)
  modules/web/license-checker-config.json
  modules/web/license-header.txt
  modules/web/src/app/dynamic/enterprise/LICENSE
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix EnableWebTerminal unit test as (now optional)
  modules/api/pkg/handler/v1/admin/settings_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix generation of version configuration for dashboard
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

KubeVirt split csi driver deployment (#5318)
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/test/helper.go
  modules/api/pkg/handler/v1/admin/settings_test.go
  modules/api/pkg/handler/v2/application_installation/application_installation_test.go
  modules/api/pkg/provider/cloud/kubevirt/provider.go
  modules/api/pkg/provider/kubernetes/credentials.go
  modules/api/pkg/validation/cluster.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix generation of version configuration for dashboard (#5322)
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Use KKP version in links
  modules/web/src/app/cluster/details/cluster/share-kubeconfig/component.ts
  modules/web/src/app/cluster/details/cluster/share-kubeconfig/template.html
  modules/web/src/app/project/component.ts
  modules/web/src/app/project/template.html
  modules/web/src/app/settings/admin/interface/component.ts
  modules/web/src/app/settings/admin/interface/template.html
  modules/web/src/app/settings/user/component.ts
  modules/web/src/app/settings/user/template.html
  modules/web/src/app/shared/components/addon-list/component.ts
  modules/web/src/app/shared/components/addon-list/install-addon-dialog/component.ts
  modules/web/src/app/shared/components/addon-list/install-addon-dialog/template.html
  modules/web/src/app/shared/components/addon-list/template.html
  modules/web/src/app/shared/components/application-list/add-application-dialog/component.ts
  modules/web/src/app/shared/components/application-list/add-application-dialog/template.html
  modules/web/src/app/shared/components/application-list/component.ts
  modules/web/src/app/shared/components/application-list/template.html
  modules/web/src/app/shared/utils/common.ts
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/template.html
  modules/web/src/app/wizard/step/provider-settings/provider/extended/kubevirt/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/kubevirt/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add project-scoped API endpoints for Azure
  modules/api/pkg/handler/v2/provider/azure.go
  modules/api/pkg/handler/v2/routes_v2.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update swagger
  modules/api/cmd/kubermatic-api/swagger.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update generated apiclient
  modules/api/pkg/test/e2e/utils/apiclient/client/azure/azure_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/azure/list_project_azure_availability_zones_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/azure/list_project_azure_availability_zones_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/azure/list_project_azure_resource_groups_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/azure/list_project_azure_resource_groups_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/azure/list_project_azure_route_tables_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/azure/list_project_azure_route_tables_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/azure/list_project_azure_security_groups_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/azure/list_project_azure_security_groups_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/azure/list_project_azure_sizes_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/azure/list_project_azure_sizes_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/azure/list_project_azure_subnets_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/azure/list_project_azure_subnets_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/azure/list_project_azure_vnets_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/azure/list_project_azure_vnets_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/models/application_ref.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Use KKP version in links (#5321)
  modules/web/src/app/cluster/details/cluster/share-kubeconfig/component.ts
  modules/web/src/app/cluster/details/cluster/share-kubeconfig/template.html
  modules/web/src/app/project/component.ts
  modules/web/src/app/project/template.html
  modules/web/src/app/settings/admin/interface/component.ts
  modules/web/src/app/settings/admin/interface/template.html
  modules/web/src/app/settings/user/component.ts
  modules/web/src/app/settings/user/template.html
  modules/web/src/app/shared/components/addon-list/component.ts
  modules/web/src/app/shared/components/addon-list/install-addon-dialog/component.ts
  modules/web/src/app/shared/components/addon-list/install-addon-dialog/template.html
  modules/web/src/app/shared/components/addon-list/template.html
  modules/web/src/app/shared/components/application-list/add-application-dialog/component.ts
  modules/web/src/app/shared/components/application-list/add-application-dialog/template.html
  modules/web/src/app/shared/components/application-list/component.ts
  modules/web/src/app/shared/components/application-list/template.html
  modules/web/src/app/shared/utils/common.ts
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/template.html
  modules/web/src/app/wizard/step/provider-settings/provider/extended/kubevirt/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/kubevirt/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Endpoint to update cluster templates
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/handler/v2/cluster_template/cluster_template.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/provider/kubernetes/cluster_template.go
  modules/api/pkg/provider/types.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/project_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/update_cluster_template_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/update_cluster_template_responses.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Support for updating cluster templates
  modules/web/src/app/core/services/cluster-spec.ts
  modules/web/src/app/core/services/cluster-templates.ts
  modules/web/src/app/shared/components/save-cluster-template/component.ts
  modules/web/src/app/wizard/component.ts
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

updated default resource filter minCPU from 1 to 2
  modules/api/pkg/handler/v1/admin/settings_test.go
  modules/api/pkg/provider/kubernetes/settings.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update cluster summary veiw
  modules/web/src/app/shared/components/cluster-summary/component.ts
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/wizard/step/summary/component.ts
  modules/web/src/app/wizard/step/summary/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

limit husky to fe in pre-push hook
  modules/web/.husky/pre-commit
  modules/web/.husky/pre-push
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Move applications state to applicationService
  modules/web/src/app/core/services/application.ts
  modules/web/src/app/wizard/component.ts
  modules/web/src/app/wizard/step/applications/component.ts
  modules/web/src/app/wizard/step/summary/component.ts
  modules/web/src/app/wizard/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix unit test for API
  modules/api/pkg/handler/v2/cluster_template/cluster_template_test.go
  modules/web/src/app/core/services/application.ts
  modules/web/src/app/core/services/wizard/wizard.ts
  modules/web/src/app/wizard/component.ts
  modules/web/src/app/wizard/step/applications/component.ts
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/template.html
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

updated default resource filter minCPU from 1 to 2 (#5331)
  modules/api/pkg/handler/v1/admin/settings_test.go
  modules/api/pkg/provider/kubernetes/settings.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

code review
  modules/api/pkg/ee/resource-quota/handler.go
  modules/api/pkg/ee/resource-quota/handler_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

WIP: API networkdefaults changes for TunnelingAgentIP
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/v2/networkdefaults/networkdefaults.go
  modules/api/pkg/test/e2e/utils/apiclient/models/application_ref.go
  modules/api/pkg/test/e2e/utils/apiclient/models/namespace_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/network_defaults.go
  modules/api/pkg/validation/cluster.go
  src/assets/config/version.json
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update kubermatic tag
  modules/api/go.mod
  modules/api/go.sum
  modules/web/go.mod
  modules/web/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix lint errors
  modules/api/pkg/validation/cluster.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.20] Bump version to 2.20.11
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.19] Bump version to 2.19.13
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add functionality to add service account and bucket destination from table row
  modules/web/src/app/cluster/details/cluster/node-list/template.html
  modules/web/src/app/serviceaccount/component.ts
  modules/web/src/app/serviceaccount/template.html
  modules/web/src/app/settings/admin/bucket-settings/component.ts
  modules/web/src/app/settings/admin/bucket-settings/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

adjust css and add enum for project sidenav main section
  modules/web/src/app/core/components/sidenav/component.ts
  modules/web/src/app/core/components/sidenav/style.scss
  modules/web/src/app/core/components/sidenav/template.html
  modules/web/src/app/core/components/sidenav/theme.scss
  modules/web/src/app/shared/components/side-nav-field/component.ts
  modules/web/src/app/shared/components/side-nav-field/style.scss
  modules/web/src/app/shared/components/side-nav-field/template.html
  modules/web/src/app/shared/components/side-nav-field/theme.scss
  modules/web/src/app/shared/entity/common.ts
  modules/web/src/assets/css/material/_main.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.19] Bump version to 2.19.13 (#5333)
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.20] Bump version to 2.20.11 (#5334)
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Project sidebar redesign (#5211)
  modules/web/cypress/e2e/v2/stories/admin-settings/defaults.spec.ts
  modules/web/cypress/e2e/v2/stories/members.spec.ts
  modules/web/cypress/e2e/v2/stories/service-accounts.spec.ts
  modules/web/cypress/e2e/v2/stories/ssh-keys.spec.ts
  modules/web/cypress/pages/v2/clusters/list/page.ts
  modules/web/cypress/pages/v2/members/page.ts
  modules/web/src/app/backup/list/component.ts
  modules/web/src/app/backup/list/template.html
  modules/web/src/app/cluster/details/cluster/machine-deployment-details/cluster-panel/component.ts
  modules/web/src/app/cluster/details/external-cluster/component.ts
  modules/web/src/app/cluster/details/external-cluster/external-machine-deployment-details/component.ts
  modules/web/src/app/cluster/details/external-cluster/external-machine-deployment-list/component.ts
  modules/web/src/app/cluster/list/component.ts
  modules/web/src/app/cluster/list/external-cluster/component.ts
  modules/web/src/app/cluster/list/template.html
  modules/web/src/app/cluster/routing.ts
  modules/web/src/app/core/components/sidenav/component.spec.ts
  modules/web/src/app/core/components/sidenav/component.ts
  modules/web/src/app/core/components/sidenav/style.scss
  modules/web/src/app/core/components/sidenav/template.html
  modules/web/src/app/core/components/sidenav/theme.scss
  modules/web/src/app/core/services/external-cluster.ts
  modules/web/src/app/core/services/page-title.ts
  modules/web/src/app/dynamic/enterprise/group/template.html
  modules/web/src/app/external-cluster-wizard/component.ts
  modules/web/src/app/member/component.spec.ts
  modules/web/src/app/member/component.ts
  modules/web/src/app/member/template.html
  modules/web/src/app/project-overview/clusters-overview/component.ts
  modules/web/src/app/routing.ts
  modules/web/src/app/settings/admin/nav/theme.scss
  modules/web/src/app/shared/components/add-external-cluster-dialog/component.ts
  modules/web/src/app/shared/components/side-nav-field/component.ts
  modules/web/src/app/shared/components/side-nav-field/style.scss
  modules/web/src/app/shared/components/side-nav-field/template.html
  modules/web/src/app/shared/components/side-nav-field/theme.scss
  modules/web/src/app/shared/entity/common.ts
  modules/web/src/app/shared/module.ts
  modules/web/src/assets/css/material/_main.scss
  modules/web/src/assets/css/theme/_component.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix unit tests
  modules/web/src/app/wizard/step/network/component.spec.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Reduce gap to 8px between children
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/aks/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/alibaba/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/anexia/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/aws/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/azure/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/digitalocean/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/eks/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/equinix/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/gcp/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/gke/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/hetzner/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/kubevirt/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/vsphere/template.html
  modules/web/src/assets/css/global/_main.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Resource quota calculation (#5315)
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/ee/resource-quota/handler.go
  modules/api/pkg/ee/resource-quota/handler_test.go
  modules/api/pkg/handler/v2/resource_quota/resourequota.go
  modules/api/pkg/handler/v2/resource_quota/wrappers_ce.go
  modules/api/pkg/handler/v2/resource_quota/wrappers_ee.go
  modules/api/pkg/handler/v2/routes_v2.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

KubeVirt cleanup Flavor and instancetype
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/api/v1/types_test.go
  modules/api/pkg/machine/convert.go
  modules/api/pkg/resources/machine/common.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce
