Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$

Add retry and escape delete dialog query
  cypress/pages/v2/members/page.ts
  src/app/core/services/member.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add assertions
  cypress/integration/v2/stories/ssh-keys.spec.ts
  cypress/pages/v2/clusters/detail/page.ts
  cypress/pages/v2/clusters/detail/strategy/mocked.ts
  cypress/pages/v2/clusters/detail/strategy/types.ts
  cypress/pages/v2/clusters/list/page.ts
  cypress/pages/v2/sshkeys/page.ts
  cypress/utils/mocks.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update login strategy to support logging in with different users
  cypress/pages/v2/root/strategy/mocked.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add delete metering report
  src/app/dynamic/enterprise/metering/component.ts
  src/app/dynamic/enterprise/metering/schedule-config/component.ts
  src/app/dynamic/enterprise/metering/schedule-config/schedule-config-dialog/component.ts
  src/app/dynamic/enterprise/metering/schedule-config/schedule-config-dialog/template.html
  src/app/dynamic/enterprise/metering/schedule-config/template.html
  src/app/dynamic/enterprise/metering/service/metering.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix refresh report config list
  src/app/dynamic/enterprise/metering/schedule-config/component.ts
  src/app/dynamic/enterprise/metering/service/metering.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

check some button component migration
  src/app/backup/list/automatic-backup/add-dialog/component.ts
  src/app/backup/list/automatic-backup/add-dialog/template.html
  src/app/backup/list/snapshot/add-dialog/component.ts
  src/app/backup/list/snapshot/add-dialog/template.html
  src/app/backup/list/snapshot/restore-dialog/component.ts
  src/app/backup/list/snapshot/restore-dialog/template.html
  src/app/cluster/details/cluster/add-machine-network/component.ts
  src/app/cluster/details/cluster/add-machine-network/template.html
  src/app/cluster/details/cluster/cni-version/cni-version-dialog/component.ts
  src/app/cluster/details/cluster/cni-version/cni-version-dialog/template.html
  src/app/cluster/details/cluster/component.ts
  src/app/cluster/details/cluster/constraints/constraint-dialog/component.spec.ts
  src/app/cluster/details/cluster/constraints/constraint-dialog/component.ts
  src/app/cluster/details/cluster/constraints/constraint-dialog/template.html
  src/app/cluster/details/cluster/edit-cluster/component.spec.ts
  src/app/cluster/details/cluster/edit-cluster/component.ts
  src/app/cluster/details/cluster/edit-cluster/template.html
  src/app/cluster/details/cluster/gatekeeper-config/gatekeeper-config-dialog/component.spec.ts
  src/app/cluster/details/cluster/gatekeeper-config/gatekeeper-config-dialog/component.ts
  src/app/cluster/details/cluster/gatekeeper-config/gatekeeper-config-dialog/template.html
  src/app/cluster/details/cluster/mla/rule-groups/rule-group-dialog/component.spec.ts
  src/app/cluster/details/cluster/mla/rule-groups/rule-group-dialog/component.ts
  src/app/cluster/details/cluster/mla/rule-groups/rule-group-dialog/template.html
  src/app/cluster/details/cluster/rbac/add-binding/component.ts
  src/app/cluster/details/cluster/rbac/add-binding/template.html
  src/app/cluster/details/cluster/revoke-token/component.ts
  src/app/cluster/details/cluster/revoke-token/template.html
  src/app/cluster/details/cluster/template.html
  src/app/cluster/details/shared/version-change-dialog/component.spec.ts
  src/app/cluster/details/shared/version-change-dialog/component.ts
  src/app/cluster/details/shared/version-change-dialog/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix test faild
  src/app/cluster/details/cluster/edit-cluster/component.spec.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add license
  cypress/pages/v2/clusters/proxy.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Review comments
  cypress/pages/v2/serviceaccounts/page.ts
  src/app/core/services/datacenter.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Wait for the cluster to get deleted
  cypress/integration/v2/stories/ssh-keys.spec.ts
  cypress/pages/v2/clusters/detail/page.ts
  cypress/pages/v2/clusters/list/page.ts
  cypress/pages/v2/root/page.ts
  cypress/pages/v2/wizard/page.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Force ssh key delete
  cypress/pages/v2/sshkeys/page.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add project overview
  src/app/project-overview/component.ts
  src/app/project-overview/module.ts
  src/app/project-overview/routing.ts
  src/app/project-overview/style.scss
  src/app/project-overview/template.html
  src/app/routing.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Sync e2e scripts
  hack/e2e/fixtures/seed.yaml
  hack/e2e/setup-kubermatic-in-kind.sh
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Edit metering report schedule
  src/app/dynamic/enterprise/metering/module.ts
  src/app/dynamic/enterprise/metering/schedule-config/add-dialog/component.ts
  src/app/dynamic/enterprise/metering/schedule-config/add-dialog/template.html
  src/app/dynamic/enterprise/metering/schedule-config/component.ts
  src/app/dynamic/enterprise/metering/schedule-config/edit-dialog/component.ts
  src/app/dynamic/enterprise/metering/schedule-config/edit-dialog/template.html
  src/app/dynamic/enterprise/metering/schedule-config/template.html
  src/app/dynamic/enterprise/metering/service/metering.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update script
  hack/e2e/setup-kubermatic-in-kind.sh
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Force click add token to SA
  cypress/pages/v2/serviceaccounts/page.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Style top card
  src/app/project-overview/component.ts
  src/app/project-overview/style.scss
  src/app/project-overview/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Dedicated report list view
  src/app/core/services/settings.ts
  src/app/dynamic/enterprise/metering/module.ts
  src/app/dynamic/enterprise/metering/schedule-config/component.ts
  src/app/dynamic/enterprise/metering/schedule-config/report-list/component.ts
  src/app/dynamic/enterprise/metering/schedule-config/report-list/template.html
  src/app/dynamic/enterprise/metering/schedule-config/template.html
  src/app/dynamic/enterprise/metering/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Adding notification service & message updates
  src/app/dynamic/enterprise/metering/schedule-config/add-dialog/component.ts
  src/app/dynamic/enterprise/metering/schedule-config/add-dialog/template.html
  src/app/dynamic/enterprise/metering/schedule-config/edit-dialog/component.ts
  src/app/dynamic/enterprise/metering/schedule-config/edit-dialog/template.html
  src/app/dynamic/enterprise/metering/schedule-config/report-list/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Updated report download to conslut schedules
  src/app/core/services/settings.ts
  src/app/dynamic/enterprise/metering/schedule-config/report-list/component.ts
  src/app/dynamic/enterprise/metering/schedule-config/report-list/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Review prep
  src/app/core/services/settings.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add icons
  src/app/project-overview/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add cards
  src/app/project-overview/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add owners & members
  src/app/project-overview/component.ts
  src/app/project-overview/owners-members/component.ts
  src/app/project-overview/owners-members/style.scss
  src/app/project-overview/owners-members/template.html
  src/app/project-overview/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Minor improvements
  src/app/project-overview/owners-members/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Minor improvements
  src/app/project-overview/owners-members/component.ts
  src/app/project-overview/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

introducing review changes - part 1
  src/app/dynamic/enterprise/metering/schedule-config/add-dialog/template.html
  src/app/dynamic/enterprise/metering/schedule-config/edit-dialog/template.html
  src/app/dynamic/enterprise/metering/schedule-config/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

introducing review changes - part 2
  src/app/dynamic/enterprise/metering/schedule-config/add-dialog/component.ts
  src/app/dynamic/enterprise/metering/schedule-config/add-dialog/template.html
  src/app/dynamic/enterprise/metering/schedule-config/component.ts
  src/app/dynamic/enterprise/metering/schedule-config/edit-dialog/component.ts
  src/app/dynamic/enterprise/metering/schedule-config/edit-dialog/template.html
  src/app/dynamic/enterprise/metering/schedule-config/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

introducing review changes - part 3
  src/app/dynamic/enterprise/metering/schedule-config/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

introducing review changes - part 4
  src/app/dynamic/enterprise/metering/schedule-config/add-dialog/template.html
  src/app/dynamic/enterprise/metering/schedule-config/edit-dialog/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

delete old code and small style adjusting
  src/app/cluster/details/cluster/mla/alertmanager-config/alertmanager-config-dialog/component.ts
  src/app/cluster/details/cluster/style.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add cluster tabs
  src/app/project-overview/clusters-overview/component.ts
  src/app/project-overview/clusters-overview/style.scss
  src/app/project-overview/clusters-overview/template.html
  src/app/project-overview/component.ts
  src/app/project-overview/members-overview/component.ts
  src/app/project-overview/members-overview/style.scss
  src/app/project-overview/members-overview/template.html
  src/app/project-overview/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix styling
  src/app/project-overview/clusters-overview/component.ts
  src/app/project-overview/clusters-overview/style.scss
  src/app/project-overview/clusters-overview/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Load cluster list
  src/app/project-overview/component.ts
  src/app/project-overview/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix
  src/app/cluster/details/cluster/add-machine-network/component.spec.ts
  src/app/cluster/details/cluster/constraints/component.spec.ts
  src/app/cluster/details/cluster/constraints/constraint-dialog/component.spec.ts
  src/app/cluster/details/cluster/edit-cluster/component.spec.ts
  src/app/cluster/details/cluster/edit-sshkeys/component.spec.ts
  src/app/cluster/details/cluster/gatekeeper-config/component.spec.ts
  src/app/cluster/details/cluster/gatekeeper-config/gatekeeper-config-dialog/component.spec.ts
  src/app/cluster/details/cluster/machine-deployment-list/component.spec.ts
  src/app/cluster/details/cluster/mla/alertmanager-config/alertmanager-config-dialog/component.spec.ts
  src/app/cluster/details/cluster/mla/alertmanager-config/component.spec.ts
  src/app/cluster/details/cluster/mla/component.spec.ts
  src/app/cluster/details/cluster/mla/rule-groups/component.spec.ts
  src/app/cluster/details/cluster/mla/rule-groups/rule-group-dialog/component.spec.ts
  src/app/cluster/details/cluster/rbac/add-binding/component.spec.ts
  src/app/cluster/details/cluster/rbac/component.spec.ts
  src/app/cluster/details/shared/version-change-dialog/component.spec.ts
  src/app/machine-networks/component.spec.ts
  src/app/member/add-member/component.spec.ts
  src/app/member/edit-member/component.spec.ts
  src/app/project/edit-project/component.spec.ts
  src/app/serviceaccount/edit-dialog/component.spec.ts
  src/app/serviceaccount/token/add/steps/information/component.spec.ts
  src/app/serviceaccount/token/add/steps/name/component.spec.ts
  src/app/settings/admin/opa/constraint-templates/component.spec.ts
  src/app/settings/admin/opa/constraint-templates/constraint-template-dialog/component.spec.ts
  src/app/settings/admin/opa/default-constraints/default-constraint-dialog/component.spec.ts
  src/app/shared/components/add-project-dialog/component.spec.ts
  src/app/shared/components/event-rate-limit/component.spec.ts
  src/app/shared/components/machine-networks-new/component.spec.ts
  src/app/wizard/step/network/component.spec.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Display clusters in a table
  src/app/project-overview/clusters-overview/component.ts
  src/app/project-overview/clusters-overview/style.scss
  src/app/project-overview/clusters-overview/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce
