Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$

fixing unit test and review comment
  src/app/cluster/details/cluster/gatekeeper-config/gatekeeper-config-dialog/component.spec.ts
  src/app/cluster/details/cluster/gatekeeper-config/gatekeeper-config-dialog/component.ts
  src/app/cluster/details/cluster/mla/alertmanager-config/alertmanager-config-dialog/component.spec.ts
  src/app/cluster/details/cluster/mla/alertmanager-config/alertmanager-config-dialog/component.ts
  src/app/cluster/details/cluster/mla/alertmanager-config/alertmanager-config-dialog/template.html
  src/app/cluster/details/cluster/mla/alertmanager-config/component.ts
  src/app/member/edit-member/component.spec.ts
  src/app/project/edit-project/component.spec.ts
  src/app/project/edit-project/component.ts
  src/app/serviceaccount/edit-dialog/component.spec.ts
  src/app/settings/admin/opa/constraint-templates/constraint-template-dialog/component.spec.ts
  src/app/settings/admin/opa/default-constraints/default-constraint-dialog/component.spec.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Regenerate package-lock.json
  package-lock.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add project overview (#4399)
  package-lock.json
  package.json
  src/app/project-overview/clusters-overview/component.ts
  src/app/project-overview/clusters-overview/style.scss
  src/app/project-overview/clusters-overview/template.html
  src/app/project-overview/component.ts
  src/app/project-overview/members-overview/component.ts
  src/app/project-overview/members-overview/style.scss
  src/app/project-overview/members-overview/template.html
  src/app/project-overview/module.ts
  src/app/project-overview/providers-overview/component.ts
  src/app/project-overview/providers-overview/style.scss
  src/app/project-overview/providers-overview/template.html
  src/app/project-overview/routing.ts
  src/app/project-overview/style.scss
  src/app/project-overview/template.html
  src/app/routing.ts
  src/app/shared/components/tab-card/component.ts
  src/app/shared/components/tab-card/style.scss
  src/app/shared/entity/external-cluster.ts
  src/app/shared/module.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Avoid any type
  src/app/node-data/basic/provider/kubevirt/flavor-details/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update summary
  src/app/node-data/basic/provider/kubevirt/component.ts
  src/app/node-data/basic/provider/kubevirt/flavor-details/template.html
  src/app/shared/components/cluster-summary/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add secondary disks into summary
  src/app/shared/components/cluster-summary/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Adjust types
  src/app/node-data/basic/provider/kubevirt/component.ts
  src/app/shared/components/cluster-summary/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Introducing initial metering component tests - part 4
  src/app/dynamic/enterprise/metering/schedule-config/add-dialog/component.spec.ts
  src/app/dynamic/enterprise/metering/schedule-config/component.spec.ts
  src/app/dynamic/enterprise/metering/schedule-config/component.ts
  src/app/dynamic/enterprise/metering/schedule-config/edit-dialog/component.spec.ts
  src/app/dynamic/enterprise/metering/schedule-config/edit-dialog/component.ts
  src/app/dynamic/enterprise/metering/schedule-config/report-list/component.spec.ts
  src/test/services/metering-mock.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Introducing initial metering component tests - part 5
  src/app/core/services/settings.ts
  src/app/dynamic/enterprise/metering/component.spec.ts
  src/app/dynamic/enterprise/metering/schedule-config/component.spec.ts
  src/app/dynamic/enterprise/metering/schedule-config/report-list/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

introducing review changes - part 9
  src/app/dynamic/enterprise/metering/schedule-config/report-list/component.ts
  src/app/dynamic/enterprise/metering/schedule-config/report-list/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

updating lock after master merge
  package-lock.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump version to 2.18.10
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump version to 2.19.5
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump version to 2.20.2
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

update Go dependencies
  go.mod
  go.sum
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

remove non effective unit tests
  src/app/cluster/details/cluster/gatekeeper-config/gatekeeper-config-dialog/component.spec.ts
  src/app/cluster/details/cluster/mla/alertmanager-config/alertmanager-config-dialog/component.spec.ts
  src/app/member/edit-member/component.spec.ts
  src/app/project/edit-project/component.spec.ts
  src/app/serviceaccount/edit-dialog/component.spec.ts
  src/app/settings/admin/opa/constraint-templates/constraint-template-dialog/component.spec.ts
  src/app/settings/admin/opa/default-constraints/default-constraint-dialog/component.spec.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Removing any from metering schedule get endpoint
  src/app/dynamic/enterprise/metering/service/metering.ts
  src/test/services/metering-mock.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump version to 2.20.2 (#4421)
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

update Go dependencies (#4422)
  go.mod
  go.sum
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump version to 2.19.5 (#4420)
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump version to 2.18.10 (#4419)
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Proposal for unit test guideline
  Development.md
Due: none

Add custom metering report schedules (#4403)
  package-lock.json
  src/app/core/services/settings.ts
  src/app/dynamic/enterprise/metering/component.spec.ts
  src/app/dynamic/enterprise/metering/component.ts
  src/app/dynamic/enterprise/metering/module.ts
  src/app/dynamic/enterprise/metering/schedule-config/add-dialog/component.spec.ts
  src/app/dynamic/enterprise/metering/schedule-config/add-dialog/component.ts
  src/app/dynamic/enterprise/metering/schedule-config/add-dialog/template.html
  src/app/dynamic/enterprise/metering/schedule-config/component.spec.ts
  src/app/dynamic/enterprise/metering/schedule-config/component.ts
  src/app/dynamic/enterprise/metering/schedule-config/edit-dialog/component.spec.ts
  src/app/dynamic/enterprise/metering/schedule-config/edit-dialog/component.ts
  src/app/dynamic/enterprise/metering/schedule-config/edit-dialog/template.html
  src/app/dynamic/enterprise/metering/schedule-config/report-list/component.spec.ts
  src/app/dynamic/enterprise/metering/schedule-config/report-list/component.ts
  src/app/dynamic/enterprise/metering/schedule-config/report-list/style.scss
  src/app/dynamic/enterprise/metering/schedule-config/report-list/template.html
  src/app/dynamic/enterprise/metering/schedule-config/style.scss
  src/app/dynamic/enterprise/metering/schedule-config/template.html
  src/app/dynamic/enterprise/metering/service/metering.ts
  src/app/dynamic/enterprise/metering/template.html
  src/app/shared/entity/datacenter.ts
  src/test/data/datacenter.ts
  src/test/data/metering.ts
  src/test/services/metering-mock.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix edit of alertmanager config
  Development.md
  src/app/cluster/details/cluster/mla/alertmanager-config/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Adjust types
  src/app/cluster/details/cluster/node-list/template.html
  src/app/node-data/basic/provider/kubevirt/component.ts
  src/app/shared/entity/node.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

typos
  Development.md
Due: none

Improve defaulting
  src/app/node-data/basic/provider/kubevirt/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix unit tests
  src/app/shared/components/machine-networks-new/component.spec.ts
  src/app/wizard/step/network/component.spec.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix alertmanager config edit (#4426)
  src/app/cluster/details/cluster/mla/alertmanager-config/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update KubeVirt machine deployment settings (#4178)
  src/app/cluster/details/cluster/node-list/template.html
  src/app/core/module.ts
  src/app/core/services/node-data/provider/kubevirt.ts
  src/app/core/services/node-data/service.ts
  src/app/core/services/provider/kubevirt.ts
  src/app/core/services/wizard/presets.ts
  src/app/core/services/wizard/provider/kubevirt.ts
  src/app/node-data/basic/provider/kubevirt/component.ts
  src/app/node-data/basic/provider/kubevirt/flavor-details/component.ts
  src/app/node-data/basic/provider/kubevirt/flavor-details/style.scss
  src/app/node-data/basic/provider/kubevirt/flavor-details/template.html
  src/app/node-data/basic/provider/kubevirt/style.scss
  src/app/node-data/basic/provider/kubevirt/template.html
  src/app/node-data/module.ts
  src/app/shared/components/cluster-summary/template.html
  src/app/shared/components/combobox/component.ts
  src/app/shared/components/machine-networks-new/component.spec.ts
  src/app/shared/entity/node.ts
  src/app/shared/entity/provider/kubevirt.ts
  src/app/wizard/step/network/component.spec.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

New points
  Development.md
Due: none

- handle data-bound input properties - implements ngOnChanges life cycle hook to cater data-bound props
  src/app/shared/components/label-form/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

- add `VSphereTags` class - add optional `tags` property to pass tags list of type VSphereTag
  src/app/shared/entity/node.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

- rename methods - rearrange method public and private methods
  src/app/wizard/component.ts
  src/app/wizard/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

- rearrange `private readonly` and `private` properties separate
  src/app/node-data/basic/provider/vsphere/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

- add new VSphere provider and register provider in Node Data Service - add setter to set VSphere tags in Provider
  src/app/core/services/node-data/provider/vsphere.ts
  src/app/core/services/node-data/service.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

- add new component to extend Basic VSphere Node Data component to display `name/description` tags
  src/app/node-data/extended/provider/vsphere/component.ts
  src/app/node-data/extended/provider/vsphere/template.html
  src/app/node-data/extended/template.html
  src/app/node-data/module.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

- add method to convert array into object and pass tags hashmap to shared `km-labels` component
  src/app/shared/components/cluster-summary/component.ts
  src/app/shared/components/cluster-summary/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce
