Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

pre-dashboard-go-mod-verify:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      command:
      - make
      - verify-go
      resources:
        requests:
          cpu: 100m

pre-dashboard-test-unit:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/chrome-headless:v0.11
      command:
      - make
      - test-headless
      resources:
        requests:
          cpu: 1
          memory: 3Gi
        limits:
          cpu: 2
          memory: 5Gi
      env:
      - name: CODECOV_TOKEN
        valueFrom:
  ...

pre-dashboard-test-full-e2e:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-full-e2e-ce:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-e2e:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-test-e2e-ce:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-build-image:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

pre-dashboard-build-image-ce:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

Prevent `clusterDefaultNodeSelector` label from being added on opening of edit cluster dialog (#6369)
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Prevent `clusterDefaultNodeSelector` label from being added on opening of edit cluster dialog (#6368)
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add the endpoints for cluster restore
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/v2/clusterrestoreconfig/clusterrestoreconfig.go
  modules/api/pkg/handler/v2/routes_v2.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.22] Prepare v2.22.10 release
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.23] Prepare v2.23.7 release
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.21] Prepare v2.21.15 release
  Makefile
  package-lock.json
  package.json
  src/assets/config/changelog.json
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.22] Prepare v2.22.10 release (#6371)
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.21] Prepare v2.21.15 release (#6372)
  Makefile
  package-lock.json
  package.json
  src/assets/config/changelog.json
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update Makefile to 2.23.7
  modules/web/Makefile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.22] Update web Makefile to v2.22.10
  modules/web/Makefile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.22] Update web Makefile to v2.22.10 (#6373)
  modules/web/Makefile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.23] Prepare v2.23.7 release (#6370)
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

don't return error in case of seed down
  modules/api/pkg/handler/v1/project/project.go
  modules/api/pkg/handler/v2/cluster/cluster.go
  modules/web/src/app/core/services/cluster.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add cluster backup services
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/v2/clusterrestoreconfig/clusterrestoreconfig.go
  modules/web/package.json
  modules/web/src/app/cluster-backups/list/backups/add-dialog/component.ts
  modules/web/src/app/cluster-backups/list/backups/add-dialog/template.html
  modules/web/src/app/cluster-backups/list/backups/component.ts
  modules/web/src/app/cluster-backups/list/backups/delete-dialog/component.ts
  modules/web/src/app/cluster-backups/list/backups/delete-dialog/template.html
  modules/web/src/app/cluster-backups/list/backups/style.scss
  modules/web/src/app/cluster-backups/list/backups/template.html
  modules/web/src/app/cluster-backups/list/restore/add-dialog/component.ts
  modules/web/src/app/cluster-backups/list/restore/add-dialog/template.html
  modules/web/src/app/cluster-backups/list/restore/component.ts
  modules/web/src/app/cluster-backups/list/restore/style.scss
  modules/web/src/app/cluster-backups/list/restore/template.html
  modules/web/src/app/core/module.ts
  modules/web/src/app/core/services/cluster-backup.ts
  modules/web/src/app/shared/entity/backup.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Improve handling for broken seeds
  modules/api/pkg/handler/v1/cluster/cluster.go
  modules/api/pkg/handler/v1/project/project.go
  modules/api/pkg/handler/v2/cluster/cluster.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Refactored code
  modules/api/pkg/handler/middleware/middleware.go
  modules/api/pkg/handler/v2/preset/preset.go
  modules/api/pkg/provider/kubernetes/etcdbackupconfig.go
  modules/api/pkg/provider/kubernetes/etcdrestore.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Refactor seed overview endpoint to handle broken seed
  modules/api/pkg/handler/middleware/middleware.go
  modules/api/pkg/handler/v2/seedoverview/seedoverview.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Don't return error in case one of a seed down (#6374)
  modules/api/pkg/handler/middleware/middleware.go
  modules/api/pkg/handler/v1/cluster/cluster.go
  modules/api/pkg/handler/v1/project/project.go
  modules/api/pkg/handler/v2/cluster/cluster.go
  modules/api/pkg/handler/v2/preset/preset.go
  modules/api/pkg/handler/v2/seedoverview/seedoverview.go
  modules/api/pkg/provider/kubernetes/etcdbackupconfig.go
  modules/api/pkg/provider/kubernetes/etcdrestore.go
  modules/web/src/app/core/services/cluster.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Refactored code
  modules/api/pkg/handler/v1/project/project.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump k8c.io/kubermatic/v2 and add changelog entry for partial cluster list
  modules/api/go.mod
  modules/api/go.sum
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update swagger
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/test/e2e/utils/apiclient/models/v_sphere.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_sphere_cloud_spec.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.23] Don't return error in case one of a seed down (#6381)
  modules/api/pkg/handler/middleware/middleware.go
  modules/api/pkg/handler/v1/cluster/cluster.go
  modules/api/pkg/handler/v1/project/project.go
  modules/api/pkg/handler/v2/cluster/cluster.go
  modules/api/pkg/handler/v2/preset/preset.go
  modules/api/pkg/handler/v2/seedoverview/seedoverview.go
  modules/api/pkg/provider/kubernetes/etcdbackupconfig.go
  modules/api/pkg/provider/kubernetes/etcdrestore.go
  modules/web/src/app/core/services/cluster.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.23] Add changelog entry for partial cluster list
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.23] Add changelog entry for partial cluster list (#6383)
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump `k8c.io/kubermatic/v2` and add changelog entry for partial cluster list (#6382)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/test/e2e/utils/apiclient/models/v_sphere.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_sphere_cloud_spec.go
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

make the cluster backup ee feature ui
  modules/api/go.mod
  modules/web/package.json
  modules/web/src/app/core/components/sidenav/template.html
  modules/web/src/app/dynamic/community/cluster-backups/module.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/add-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/add-dialog/style.scss
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/add-dialog/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/delete-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/delete-dialog/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/style.scss
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/add-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/add-dialog/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/delete-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/delete-dialog/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/style.scss
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/module.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/routing.ts
  modules/web/src/app/dynamic/module-registry.ce.ts
  modules/web/src/app/dynamic/module-registry.ts
  modules/web/src/app/routing.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove context timeout check from listing clusters of project
  modules/api/pkg/handler/v1/project/project.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove context timeout check from listing clusters of project (#6385)
  modules/api/pkg/handler/v1/project/project.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove context timeout check from listing clusters of project (#6385) (#6386)
  modules/api/pkg/handler/v1/project/project.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.23] Update to 2.23.8
  Makefile
  modules/api/Makefile
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.23] Update to 2.23.8 (#6387)
  Makefile
  modules/api/Makefile
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Prepare v2.24.0 release
  Makefile
  modules/api/Makefile
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add changelog entry for regression fix
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Prepare 2.24.0 (#6388)
  Makefile
  modules/api/Makefile
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Make flatcar selectable on VMware Cloud Director
  modules/api/pkg/handler/v2/operatingsystemprofile/operatingsystemprofile.go
  modules/web/src/app/node-data/component.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$
