Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$

Update kubermatic build image to go-1.18-node-16-kind-0.14-9
  .gitignore
  .prow/build-image.yaml
  .prow/verify.yaml
  Development.md
  containers/chrome-headless/Dockerfile
  containers/custom-dashboard/Dockerfile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add override for flex-layout to resolve dependency conflict
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

test: angular 14 deps
  Makefile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Split prow jobs; move them to .prow directory (#4594)
  .prow/build-image.yaml
  .prow/tests-e2e.yaml
  .prow/tests-unit.yaml
  .prow/verify.yaml
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Throw error on node/npm version mismatch from package.json file
  .npmrc
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix peer dependencies due to angular upgrade to v14
  package-lock.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Upgrade to kubermatic build image with node v16.15.1
  .prow/build-image.yaml
  .prow/verify.yaml
  containers/chrome-headless/Dockerfile
  containers/custom-dashboard/Dockerfile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update lock file for peer dependencies due to angular upgrade to v14
  package-lock.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Handle viewname for tos, rest-api routes otherwise handle empty view for non catered routes
  src/app/core/components/navigation/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

replace class `km-os-image-rockyLinux` to `km-os-image-rocky-linux`
  src/app/node-data/template.html
  src/assets/css/_images.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

replace class `rockyLinux` with `rocky-linux` in getOperatingSystemLogoClass()
  src/app/shared/entity/node.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add view name in header (#4503)
  src/app/core/components/navigation/component.ts
  src/app/core/components/navigation/style.scss
  src/app/core/components/navigation/template.html
  src/app/core/components/navigation/theme.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Pre-select rocky linux while editing machine deployment (#4588)
  src/app/cluster/details/cluster/machine-deployment-details/template.html
  src/app/cluster/details/cluster/node-list/template.html
  src/app/core/services/node.ts
  src/app/node-data/basic/provider/nutanix/component.ts
  src/app/node-data/basic/provider/openstack/component.ts
  src/app/node-data/basic/provider/vsphere/component.ts
  src/app/node-data/template.html
  src/app/shared/components/cluster-summary/template.html
  src/app/shared/entity/datacenter.ts
  src/app/shared/entity/node.ts
  src/app/shared/model/NodeProviderConstants.ts
  src/assets/css/_images.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add checking for nodes support DKC to show the warning
  src/app/cluster/details/shared/version-change-dialog/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

remove this from templet
  src/app/cluster/details/shared/version-change-dialog/component.ts
  src/app/cluster/details/shared/version-change-dialog/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Disable dynamic Kubelet config k8s 1.24 (#4514)
  src/app/cluster/details/shared/version-change-dialog/component.spec.ts
  src/app/cluster/details/shared/version-change-dialog/component.ts
  src/app/cluster/details/shared/version-change-dialog/style.scss
  src/app/cluster/details/shared/version-change-dialog/template.html
  src/app/node-data/component.ts
  src/app/node-data/template.html
  src/app/shared/entity/cluster.ts
  src/assets/css/global/_main.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add logic for disabling Konnectivity control in ClusterComponent.
  src/app/wizard/step/cluster/component.ts
  src/app/wizard/step/cluster/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

feedback changes
  src/app/wizard/step/cluster/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update 'Open Dashboard' endpoint usage (#4585)
  src/app/core/services/cluster.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

feedback changes - v2
  src/app/wizard/step/cluster/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Disallow disabling Konnectivity for Cilium+ebpf (#4538)
  src/app/cluster/details/cluster/edit-cluster/component.spec.ts
  src/app/cluster/details/cluster/edit-cluster/component.ts
  src/app/cluster/details/cluster/edit-cluster/template.html
  src/app/wizard/step/cluster/component.ts
  src/app/wizard/step/cluster/template.html
  src/assets/css/material/_theme.scss
  src/test/data/cluster.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump version to 2.19.6
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

update to Go 1.18
  .prow/build-image.yaml
  .prow/tests-e2e.yaml
  .prow/tests-unit.yaml
  .prow/verify.yaml
  containers/chrome-headless/Dockerfile
  containers/chrome-headless/release.sh
  containers/custom-dashboard/Dockerfile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump version to 2.19.6 (#4605)
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump version to 2.20.4
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

allow arbitrary cluster names
  src/app/cluster/details/cluster/edit-cluster/component.ts
  src/app/cluster/details/cluster/edit-cluster/template.html
  src/app/node-data/template.html
  src/app/wizard/step/cluster/component.ts
  src/app/wizard/step/cluster/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump version to 2.20.4 (#4610)
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add externalMachineDeploymentNodes(), externalMachineDeploymentNodesMetrics() and externalMachineDeploymentNodesEvents() to cluster.ts
  src/app/core/services/cluster.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add unit tests for cluster service
  src/app/core/services/cluster.spec.ts
  src/app/shared/types/request-type.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

External Clusters Machine Deployment Nodes Details Fix (#4577)
  src/app/cluster/details/external-cluster/external-machine-deployment-details/component.ts
  src/app/core/services/cluster.spec.ts
  src/app/core/services/cluster.ts
  src/app/shared/types/request-type.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

appease linter
  hack/run-in-docker.sh
  src/app/wizard/step/cluster/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

update dev Dockerfile to node 16
  hack/development/Dockerfile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Allow arbitrary cluster names (#4611)
  hack/development/Dockerfile
  hack/run-in-docker.sh
  src/app/cluster/details/cluster/edit-cluster/component.ts
  src/app/cluster/details/cluster/edit-cluster/template.html
  src/app/node-data/template.html
  src/app/wizard/step/cluster/component.ts
  src/app/wizard/step/cluster/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove `IPv6` control for DigitalOcean cloud provider
  cypress/fixtures/digitalocean/machinedeployment.json
  cypress/fixtures/digitalocean/machinedeployments.json
  src/app/cluster/details/cluster/node-list/template.html
  src/app/node-data/extended/provider/digitalocean/component.ts
  src/app/node-data/extended/provider/digitalocean/template.html
  src/app/shared/components/cluster-summary/template.html
  src/app/shared/entity/node.ts
  src/test/data/node.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add the form feild
  src/app/node-data/component.ts
  src/app/node-data/template.html
  src/app/shared/entity/machine-deployment.ts
  src/app/shared/model/NodeSpecChange.ts
  src/app/wizard/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add few conditions
  src/app/core/services/node.ts
  src/app/node-data/component.ts
  src/app/node-data/template.html
  src/app/wizard/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add operating system profile to cluster summary
  src/app/core/services/node.ts
  src/app/node-data/component.ts
  src/app/node-data/template.html
  src/app/shared/components/cluster-summary/component.ts
  src/app/shared/components/cluster-summary/template.html
  src/app/wizard/component.ts
  src/app/wizard/step/cluster/component.ts
  src/app/wizard/step/cluster/template.html
  src/app/wizard/step/summary/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add OSP to edit dialog
  src/app/core/services/node.ts
  src/app/node-data/component.ts
  src/app/node-data/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update 'Open Dashboard' endpoint usage (#4585)
  src/app/core/services/feature-gate.ts
  src/app/core/services/node.ts
  src/app/node-data/component.ts
  src/app/node-data/template.html
  src/app/shared/entity/machine-deployment.ts
  src/app/wizard/component.ts
  src/app/wizard/step/cluster/component.ts
  src/app/wizard/step/cluster/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Disable dynamic Kubelet config k8s 1.24 (#4514)
  src/app/node-data/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce
