Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-go-mod-verify, pre-dashboard-web-lint, pre-dashboard-web-check

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-api-e2e: any of: modules/api/pkg
  pre-dashboard-api-unit: any of: modules/api
  pre-dashboard-api-lint: any of: modules/api
  pre-dashboard-api-verify: any of: modules/api
  pre-dashboard-web-integration-tests: any of: modules/web
  pre-dashboard-web-integration-tests-ce: any of: modules/web
  pre-dashboard-web-unit: any of: modules/web
  pre-dashboard-web-go-mod-verify: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-lint: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-check: any of: modules/web

add config drive option to MDs on open stack provider
  modules/web/src/app/node-data/basic/provider/openstack/component.ts
  modules/web/src/app/node-data/basic/provider/openstack/style.scss
  modules/web/src/app/node-data/basic/provider/openstack/template.html
  modules/web/src/app/settings/admin/dynamic-datacenters/datacenter-data-dialog/component.ts
  modules/web/src/app/settings/admin/dynamic-datacenters/datacenter-data-dialog/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/entity/datacenter.ts
  modules/web/src/app/shared/entity/node.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

add config drive option to MDs on open stack provider (#7516)
  modules/web/src/app/node-data/basic/provider/openstack/component.ts
  modules/web/src/app/node-data/basic/provider/openstack/style.scss
  modules/web/src/app/node-data/basic/provider/openstack/template.html
  modules/web/src/app/settings/admin/dynamic-datacenters/datacenter-data-dialog/component.ts
  modules/web/src/app/settings/admin/dynamic-datacenters/datacenter-data-dialog/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/entity/datacenter.ts
  modules/web/src/app/shared/entity/node.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

pass NVIDIA GPU Operator related labels to API
  modules/api/pkg/handler/common/machine.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

add config drive option to MDs on open stack provider (#7517)
  modules/web/src/app/node-data/basic/provider/openstack/component.ts
  modules/web/src/app/node-data/basic/provider/openstack/style.scss
  modules/web/src/app/node-data/basic/provider/openstack/template.html
  modules/web/src/app/settings/admin/dynamic-datacenters/datacenter-data-dialog/component.ts
  modules/web/src/app/settings/admin/dynamic-datacenters/datacenter-data-dialog/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/entity/datacenter.ts
  modules/web/src/app/shared/entity/node.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

add config drive option to MDs on open stack provider (#7519)
  modules/web/src/app/node-data/basic/provider/openstack/component.ts
  modules/web/src/app/node-data/basic/provider/openstack/style.scss
  modules/web/src/app/node-data/basic/provider/openstack/template.html
  modules/web/src/app/settings/admin/dynamic-datacenters/datacenter-data-dialog/component.ts
  modules/web/src/app/settings/admin/dynamic-datacenters/datacenter-data-dialog/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/entity/datacenter.ts
  modules/web/src/app/shared/entity/node.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

add config drive option to MDs on open stack provider (#7518)
  modules/web/src/app/node-data/basic/provider/openstack/component.ts
  modules/web/src/app/node-data/basic/provider/openstack/style.scss
  modules/web/src/app/node-data/basic/provider/openstack/template.html
  modules/web/src/app/settings/admin/dynamic-datacenters/datacenter-data-dialog/component.ts
  modules/web/src/app/settings/admin/dynamic-datacenters/datacenter-data-dialog/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/entity/datacenter.ts
  modules/web/src/app/shared/entity/node.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

update labels initialization
  modules/api/pkg/handler/common/machine.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Modify kubeconfig for oidc-kubelogin compatibility
  modules/api/pkg/handler/common/kubeconfig.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Enable Encryption At Rest from UI side
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/resources/cluster/cluster.go
  modules/web/src/app/core/services/cluster-spec.ts
  modules/web/src/app/core/services/name-generator.ts
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/shared/functions/utils.ts
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/template.html
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Handle Encryption At Rest from API side
  modules/api/go.sum
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/resources/cluster/cluster.go
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/core/services/cluster-spec.ts
  modules/web/src/app/core/services/name-generator.ts
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/shared/functions/utils.ts
  modules/web/src/app/wizard/component.ts
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/template.html
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Remove sensitive info of encryption key at annotation level
  modules/api/pkg/handler/common/cluster.go
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/core/services/cluster-spec.ts
  modules/web/src/app/wizard/component.ts
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/template.html
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Remove unused annotation
  modules/web/src/app/shared/entity/cluster.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.26] Bump KKP and other dependencies t dependencies for KKP patch release v2.26.11
  Makefile
  modules/api/Makefile
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/test/e2e/utils/apiclient/models/config_map_key_selector.go
  modules/api/pkg/test/e2e/utils/apiclient/models/local_object_reference.go
  modules/api/pkg/test/e2e/utils/apiclient/models/pod_dns_config_option.go
  modules/api/pkg/test/e2e/utils/apiclient/models/secret_key_selector.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.27] Bump KKP and other dependencies for KKP patch release v2.27.7
  Makefile
  modules/api/Makefile
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/test/e2e/utils/apiclient/models/config_map_key_selector.go
  modules/api/pkg/test/e2e/utils/apiclient/models/local_object_reference.go
  modules/api/pkg/test/e2e/utils/apiclient/models/pod_dns_config_option.go
  modules/api/pkg/test/e2e/utils/apiclient/models/secret_key_selector.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.28] Bump KKP and other dependencies for KKP patch release v2.28.2
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Bump KKP dependencies
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

[release/v2.26] Bump KKP and other dependencies for KKP patch release v2.26.11 (#7526)
  Makefile
  modules/api/Makefile
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/test/e2e/utils/apiclient/models/config_map_key_selector.go
  modules/api/pkg/test/e2e/utils/apiclient/models/local_object_reference.go
  modules/api/pkg/test/e2e/utils/apiclient/models/pod_dns_config_option.go
  modules/api/pkg/test/e2e/utils/apiclient/models/secret_key_selector.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.27] Bump KKP and other dependencies for KKP patch release v2.27.7 (#7527)
  Makefile
  modules/api/Makefile
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/test/e2e/utils/apiclient/models/config_map_key_selector.go
  modules/api/pkg/test/e2e/utils/apiclient/models/local_object_reference.go
  modules/api/pkg/test/e2e/utils/apiclient/models/pod_dns_config_option.go
  modules/api/pkg/test/e2e/utils/apiclient/models/secret_key_selector.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.28] Bump KKP and other dependencies for KKP patch release v2.28.2 (#7528)
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Update Annotation key/value
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/wizard/step/cluster/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Remove Edit Encryption At Rest Option from Edit Cluster Dialog
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/wizard/step/cluster/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.26] Bump KKP dependencies for KKP patch release v2.26.12
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.26] Bump KKP dependencies for KKP patch release v2.26.12 (#7529)
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Update generated files and fix formatting
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.sum
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/resources/cluster/cluster.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/create_cluster_template_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/update_cluster_template_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/create_cluster_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/encryption_at_rest_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/encryption_configuration.go
  modules/api/pkg/test/e2e/utils/apiclient/models/secretbox_encryption_configuration.go
  modules/api/pkg/test/e2e/utils/apiclient/models/secretbox_key.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Remove features from response and add test case to match CreateClusterModel
  modules/api/go.mod
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/v1/cluster/cluster_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Reduce cyclomatic complexity to avoid linting issue
  modules/api/pkg/handler/common/cluster.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

remove go mod deps
  modules/api/go.mod
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Bump KKP dependencies for k8s and OSM
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Revert packet related files
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/pkg/handler/common/provider/packet.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/resources/reconciling/zz_generated_reconcile.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubermatic_kubernetes_platform_api_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/packet/list_packet_sizes_no_credentials_v2_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/packet/list_packet_sizes_no_credentials_v2_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/packet/packet_client.go
  modules/web/hack/e2e/fixtures/seed.yaml
  modules/web/hack/e2e/setup-kubermatic-in-kind.sh
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Update test case due to field order in PresetSpec
  modules/api/.golangci.yml
  modules/api/pkg/handler/v1/presets/credentials.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Update github pre-release.md file
  .github/ISSUE_TEMPLATE/pre-release.md
Due: none

Hide Deprecated Provider from seed level datacenters returned
  modules/web/src/app/settings/admin/dynamic-datacenters/component.ts
  modules/web/src/app/settings/admin/dynamic-datacenters/datacenter-data-dialog/component.ts
  modules/web/src/app/settings/admin/module.ts
  modules/web/src/app/settings/admin/opa/default-constraints/style.scss
  modules/web/src/app/settings/admin/presets/dialog/steps/provider/component.ts
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/equinix/component.ts
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/equinix/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/template.html
  modules/web/src/app/settings/admin/seed-configurations/seed-configurations-details/component.ts
  modules/web/src/app/shared/model/NodeProviderConstants.ts
  modules/web/src/assets/css/_images.scss
  modules/web/src/assets/images/clouds/equinix.svg
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check
