Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-go-mod-verify, pre-dashboard-web-lint, pre-dashboard-web-check

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-web-integration-tests: any of: modules/web
  pre-dashboard-web-integration-tests-ce: any of: modules/web
  pre-dashboard-web-unit: any of: modules/web
  pre-dashboard-web-go-mod-verify: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-lint: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-check: any of: modules/web

Web: update packages (#6778)
  modules/web/.npmrc
  modules/web/angular.json
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/app/cluster/details/cluster/constraints/constraint-dialog/component.spec.ts
  modules/web/src/app/cluster/details/cluster/gatekeeper-config/gatekeeper-config-dialog/component.spec.ts
  modules/web/src/app/cluster/details/cluster/mla/alertmanager-config/alertmanager-config-dialog/component.spec.ts
  modules/web/src/app/cluster/details/cluster/mla/rule-groups/rule-group-dialog/component.spec.ts
  modules/web/src/app/module.ts
  modules/web/src/app/settings/admin/opa/constraint-templates/constraint-template-dialog/component.spec.ts
  modules/web/src/app/settings/admin/opa/default-constraints/default-constraint-dialog/component.spec.ts
  modules/web/src/app/shared/directives/value-changed-indicator.ts
  modules/web/src/app/shared/module.ts
  modules/web/src/app/wizard/step/cluster/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Add functionality to create baremetal provider preset
  modules/web/src/app/node-data/basic/provider/baremetal/component.ts
  modules/web/src/app/node-data/basic/provider/baremetal/style.scss
  modules/web/src/app/node-data/basic/provider/baremetal/template.html
  modules/web/src/app/settings/admin/module.ts
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/baremetal/component.ts
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/baremetal/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/template.html
  modules/web/src/app/shared/components/machine-networks-new/component.spec.ts
  modules/web/src/app/shared/entity/preset.ts
  modules/web/src/app/wizard/step/network/component.spec.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Admin panel settings for applications (#6787)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/v1/cluster/cluster_test.go
  modules/api/pkg/handler/v2/application_definition/application_definition.go
  modules/api/pkg/handler/v2/application_definition/conversion.go
  modules/api/pkg/handler/v2/application_definition/request.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/provider/kubernetes/application_definition.go
  modules/api/pkg/provider/types.go
  modules/api/pkg/test/e2e/utils/apiclient/client/applications/applications_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/applications/patch_application_definition_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/applications/patch_application_definition_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/models/application_definition_list_item.go
  modules/web/src/app/core/services/application.ts
  modules/web/src/app/settings/admin/applications/component.ts
  modules/web/src/app/settings/admin/applications/module.ts
  modules/web/src/app/settings/admin/applications/routing.ts
  modules/web/src/app/settings/admin/applications/style.scss
  modules/web/src/app/settings/admin/applications/template.html
  modules/web/src/app/settings/admin/nav/template.html
  modules/web/src/app/settings/admin/routing.ts
  modules/web/src/app/shared/components/side-nav-field/component.ts
  modules/web/src/app/shared/entity/application.ts
  modules/web/src/app/shared/entity/common.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Add support for Baremetal provider (#6765)
  modules/web/cypress/utils/provider.ts
  modules/web/src/app/cluster/details/cluster/edit-provider-settings/baremetal-provider-settings/component.ts
  modules/web/src/app/cluster/details/cluster/edit-provider-settings/baremetal-provider-settings/template.html
  modules/web/src/app/cluster/details/cluster/edit-provider-settings/template.html
  modules/web/src/app/cluster/details/cluster/node-list/template.html
  modules/web/src/app/cluster/module.ts
  modules/web/src/app/core/module.ts
  modules/web/src/app/core/services/node-data/provider/baremetal.ts
  modules/web/src/app/core/services/node-data/service.ts
  modules/web/src/app/core/services/provider/baremetal.ts
  modules/web/src/app/node-data/basic/provider/baremetal/component.ts
  modules/web/src/app/node-data/basic/provider/baremetal/style.scss
  modules/web/src/app/node-data/basic/provider/baremetal/template.html
  modules/web/src/app/node-data/basic/provider/edge/component.ts
  modules/web/src/app/node-data/basic/provider/template.html
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/node-data/module.ts
  modules/web/src/app/node-data/template.html
  modules/web/src/app/settings/admin/module.ts
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/baremetal/component.ts
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/baremetal/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/components/machine-networks-new/component.spec.ts
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/shared/entity/datacenter.ts
  modules/web/src/app/shared/entity/node.ts
  modules/web/src/app/shared/entity/preset.ts
  modules/web/src/app/shared/entity/provider/baremetal.ts
  modules/web/src/app/shared/model/NodeProviderConstants.ts
  modules/web/src/app/wizard/module.ts
  modules/web/src/app/wizard/step/network/component.spec.ts
  modules/web/src/app/wizard/step/provider-settings/provider/basic/baremetal/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/basic/baremetal/template.html
  modules/web/src/app/wizard/step/provider-settings/provider/basic/template.html
  modules/web/src/assets/css/_images.scss
  modules/web/src/assets/images/clouds/baremetal.svg
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Add Kubermatic/api to packngo User-Agent
  modules/api/pkg/handler/common/provider/packet.go
  modules/api/pkg/provider/cloud/packet/provider.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add Kubermatic/api to packngo User-Agent (#6792)
  modules/api/pkg/handler/common/provider/packet.go
  modules/api/pkg/provider/cloud/packet/provider.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Use defaultVersion or highest semver version as default for applications
  modules/web/src/app/shared/components/application-list/add-application-dialog/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Default/Enforced applications in cluster wizard
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/ee/group-project-binding/provider/provider.go
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/v2/application_definition/application_definition.go
  modules/api/pkg/handler/v2/application_definition/conversion.go
  modules/api/pkg/handler/v2/application_definition/request.go
  modules/api/pkg/handler/v2/application_installation/conversion.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/test/e2e/utils/apiclient/client/applications/applications_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/applications/patch_application_definition_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/applications/patch_application_definition_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/models/application_definition_list_item.go
  modules/api/pkg/test/e2e/utils/apiclient/models/application_definition_list_item_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/application_definition_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/application_installation_list_item.go
  modules/api/pkg/test/e2e/utils/apiclient/models/defaulting_selector.go
  modules/api/pkg/test/e2e/utils/apiclient/models/resource_claim.go
  modules/web/src/app/core/services/application.ts
  modules/web/src/app/settings/admin/applications/component.ts
  modules/web/src/app/settings/admin/applications/style.scss
  modules/web/src/app/settings/admin/applications/template.html
  modules/web/src/app/shared/components/application-list/add-application-dialog/component.ts
  modules/web/src/app/shared/components/application-list/component.ts
  modules/web/src/app/shared/components/application-list/edit-application-dialog/component.ts
  modules/web/src/app/shared/components/application-list/edit-application-dialog/template.html
  modules/web/src/app/shared/components/application-list/template.html
  modules/web/src/app/shared/entity/application.ts
  modules/web/src/app/wizard/step/applications/component.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Use versioned docs intead of main
  modules/web/src/app/settings/admin/defaults/component.ts
  modules/web/src/app/settings/admin/defaults/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Update development docs with updated depedency matrix
  Development.md
Due: none

Add typos config
  .typos.toml
  modules/api/pkg/ee/metering/report_config_handler.go
  modules/api/pkg/handler/common/binding.go
  modules/api/pkg/handler/common/provider/kubevirt.go
  modules/api/pkg/handler/websocket/user_test.go
  modules/api/pkg/provider/cloud/gcp/provider.go
  modules/api/pkg/provider/cloud/gke/provider.go
  modules/web/src/app/shared/components/label-form/component.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Update development docs with updated depedency matrix (#6796)
  Development.md
Due: none

Skip typos.toml from codespell
  hack/verify-spelling.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Refactored code
  modules/web/src/app/shared/components/application-list/edit-application-dialog/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Use versioned docs intead of main (#6795)
  modules/web/src/app/settings/admin/defaults/component.ts
  modules/web/src/app/settings/admin/defaults/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Update go.mod
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Default/Enforced applications in cluster wizard (#6794)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/ee/group-project-binding/provider/provider.go
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/v2/application_definition/application_definition.go
  modules/api/pkg/handler/v2/application_definition/conversion.go
  modules/api/pkg/handler/v2/application_definition/request.go
  modules/api/pkg/handler/v2/application_installation/conversion.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/test/e2e/utils/apiclient/client/applications/applications_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/applications/patch_application_definition_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/applications/patch_application_definition_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/models/application_definition_list_item.go
  modules/api/pkg/test/e2e/utils/apiclient/models/application_definition_list_item_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/application_definition_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/application_installation_list_item.go
  modules/api/pkg/test/e2e/utils/apiclient/models/defaulting_selector.go
  modules/api/pkg/test/e2e/utils/apiclient/models/resource_claim.go
  modules/web/src/app/core/services/application.ts
  modules/web/src/app/settings/admin/applications/component.ts
  modules/web/src/app/settings/admin/applications/style.scss
  modules/web/src/app/settings/admin/applications/template.html
  modules/web/src/app/shared/components/application-list/add-application-dialog/component.ts
  modules/web/src/app/shared/components/application-list/component.ts
  modules/web/src/app/shared/components/application-list/edit-application-dialog/component.ts
  modules/web/src/app/shared/components/application-list/edit-application-dialog/template.html
  modules/web/src/app/shared/components/application-list/template.html
  modules/web/src/app/shared/entity/application.ts
  modules/web/src/app/wizard/step/applications/component.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Add typos config (#6797)
  .typos.toml
  hack/verify-spelling.sh
  modules/api/pkg/ee/metering/report_config_handler.go
  modules/api/pkg/handler/common/binding.go
  modules/api/pkg/handler/common/provider/kubevirt.go
  modules/api/pkg/handler/websocket/user_test.go
  modules/api/pkg/provider/cloud/gcp/provider.go
  modules/api/pkg/provider/cloud/gke/provider.go
  modules/web/src/app/shared/components/label-form/component.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix style issues with mat-select
  modules/web/src/app/settings/user/style.scss
  modules/web/src/app/shared/components/combobox/template.html
  modules/web/src/app/shared/components/pagination-page-size/component.ts
  modules/web/src/app/shared/components/pagination-page-size/style.scss
  modules/web/src/app/shared/components/pagination-page-size/template.html
  modules/web/src/assets/css/global/_main.scss
  modules/web/src/assets/css/material/_main.scss
  modules/web/src/assets/css/material/_theme.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Update manage SSH keys dialog and fix spacing issue long hint and error messages
  modules/web/src/app/backup/list/automatic-backup/add-dialog/template.html
  modules/web/src/app/cluster/details/cluster/edit-sshkeys/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/add-dialog/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/add-dialog/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/component.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/vsphere/template.html
  modules/web/src/app/shared/components/application-list/edit-application-dialog/template.html
  modules/web/src/app/shared/components/terminal/terminal-toolbar/template.html
  modules/web/src/app/wizard/step/cluster/template.html
  modules/web/src/app/wizard/step/provider-settings/provider/extended/vsphere/template.html
  modules/web/src/assets/css/global/_main.scss
  modules/web/src/assets/css/global/_theme.scss
  modules/web/src/assets/css/material/_main.scss
  modules/web/src/assets/css/material/_theme.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix icons alignment in control plane version selector
  modules/web/src/app/cluster/details/shared/version-picker/style.scss
  modules/web/src/app/cluster/details/shared/version-picker/template.html
  modules/web/src/app/shared/components/application-list/edit-application-dialog/template.html
  modules/web/src/assets/css/material/_main.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix web terminal cursor issue
  modules/api/pkg/handler/websocket/terminal.go
  modules/web/angular.json
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/app/shared/components/terminal/component.ts
  modules/web/src/app/shared/model/Terminal.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix web terminal cursor issue (#6799)
  modules/api/pkg/handler/websocket/terminal.go
  modules/web/angular.json
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/app/shared/components/terminal/component.ts
  modules/web/src/app/shared/model/Terminal.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix web terminal cursor issue
  modules/api/pkg/handler/websocket/terminal.go
  modules/web/src/app/shared/components/terminal/component.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix web terminal cursor issue (#6805)
  modules/api/pkg/handler/websocket/terminal.go
  modules/web/src/app/shared/components/terminal/component.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Update kubelb integration to support new features
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster_test.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_openstack.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_l_b.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_l_b_datacenter_settings.go
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/style.scss
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/shared/entity/datacenter.ts
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/style.scss
  modules/web/src/app/wizard/step/cluster/template.html
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Update kubelb integration to support new features (#6810)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster_test.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_openstack.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_l_b.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_l_b_datacenter_settings.go
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/style.scss
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/shared/entity/datacenter.ts
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/style.scss
  modules/web/src/app/wizard/step/cluster/template.html
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

prepare 2.26.0-beta.0
  Makefile
  modules/api/Makefile
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

prepare 2.26.0-beta.0 (#6817)
  Makefile
  modules/api/Makefile
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Add annotations to clusters
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/v1/admin/settings.go
  modules/web/src/app/core/services/cluster-spec.ts
  modules/web/src/app/shared/components/annotation-form/component.ts
  modules/web/src/app/shared/components/annotation-form/style.scss
  modules/web/src/app/shared/components/annotation-form/template.html
  modules/web/src/app/shared/components/annotation-form/theme.scss
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/shared/entity/settings.ts
  modules/web/src/app/shared/module.ts
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/template.html
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Annotation handling for nodes and clusters
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/common/machine.go
  modules/api/pkg/handler/v2/external_cluster/node.go
  modules/api/pkg/resources/machine/machinedeployment.go
  modules/api/pkg/test/e2e/utils/apiclient/models/annotation_settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/global_settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/node_spec.go
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/cluster/details/cluster/machine-deployment-details/template.html
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/core/services/cluster.ts
  modules/web/src/app/core/services/machine-deployment.ts
  modules/web/src/app/core/services/node-data/service.ts
  modules/web/src/app/core/services/node.ts
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/node-data/template.html
  modules/web/src/app/shared/components/annotation-form/component.ts
  modules/web/src/app/shared/components/annotation-form/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/components/save-cluster-template/component.ts
  modules/web/src/app/shared/entity/node.ts
  modules/web/src/app/shared/model/NodeSpecChange.ts
  modules/web/src/app/shared/utils/annotations.ts
  modules/web/src/app/wizard/component.ts
  modules/web/src/app/wizard/step/cluster/template.html
  modules/web/src/app/wizard/step/summary/component.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Don't show hidden annotations
  modules/api/pkg/handler/common/machine.go
  modules/api/pkg/handler/v1/admin/settings_test.go
  modules/api/pkg/handler/v2/external_cluster/node.go
  modules/web/src/app/cluster/details/cluster/component.ts
  modules/web/src/app/cluster/details/cluster/machine-deployment-details/component.ts
  modules/web/src/app/cluster/details/cluster/machine-deployment-details/template.html
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/core/services/node-data/service.ts
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/settings/admin/defaults/component.ts
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/shared/components/annotation-form/component.ts
  modules/web/src/app/shared/components/cluster-summary/component.ts
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/components/label-form/component.ts
  modules/web/src/app/shared/entity/node.ts
  modules/web/src/app/shared/model/NodeSpecChange.ts
  modules/web/src/app/shared/utils/annotations.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Annotations for cluster templates
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_template_info.go
  modules/web/src/assets/css/theme/_component.scss
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Force close the SSH keys dropdown in e2e tests
  modules/web/cypress/pages/v2/wizard/page.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix unit tests
  modules/api/pkg/handler/v2/cluster_template/cluster_template_test.go
  modules/web/src/app/shared/components/annotation-form/component.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Handle empty annotation values for admin setting defaults
  modules/web/src/app/settings/admin/defaults/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix deletion for resource quota
  modules/web/src/app/dynamic/enterprise/quotas/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check
