Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$

Fix datacenter issue during openstack preset creation and make domain optional when app credentials are used
  src/app/settings/admin/presets/dialog/steps/settings/component.ts
  src/app/settings/admin/presets/dialog/steps/settings/provider/openstack/component.ts
  src/app/settings/admin/presets/dialog/steps/settings/provider/openstack/template.html
  src/app/shared/components/openstack-credentials/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump version to v2.20
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix issue with Openstack preset creation (#4325)
  src/app/settings/admin/presets/dialog/steps/settings/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Revert optional domain logic
  src/app/settings/admin/presets/dialog/steps/settings/provider/openstack/component.ts
  src/app/settings/admin/presets/dialog/steps/settings/provider/openstack/template.html
  src/app/shared/components/openstack-credentials/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.20] Bump version to v2.20 (#4330)
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Make Domain optional when app credentials are used (#4327)
  src/app/settings/admin/presets/dialog/steps/settings/provider/openstack/component.ts
  src/app/settings/admin/presets/dialog/steps/settings/provider/openstack/template.html
  src/app/shared/components/openstack-credentials/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.20] Fix issue with Openstack preset creation (#4332)
  src/app/settings/admin/presets/dialog/steps/settings/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Left-align number imputs
  src/assets/css/global/_main.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add icons to addon dialogs
  src/app/shared/components/addon-list/edit-addon-dialog/template.html
  src/app/shared/components/addon-list/install-addon-dialog/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Adjust icon placement
  src/app/cluster/details/cluster/node-list/style.scss
  src/app/cluster/details/cluster/node-list/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump dependency versions
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove kgroschoff from the project
  .github/ISSUE_TEMPLATE/pre-release.md
  .github/ISSUE_TEMPLATE/release.md
  .github/dependabot.yml
  OWNERS
  docs/manuals/release.md
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove unused code
  src/app/core/module.ts
  src/app/core/services/history.ts
  src/app/core/services/token.ts
  src/app/core/services/wizard/steps.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Refactor
  src/app/core/services/notification.ts
  src/app/core/services/token.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add warning for invalid SA tokens
  src/app/serviceaccount/token/component.ts
  src/app/serviceaccount/token/template.html
  src/app/shared/entity/service-account.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update vSphere logo
  src/assets/css/_images.scss
  src/assets/images/clouds/vsphere-dark.svg
  src/assets/images/clouds/vsphere.png
  src/assets/images/clouds/vsphere.svg
  src/assets/themes/dark.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove obsolete method
  src/app/serviceaccount/token/component.ts
  src/app/serviceaccount/token/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fixing height for add and edit machine deployment form (#4215)
  src/app/shared/components/cluster-from-template/content/style.scss
  src/app/shared/components/cluster-summary/component.ts
  src/app/shared/components/cluster-summary/style.scss
  src/app/shared/components/cluster-summary/template.html
  src/app/wizard/step/summary/template.html
  src/assets/css/_variables.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

ajust clear notification (#4320)
  src/app/core/components/notification-panel/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update vSphere logo (#4336)
  src/assets/css/_images.scss
  src/assets/images/clouds/vsphere-dark.svg
  src/assets/images/clouds/vsphere.png
  src/assets/images/clouds/vsphere.svg
  src/assets/themes/dark.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Styling improvements and dependency update (#4335)
  .github/ISSUE_TEMPLATE/pre-release.md
  .github/ISSUE_TEMPLATE/release.md
  .github/dependabot.yml
  OWNERS
  docs/manuals/release.md
  package-lock.json
  package.json
  src/app/cluster/details/cluster/node-list/style.scss
  src/app/cluster/details/cluster/node-list/template.html
  src/app/core/module.ts
  src/app/core/services/history.ts
  src/app/core/services/notification.ts
  src/app/core/services/token.ts
  src/app/core/services/wizard/steps.ts
  src/app/shared/components/addon-list/edit-addon-dialog/template.html
  src/app/shared/components/addon-list/install-addon-dialog/template.html
  src/assets/css/global/_main.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Disable e2e for further investigation
  .prow.yaml
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add warning for invalid SA tokens (#4337)
  .prow.yaml
  src/app/serviceaccount/token/template.html
  src/app/shared/entity/service-account.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update AKS and EKS logos
  src/assets/images/clouds/aks.svg
  src/assets/images/clouds/eks.svg
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix Swagger UI
  package-lock.json
  package.json
  src/polyfills.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump to 2.18.8 version
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix e2e test for external cluster
  cypress/integration/stories/external-cluster.spec.ts
  cypress/pages/clusters.po.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

enabling verbose debugging for kkp installer
  hack/e2e/setup-kubermatic-in-kind.sh
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update AKS and EKS logos (#4347)
  src/assets/images/clouds/aks.svg
  src/assets/images/clouds/eks.svg
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix Swagger UI (#4352)
  package-lock.json
  package.json
  src/polyfills.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Regenerate package-lock.json
  package-lock.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.18] Bump to v2.18.8 version (#4353)
  Makefile
  hack/e2e/setup-kubermatic-in-kind.sh
  package-lock.json
  package.json
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

intercepting the Endpoint.ExternalCluster Endpoint
  cypress/pages/clusters.po.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update number input styling
  src/app/shared/components/number-stepper/style.scss
  src/app/shared/components/number-stepper/template.html
  src/app/shared/components/number-stepper/theme.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update number input styling
  src/app/shared/components/number-stepper/theme.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix metering sort
  src/app/dynamic/enterprise/metering/list/component.ts
  src/app/dynamic/enterprise/metering/list/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix metering sort (#4359)
  src/app/dynamic/enterprise/metering/list/component.ts
  src/app/dynamic/enterprise/metering/list/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce
