Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-go-mod-verify, pre-dashboard-web-lint, pre-dashboard-web-check

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-api-e2e: any of: modules/api/pkg
  pre-dashboard-api-unit: any of: modules/api
  pre-dashboard-api-lint: any of: modules/api
  pre-dashboard-api-verify: any of: modules/api
  pre-dashboard-web-integration-tests: any of: modules/web
  pre-dashboard-web-integration-tests-ce: any of: modules/web
  pre-dashboard-web-unit: any of: modules/web
  pre-dashboard-web-go-mod-verify: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-lint: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-check: any of: modules/web

bump kkp dependency to latest
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

update-kkp
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

update tests
  modules/api/pkg/handler/v1/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

bump kkp dependency to latest (#7641)
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v1/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Add OpenStack LoadBalancer Class configuration for cluster wizard
  modules/web/package-lock.json
  modules/web/src/app/core/services/wizard/provider/openstack.ts
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/shared/entity/provider/openstack.ts
  modules/web/src/app/wizard/module.ts
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/lb-class-dialog/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/lb-class-dialog/style.scss
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/lb-class-dialog/template.html
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Improved Styling/UX for Add LoadBalancerClass Form
  modules/web/src/app/wizard/module.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/lb-class-dialog/style.scss
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/loadbalancer-class-dialog/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/loadbalancer-class-dialog/style.scss
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/loadbalancer-class-dialog/template.html
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/style.scss
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/template.html
  modules/web/src/assets/css/global/_theme.scss
  modules/web/src/assets/themes/dark.scss
  modules/web/src/assets/themes/light.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Handle clearing of LB Classes in case of preset or credentials changed
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Enable OIDCKubeCfgEndpoint feature gate by default in API development script
  modules/api/hack/run-api.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Fix tslint issues
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/loadbalancer-class-dialog/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Add Custom Duplicate Validator
  modules/web/src/app/shared/validators/duplicate.validator.ts
  modules/web/src/app/shared/validators/validators.ts
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/loadbalancer-class-dialog/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/loadbalancer-class-dialog/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Add optional chaining to prevent undefined cluster access in router reconciliation
  modules/web/src/app/wizard/step/cluster/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix spelling and update check to allow close dialog in case no classes configured
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/loadbalancer-class-dialog/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Enable OIDCKubeCfgEndpoint feature gate by default in API development script (#7644)
  modules/api/hack/run-api.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Add optional chaining to prevent undefined cluster access in router reconciliation (#7645)
  modules/web/src/app/wizard/step/cluster/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Display LB Class details in expansion panel
  modules/web/src/app/shared/animations/expand.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/loadbalancer-class-dialog/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/loadbalancer-class-dialog/style.scss
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/loadbalancer-class-dialog/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix Tslint Issues / Load existing class before to check unique validation
  modules/web/src/app/shared/animations/expand.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/loadbalancer-class-dialog/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/loadbalancer-class-dialog/style.scss
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/loadbalancer-class-dialog/template.html
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/style.scss
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/template.html
  modules/web/src/assets/themes/dark.scss
  modules/web/src/assets/themes/light.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Add OpenStack LoadBalancer Class configuration for cluster wizard (#7646)
  modules/web/package-lock.json
  modules/web/src/app/core/services/wizard/provider/openstack.ts
  modules/web/src/app/shared/animations/expand.ts
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/shared/entity/provider/openstack.ts
  modules/web/src/app/shared/validators/duplicate.validator.ts
  modules/web/src/app/shared/validators/validators.ts
  modules/web/src/app/wizard/module.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/loadbalancer-class-dialog/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/loadbalancer-class-dialog/style.scss
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/loadbalancer-class-dialog/template.html
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/style.scss
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/template.html
  modules/web/src/assets/css/global/_theme.scss
  modules/web/src/assets/themes/dark.scss
  modules/web/src/assets/themes/light.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Improvements for load balancer class support
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/loadbalancer-class-dialog/template.html
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Improvements for load balancer class support (#7648)
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/loadbalancer-class-dialog/template.html
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Add overwrite registry flag in API
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/options.go
  modules/api/pkg/handler/routes_v1_websocket.go
  modules/api/pkg/handler/test/hack/hack.go
  modules/api/pkg/handler/websocket/terminal.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

update
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/websocket/terminal.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

update
  modules/api/cmd/kubermatic-api/swagger.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Add overwrite registry flag in API server (#7651)
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/options.go
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/routes_v1_websocket.go
  modules/api/pkg/handler/test/hack/hack.go
  modules/api/pkg/handler/websocket/terminal.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Improve encryption key validation to enforce strict 32-byte base64 format
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/shared/utils/cluster.ts
  modules/web/src/app/shared/validators/encryption-key.validator.ts
  modules/web/src/app/shared/validators/validators.ts
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

update comments
  modules/web/src/app/shared/utils/cluster.ts
  modules/web/src/app/shared/validators/encryption-key.validator.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

prepare for 2.29.0 rc.1
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

UI/UX Improvments
  modules/web/src/app/cluster/details/cluster/machine-deployment-details/style.scss
  modules/web/src/app/cluster/details/cluster/node-list/template.html
  modules/web/src/app/core/services/cluster.ts
  modules/web/src/app/dynamic/enterprise/quotas/quota-widget/style.scss
  modules/web/src/app/kubeone-wizard/steps/summary/style.scss
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/node-data/template.html
  modules/web/src/app/settings/admin/presets/dialog/style.scss
  modules/web/src/app/settings/admin/presets/preset-linkages-dialog/template.html
  modules/web/src/app/shared/components/application-list/template.html
  modules/web/src/app/shared/components/cluster-summary/style.scss
  modules/web/src/app/shared/components/labels/style.scss
  modules/web/src/app/shared/components/labels/template.html
  modules/web/src/app/shared/components/number-stepper/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix-kyverno-issues
  modules/web/src/app/dynamic/enterprise/kyverno-policies/cluster-policies/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/cluster-policies/template.html
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/add-template/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/add-template/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

prepare for 2.29.0 rc.1 (#7655)
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

UI/UX Improvments (#7652)
  modules/web/src/app/cluster/details/cluster/machine-deployment-details/style.scss
  modules/web/src/app/cluster/details/cluster/node-list/template.html
  modules/web/src/app/core/services/cluster.ts
  modules/web/src/app/dynamic/enterprise/quotas/quota-widget/style.scss
  modules/web/src/app/kubeone-wizard/steps/summary/style.scss
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/node-data/template.html
  modules/web/src/app/settings/admin/presets/dialog/style.scss
  modules/web/src/app/settings/admin/presets/preset-linkages-dialog/template.html
  modules/web/src/app/shared/components/application-list/template.html
  modules/web/src/app/shared/components/cluster-summary/style.scss
  modules/web/src/app/shared/components/labels/style.scss
  modules/web/src/app/shared/components/labels/template.html
  modules/web/src/app/shared/components/number-stepper/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix-kyverno-issues (#7654)
  modules/web/src/app/dynamic/enterprise/kyverno-policies/cluster-policies/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/cluster-policies/template.html
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/add-template/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/add-template/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Improve encryption key validation for cluster encryption at rest (#7653)
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/shared/utils/cluster.ts
  modules/web/src/app/shared/validators/encryption-key.validator.ts
  modules/web/src/app/shared/validators/validators.ts
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix-kyverno-issues (#7656)
  modules/web/src/app/dynamic/enterprise/kyverno-policies/cluster-policies/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/cluster-policies/template.html
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/add-template/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/add-template/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

minor fixes
  modules/web/src/app/cluster/details/cluster/share-kubeconfig/template.html
  modules/web/src/app/core/services/cluster.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

minor fixes (#7660)
  modules/web/src/app/cluster/details/cluster/share-kubeconfig/template.html
  modules/web/src/app/core/services/cluster.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Prepare for v2.29.0
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Prepare for v2.29.0 (#7661)
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check
