Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-go-mod-verify, pre-dashboard-web-lint, pre-dashboard-web-check

pre-dashboard-go-mod-verify:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      command:
      - make
      - verify-go
      resources:
        requests:
          cpu: 100m

pre-dashboard-test-unit:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/chrome-headless:v0.11
      command:
      - make
      - test-headless
      resources:
        requests:
          cpu: 1
          memory: 3Gi
        limits:
          cpu: 2
          memory: 5Gi
      env:
      - name: CODECOV_TOKEN
        valueFrom:
  ...

pre-dashboard-test-full-e2e:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-full-e2e-ce:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-e2e:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-test-e2e-ce:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-build-image:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

pre-dashboard-build-image-ce:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

Use infra management user credentials (if configured) for fetching data for vsphere (#7397)
  modules/web/src/app/core/services/node-data/provider/vsphere.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/vsphere/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Use infra management user credentials (if configured) for fetching data for vsphere
  modules/web/src/app/core/services/node-data/provider/vsphere.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/vsphere/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Use infra management user credentials (if configured) for fetching data for vsphere (#7399)
  modules/web/src/app/core/services/node-data/provider/vsphere.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/vsphere/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Use infra management user credentials (if configured) for fetching data for vsphere (#7398)
  modules/web/src/app/core/services/node-data/provider/vsphere.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/vsphere/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix token cookie cleaning by passing path argument to delete method (#7389)
  modules/web/src/app/core/services/auth/service.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.27] bump KKP dependency
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

[release/v2.27] codegen
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_kubevirt.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

[release/v2.27] bump KKP (#7400)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_kubevirt.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Kyverno bug fixes and enhancements
  modules/api/pkg/ee/kyverno/policy-template/handler.go
  modules/web/src/app/dynamic/enterprise/kyverno-policies/cluster-policies/add-policy-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/cluster-policies/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/add-template/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/add-template/template.html
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/template.html
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Kyverno bug fixes and enhancements (#7401)
  modules/api/pkg/ee/kyverno/policy-template/handler.go
  modules/web/src/app/dynamic/enterprise/kyverno-policies/cluster-policies/add-policy-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/cluster-policies/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/add-template/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/add-template/template.html
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/template.html
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix(clusterbackup): add labels for schedule objects (#7396)
  modules/api/pkg/ee/clusterbackup/backup/handler.go
  modules/api/pkg/ee/clusterbackup/schedule/handler.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Rework validation for KubeLB
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Kyverno Policies UI/UX fixes: (#7403)
  modules/web/src/app/core/components/sidenav/template.html
  modules/web/src/app/dynamic/enterprise/kyverno-policies/cluster-policies/template.html
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/add-template/template.html
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/template.html
  modules/web/src/app/settings/admin/nav/template.html
  modules/web/src/app/settings/admin/routing.ts
  modules/web/src/app/shared/components/application-list/component.ts
  modules/web/src/app/shared/components/label-form/style.scss
  modules/web/src/app/shared/components/side-nav-field/theme.scss
  modules/web/src/app/shared/entity/common.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

create copy from policy dialog
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/add-template/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/add-template/template.html
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

update official deprecatiion links for equinix provide
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/settings/admin/seed-configurations/seed-configurations-details/template.html
  modules/web/src/app/wizard/step/provider-datacenter/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Rework validation for KubeLB (#7404)
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Display help panel if there are announcements
  modules/web/src/app/core/components/help-panel/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

create copy from policy dialog (#7402)
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/add-template/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/add-template/template.html
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

update official deprecatiion links for equinix provide (#7405)
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/settings/admin/seed-configurations/seed-configurations-details/template.html
  modules/web/src/app/wizard/step/provider-datacenter/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Display help panel if there are announcements (#7406)
  modules/web/src/app/core/components/help-panel/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

add cluster kyverno health status
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_health.go
  modules/web/src/app/cluster/details/cluster/component.ts
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/dynamic/enterprise/kyverno-policies/cluster-policies/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/cluster-policies/template.html
  modules/web/src/app/shared/entity/health.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

add cluster kyverno health status (#7407)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_health.go
  modules/web/src/app/cluster/details/cluster/component.ts
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/dynamic/enterprise/kyverno-policies/cluster-policies/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/cluster-policies/template.html
  modules/web/src/app/shared/entity/health.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix UX issues for Kyverno
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/add-template/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/add-template/template.html
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/style.scss
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/template.html
  modules/web/src/app/shared/components/editor/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix UX issues for Kyverno (#7410)
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/add-template/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/add-template/template.html
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/style.scss
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/template.html
  modules/web/src/app/shared/components/editor/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

bump kkp go dependency for 2.28.0-rc.1
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

bump kkp go dependency for 2.28.0-rc.1 (#7411)
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

prepare for v2.28.0-rc.1
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_kubevirt.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Enable CustomDiskSize value based on diskSize existence
  modules/web/src/app/node-data/basic/provider/openstack/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix dex fail in dashboard-api e2e tests
  hack/ci/run-api-e2e.sh
  hack/ci/setup-kubermatic-in-kind.sh
  hack/ci/testdata/dex_values.yaml
  hack/ci/testdata/kubermatic.yaml
  hack/ci/testdata/oauth_values.yaml
  modules/api/pkg/test/e2e/utils/dex/helm.go
  modules/web/hack/e2e/fixtures/dex_values.yaml
  modules/web/hack/e2e/fixtures/kubermatic.yaml
  modules/web/hack/e2e/fixtures/oauth_values.yaml
  modules/web/hack/e2e/setup-kubermatic-in-kind.sh
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

update
  modules/web/hack/e2e/setup-kubermatic-in-kind.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Enable CustomDiskSize value based on diskSize existence (#7415)
  modules/web/src/app/node-data/basic/provider/openstack/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Enable CustomDiskSize value based on diskSize existence (#7417)
  modules/web/src/app/node-data/basic/provider/openstack/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Enable CustomDiskSize value based on diskSize existence (#7418)
  modules/web/src/app/node-data/basic/provider/openstack/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix connectors
  hack/ci/run-api-e2e.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Migrate to upstream dex
  hack/ci/run-api-e2e.sh
  hack/ci/setup-kind-cluster.sh
  hack/ci/setup-kubermatic-in-kind.sh
  hack/ci/testdata/dex_values.yaml
  hack/ci/testdata/kubermatic.yaml
  hack/ci/testdata/oauth_values.yaml
  modules/api/pkg/test/e2e/utils/dex/helm.go
  modules/web/cypress/intercept/root.ts
  modules/web/cypress/utils/auth.ts
  modules/web/hack/e2e/fixtures/dex_values.yaml
  modules/web/hack/e2e/fixtures/kubermatic.yaml
  modules/web/hack/e2e/fixtures/oauth_values.yaml
  modules/web/hack/e2e/setup-kind-cluster.sh
  modules/web/hack/e2e/setup-kubermatic-in-kind.sh
  modules/web/src/environments/environment.e2e.local.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Migrate to upstream dex (#7420)
  hack/ci/run-api-e2e.sh
  hack/ci/setup-kind-cluster.sh
  hack/ci/setup-kubermatic-in-kind.sh
  hack/ci/testdata/dex_values.yaml
  hack/ci/testdata/kubermatic.yaml
  hack/ci/testdata/oauth_values.yaml
  modules/api/pkg/test/e2e/utils/dex/helm.go
  modules/web/cypress/intercept/root.ts
  modules/web/cypress/utils/auth.ts
  modules/web/hack/e2e/fixtures/dex_values.yaml
  modules/web/hack/e2e/fixtures/kubermatic.yaml
  modules/web/hack/e2e/fixtures/oauth_values.yaml
  modules/web/hack/e2e/setup-kind-cluster.sh
  modules/web/hack/e2e/setup-kubermatic-in-kind.sh
  modules/web/src/environments/environment.e2e.local.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-api-e2e: any of: modules/api/pkg
  pre-dashboard-api-unit: any of: modules/api
  pre-dashboard-api-lint: any of: modules/api
  pre-dashboard-api-verify: any of: modules/api
  pre-dashboard-web-integration-tests: any of: modules/web
  pre-dashboard-web-integration-tests-ce: any of: modules/web
  pre-dashboard-web-unit: any of: modules/web
  pre-dashboard-web-go-mod-verify: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-lint: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-check: any of: modules/web
