Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$

Integrate API fetch defaults for Clusters (#5426)
  modules/web/cypress/pages/v2/sshkeys/page.ts
  modules/web/src/app/core/services/cluster.ts
  modules/web/src/app/shared/components/chip-list/component.ts
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

remove validators from provider tags for MD (#5383)
  src/app/node-data/component.ts
  src/app/node-data/extended/provider/aws/template.html
  src/app/node-data/extended/provider/azure/template.html
  src/app/node-data/extended/provider/openstack/template.html
  src/app/node-data/extended/provider/vsphere/template.html
  src/app/node-data/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

remove validators from provider tags for MD (#5383) (#5459)
  src/app/node-data/component.ts
  src/app/node-data/extended/provider/aws/template.html
  src/app/node-data/extended/provider/azure/template.html
  src/app/node-data/extended/provider/openstack/template.html
  src/app/node-data/extended/provider/vsphere/template.html
  src/app/node-data/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add support to import GCP KubeOne cluster
  modules/web/src/app/kubeone-wizard/module.ts
  modules/web/src/app/kubeone-wizard/steps/credentials/provider/basic/gcp/component.ts
  modules/web/src/app/kubeone-wizard/steps/credentials/provider/basic/gcp/template.html
  modules/web/src/app/kubeone-wizard/steps/credentials/provider/basic/template.html
  modules/web/src/app/kubeone-wizard/steps/provider/component.ts
  modules/web/src/app/kubeone-wizard/steps/summary/template.html
  modules/web/src/app/shared/entity/kubeone-cluster.ts
  modules/web/src/app/wizard/step/cluster/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

remove validators from provider tags for MD (#5383) (#5459)
  src/app/node-data/component.ts
  src/app/node-data/extended/provider/aws/template.html
  src/app/node-data/extended/provider/azure/template.html
  src/app/node-data/extended/provider/openstack/template.html
  src/app/node-data/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

remove validators from provider tags for MD (#5383) (#5459) (#5461)
  src/app/node-data/component.ts
  src/app/node-data/extended/provider/aws/template.html
  src/app/node-data/extended/provider/azure/template.html
  src/app/node-data/extended/provider/openstack/template.html
  src/app/node-data/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

use view child instead of get element by id
  modules/web/src/app/project-overview/members-overview/component.ts
  modules/web/src/app/project-overview/members-overview/template.html
  modules/web/src/app/project-overview/template.html
  modules/web/src/app/shared/components/labels/component.ts
  modules/web/src/app/shared/components/labels/style.scss
  modules/web/src/app/shared/components/labels/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add KubeOne cluster details page
  modules/web/src/app/cluster/details/external-cluster/external-machine-deployment-list/template.html
  modules/web/src/app/cluster/details/kubeone/component.ts
  modules/web/src/app/cluster/details/kubeone/style.scss
  modules/web/src/app/cluster/details/kubeone/template.html
  modules/web/src/app/cluster/list/external-cluster/component.ts
  modules/web/src/app/cluster/module.ts
  modules/web/src/app/cluster/routing.ts
  modules/web/src/app/core/components/sidenav/component.ts
  modules/web/src/app/core/services/page-title.ts
  modules/web/src/app/shared/components/side-nav-field/component.ts
  modules/web/src/app/shared/entity/common.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add separate component to list KubeOne machine deployments
  modules/web/src/app/cluster/details/kubeone/machine-deployment-list/component.ts
  modules/web/src/app/cluster/details/kubeone/machine-deployment-list/style.scss
  modules/web/src/app/cluster/details/kubeone/machine-deployment-list/template.html
  modules/web/src/app/cluster/details/kubeone/template.html
  modules/web/src/app/cluster/module.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add machine deployment details page for KubeOne cluster
  modules/web/src/app/cluster/details/cluster/machine-deployment-details/cluster-panel/component.ts
  modules/web/src/app/cluster/details/kubeone/machine-deployment-details/component.ts
  modules/web/src/app/cluster/details/kubeone/machine-deployment-details/style.scss
  modules/web/src/app/cluster/details/kubeone/machine-deployment-details/template.html
  modules/web/src/app/cluster/details/kubeone/machine-deployment-list/component.ts
  modules/web/src/app/cluster/module.ts
  modules/web/src/app/cluster/routing.ts
  modules/web/src/app/core/services/page-title.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add separate list page for KubeOne clusters
  modules/web/src/app/cluster/details/kubeone/component.ts
  modules/web/src/app/cluster/details/kubeone/machine-deployment-list/component.ts
  modules/web/src/app/cluster/list/external-cluster/style.scss
  modules/web/src/app/cluster/list/kubeone/component.ts
  modules/web/src/app/cluster/list/kubeone/template.html
  modules/web/src/app/cluster/list/template.html
  modules/web/src/app/cluster/module.ts
  modules/web/src/app/core/components/sidenav/component.ts
  modules/web/src/app/core/components/sidenav/template.html
  modules/web/src/app/core/services/page-title.ts
  modules/web/src/app/kubeone-wizard/component.ts
  modules/web/src/app/kubeone-wizard/template.html
  modules/web/src/app/routing.ts
  modules/web/src/app/shared/components/side-nav-field/component.ts
  modules/web/src/app/shared/entity/common.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Display KubeOne clusters on project overview page
  modules/web/src/app/project-overview/clusters-overview/component.ts
  modules/web/src/app/project-overview/clusters-overview/template.html
  modules/web/src/app/project-overview/create-resource-panel/component.ts
  modules/web/src/app/project-overview/create-resource-panel/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Display provider logo of KubeOne cluster
  modules/web/src/app/cluster/details/kubeone/component.ts
  modules/web/src/app/cluster/details/kubeone/machine-deployment-details/component.ts
  modules/web/src/app/cluster/details/kubeone/machine-deployment-details/style.scss
  modules/web/src/app/cluster/details/kubeone/machine-deployment-details/template.html
  modules/web/src/app/cluster/details/kubeone/template.html
  modules/web/src/app/cluster/list/kubeone/template.html
  modules/web/src/app/project-overview/clusters-overview/component.ts
  modules/web/src/app/project-overview/clusters-overview/template.html
  modules/web/src/app/shared/entity/kubeone-cluster.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Move `cluster-panel` component to `shared` directory
  modules/web/src/app/cluster/details/cluster/machine-deployment-details/component.spec.ts
  modules/web/src/app/cluster/details/shared/cluster-panel/component.ts
  modules/web/src/app/cluster/details/shared/cluster-panel/style.scss
  modules/web/src/app/cluster/details/shared/cluster-panel/template.html
  modules/web/src/app/cluster/details/shared/cluster-panel/theme.scss
  modules/web/src/app/cluster/module.ts
  modules/web/src/assets/css/theme/_component.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Display custom message for KubeOne clusters in quota widget
  modules/web/src/app/cluster/list/kubeone/component.ts
  modules/web/src/app/cluster/list/kubeone/template.html
  modules/web/src/app/dynamic/enterprise/quotas/quota-widget/component.ts
  modules/web/src/app/dynamic/enterprise/quotas/quota-widget/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Create separate component for cluster metrics
  modules/web/src/app/cluster/details/external-cluster/template.html
  modules/web/src/app/cluster/details/kubeone/template.html
  modules/web/src/app/cluster/details/shared/cluster-metrics/component.ts
  modules/web/src/app/cluster/details/shared/cluster-metrics/template.html
  modules/web/src/app/cluster/module.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add separate list and details pages for KubeOne clusters (#5412)
  modules/web/src/app/cluster/details/cluster/machine-deployment-details/component.spec.ts
  modules/web/src/app/cluster/details/external-cluster/style.scss
  modules/web/src/app/cluster/details/external-cluster/template.html
  modules/web/src/app/cluster/details/kubeone/component.ts
  modules/web/src/app/cluster/details/kubeone/machine-deployment-details/component.ts
  modules/web/src/app/cluster/details/kubeone/machine-deployment-details/style.scss
  modules/web/src/app/cluster/details/kubeone/machine-deployment-details/template.html
  modules/web/src/app/cluster/details/kubeone/machine-deployment-list/component.ts
  modules/web/src/app/cluster/details/kubeone/machine-deployment-list/style.scss
  modules/web/src/app/cluster/details/kubeone/machine-deployment-list/template.html
  modules/web/src/app/cluster/details/kubeone/style.scss
  modules/web/src/app/cluster/details/kubeone/template.html
  modules/web/src/app/cluster/details/shared/cluster-metrics/component.ts
  modules/web/src/app/cluster/details/shared/cluster-metrics/template.html
  modules/web/src/app/cluster/details/shared/cluster-panel/component.ts
  modules/web/src/app/cluster/details/shared/cluster-panel/style.scss
  modules/web/src/app/cluster/details/shared/cluster-panel/template.html
  modules/web/src/app/cluster/details/shared/cluster-panel/theme.scss
  modules/web/src/app/cluster/list/kubeone/component.ts
  modules/web/src/app/cluster/list/kubeone/template.html
  modules/web/src/app/cluster/list/template.html
  modules/web/src/app/cluster/module.ts
  modules/web/src/app/cluster/routing.ts
  modules/web/src/app/core/components/sidenav/component.ts
  modules/web/src/app/core/components/sidenav/template.html
  modules/web/src/app/core/services/page-title.ts
  modules/web/src/app/dynamic/enterprise/quotas/quota-widget/component.ts
  modules/web/src/app/dynamic/enterprise/quotas/quota-widget/template.html
  modules/web/src/app/kubeone-wizard/component.ts
  modules/web/src/app/kubeone-wizard/template.html
  modules/web/src/app/project-overview/clusters-overview/component.ts
  modules/web/src/app/project-overview/clusters-overview/template.html
  modules/web/src/app/project-overview/create-resource-panel/component.ts
  modules/web/src/app/project-overview/create-resource-panel/template.html
  modules/web/src/app/routing.ts
  modules/web/src/app/shared/components/side-nav-field/component.ts
  modules/web/src/app/shared/entity/common.ts
  modules/web/src/assets/css/theme/_component.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

remove validators from provider tags for MD (#5383) (#5461)
  src/app/node-data/component.ts
  src/app/node-data/extended/provider/aws/template.html
  src/app/node-data/extended/provider/azure/template.html
  src/app/node-data/extended/provider/openstack/template.html
  src/app/node-data/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

remove validators from provider tags for MD (#5383) (#5461) (#5462)
  src/app/node-data/component.ts
  src/app/node-data/extended/provider/aws/template.html
  src/app/node-data/extended/provider/azure/template.html
  src/app/node-data/extended/provider/openstack/template.html
  src/app/node-data/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Modify Project Overview (#5455)
  modules/web/src/app/project-overview/members-overview/component.ts
  modules/web/src/app/project-overview/members-overview/template.html
  modules/web/src/app/project-overview/providers-overview/template.html
  modules/web/src/app/project-overview/template.html
  modules/web/src/app/project/component.ts
  modules/web/src/app/project/template.html
  modules/web/src/app/shared/components/labels/component.ts
  modules/web/src/app/shared/components/labels/style.scss
  modules/web/src/app/shared/components/labels/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Redirect to KubeOne clusters list page after disconnect
  modules/web/src/app/core/services/external-cluster.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Redirect to KubeOne clusters list page after disconnect (#5466)
  modules/web/src/app/core/services/external-cluster.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update minimum replicas count value to `0`
  modules/web/src/app/node-data/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update minimum replicas count value to `0` (#5467)
  modules/web/src/app/node-data/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update minimum replicas count value to `0`
  src/app/node-data/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update kubeone api spec
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster.go
  modules/api/pkg/handler/v2/external_cluster/kubeone.go
  modules/api/pkg/kubernetes/helper.go
  modules/api/pkg/provider/kubernetes/credentials.go
  modules/api/pkg/provider/kubernetes/external_cluster.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update minimum replicas count value to `0` (#5468)
  src/app/node-data/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add externalcluster label to cluster
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/test/fake_provider.go
  modules/api/pkg/handler/v2/external_cluster/aks.go
  modules/api/pkg/handler/v2/external_cluster/eks.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster.go
  modules/api/pkg/handler/v2/external_cluster/gke.go
  modules/api/pkg/handler/v2/external_cluster/kubeone.go
  modules/api/pkg/provider/kubernetes/credentials.go
  modules/api/pkg/provider/kubernetes/external_cluster.go
  modules/api/pkg/provider/kubernetes/external_cluster_test.go
  modules/api/pkg/provider/types.go
  modules/api/pkg/resources/reconciling/zz_generated_reconcile.go
  modules/api/pkg/test/e2e/utils/apiclient/models/external_cluster_a_w_s_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/external_cluster_azure_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/external_cluster_digital_ocean_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/external_cluster_equinix_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/external_cluster_g_c_p_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/external_cluster_hetzner_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/external_cluster_nutanix_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/external_cluster_open_stack_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/external_cluster_v_mware_cloud_director_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/external_cluster_v_sphere_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_one_a_w_s_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_one_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_one_digital_ocean_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_one_equinix_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_one_g_c_p_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_one_hetzner_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_one_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_one_v_mware_cloud_director_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_one_v_sphere_cloud_spec.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update hack scripts
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/handler/v2/external_cluster/kubeone.go
  modules/api/pkg/kubernetes/helper.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_kubevirt.go
  modules/api/pkg/test/e2e/utils/apiclient/models/external_cluster_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/http_source.go
  modules/api/pkg/test/e2e/utils/apiclient/models/image_cloning.go
  modules/api/pkg/test/e2e/utils/apiclient/models/image_sources.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_one_cluster_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_one_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kubevirt_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/o_s_versions.go
  modules/api/pkg/test/e2e/utils/apiclient/models/pre_allocated_data_volume.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

move containerruntime to spec
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster.go
  modules/api/pkg/handler/v2/external_cluster/kubeone.go
  modules/api/pkg/test/e2e/utils/apiclient/models/external_cluster_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_one_cluster_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_one_spec.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

code review
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/ee/resource-quota/handler.go
  modules/api/pkg/ee/resource-quota/handler_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

gen swagger/api client
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/test/e2e/utils/apiclient/models/resource_quota.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

added kubevirt resource quota calculation
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/ee/resource-quota/handler.go
  modules/api/pkg/ee/resource-quota/handler_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

gen swagger/api client
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/test/e2e/utils/apiclient/client/project/calculate_project_resource_quota_update_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kubevirt_node_size.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix imports
  modules/api/pkg/ee/resource-quota/handler.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

simplification
  modules/api/pkg/ee/resource-quota/handler.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Handle default resource quotas (#5450)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/ee/resource-quota/handler.go
  modules/api/pkg/ee/resource-quota/handler_test.go
  modules/api/pkg/test/e2e/utils/apiclient/models/resource_quota.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Anexia: fix panic when configuring Node Pool with new Disks attribute
  modules/api/pkg/resources/machine/common.go
  modules/api/pkg/resources/machine/common_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

bump KKP to 2fa3f8f46894
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/provider/kubernetes/credentials.go
  modules/api/pkg/provider/kubernetes/external_cluster.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

update test fixtures for canal 3.24
  modules/api/pkg/handler/v1/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce
