Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-go-mod-verify, pre-dashboard-web-lint, pre-dashboard-web-check

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-api-e2e: any of: modules/api/pkg
  pre-dashboard-api-unit: any of: modules/api
  pre-dashboard-api-lint: any of: modules/api
  pre-dashboard-api-verify: any of: modules/api
  pre-dashboard-web-integration-tests: any of: modules/web
  pre-dashboard-web-integration-tests-ce: any of: modules/web
  pre-dashboard-web-unit: any of: modules/web
  pre-dashboard-web-go-mod-verify: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-lint: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-check: any of: modules/web

fix(web): stop extra empty rows in static labels form
  modules/web/src/app/settings/admin/defaults/static-labels-form/component.spec.ts
  modules/web/src/app/settings/admin/defaults/static-labels-form/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix(tests): update static labels form tests to use constants for row counts
  modules/web/src/app/settings/admin/defaults/static-labels-form/component.spec.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.30] Synchronize OWNERS_ALIASES file with Github teams (#8321)
  OWNERS_ALIASES
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.29] Synchronize OWNERS_ALIASES file with Github teams (#8320)
  OWNERS_ALIASES
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.31] Synchronize OWNERS_ALIASES file with Github teams (#8322)
  OWNERS_ALIASES
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Synchronize OWNERS_ALIASES file with Github teams (#8319)
  OWNERS_ALIASES
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.31] Fix extra empty rows in admin static labels form (#8325)
  modules/web/src/app/settings/admin/defaults/static-labels-form/component.spec.ts
  modules/web/src/app/settings/admin/defaults/static-labels-form/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.30] Fix extra empty rows in admin static labels form (#8326)
  modules/web/src/app/settings/admin/defaults/static-labels-form/component.spec.ts
  modules/web/src/app/settings/admin/defaults/static-labels-form/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.29] Fix extra empty rows in admin static labels form (#8327)
  modules/web/src/app/settings/admin/defaults/static-labels-form/component.spec.ts
  modules/web/src/app/settings/admin/defaults/static-labels-form/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.30] Bump containerd and grpc (#8328)
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

ci(prow): run chrome-headless tag gate on release branches
  .prow/common.yaml
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

ci(prow): run web-terminal tag gate on release branches
  .prow/common.yaml
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

feat(ci): automate chrome-headless image release (#8293)
  .prow/common.yaml
  hack/verify-chrome-headless-tag.sh
  modules/web/containers/chrome-headless/metadata.yaml
  modules/web/containers/chrome-headless/release.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Bump Go version to 1.27.1
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/go.mod
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/custom-dashboard/Dockerfile
  modules/web/go.mod
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-go-mod-verify, pre-dashboard-web-lint, pre-dashboard-web-check

Bump the go-1.27 build image pins to suffix 2
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/custom-dashboard/Dockerfile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

add-PKCE-to-all-oidc-flows
  modules/api/pkg/handler/auth/oidc.go
  modules/api/pkg/handler/common/kubeconfig.go
  modules/api/pkg/handler/test/fake_auth.go
  modules/api/pkg/handler/v1/cluster/kubeconfig_test.go
  modules/api/pkg/handler/v2/authflow/handler.go
  modules/api/pkg/handler/v2/authflow/handler_test.go
  modules/api/pkg/handler/v2/kubernetes-dashboard/login.go
  modules/api/pkg/handler/v2/kubernetes-dashboard/login_test.go
  modules/api/pkg/handler/v2/kubernetes-dashboard/response.go
  modules/api/pkg/handler/v2/webterminal/webterminal_test.go
  modules/api/pkg/provider/auth/types/types.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

ci(prow): run web-terminal tag gate on release branches (#8333)
  .prow/common.yaml
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

ci(prow): run chrome-headless tag gate on release branches (#8334)
  .prow/common.yaml
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

feat(ci): automate chrome-headless image release (#8293) (#8341)
  .prow/common.yaml
  hack/verify-chrome-headless-tag.sh
  modules/web/containers/chrome-headless/metadata.yaml
  modules/web/containers/chrome-headless/release.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

feat(ci): automate chrome-headless image release (#8293) (#8340)
  .prow/common.yaml
  hack/verify-chrome-headless-tag.sh
  modules/web/containers/chrome-headless/metadata.yaml
  modules/web/containers/chrome-headless/release.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

feat(ci): automate chrome-headless image release (#8293) (#8339)
  .prow/common.yaml
  hack/verify-chrome-headless-tag.sh
  modules/web/containers/chrome-headless/metadata.yaml
  modules/web/containers/chrome-headless/release.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Automate web-terminal image releases (#8178)
  .prow/common.yaml
  hack/images/web-terminal/metadata.yaml
  hack/images/web-terminal/release.sh
  hack/verify-web-terminal-tag.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix(validators): update Cluster_BACKUP_EXPIRES_IN regex pattern for improved validation
  modules/web/src/app/shared/validators/others.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Bump KKP Go dependencies to latest commit
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/test/e2e/utils/apiclient/models/condition.go
  modules/api/pkg/test/e2e/utils/apiclient/models/condition_status.go
  modules/api/pkg/test/e2e/utils/apiclient/models/config_map_key_selector.go
  modules/api/pkg/test/e2e/utils/apiclient/models/ip_block.go
  modules/api/pkg/test/e2e/utils/apiclient/models/network_policy_egress_rule.go
  modules/api/pkg/test/e2e/utils/apiclient/models/network_policy_ingress_rule.go
  modules/api/pkg/test/e2e/utils/apiclient/models/network_policy_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_rule.go
  modules/api/pkg/test/e2e/utils/apiclient/models/raw_extension.go
  modules/api/pkg/test/e2e/utils/apiclient/models/subject.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Bump KKP Go dependencies to latest commit (#8347)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/test/e2e/utils/apiclient/models/condition.go
  modules/api/pkg/test/e2e/utils/apiclient/models/condition_status.go
  modules/api/pkg/test/e2e/utils/apiclient/models/config_map_key_selector.go
  modules/api/pkg/test/e2e/utils/apiclient/models/ip_block.go
  modules/api/pkg/test/e2e/utils/apiclient/models/network_policy_egress_rule.go
  modules/api/pkg/test/e2e/utils/apiclient/models/network_policy_ingress_rule.go
  modules/api/pkg/test/e2e/utils/apiclient/models/network_policy_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_rule.go
  modules/api/pkg/test/e2e/utils/apiclient/models/raw_extension.go
  modules/api/pkg/test/e2e/utils/apiclient/models/subject.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Automate web-terminal image releases (#8178) (#8332)
  .prow/common.yaml
  hack/images/web-terminal/metadata.yaml
  hack/images/web-terminal/release.sh
  hack/verify-web-terminal-tag.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.29] Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.30] Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.31] Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix(validators): accept go durations for backup ttl and sync period
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/add-dialog/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/add-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/add-dialog/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/import-dialog/template.html
  modules/web/src/app/shared/validators/others.spec.ts
  modules/web/src/app/shared/validators/others.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Verify OIDC nonce and share OAuth state helpers across auth flows
  modules/api/pkg/handler/auth/oauth_state.go
  modules/api/pkg/handler/auth/oidc.go
  modules/api/pkg/handler/auth/oidc_test.go
  modules/api/pkg/handler/common/kubeconfig.go
  modules/api/pkg/handler/test/fake_auth.go
  modules/api/pkg/handler/test/helper.go
  modules/api/pkg/handler/v1/cluster/kubeconfig_test.go
  modules/api/pkg/handler/v2/authflow/handler.go
  modules/api/pkg/handler/v2/authflow/handler_test.go
  modules/api/pkg/handler/v2/kubernetes-dashboard/login.go
  modules/api/pkg/handler/v2/kubernetes-dashboard/login_test.go
  modules/api/pkg/handler/v2/kubernetes-dashboard/response.go
  modules/api/pkg/handler/v2/webterminal/webterminal_test.go
  modules/api/pkg/provider/auth/types/types.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

[release/v2.31] Synchronize OWNERS_ALIASES file with Github teams (#8351)
  OWNERS_ALIASES
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix(cluster-backup): show ttl in schedule list
  modules/api/pkg/ee/clusterbackup/schedule/handler.go
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/schedule/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/schedule/template.html
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.30] Synchronize OWNERS_ALIASES file with Github teams (#8350)
  OWNERS_ALIASES
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.29] Synchronize OWNERS_ALIASES file with Github teams (#8349)
  OWNERS_ALIASES
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Synchronize OWNERS_ALIASES file with Github teams (#8348)
  OWNERS_ALIASES
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce
