Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$

KubeVirt fix swagger list preferences missing parameter (#5279)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-api-client.sh
  modules/api/hack/verify-import-order.sh
  modules/api/hack/verify-licenses.sh
  modules/api/hack/verify-swagger.sh
  modules/api/pkg/handler/v2/provider/kubevirt.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_kube_virt_preferences_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/models/application_ref.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kubevirt_node_spec.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Refactor seed's overview based on the design view
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/v2/seedoverview/seedoverview.go
  modules/api/pkg/handler/v2/seedoverview/seedoverview_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update swagger & api-client
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/test/e2e/utils/apiclient/models/application_ref.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kubevirt_node_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/seed_overview.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix spellcheck
  modules/api/pkg/handler/v2/seedoverview/seedoverview.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add functionality to select categories in nutanix cluster
  modules/web/src/app/core/services/node-data/provider/nutanix.ts
  modules/web/src/app/core/services/provider/nutanix.ts
  modules/web/src/app/core/services/wizard/provider/nutanix.ts
  modules/web/src/app/node-data/basic/provider/nutanix/component.ts
  modules/web/src/app/node-data/basic/provider/nutanix/style.scss
  modules/web/src/app/node-data/basic/provider/nutanix/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Display nutanix categories on cluster summary page
  modules/web/src/app/shared/components/cluster-summary/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Display nutanix categories on machine deployment details page
  modules/web/src/app/cluster/details/cluster/machine-deployment-details/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add support for Nutanix categories (#5275)
  modules/web/src/app/cluster/details/cluster/machine-deployment-details/template.html
  modules/web/src/app/core/services/node-data/provider/nutanix.ts
  modules/web/src/app/core/services/provider/nutanix.ts
  modules/web/src/app/core/services/wizard/provider/nutanix.ts
  modules/web/src/app/node-data/basic/provider/nutanix/component.ts
  modules/web/src/app/node-data/basic/provider/nutanix/style.scss
  modules/web/src/app/node-data/basic/provider/nutanix/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove Nutanix system categories from api response
  modules/api/pkg/machine/convert.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Allow "Open Dashboard" button based on available feature gates enabled
  modules/web/src/app/core/services/feature-gate.ts
  modules/web/src/app/settings/admin/interface/component.ts
  modules/web/src/app/settings/admin/interface/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Allow "Open Dashboard" button based on available feature gates enabled (#5250)
  modules/web/src/app/core/services/feature-gate.ts
  modules/web/src/app/settings/admin/interface/component.ts
  modules/web/src/app/settings/admin/interface/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Reflection replaced with simple switch statement
  modules/api/pkg/handler/v1/dc/datacenter.go
  modules/api/pkg/handler/v2/seedoverview/seedoverview.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

comment update
  modules/api/pkg/handler/v2/seedoverview/seedoverview.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

update unit tests with new error message
  modules/api/pkg/handler/v1/dc/datacenter_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add fake provider to GetProviderName func to fix unit test
  modules/api/pkg/handler/v1/dc/datacenter.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Updated Seed's overview endpoint (#5280)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/v1/dc/datacenter.go
  modules/api/pkg/handler/v1/dc/datacenter_test.go
  modules/api/pkg/handler/v2/seedoverview/seedoverview.go
  modules/api/pkg/handler/v2/seedoverview/seedoverview_test.go
  modules/api/pkg/test/e2e/utils/apiclient/models/application_ref.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kubevirt_node_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/seed_overview.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Synchronize OWNERS_ALIASES file with Github teams (#5284)
  OWNERS_ALIASES
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove Nutanix system categories from api response (#5282)
  modules/api/pkg/machine/convert.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add functionality to display individual seed configuration details
  modules/web/src/app/core/services/datacenter.ts
  modules/web/src/app/settings/admin/nav/template.html
  modules/web/src/app/settings/admin/routing.ts
  modules/web/src/app/settings/admin/seed-configurations/clusters-by-datacenter/component.ts
  modules/web/src/app/settings/admin/seed-configurations/clusters-by-datacenter/style.scss
  modules/web/src/app/settings/admin/seed-configurations/clusters-by-datacenter/template.html
  modules/web/src/app/settings/admin/seed-configurations/component.ts
  modules/web/src/app/settings/admin/seed-configurations/module.ts
  modules/web/src/app/settings/admin/seed-configurations/routing.ts
  modules/web/src/app/settings/admin/seed-configurations/seed-configurations-details/component.ts
  modules/web/src/app/settings/admin/seed-configurations/seed-configurations-details/style.scss
  modules/web/src/app/settings/admin/seed-configurations/seed-configurations-details/template.html
  modules/web/src/app/settings/admin/seed-configurations/style.scss
  modules/web/src/app/settings/admin/seed-configurations/template.html
  modules/web/src/app/shared/entity/datacenter.ts
  modules/web/src/app/shared/utils/seed-configurations.ts
  modules/web/src/assets/css/_images.scss
  modules/web/src/assets/images/icons/seed.svg
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Replace `VM Flavor` with `Interface Type` and `Preference` in kubevirt node settings
  modules/web/src/app/core/services/node-data/provider/kubevirt.ts
  modules/web/src/app/core/services/provider/kubevirt.ts
  modules/web/src/app/core/services/wizard/provider/kubevirt.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/template.html
  modules/web/src/app/shared/entity/node.ts
  modules/web/src/app/shared/entity/provider/kubevirt.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add routing to externalclusters tab
  modules/web/src/app/cluster/details/external-cluster/component.ts
  modules/web/src/app/cluster/list/component.ts
  modules/web/src/app/cluster/list/template.html
  modules/web/src/app/core/components/sidenav/template.html
  modules/web/src/app/core/components/sidenav/theme.scss
  modules/web/src/app/core/services/external-cluster.ts
  modules/web/src/app/external-cluster-wizard/component.ts
  modules/web/src/app/project-overview/clusters-overview/component.ts
  modules/web/src/app/routing.ts
  modules/web/src/app/settings/admin/nav/theme.scss
  modules/web/src/app/shared/entity/common.ts
  modules/web/src/app/shared/module.ts
  modules/web/src/assets/css/theme/_component.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fixing e2e tests
  modules/web/cypress/e2e/v2/stories/admin-settings/defaults.spec.ts
  modules/web/cypress/e2e/v2/stories/members.spec.ts
  modules/web/cypress/e2e/v2/stories/service-accounts.spec.ts
  modules/web/cypress/e2e/v2/stories/ssh-keys.spec.ts
  modules/web/cypress/pages/v2/clusters/list/page.ts
  modules/web/cypress/pages/v2/members/page.ts
  modules/web/src/app/core/components/sidenav/component.spec.ts
  modules/web/src/app/core/components/sidenav/template.html
  modules/web/src/app/member/component.spec.ts
  modules/web/src/app/shared/components/side-nav-field/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

overall adjustments
  modules/web/src/app/backup/list/component.ts
  modules/web/src/app/backup/list/template.html
  modules/web/src/app/cluster/list/component.ts
  modules/web/src/app/cluster/list/template.html
  modules/web/src/app/core/components/sidenav/component.ts
  modules/web/src/app/core/components/sidenav/template.html
  modules/web/src/app/member/component.ts
  modules/web/src/app/member/template.html
  modules/web/src/app/routing.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add all the side nav field and the menu tab
  modules/web/src/app/backup/list/template.html
  modules/web/src/app/cluster/details/external-cluster/component.ts
  modules/web/src/app/cluster/list/component.ts
  modules/web/src/app/cluster/list/template.html
  modules/web/src/app/core/components/sidenav/component.ts
  modules/web/src/app/core/components/sidenav/style.scss
  modules/web/src/app/core/components/sidenav/template.html
  modules/web/src/app/core/components/sidenav/theme.scss
  modules/web/src/app/core/services/external-cluster.ts
  modules/web/src/app/dynamic/enterprise/group/template.html
  modules/web/src/app/member/component.ts
  modules/web/src/app/member/template.html
  modules/web/src/app/project-overview/clusters-overview/component.ts
  modules/web/src/app/routing.ts
  modules/web/src/app/shared/components/side-nav-field/component.ts
  modules/web/src/app/shared/components/side-nav-field/style.scss
  modules/web/src/app/shared/components/side-nav-field/template.html
  modules/web/src/app/shared/components/side-nav-field/theme.scss
  modules/web/src/app/shared/entity/common.ts
  modules/web/src/assets/css/theme/_component.scss
  src/app/shared/components/side-nav-field/style.scss
  src/app/shared/components/side-nav-field/theme.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add side-nav-field component
  src/app/shared/components/side-nav-field/component.ts
  src/app/shared/components/side-nav-field/style.scss
  src/app/shared/components/side-nav-field/template.html
  src/app/shared/components/side-nav-field/theme.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add the collapsed button to the side-nav-field component
  modules/web/src/app/backup/list/component.ts
  modules/web/src/app/backup/list/template.html
  modules/web/src/app/cluster/details/cluster/machine-deployment-details/cluster-panel/component.ts
  modules/web/src/app/cluster/details/external-cluster/component.ts
  modules/web/src/app/cluster/details/external-cluster/external-machine-deployment-details/component.ts
  modules/web/src/app/cluster/details/external-cluster/external-machine-deployment-list/component.ts
  modules/web/src/app/cluster/list/component.ts
  modules/web/src/app/cluster/list/external-cluster/component.ts
  modules/web/src/app/cluster/list/template.html
  modules/web/src/app/cluster/routing.ts
  modules/web/src/app/core/components/sidenav/component.ts
  modules/web/src/app/core/components/sidenav/style.scss
  modules/web/src/app/core/components/sidenav/template.html
  modules/web/src/app/core/components/sidenav/theme.scss
  modules/web/src/app/core/services/external-cluster.ts
  modules/web/src/app/core/services/page-title.ts
  modules/web/src/app/member/component.ts
  modules/web/src/app/member/template.html
  modules/web/src/app/project-overview/clusters-overview/component.ts
  modules/web/src/app/routing.ts
  modules/web/src/app/shared/components/add-external-cluster-dialog/component.ts
  modules/web/src/app/shared/components/side-nav-field/component.ts
  modules/web/src/app/shared/components/side-nav-field/style.scss
  modules/web/src/app/shared/components/side-nav-field/template.html
  modules/web/src/app/shared/components/side-nav-field/theme.scss
  modules/web/src/app/shared/entity/common.ts
  modules/web/src/app/shared/module.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[TEST] unit-test failures
  modules/web/Makefile
  modules/web/cmd/dashboard/main.go
  modules/web/package.json
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

test
  modules/web/package-lock.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

test
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix versioning for dashboard metrics wrapper
  modules/web/Makefile
  modules/web/cmd/dashboard/main.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Display `Instance Type` and `Preference` on cluster-summary and node-list details page
  modules/web/src/app/cluster/details/cluster/node-list/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update flavor details dialog to display instance type and preference details
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/instance-details/component.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/instance-details/style.scss
  modules/web/src/app/node-data/basic/provider/kubevirt/instance-details/template.html
  modules/web/src/app/node-data/basic/provider/kubevirt/style.scss
  modules/web/src/app/node-data/basic/provider/kubevirt/template.html
  modules/web/src/app/node-data/module.ts
  modules/web/src/app/shared/entity/provider/kubevirt.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix versioning for dashboard metrics wrapper (#5291)
  modules/web/Makefile
  modules/web/cmd/dashboard/main.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Rename component and interface
  modules/web/src/app/settings/admin/seed-configurations/clusters-by-datacenter/component.ts
  modules/web/src/app/settings/admin/seed-configurations/clusters-by-datacenter/template.html
  modules/web/src/app/settings/admin/seed-configurations/component.ts
  modules/web/src/app/settings/admin/seed-configurations/module.ts
  modules/web/src/app/settings/admin/seed-configurations/routing.ts
  modules/web/src/app/settings/admin/seed-configurations/seed-configurations-details/component.ts
  modules/web/src/app/settings/admin/seed-configurations/seed-configurations-details/template.html
  modules/web/src/app/settings/admin/seed-configurations/template.html
  modules/web/src/app/settings/admin/seed-configurations/types/seed-configurations.ts
  modules/web/src/app/shared/entity/datacenter.ts
  modules/web/src/app/shared/utils/seed-configurations.ts
  modules/web/src/assets/css/global/_main.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Replace flavor with instance type and preference in KubeVirt provider (#5289)
  modules/web/src/app/cluster/details/cluster/node-list/template.html
  modules/web/src/app/core/services/node-data/provider/kubevirt.ts
  modules/web/src/app/core/services/provider/kubevirt.ts
  modules/web/src/app/core/services/wizard/provider/kubevirt.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/instance-details/component.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/instance-details/style.scss
  modules/web/src/app/node-data/basic/provider/kubevirt/instance-details/template.html
  modules/web/src/app/node-data/basic/provider/kubevirt/style.scss
  modules/web/src/app/node-data/basic/provider/kubevirt/template.html
  modules/web/src/app/node-data/module.ts
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/entity/node.ts
  modules/web/src/app/shared/entity/provider/kubevirt.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Ignore OWNERS file in modules/web repo
  modules/web/license-checker-config.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Display instance type and preference category instead of `kind`
  modules/web/src/app/cluster/details/cluster/node-list/component.ts
  modules/web/src/app/cluster/details/cluster/node-list/template.html
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
  modules/web/src/app/shared/components/cluster-summary/component.ts
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/entity/provider/kubevirt.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Display tooltip on hidden providers in list page and update method name
  modules/web/src/app/settings/admin/seed-configurations/component.ts
  modules/web/src/app/settings/admin/seed-configurations/seed-configurations-details/component.ts
  modules/web/src/app/settings/admin/seed-configurations/seed-configurations-details/template.html
  modules/web/src/app/settings/admin/seed-configurations/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove API related directories now that its in separate module.
  modules/web/license-checker-config.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce
