Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$

Update external cluster statuses
  src/app/shared/entity/external-cluster.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update external cluster statuses (#4360)
  src/app/shared/entity/external-cluster.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add button component
  src/app/shared/components/add-project-dialog/template.html
  src/app/shared/components/button/component.ts
  src/app/shared/components/button/style.scss
  src/app/shared/components/button/template.html
  src/app/shared/module.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add throttle
  src/app/core/components/help-panel/component.ts
  src/app/shared/components/add-project-dialog/template.html
  src/app/shared/components/button/component.ts
  src/app/shared/components/button/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Hide spinner
  src/app/shared/components/add-project-dialog/component.ts
  src/app/shared/components/add-project-dialog/template.html
  src/app/shared/components/button/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Initial e2e rewrite
  cypress/fixtures/empty-array.json
  cypress/fixtures/empty-object.json
  cypress/integration/stories/v2/service-accounts.spec.ts
  cypress/pages/v2/pages.ts
  cypress/pages/v2/projects/page.ts
  cypress/pages/v2/projects/state/factory.ts
  cypress/pages/v2/projects/state/mocked.ts
  cypress/pages/v2/projects/state/real.ts
  cypress/pages/v2/projects/state/types.ts
  cypress/pages/v2/root/page.ts
  cypress/pages/v2/root/strategy/factory.ts
  cypress/pages/v2/root/strategy/mocked.ts
  cypress/pages/v2/root/strategy/real.ts
  cypress/pages/v2/root/strategy/types.ts
  cypress/pages/v2/serviceaccounts/page.ts
  cypress/pages/v2/serviceaccounts/state/factory.ts
  cypress/pages/v2/serviceaccounts/state/mocked.ts
  cypress/pages/v2/serviceaccounts/state/real.ts
  cypress/pages/v2/serviceaccounts/state/types.ts
  cypress/pages/v2/types.ts
  cypress/support/index.ts
  cypress/tsconfig.e2e.json
  cypress/utils/auth.ts
  cypress/utils/condition.ts
  cypress/utils/config.ts
  cypress/utils/mocks.ts
  cypress/utils/view.ts
  package.json
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Small refactoring
  cypress/integration/stories/v2/service-accounts.spec.ts
  cypress/pages/v2/pages.ts
  cypress/pages/v2/root/strategy/mocked.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Revert package.json change and update ignored tests
  cypress/integration/stories/service-accounts.spec.ts
  cypress/pages/v2/projects/state/mocked.ts
  cypress/plugins/index.ts
  package.json
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Rename
  cypress/pages/v2/projects/page.ts
  cypress/pages/v2/projects/state/factory.ts
  cypress/pages/v2/projects/state/mocked.ts
  cypress/pages/v2/projects/state/real.ts
  cypress/pages/v2/projects/strategy/factory.ts
  cypress/pages/v2/projects/strategy/mocked.ts
  cypress/pages/v2/projects/strategy/real.ts
  cypress/pages/v2/projects/strategy/types.ts
  cypress/pages/v2/serviceaccounts/page.ts
  cypress/pages/v2/serviceaccounts/state/factory.ts
  cypress/pages/v2/serviceaccounts/state/mocked.ts
  cypress/pages/v2/serviceaccounts/state/real.ts
  cypress/pages/v2/serviceaccounts/state/types.ts
  cypress/pages/v2/serviceaccounts/strategy/factory.ts
  cypress/pages/v2/serviceaccounts/strategy/mocked.ts
  cypress/pages/v2/serviceaccounts/strategy/real.ts
  cypress/pages/v2/serviceaccounts/strategy/types.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

few adjustments
  src/app/cluster/list/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

using fragment instead of service
  src/app/cluster/details/external-cluster/component.ts
  src/app/cluster/list/component.ts
  src/app/cluster/list/template.html
  src/app/core/components/sidenav/component.ts
  src/app/core/components/sidenav/template.html
  src/app/core/services/cluster.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

intercepting the Endpoint.ExternalCluster Endpoint
  cypress/pages/clusters.po.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add enum
  src/app/cluster/details/external-cluster/component.ts
  src/app/cluster/list/component.ts
  src/app/cluster/list/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix e2e test for external cluster
  cypress/integration/stories/external-cluster.spec.ts
  cypress/pages/clusters.po.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

redirect to external cluster view after disconnect
  src/app/cluster/details/external-cluster/component.ts
  src/app/cluster/list/component.ts
  src/app/cluster/list/template.html
  src/app/core/components/sidenav/component.ts
  src/app/core/services/cluster.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

enum name fixing
  src/app/cluster/details/external-cluster/component.ts
  src/app/cluster/list/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fixing some test error
  src/app/core/components/sidenav/component.ts
  src/app/core/components/sidenav/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump to 2.19.3 version
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Small refactoring
  cypress/integration/stories/v2/ssh-keys.spec.ts
  cypress/pages/v2/projects/page.ts
  cypress/pages/v2/projects/strategy/factory.ts
  cypress/pages/v2/projects/strategy/mocked.ts
  cypress/pages/v2/projects/strategy/real.ts
  cypress/pages/v2/serviceaccounts/page.ts
  cypress/pages/v2/serviceaccounts/strategy/factory.ts
  cypress/pages/v2/serviceaccounts/strategy/real.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump to 2.19.3 version (#4365)
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Refactor button component
  src/app/shared/components/add-project-dialog/component.ts
  src/app/shared/components/add-project-dialog/template.html
  src/app/shared/components/button/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Use for service account creation
  src/app/serviceaccount/create-dialog/component.ts
  src/app/serviceaccount/create-dialog/template.html
  src/app/shared/components/button/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Use for service account creation
  src/app/serviceaccount/create-dialog/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Use for adding members
  src/app/member/add-member/component.ts
  src/app/member/add-member/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix the non-mocked e2e logic
  cypress/integration/stories/v2/service-accounts.spec.ts
  cypress/integration/stories/v2/ssh-keys.spec.ts
  cypress/pages/v2/dex/page.ts
  cypress/pages/v2/pages.ts
  cypress/pages/v2/projects/page.ts
  cypress/pages/v2/root/page.ts
  cypress/pages/v2/root/strategy/factory.ts
  cypress/pages/v2/root/strategy/real.ts
  cypress/utils/view.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add autofocus
  src/app/member/add-member/template.html
  src/app/serviceaccount/create-dialog/template.html
  src/app/shared/components/add-project-dialog/template.html
  src/app/shared/components/add-ssh-key-dialog/template.html
  src/app/shared/directives/autofocus/directive-autofoocusDiallog.ts
  src/app/shared/module.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

auto focus dialog
  src/app/shared/directives/autofocus/directive-autofoocusDiallog.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fixing directives array
  src/app/shared/module.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update mocks to use list view for projects
  cypress/utils/mocks.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Use for creating clusters from template
  src/app/shared/components/cluster-from-template/dialog/component.ts
  src/app/shared/components/cluster-from-template/dialog/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Use for adding external clusters
  src/app/shared/components/add-external-cluster-dialog/component.ts
  src/app/shared/components/add-external-cluster-dialog/steps/service.ts
  src/app/shared/components/add-external-cluster-dialog/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove kind cache
  hack/e2e/setup-kind-cluster.sh
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Use for creating clusters from template
  src/app/shared/components/add-cluster-from-template-dialog/component.ts
  src/app/shared/components/add-cluster-from-template-dialog/template.html
  src/app/shared/components/add-external-cluster-dialog/steps/service.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Correct version
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Format files
  src/app/shared/components/add-cluster-from-template-dialog/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump chrome-headless version to use latest kind
  .prow.yaml
  containers/chrome-headless/Dockerfile
  containers/chrome-headless/release.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update user fixture for full tests
  hack/e2e/fixtures/user.yaml
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Set default cypress timeouts to 60s
  cypress.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce
