Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$

Support for configuring dashboard notification settings (#5228)
  cmd/kubermatic-api/swagger.json
  go.mod
  go.sum
  pkg/ee/metering/report_config_handler_test.go
  pkg/handler/v1/admin/settings_test.go
  pkg/test/e2e/utils/apiclient/client/eks/list_e_k_s_cluster_roles_parameters.go
  pkg/test/e2e/utils/apiclient/client/eks/list_e_k_s_regions_parameters.go
  pkg/test/e2e/utils/apiclient/client/eks/list_e_k_s_security_groups_parameters.go
  pkg/test/e2e/utils/apiclient/client/eks/list_e_k_s_subnets_parameters.go
  pkg/test/e2e/utils/apiclient/client/eks/list_e_k_s_v_p_c_s_parameters.go
  pkg/test/e2e/utils/apiclient/client/eks/list_project_e_k_s_cluster_roles_parameters.go
  pkg/test/e2e/utils/apiclient/client/eks/list_project_e_k_s_regions_parameters.go
  pkg/test/e2e/utils/apiclient/client/eks/list_project_e_k_s_security_groups_parameters.go
  pkg/test/e2e/utils/apiclient/client/eks/list_project_e_k_s_subnets_parameters.go
  pkg/test/e2e/utils/apiclient/client/eks/list_project_e_k_s_v_p_cs_parameters.go
  pkg/test/e2e/utils/apiclient/client/eks/validate_e_k_s_credentials_parameters.go
  pkg/test/e2e/utils/apiclient/client/eks/validate_project_e_k_s_credentials_parameters.go
  pkg/test/e2e/utils/apiclient/client/project/list_e_k_s_clusters_parameters.go
  pkg/test/e2e/utils/apiclient/models/a_w_s_cloud_spec.go
  pkg/test/e2e/utils/apiclient/models/e_k_s.go
  pkg/test/e2e/utils/apiclient/models/e_k_s_cloud_spec.go
  pkg/test/e2e/utils/apiclient/models/namespace_spec.go
  pkg/test/e2e/utils/apiclient/models/network_defaults.go
  pkg/test/e2e/utils/apiclient/models/notifications_options.go
  pkg/test/e2e/utils/apiclient/models/setting_spec.go
  src/app/core/interceptors/error-notifications.spec.ts
  src/app/core/interceptors/error-notifications.ts
  src/app/shared/components/event-list/component.spec.ts
  src/app/shared/components/event-list/component.ts
  src/app/shared/entity/settings.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

update web-terminal Docker image to 0.3 (#5193)
  pkg/handler/websocket/terminal.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Proposal for unit test guideline (#4428)
  Development.md
Due: none

[release/v2.19] Bump version to v2.19.12
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.20] Bump version to v2.20.10
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.21] Bump version to v2.21.3
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.19] Bump version to v2.19.12 (#5237)
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove CHANGELOG.md
  CHANGELOG.md
Due: none

Remove .clang-format
  .clang-format
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.20] Bump version to v2.20.10 (#5238)
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Adjust OWNERS and dockerignore
  .dockerignore
  modules/api/.dockerignore
  modules/api/OWNERS
  modules/web/.dockerignore
  modules/web/OWNERS
  modules/web/containers/OWNERS
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/chrome-headless/release.sh
  modules/web/containers/custom-dashboard/Dockerfile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.21] Bump version to v2.21.3 (#5239)
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add .gitignore files for modules
  .gitignore
  modules/api/.gitignore
  modules/web/.gitignore
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix go.mod for modules
  modules/api/go.mod
  modules/api/go.sum
  modules/web/go.mod
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Initialize go workspace
  .dockerignore
  modules/Makefile
  modules/go.work
  modules/go.work.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Load application definition and installation details in add/edit application dialogs (#5072)
  src/app/cluster/details/cluster/template.html
  src/app/core/services/application.ts
  src/app/shared/components/application-list/add-application-dialog/component.ts
  src/app/shared/components/application-list/add-application-dialog/template.html
  src/app/shared/components/application-list/component.ts
  src/app/shared/components/application-list/edit-application-dialog/component.ts
  src/app/shared/components/application-list/edit-application-dialog/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

This is a combination of 9 commits. This is the 1st commit message:
  hack/ci/verify.sh
  hack/update-swagger.sh
  hack/verify-api-client.sh
  pkg/test/e2e/utils/apiclient/models/instancetype_matcher.go
  pkg/test/e2e/utils/apiclient/models/preference_matcher.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Refactored code
  hack/update-swagger.sh
  hack/verify-swagger.sh
  pkg/test/e2e/utils/apiclient/models/application_ref.go
  pkg/test/e2e/utils/apiclient/models/namespace_spec.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Refactored code
  cmd/kubermatic-api/swagger.json
  hack/gen-api-client.sh
  pkg/test/e2e/utils/apiclient/models/kubevirt_node_spec.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add OpenIDAuthPlugin feature gate to API
  pkg/api/v2/types.go
  pkg/provider/kubernetes/featuregates.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add OpenIDAuthPlugin feature gate to API
  pkg/provider/kubernetes/featuregates.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add OpenIDAuthPlugin feature gate to API (#5245)
  pkg/api/v2/types.go
  pkg/provider/kubernetes/featuregates.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add project-scoped endpoint for Hetzner
  pkg/handler/v2/provider/hetzner.go
  pkg/handler/v2/routes_v2.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update swagger and apiclient gen
  cmd/kubermatic-api/swagger.json
  pkg/test/e2e/utils/apiclient/client/hetzner/hetzner_client.go
  pkg/test/e2e/utils/apiclient/client/hetzner/list_project_hetzner_sizes_parameters.go
  pkg/test/e2e/utils/apiclient/client/hetzner/list_project_hetzner_sizes_responses.go
  pkg/test/e2e/utils/apiclient/models/instancetype_matcher.go
  pkg/test/e2e/utils/apiclient/models/preference_matcher.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Ignore broken seeds during API requests (#5226)
  cmd/kubermatic-api/main.go
  pkg/handler/middleware/middleware.go
  pkg/handler/v1/project/project.go
  pkg/handler/v2/preset/preset.go
  pkg/provider/kubernetes/etcdbackupconfig.go
  pkg/provider/kubernetes/etcdrestore.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add seed overview endpoint prototype
  cmd/kubermatic-api/swagger.json
  hack/update-swagger.sh
  hack/verify-swagger.sh
  pkg/api/v2/types.go
  pkg/handler/v2/routes_v2.go
  pkg/handler/v2/seedoverview/seedoverview.go
  pkg/handler/v2/seedoverview/seedoverview_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add swagger model
  cmd/kubermatic-api/swagger.json
  pkg/api/v2/types.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Handle resource not found for missing user
  pkg/handler/v1/user/user.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Seed overview API endpoint (#5213)
  cmd/kubermatic-api/swagger.json
  hack/update-swagger.sh
  hack/verify-swagger.sh
  pkg/api/v2/types.go
  pkg/handler/v2/routes_v2.go
  pkg/handler/v2/seedoverview/seedoverview.go
  pkg/handler/v2/seedoverview/seedoverview_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add project-scoped API endpoint for Hetzner (#5246)
  cmd/kubermatic-api/swagger.json
  pkg/handler/v2/provider/hetzner.go
  pkg/handler/v2/routes_v2.go
  pkg/test/e2e/utils/apiclient/client/hetzner/hetzner_client.go
  pkg/test/e2e/utils/apiclient/client/hetzner/list_project_hetzner_sizes_parameters.go
  pkg/test/e2e/utils/apiclient/client/hetzner/list_project_hetzner_sizes_responses.go
  pkg/test/e2e/utils/apiclient/models/instancetype_matcher.go
  pkg/test/e2e/utils/apiclient/models/preference_matcher.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Sync json-server datacenter mock data with cypress fixtures
  fixtures/db.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Sync json-server datacenter mock data with cypress fixtures (#5248)
  fixtures/db.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

remove vsphere ooverwrite cloud spec from machine deployment (#5219)
  pkg/resources/machine/machinedeployment.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update k8s version defaulting
  .wwhrd.yml
  go.mod
  go.sum
  pkg/defaulting/configuration.go
  pkg/handler/v1/admin/settings_test.go
  pkg/provider/kubernetes/cluster_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update k8s version defaulting (#5249)
  .wwhrd.yml
  go.mod
  go.sum
  pkg/defaulting/configuration.go
  pkg/handler/v1/admin/settings_test.go
  pkg/provider/kubernetes/cluster_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Redesigned cluster summary page
  src/app/shared/components/application-list/style.scss
  src/app/shared/components/cluster-summary/component.ts
  src/app/shared/components/cluster-summary/style.scss
  src/app/shared/components/cluster-summary/template.html
  src/app/shared/components/external-cluster-credentials/provider/eks/template.html
  src/app/wizard/step/provider-settings/provider/extended/kubevirt/template.html
  src/app/wizard/step/summary/template.html
  src/assets/css/global/_main.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Redesigned cluster summary page (#5242)
  src/app/shared/components/application-list/style.scss
  src/app/shared/components/cluster-summary/component.ts
  src/app/shared/components/cluster-summary/style.scss
  src/app/shared/components/cluster-summary/template.html
  src/app/shared/components/external-cluster-credentials/provider/eks/template.html
  src/app/wizard/step/provider-settings/provider/extended/kubevirt/template.html
  src/app/wizard/step/summary/template.html
  src/assets/css/global/_main.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Handle resource not found for missing user (#5247)
  pkg/handler/v1/user/user.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce
