Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$

Rename
  modules/api/pkg/handler/common/machine.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Return BadRequest for invalid patch operations
  modules/api/pkg/handler/common/machine.go
  modules/api/pkg/handler/v2/machine/machine_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix MD deployment creation due to not setting OS
  modules/web/src/app/node-data/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix MD deployment creation due to not setting OS (#5381)
  modules/web/src/app/node-data/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add option to set cluster autoscaler annotation on MD through API (#5361)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/common/machine.go
  modules/api/pkg/handler/v1/node/node.go
  modules/api/pkg/handler/v2/machine/machine.go
  modules/api/pkg/handler/v2/machine/machine_test.go
  modules/api/pkg/resources/machine/machinedeployment.go
  modules/api/pkg/test/e2e/utils/apiclient/models/node_deployment_spec.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Cluster details RBAC enhancements.
  modules/web/src/app/cluster/details/cluster/rbac/component.spec.ts
  modules/web/src/app/cluster/details/cluster/rbac/component.ts
  modules/web/src/app/cluster/details/cluster/rbac/component/service-account/component.ts
  modules/web/src/app/cluster/details/cluster/rbac/component/service-account/service-account-detail/component.ts
  modules/web/src/app/cluster/details/cluster/rbac/component/service-account/service-account-detail/style.scss
  modules/web/src/app/cluster/details/cluster/rbac/component/service-account/service-account-detail/template.html
  modules/web/src/app/cluster/details/cluster/rbac/component/service-account/style.scss
  modules/web/src/app/cluster/details/cluster/rbac/component/service-account/template.html
  modules/web/src/app/cluster/details/cluster/rbac/component/users-or-groups/component.ts
  modules/web/src/app/cluster/details/cluster/rbac/component/users-or-groups/style.scss
  modules/web/src/app/cluster/details/cluster/rbac/component/users-or-groups/template.html
  modules/web/src/app/cluster/details/cluster/rbac/dialog/add-binding/component.spec.ts
  modules/web/src/app/cluster/details/cluster/rbac/dialog/add-binding/component.ts
  modules/web/src/app/cluster/details/cluster/rbac/dialog/add-binding/style.scss
  modules/web/src/app/cluster/details/cluster/rbac/dialog/add-binding/template.html
  modules/web/src/app/cluster/details/cluster/rbac/dialog/add-binding/theme.scss
  modules/web/src/app/cluster/details/cluster/rbac/dialog/add-service-account-binding/component.ts
  modules/web/src/app/cluster/details/cluster/rbac/dialog/add-service-account-binding/style.scss
  modules/web/src/app/cluster/details/cluster/rbac/dialog/add-service-account-binding/template.html
  modules/web/src/app/cluster/details/cluster/rbac/dialog/add-service-account/component.ts
  modules/web/src/app/cluster/details/cluster/rbac/dialog/add-service-account/style.scss
  modules/web/src/app/cluster/details/cluster/rbac/dialog/add-service-account/template.html
  modules/web/src/app/cluster/details/cluster/rbac/dialog/add-service-account/theme.scss
  modules/web/src/app/cluster/details/cluster/rbac/template.html
  modules/web/src/app/cluster/module.ts
  modules/web/src/app/core/services/cluster-service-account.ts
  modules/web/src/app/core/services/cluster.ts
  modules/web/src/app/core/services/rbac.ts
  modules/web/src/app/shared/entity/cluster-namespace.ts
  modules/web/src/app/shared/entity/cluster-service-account.ts
  modules/web/src/app/shared/entity/rbac.ts
  modules/web/src/assets/css/theme/_component.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Provide option for autoscaling nodes
  modules/web/src/app/cluster/details/cluster/machine-deployment-details/template.html
  modules/web/src/app/core/services/node.ts
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/node-data/template.html
  modules/web/src/app/shared/entity/machine-deployment.ts
  modules/web/src/app/shared/model/NodeSpecChange.ts
  modules/web/src/app/wizard/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Set min/max values for patch request in edit MD
  modules/web/src/app/cluster/details/cluster/machine-deployment-details/template.html
  modules/web/src/app/core/services/node.ts
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/node-data/template.html
  modules/web/src/app/shared/entity/machine-deployment.ts
  modules/web/src/app/shared/model/NodeSpecChange.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Display min/max replicas count on cluster summary page
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/wizard/step/summary/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix icon alignment
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/node-data/style.scss
  modules/web/src/app/node-data/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add project-scoped API endpoints for Anexia
  modules/api/pkg/handler/v2/provider/anexia.go
  modules/api/pkg/handler/v2/routes_v2.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update swagger
  modules/api/cmd/kubermatic-api/swagger.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update generated apiclient
  modules/api/pkg/test/e2e/utils/apiclient/client/anexia/anexia_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/anexia/list_project_anexia_templates_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/anexia/list_project_anexia_templates_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/anexia/list_project_anexia_vlans_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/anexia/list_project_anexia_vlans_responses.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add update endpoint for AppDefs
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/handler/v2/application_definition/application_definition.go
  modules/api/pkg/handler/v2/application_definition/application_definition_test.go
  modules/api/pkg/handler/v2/application_definition/request.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/provider/kubernetes/application_definition.go
  modules/api/pkg/provider/types.go
  modules/api/pkg/test/e2e/utils/apiclient/client/applications/applications_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/applications/update_application_definition_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/applications/update_application_definition_responses.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Provide option for autoscaling nodes (#5369)
  modules/web/src/app/cluster/details/cluster/machine-deployment-details/template.html
  modules/web/src/app/core/services/node.ts
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/node-data/style.scss
  modules/web/src/app/node-data/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/entity/machine-deployment.ts
  modules/web/src/app/shared/model/NodeSpecChange.ts
  modules/web/src/app/wizard/component.ts
  modules/web/src/app/wizard/step/summary/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add enpoints api/v2/projects/$PROJECT/clusters/$CLUSTER_ID/serviceaccount/$NAMESPACE/$SA_ID/permissions that retrurns permissions of the SA
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/common/binding.go
  modules/api/pkg/handler/v2/cluster/serviceaccount.go
  modules/api/pkg/handler/v2/cluster/serviceaccount_test.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/get_cluster_service_account_permissions_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/get_cluster_service_account_permissions_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/project_client.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_service_account.go
  modules/api/pkg/test/e2e/utils/apiclient/models/permission.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add project-scoped API endpoints for Anexia (#5395)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/handler/v2/provider/anexia.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/test/e2e/utils/apiclient/client/anexia/anexia_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/anexia/list_project_anexia_templates_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/anexia/list_project_anexia_templates_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/anexia/list_project_anexia_vlans_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/anexia/list_project_anexia_vlans_responses.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add `minReplicas` and `maxReplicas` in cluster template node data
  modules/web/src/app/core/services/node-data/service.ts
  modules/web/src/app/shared/components/save-cluster-template/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add `minReplicas` and `maxReplicas` in cluster template node data (#5398)
  modules/web/src/app/core/services/node-data/service.ts
  modules/web/src/app/shared/components/save-cluster-template/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Switch KubeVirt to DC
  .prow/frontend.yaml
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Use kubermatic ns instead of kubeone ns
  modules/api/pkg/handler/test/fake_provider.go
  modules/api/pkg/handler/v2/external_cluster/kubeone.go
  modules/api/pkg/provider/kubernetes/credentials.go
  modules/api/pkg/provider/kubernetes/external_cluster.go
  modules/api/pkg/provider/types.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

rename variables
  modules/api/pkg/provider/kubernetes/credentials.go
  modules/api/pkg/provider/kubernetes/external_cluster.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Cherrypick autoscaling nodes config PRs #5369 and #5398
  src/app/cluster/details/cluster/machine-deployment-details/template.html
  src/app/core/services/node.ts
  src/app/node-data/component.ts
  src/app/node-data/style.scss
  src/app/node-data/template.html
  src/app/shared/components/cluster-summary/template.html
  src/app/shared/components/save-cluster-template/component.ts
  src/app/shared/entity/machine-deployment.ts
  src/app/shared/model/NodeSpecChange.ts
  src/app/wizard/component.ts
  src/app/wizard/step/summary/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

update kubeone machinedeployment method
  modules/api/pkg/handler/v2/external_cluster/kubeone.go
  modules/api/pkg/handler/v2/external_cluster/node.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add update endpoint for AppDefs (#5393)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/handler/v2/application_definition/application_definition.go
  modules/api/pkg/handler/v2/application_definition/application_definition_test.go
  modules/api/pkg/handler/v2/application_definition/request.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/provider/kubernetes/application_definition.go
  modules/api/pkg/provider/types.go
  modules/api/pkg/test/e2e/utils/apiclient/client/applications/applications_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/applications/update_application_definition_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/applications/update_application_definition_responses.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

update latest kubermatic modules
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Cherrypick autoscaling nodes config PRs #5369 and #5398 (#5402)
  src/app/cluster/details/cluster/machine-deployment-details/template.html
  src/app/core/services/node.ts
  src/app/node-data/component.ts
  src/app/node-data/style.scss
  src/app/node-data/template.html
  src/app/shared/components/cluster-summary/template.html
  src/app/shared/components/save-cluster-template/component.ts
  src/app/shared/entity/machine-deployment.ts
  src/app/shared/model/NodeSpecChange.ts
  src/app/wizard/component.ts
  src/app/wizard/step/summary/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Increase timeout for e2e test API call to fetch Azure sizes
  modules/api/pkg/test/e2e/utils/client.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix-hackscript-issues
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/resources/reconciling/zz_generated_reconcile.go
  modules/api/pkg/test/e2e/utils/apiclient/models/application_template.go
  modules/api/pkg/test/e2e/utils/apiclient/models/dependency_credentials.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Increase timeout for e2e test API call to fetch Azure sizes (#5404)
  modules/api/pkg/test/e2e/utils/client.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

apply review comments
  modules/api/pkg/handler/v2/cluster/serviceaccount.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add delete endpoint for AppDefs
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/handler/v2/application_definition/application_definition.go
  modules/api/pkg/handler/v2/application_definition/application_definition_test.go
  modules/api/pkg/handler/v2/application_definition/request.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/provider/kubernetes/application_definition.go
  modules/api/pkg/provider/types.go
  modules/api/pkg/test/e2e/utils/apiclient/client/applications/applications_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/applications/delete_application_definition_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/applications/delete_application_definition_responses.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

update import order
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/external_cluster/kubeone.go
  modules/api/pkg/resources/reconciling/zz_generated_reconcile.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add endpoint to get service account permission (#5394)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/common/binding.go
  modules/api/pkg/handler/v2/cluster/serviceaccount.go
  modules/api/pkg/handler/v2/cluster/serviceaccount_test.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/get_cluster_service_account_permissions_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/get_cluster_service_account_permissions_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/project_client.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_service_account.go
  modules/api/pkg/test/e2e/utils/apiclient/models/permission.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add project-scoped API endpoint for Equinix Metal and add no credentials endpoint for equinix
  modules/api/pkg/handler/v2/provider/equinixmetal.go
  modules/api/pkg/handler/v2/provider/packet.go
  modules/api/pkg/handler/v2/routes_v2.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update swagger and generated apiclient
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/test/e2e/utils/apiclient/client/equinixmetal/equinixmetal_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/equinixmetal/list_equinix_metal_sizes_no_credentials_v2_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/equinixmetal/list_equinix_metal_sizes_no_credentials_v2_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/equinixmetal/list_project_equinix_metal_sizes_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/equinixmetal/list_project_equinix_metal_sizes_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubermatic_kubernetes_platform_api_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/packet/packet_client.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.21] Add changelog for KKP 2.21.4
  src/assets/config/changelog.json
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.20] Add changelog for KKP 2.20.11
  src/assets/config/changelog.json
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.19] Add changelog for KKP 2.19.13
  src/assets/config/changelog.json
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update OWNERS
  OWNERS
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce
