Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-go-mod-verify, pre-dashboard-web-lint, pre-dashboard-web-check

pre-dashboard-go-mod-verify:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      command:
      - make
      - verify-go
      resources:
        requests:
          cpu: 100m

pre-dashboard-test-unit:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/chrome-headless:v0.11
      command:
      - make
      - test-headless
      resources:
        requests:
          cpu: 1
          memory: 3Gi
        limits:
          cpu: 2
          memory: 5Gi
      env:
      - name: CODECOV_TOKEN
        valueFrom:
  ...

pre-dashboard-test-full-e2e:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-full-e2e-ce:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-e2e:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-test-e2e-ce:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-build-image:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

pre-dashboard-build-image-ce:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

remove unused styles for GCP basic node data component
  modules/web/src/app/node-data/basic/provider/gcp/component.ts
  modules/web/src/app/node-data/basic/provider/gcp/style.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Change the quota calculations to use the binary system instead of the decimal system (#7729)
  modules/api/pkg/api/v2/convert.go
  modules/api/pkg/ee/resource-quota/handler.go
  modules/api/pkg/ee/resource-quota/handler_test.go
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Remove indirect dependencies that are no longer required by any module
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

[release/v2.28] Bump Go version to v1.24.12 (#7781)
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/go.mod
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/chrome-headless/release.sh
  modules/web/containers/custom-dashboard/Dockerfile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Bump Go version to 1.25.6 (#7782)
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/go.mod
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/chrome-headless/release.sh
  modules/web/containers/custom-dashboard/Dockerfile
  modules/web/go.mod
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-go-mod-verify, pre-dashboard-web-lint, pre-dashboard-web-check

Bump Go version to 1.25.6
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/go.mod
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/chrome-headless/release.sh
  modules/web/containers/custom-dashboard/Dockerfile
  modules/web/go.mod
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-go-mod-verify, pre-dashboard-web-lint, pre-dashboard-web-check

Bump Go version to 1.25.6 (#7786)
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/go.mod
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/chrome-headless/release.sh
  modules/web/containers/custom-dashboard/Dockerfile
  modules/web/go.mod
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-go-mod-verify, pre-dashboard-web-lint, pre-dashboard-web-check

[release/v2.28] Bump KKP dependencies for Jan 2026 patch release
  Makefile
  modules/api/Makefile
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.29] Bump KKP dependencies for Jan 2026 patch releases
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Advanced Machine Type Selector for GCP with GPU Accelerator (#7783)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/common/provider/gcp.go
  modules/api/pkg/test/e2e/utils/apiclient/models/g_c_p_machine_accelerator.go
  modules/api/pkg/test/e2e/utils/apiclient/models/g_c_p_machine_size.go
  modules/web/src/app/node-data/basic/provider/gcp/component.ts
  modules/web/src/app/node-data/basic/provider/gcp/machine-type-selector/component.ts
  modules/web/src/app/node-data/basic/provider/gcp/machine-type-selector/template.html
  modules/web/src/app/node-data/basic/provider/gcp/style.scss
  modules/web/src/app/node-data/basic/provider/gcp/template.html
  modules/web/src/app/node-data/module.ts
  modules/web/src/app/shared/entity/provider/gcp.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Add search capability among User Cluster names in the Projects view
  modules/web/src/app/project/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Eliminate self-assignment in code
  modules/web/src/app/project/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Bump KKP dependencies with latest commit
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Add unit test coverage for project search
  modules/web/src/app/project/component.spec.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Update KKP dependencies with latest commit
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

[release/v2.29] Bump KKP dependencies for Jan 2026 patch release (#7788)
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.28] Bump KKP dependencies for Jan 2026 patch release v2.28.6 (#7790)
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Add project search via backend search param
  modules/api/pkg/handler/v1/project/project.go
  modules/api/pkg/handler/v1/project/project_test.go
  modules/web/src/app/core/services/project.ts
  modules/web/src/app/project/component.spec.ts
  modules/web/src/app/project/component.ts
  modules/web/src/test/services/project-mock.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Add project search: fix lint
  modules/api/pkg/handler/v1/project/project_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Update swagger and generated API client
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/test/e2e/utils/apiclient/client/project/list_projects_parameters.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Fix admin settings e2e test navigation
  modules/web/cypress/e2e/v2/stories/admin-settings/defaults.spec.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Add KubeVirt machine type selector component and integrate it into the KubeVirtBasicNodeDataComponent
  modules/web/src/app/node-data/basic/provider/gcp/machine-type-selector/template.html
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/machine-type-selector/component.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/machine-type-selector/style.scss
  modules/web/src/app/node-data/basic/provider/kubevirt/machine-type-selector/template.html
  modules/web/src/app/node-data/basic/provider/kubevirt/template.html
  modules/web/src/app/node-data/module.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Remove unnecessary blank line in KubeVirtMachineTypeSelectorComponent
  modules/web/src/app/node-data/basic/provider/kubevirt/machine-type-selector/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Support all four event rate limit types
  modules/web/src/app/cluster/details/cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/node-data/basic/provider/gcp/machine-type-selector/template.html
  modules/web/src/app/shared/components/event-rate-limit/component.ts
  modules/web/src/app/shared/components/event-rate-limit/style.scss
  modules/web/src/app/shared/components/event-rate-limit/template.html
  modules/web/src/app/shared/components/number-stepper/component.ts
  modules/web/src/app/shared/components/number-stepper/style.scss
  modules/web/src/app/shared/components/number-stepper/template.html
  modules/web/src/app/shared/entity/cluster.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

add endpoint to get and update admision plugins
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/options.go
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/routing.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/handler/v2/routing.go
  modules/api/pkg/handler/v2/user_cluster_config/user_cluster_config.go
  modules/api/pkg/provider/kubernetes/user_cluster_config.go
  modules/api/pkg/provider/types.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubermatic_kubernetes_platform_api_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/user_cluster_config/get_admission_plugins_configuration_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/user_cluster_config/get_admission_plugins_configuration_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/user_cluster_config/update_admission_plugins_configuration_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/user_cluster_config/update_admission_plugins_configuration_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/user_cluster_config/user_cluster_config_client.go
  modules/api/pkg/test/e2e/utils/apiclient/models/admission_plugins_configuration.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_networking_config.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_openstack.go
  modules/api/pkg/test/e2e/utils/apiclient/models/event_rate_limit_config_item.go
  modules/api/pkg/test/e2e/utils/apiclient/models/event_rate_limit_plugin_configuration.go
  modules/api/pkg/test/e2e/utils/apiclient/models/openstack_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/user_cluster_configuration.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Debounce project search input
  modules/web/src/app/shared/components/search-field/component.ts
  modules/web/src/app/shared/components/search-field/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix url building logic causing issues with other ingress controller
  modules/web/src/app/core/services/cluster.ts
  modules/web/src/environments/environment.e2e.local.ts
  modules/web/src/environments/environment.e2e.ts
  modules/web/src/environments/environment.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix constant value
  modules/web/package-lock.json
  modules/web/src/app/shared/components/search-field/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Revert lockfile changes
  modules/web/package-lock.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Debounce project search only
  modules/web/src/app/project/component.ts
  modules/web/src/app/shared/components/search-field/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix testing debounce
  modules/web/src/app/project/component.spec.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Cover default refresh interval
  modules/web/src/app/project/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Avoid redundant seed iteration in project search
  modules/api/pkg/handler/v1/project/project.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Implement configuration mode toggle and refactor instance type selection in KubeVirt components
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/machine-type-selector/component.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/machine-type-selector/style.scss
  modules/web/src/app/node-data/basic/provider/kubevirt/machine-type-selector/template.html
  modules/web/src/app/node-data/basic/provider/kubevirt/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix the writeValue method
  modules/web/src/app/cluster/details/cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/cluster/details/cluster/style.scss
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/shared/components/cluster-summary/component.ts
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/components/event-rate-limit/component.ts
  modules/web/src/app/shared/entity/cluster.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Refactor KubeVirt instance type handling and improve template formatting
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/machine-type-selector/component.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/machine-type-selector/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Clear preference value on instance type mode switch and enhance preference change validation
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/machine-type-selector/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

remove the useEventRateLimitAdmissionPlugin
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template.go
  modules/api/pkg/resources/cluster/cluster.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_spec.go
  modules/web/src/app/shared/entity/cluster.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

remove the clusterSpecService update
  modules/web/src/app/shared/components/event-rate-limit/component.ts
  modules/web/src/app/wizard/step/cluster/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix url building logic causing issues with other ingress controller (#7800)
  modules/web/src/app/core/services/cluster.ts
  modules/web/src/environments/environment.e2e.local.ts
  modules/web/src/environments/environment.e2e.ts
  modules/web/src/environments/environment.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-api-e2e: any of: modules/api/pkg
  pre-dashboard-api-unit: any of: modules/api
  pre-dashboard-api-lint: any of: modules/api
  pre-dashboard-api-verify: any of: modules/api
  pre-dashboard-web-integration-tests: any of: modules/web
  pre-dashboard-web-integration-tests-ce: any of: modules/web
  pre-dashboard-web-unit: any of: modules/web
  pre-dashboard-web-go-mod-verify: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-lint: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-check: any of: modules/web
