Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-go-mod-verify, pre-dashboard-web-lint, pre-dashboard-web-check

pre-dashboard-go-mod-verify:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      command:
      - make
      - verify-go
      resources:
        requests:
          cpu: 100m

pre-dashboard-test-unit:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/chrome-headless:v0.11
      command:
      - make
      - test-headless
      resources:
        requests:
          cpu: 1
          memory: 3Gi
        limits:
          cpu: 2
          memory: 5Gi
      env:
      - name: CODECOV_TOKEN
        valueFrom:
  ...

pre-dashboard-test-full-e2e:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-full-e2e-ce:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-e2e:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-test-e2e-ce:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-build-image:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

pre-dashboard-build-image-ce:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

Avoid race condition when fetching clustername for backup
  modules/web/src/app/backup/details/automatic-backup/component.ts
  modules/web/src/app/backup/details/automatic-backup/template.html
  modules/web/src/app/backup/details/snapshot/component.ts
  modules/web/src/app/backup/details/snapshot/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Add cluster name to snapshot list and details
  modules/web/src/app/backup/details/automatic-backup/component.ts
  modules/web/src/app/backup/details/automatic-backup/template.html
  modules/web/src/app/backup/details/snapshot/component.ts
  modules/web/src/app/backup/details/snapshot/template.html
  modules/web/src/app/backup/list/snapshot/component.ts
  modules/web/src/app/backup/list/snapshot/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Add clusterName to automatic backup list
  modules/web/src/app/backup/list/automatic-backup/component.ts
  modules/web/src/app/backup/list/automatic-backup/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Add support for multiple nics with vmware cloud director in the UI (#7452)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/machine/convert.go
  modules/api/pkg/resources/machine/common.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_mware_cloud_director_node_spec.go
  modules/web/src/app/node-data/basic/provider/vmware-cloud-director/component.ts
  modules/web/src/app/node-data/basic/provider/vmware-cloud-director/template.html
  modules/web/src/app/shared/entity/node.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

avoid linear search for clustersnames, avoid nested subscribed, rely on forkJoins instead
  modules/web/src/app/backup/details/automatic-backup/component.ts
  modules/web/src/app/backup/details/snapshot/component.ts
  modules/web/src/app/backup/list/automatic-backup/component.ts
  modules/web/src/app/backup/list/restore/component.ts
  modules/web/src/app/backup/list/snapshot/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

use dashes if no clustername was found
  modules/web/src/app/backup/details/automatic-backup/template.html
  modules/web/src/app/backup/details/snapshot/template.html
  modules/web/src/app/backup/list/automatic-backup/component.ts
  modules/web/src/app/backup/list/restore/component.ts
  modules/web/src/app/backup/list/snapshot/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Add cluster name to snapshot list and detail view (#7695)
  modules/web/src/app/backup/details/automatic-backup/component.ts
  modules/web/src/app/backup/details/automatic-backup/template.html
  modules/web/src/app/backup/details/snapshot/component.ts
  modules/web/src/app/backup/details/snapshot/template.html
  modules/web/src/app/backup/list/automatic-backup/component.ts
  modules/web/src/app/backup/list/automatic-backup/template.html
  modules/web/src/app/backup/list/restore/component.ts
  modules/web/src/app/backup/list/restore/template.html
  modules/web/src/app/backup/list/snapshot/component.ts
  modules/web/src/app/backup/list/snapshot/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

restructure tests to properly use master and seed client
  modules/api/pkg/handler/test/helper.go
  modules/api/pkg/handler/v1/cluster/cluster_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

fix tests further for consistency
  modules/api/pkg/handler/v1/project/project_test.go
  modules/api/pkg/provider/kubernetes/cluster_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

update other tests for consistency
  modules/api/pkg/handler/test/helper.go
  modules/api/pkg/handler/v1/cluster/cluster_test.go
  modules/api/pkg/handler/v1/cluster/upgrade_test.go
  modules/api/pkg/handler/v1/node/node_test.go
  modules/api/pkg/handler/v1/serviceaccount/sa_test.go
  modules/api/pkg/handler/v1/serviceaccount/token_test.go
  modules/api/pkg/handler/v2/application_definition/application_definition_test.go
  modules/api/pkg/handler/v2/application_installation/application_installation_test.go
  modules/api/pkg/handler/v2/backupcredentials/backupcredentials_test.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster/serviceaccount_test.go
  modules/api/pkg/handler/v2/cluster/upgrade_test.go
  modules/api/pkg/handler/v2/constraint/constraint_test.go
  modules/api/pkg/handler/v2/gatekeeperconfig/gatekeeperconfig_test.go
  modules/api/pkg/handler/v2/machine/machine_test.go
  modules/api/pkg/handler/v2/preset/preset_test.go
  modules/api/pkg/handler/websocket/user_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

make tests use separate seed and master clients
  modules/api/cmd/kubermatic-api/main.go
  modules/api/pkg/handler/test/helper.go
  modules/api/pkg/handler/v1/serviceaccount/sa_test.go
  modules/api/pkg/handler/v1/serviceaccount/token_test.go
  modules/api/pkg/handler/v2/application_definition/application_definition_test.go
  modules/api/pkg/handler/v2/preset/preset_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

revert changes for overall test infra refarctoring out of scope of this pr
  modules/api/pkg/handler/test/helper.go
  modules/api/pkg/handler/v1/serviceaccount/sa_test.go
  modules/api/pkg/handler/v1/serviceaccount/token_test.go
  modules/api/pkg/handler/v2/application_definition/application_definition_test.go
  modules/api/pkg/handler/v2/preset/preset_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Revert "revert changes for overall test infra refarctoring out of scope of this pr"
  modules/api/pkg/handler/test/helper.go
  modules/api/pkg/handler/v1/serviceaccount/sa_test.go
  modules/api/pkg/handler/v1/serviceaccount/token_test.go
  modules/api/pkg/handler/v2/application_definition/application_definition_test.go
  modules/api/pkg/handler/v2/preset/preset_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

fix lint
  modules/api/pkg/handler/v1/cluster/cluster_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

update comment
  modules/api/pkg/handler/test/helper.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Initial Commit
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix buffer issue
  modules/web/src/polyfills.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

changing the prefix from --mdc-* to --mat-*
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/app/cluster/details/cluster/cni-version/theme.scss
  modules/web/src/app/cluster/details/shared/version-picker/theme.scss
  modules/web/src/app/dynamic/enterprise/quotas/quota-widget/style.scss
  modules/web/src/app/shared/components/property-usage/style.scss
  modules/web/src/assets/css/material/_main.scss
  modules/web/src/assets/css/material/_theme.scss
  modules/web/src/assets/themes/dark.scss
  modules/web/src/assets/themes/light.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

changed component names and word order in variable names
  modules/web/src/app/cluster/details/cluster/cni-version/theme.scss
  modules/web/src/app/cluster/details/shared/version-picker/theme.scss
  modules/web/src/app/dynamic/enterprise/quotas/quota-widget/style.scss
  modules/web/src/app/shared/components/property-usage/style.scss
  modules/web/src/assets/css/material/_main.scss
  modules/web/src/assets/css/material/_theme.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

update lock file
  modules/web/package-lock.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

show category tags as a list
  modules/web/src/app/node-data/basic/provider/vmware-cloud-director/template.html
  modules/web/src/app/shared/components/chip-autocomplete/component.ts
  modules/web/src/app/shared/components/chip-autocomplete/template.html
  modules/web/src/app/wizard/step/provider-settings/provider/extended/vsphere/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/vsphere/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

add patern validations
  modules/web/src/app/node-data/basic/provider/vmware-cloud-director/component.ts
  modules/web/src/app/node-data/basic/provider/vmware-cloud-director/template.html
  modules/web/src/app/shared/components/chip-autocomplete/component.ts
  modules/web/src/app/shared/components/chip-autocomplete/template.html
  modules/web/src/app/wizard/step/provider-settings/provider/extended/vsphere/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/vsphere/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Display the predefined category tags for vSphere cluster tags (#7721)
  modules/web/src/app/node-data/basic/provider/vmware-cloud-director/component.ts
  modules/web/src/app/node-data/basic/provider/vmware-cloud-director/template.html
  modules/web/src/app/shared/components/chip-autocomplete/component.ts
  modules/web/src/app/shared/components/chip-autocomplete/template.html
  modules/web/src/app/wizard/step/provider-settings/provider/extended/vsphere/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/vsphere/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix: update deprecated CSS variable names to align with Angular Material v20
  modules/web/src/assets/css/material/_theme.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Angular Upgrade v20 (#7601)
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/app/cluster/details/cluster/cni-version/theme.scss
  modules/web/src/app/cluster/details/shared/version-picker/theme.scss
  modules/web/src/app/dynamic/enterprise/quotas/quota-widget/style.scss
  modules/web/src/app/shared/components/property-usage/style.scss
  modules/web/src/assets/css/material/_main.scss
  modules/web/src/assets/css/material/_theme.scss
  modules/web/src/assets/themes/dark.scss
  modules/web/src/assets/themes/light.scss
  modules/web/src/polyfills.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix: tabnabbing vulnerabilities
  modules/web/src/app/cluster/details/cluster/component.ts
  modules/web/src/app/cluster/details/cluster/rbac/service-account/component.ts
  modules/web/src/app/cluster/details/cluster/share-kubeconfig/component.ts
  modules/web/src/app/cluster/details/external-cluster/component.ts
  modules/web/src/app/cluster/details/kubeone/component.ts
  modules/web/src/app/core/components/help-panel/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/component.ts
  modules/web/src/app/dynamic/enterprise/metering/schedule-config/component.spec.ts
  modules/web/src/app/serviceaccount/token/component.ts
  modules/web/src/app/settings/admin/presets/preset-linkages-dialog/component.ts
  modules/web/src/app/shared/components/addon-list/install-addon-dialog/component.ts
  modules/web/src/app/shared/components/addon-list/install-addon-dialog/template.html
  modules/web/src/app/shared/components/terminal/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix: suggested by copilot
  modules/web/src/app/cluster/details/external-cluster/component.ts
  modules/web/src/app/cluster/details/kubeone/component.ts
  modules/web/src/app/shared/components/addon-list/install-addon-dialog/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

update return type/remove import
  modules/web/src/app/shared/components/addon-list/install-addon-dialog/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Minor security fixes (#7726)
  modules/web/src/app/cluster/details/cluster/component.ts
  modules/web/src/app/cluster/details/cluster/rbac/service-account/component.ts
  modules/web/src/app/cluster/details/cluster/share-kubeconfig/component.ts
  modules/web/src/app/cluster/details/external-cluster/component.ts
  modules/web/src/app/cluster/details/kubeone/component.ts
  modules/web/src/app/core/components/help-panel/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/component.ts
  modules/web/src/app/dynamic/enterprise/metering/schedule-config/component.spec.ts
  modules/web/src/app/serviceaccount/token/component.ts
  modules/web/src/app/settings/admin/presets/preset-linkages-dialog/component.ts
  modules/web/src/app/shared/components/addon-list/install-addon-dialog/component.ts
  modules/web/src/app/shared/components/addon-list/install-addon-dialog/template.html
  modules/web/src/app/shared/components/terminal/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix bug with encryption at rest secrets being created in seed cluster and improve test infra (#7718)
  modules/api/cmd/kubermatic-api/main.go
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/test/helper.go
  modules/api/pkg/handler/v1/cluster/cluster_test.go
  modules/api/pkg/handler/v1/cluster/upgrade_test.go
  modules/api/pkg/handler/v1/node/node_test.go
  modules/api/pkg/handler/v1/project/project_test.go
  modules/api/pkg/handler/v1/serviceaccount/sa_test.go
  modules/api/pkg/handler/v1/serviceaccount/token_test.go
  modules/api/pkg/handler/v2/application_definition/application_definition_test.go
  modules/api/pkg/handler/v2/application_installation/application_installation_test.go
  modules/api/pkg/handler/v2/backupcredentials/backupcredentials_test.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster/serviceaccount_test.go
  modules/api/pkg/handler/v2/cluster/upgrade_test.go
  modules/api/pkg/handler/v2/constraint/constraint_test.go
  modules/api/pkg/handler/v2/gatekeeperconfig/gatekeeperconfig_test.go
  modules/api/pkg/handler/v2/machine/machine_test.go
  modules/api/pkg/handler/v2/preset/preset_test.go
  modules/api/pkg/handler/websocket/user_test.go
  modules/api/pkg/provider/kubernetes/cluster.go
  modules/api/pkg/provider/kubernetes/cluster_test.go
  modules/api/pkg/provider/types.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

change the quota calculations unit to Gi, Mi
  modules/api/pkg/api/v2/convert.go
  modules/api/pkg/ee/resource-quota/handler.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

fix bug with encryption at rest secrets being created in seed cluster
  modules/api/cmd/kubermatic-api/main.go
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/test/helper.go
  modules/api/pkg/handler/v1/project/project_test.go
  modules/api/pkg/provider/kubernetes/cluster.go
  modules/api/pkg/provider/kubernetes/cluster_test.go
  modules/api/pkg/provider/types.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-api-e2e: any of: modules/api/pkg
  pre-dashboard-api-unit: any of: modules/api
  pre-dashboard-api-lint: any of: modules/api
  pre-dashboard-api-verify: any of: modules/api
  pre-dashboard-web-integration-tests: any of: modules/web
  pre-dashboard-web-integration-tests-ce: any of: modules/web
  pre-dashboard-web-unit: any of: modules/web
  pre-dashboard-web-go-mod-verify: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-lint: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-check: any of: modules/web
