Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$

Bump version to 2.21.0
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump version to 2.21.0 (#4760)
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove condition to hide Share button if `enableOIDCKubeconfig` setting is enabled
  src/app/cluster/details/cluster/component.ts
  src/app/cluster/details/cluster/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove condition to hide Share button if `enableOIDCKubeconfig` setting is enabled (#4765)
  src/app/cluster/details/cluster/component.ts
  src/app/cluster/details/cluster/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove share kubeconfig button checks from e2e tests
  cypress/integration/v2/stories/admin-settings/defaults.spec.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove share kubeconfig button checks from e2e tests (#4767)
  cypress/integration/v2/stories/admin-settings/defaults.spec.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fixes hint and default values for versions
  src/app/core/services/external-cluster.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/aks/component.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/eks/component.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/eks/template.html
  src/app/external-cluster-wizard/steps/external-cluster/provider/gke/component.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/gke/style.scss
  src/app/external-cluster-wizard/steps/external-cluster/provider/gke/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add kubernetes versions list in create external cluster (#4747)
  src/app/cluster/details/external-cluster/component.ts
  src/app/cluster/details/external-cluster/external-machine-deployment-list/template.html
  src/app/core/services/external-cluster.ts
  src/app/core/services/external-machine-deployment.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/aks/component.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/aks/template.html
  src/app/external-cluster-wizard/steps/external-cluster/provider/eks/component.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/eks/template.html
  src/app/external-cluster-wizard/steps/external-cluster/provider/gke/component.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/gke/style.scss
  src/app/external-cluster-wizard/steps/external-cluster/provider/gke/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fixed quota-widget width on extended view
  src/app/dynamic/enterprise/quotas/quota-widget/style.scss
  src/app/dynamic/enterprise/quotas/quota-widget/template.html
  src/assets/css/global/_main.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fixed quota-widget width on extended view (#4764)
  src/app/dynamic/enterprise/quotas/quota-widget/style.scss
  src/app/dynamic/enterprise/quotas/quota-widget/template.html
  src/assets/css/global/_main.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Upgrade npm packages to latest versions
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add CommonJS packages to `allowedCommonJsDependencies`
  angular.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Override `selector-not-notation` stylelint rule
  .stylelintrc.yml
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update docs URL to new pattern
  src/app/cluster/details/cluster/share-kubeconfig/template.html
  src/app/settings/admin/interface/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update docs URL to new pattern (#4782)
  src/app/cluster/details/cluster/share-kubeconfig/template.html
  src/app/settings/admin/interface/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Unified PR template update
  .github/pull_request_template.md
Due: none

Unified PR template update (#4790)
  .github/pull_request_template.md
Due: none

Support for Amazon Linux 2
  src/app/cluster/details/cluster/machine-deployment-details/template.html
  src/app/cluster/details/cluster/node-list/template.html
  src/app/core/services/node.ts
  src/app/node-data/component.ts
  src/app/node-data/template.html
  src/app/shared/components/cluster-summary/template.html
  src/app/shared/entity/datacenter.ts
  src/app/shared/entity/node.ts
  src/app/shared/model/NodeProviderConstants.ts
  src/assets/css/_images.scss
  src/assets/images/os/amazon-linux-2.svg
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update OS compatibility matrix
  src/app/node-data/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add additional header to webserver serving dashboard
  main.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump package versions (#4781)
  .stylelintrc.yml
  angular.json
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Support for Amazon Linux 2 (#4794)
  src/app/cluster/details/cluster/machine-deployment-details/template.html
  src/app/cluster/details/cluster/node-list/template.html
  src/app/core/services/node.ts
  src/app/node-data/component.ts
  src/app/node-data/template.html
  src/app/shared/components/cluster-summary/template.html
  src/app/shared/entity/datacenter.ts
  src/app/shared/entity/node.ts
  src/app/shared/model/NodeProviderConstants.ts
  src/assets/css/_images.scss
  src/assets/images/os/amazon-linux-2.svg
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update OS compatibility matrix (#4795)
  src/app/node-data/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add additional header to webserver serving dashboard (#4796)
  main.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add additional header to webserver serving dashboard (#4798)
  main.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Pre-fill `namespace` and `name` fields with application definition `name`
  src/app/shared/components/application-list/add-application-dialog/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Sort application definitions by `name`
  src/app/core/services/application.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add description and documentation link for addons and applications
  src/app/shared/components/addon-list/install-addon-dialog/style.scss
  src/app/shared/components/addon-list/install-addon-dialog/template.html
  src/app/shared/components/addon-list/template.html
  src/app/shared/components/application-list/add-application-dialog/style.scss
  src/app/shared/components/application-list/add-application-dialog/template.html
  src/app/shared/components/application-list/component.ts
  src/app/shared/components/application-list/edit-application-dialog/style.scss
  src/app/shared/components/application-list/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update message text when no application matches search query
  src/app/shared/components/application-list/add-application-dialog/template.html
  src/app/shared/components/application-list/style.scss
  src/app/shared/components/application-list/template.html
  src/assets/css/global/_main.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Make search field stretch across whole width of dialog
  src/app/shared/components/application-list/add-application-dialog/style.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Move application values to separate step
  src/app/shared/components/application-list/add-application-dialog/component.ts
  src/app/shared/components/application-list/add-application-dialog/style.scss
  src/app/shared/components/application-list/add-application-dialog/template.html
  src/app/shared/components/application-list/edit-application-dialog/style.scss
  src/app/shared/components/application-list/edit-application-dialog/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Filter OperatingSystemProfiles before listing them
  src/app/node-data/component.ts
  src/app/node-data/template.html
  src/app/shared/entity/operating-system-profile.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Filter OperatingSystemProfiles before listing them (#4799)
  src/app/node-data/component.ts
  src/app/node-data/template.html
  src/app/shared/entity/operating-system-profile.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add additional header to webserver serving dashboard (#4797)
  main.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix for edit event rate limit
  src/app/cluster/details/cluster/edit-cluster/component.ts
  src/app/cluster/details/cluster/edit-cluster/template.html
  src/app/shared/components/event-rate-limit/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix for edit event rate limit (#4802)
  src/app/cluster/details/cluster/edit-cluster/component.ts
  src/app/cluster/details/cluster/edit-cluster/template.html
  src/app/shared/components/event-rate-limit/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix external cluster machine deployment health status icons and status
  src/app/cluster/details/external-cluster/external-machine-deployment-details/component.ts
  src/app/cluster/details/external-cluster/external-machine-deployment-details/template.html
  src/app/cluster/details/external-cluster/external-machine-deployment-list/component.ts
  src/app/cluster/details/external-cluster/external-machine-deployment-list/template.html
  src/app/shared/entity/external-machine-deployment.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce
