Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-go-mod-verify, pre-dashboard-web-lint, pre-dashboard-web-check

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-api-e2e: any of: modules/api/pkg
  pre-dashboard-api-unit: any of: modules/api
  pre-dashboard-api-lint: any of: modules/api
  pre-dashboard-api-verify: any of: modules/api
  pre-dashboard-web-integration-tests: any of: modules/web
  pre-dashboard-web-integration-tests-ce: any of: modules/web
  pre-dashboard-web-unit: any of: modules/web
  pre-dashboard-web-go-mod-verify: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-lint: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-check: any of: modules/web

[release/v2.29] - Hide cluster backup features in CE builds (#8240) (#8255)
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/settings/admin/defaults/component.ts
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/shared/components/cluster-summary/component.ts
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/wizard/step/cluster/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.28] - Hide cluster backup features in CE builds (#8240) (#8256)
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/settings/admin/defaults/component.ts
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/shared/components/cluster-summary/component.ts
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/wizard/step/cluster/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Bump KKP Go dependency with latest commit
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Bump KKP Go dependency with latest commit (#8260)
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Bump util image version to 2.9.0
  hack/lib.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.30] Bump util image version to 2.8.1
  hack/lib.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Expose KubeVirt accelerator quotas through the API
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v2/convert.go
  modules/api/pkg/api/v2/convert_test.go
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/ee/resource-quota/handler.go
  modules/api/pkg/ee/resource-quota/handler_test.go
  modules/api/pkg/handler/v1/admin/settings.go
  modules/api/pkg/handler/v1/admin/settings_test.go
  modules/api/pkg/test/e2e/utils/apiclient/models/accelerator_accounting_blocker.go
  modules/api/pkg/test/e2e/utils/apiclient/models/accelerator_quota.go
  modules/api/pkg/test/e2e/utils/apiclient/models/quota.go
  modules/api/pkg/test/e2e/utils/apiclient/models/resource_quota_global_accelerator_accounting_status.go
  modules/api/pkg/test/e2e/utils/apiclient/models/resource_quota_status.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Fix Dashboard E2E auth configuration
  hack/ci/testdata/kubermatic.yaml
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Expose KubeVirt accelerator quotas through the API (#8263)
  hack/ci/testdata/kubermatic.yaml
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v2/convert.go
  modules/api/pkg/api/v2/convert_test.go
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/ee/resource-quota/handler.go
  modules/api/pkg/ee/resource-quota/handler_test.go
  modules/api/pkg/handler/v1/admin/settings.go
  modules/api/pkg/handler/v1/admin/settings_test.go
  modules/api/pkg/test/e2e/utils/apiclient/models/accelerator_accounting_blocker.go
  modules/api/pkg/test/e2e/utils/apiclient/models/accelerator_quota.go
  modules/api/pkg/test/e2e/utils/apiclient/models/quota.go
  modules/api/pkg/test/e2e/utils/apiclient/models/resource_quota_global_accelerator_accounting_status.go
  modules/api/pkg/test/e2e/utils/apiclient/models/resource_quota_status.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

fix(mla): show Grafana metrics warning only when applications are missing
  modules/web/src/app/cluster/details/cluster/mla/alertmanager-config/component.spec.ts
  modules/web/src/app/cluster/details/cluster/mla/alertmanager-config/component.ts
  modules/web/src/app/cluster/details/cluster/mla/alertmanager-config/template.html
  modules/web/src/app/cluster/details/cluster/mla/component.ts
  modules/web/src/app/cluster/details/cluster/mla/template.html
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/shared/entity/application.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix: linting + console.log statement
  modules/web/src/app/cluster/details/cluster/mla/alertmanager-config/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Bump util image version to 2.9.0 (#8261)
  hack/lib.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Show the Grafana metrics warning only when node-exporter or kube-state-metrics is missing (#8265)
  modules/web/src/app/cluster/details/cluster/mla/alertmanager-config/component.spec.ts
  modules/web/src/app/cluster/details/cluster/mla/alertmanager-config/component.ts
  modules/web/src/app/cluster/details/cluster/mla/alertmanager-config/template.html
  modules/web/src/app/cluster/details/cluster/mla/component.ts
  modules/web/src/app/cluster/details/cluster/mla/template.html
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/shared/entity/application.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix(settings): gate admin groups behind enterprise edition
  modules/web/src/app/settings/admin/admins/component.ts
  modules/web/src/app/settings/admin/admins/template.html
  modules/web/src/app/settings/admin/defaults/component.ts
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/shared/entity/settings.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix: remove comment
  modules/web/src/app/settings/admin/defaults/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix Gate admin groups behind enterprise edition (#8266)
  modules/web/src/app/settings/admin/admins/component.ts
  modules/web/src/app/settings/admin/admins/template.html
  modules/web/src/app/settings/admin/defaults/component.ts
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/shared/entity/settings.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Construct the Kubernetes Dashboard reverse proxy with Rewrite only
  modules/api/pkg/handler/v2/kubernetes-dashboard/proxy.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Construct the Kubernetes Dashboard reverse proxy with Rewrite only (#8267)
  modules/api/pkg/handler/v2/kubernetes-dashboard/proxy.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Match preset subnets to storage location
  modules/api/pkg/handler/common/provider/kubevirt.go
  modules/api/pkg/handler/common/provider/kubevirt_test.go
  modules/api/pkg/handler/v2/provider/kubevirt.go
  modules/api/pkg/handler/v2/provider/kubevirt_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Add KubeVirt preset subnets field (#8253)
  modules/api/pkg/handler/common/provider/kubevirt.go
  modules/api/pkg/handler/common/provider/kubevirt_test.go
  modules/api/pkg/handler/v2/provider/kubevirt.go
  modules/api/pkg/handler/v2/provider/kubevirt_test.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/kubevirt/component.ts
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/kubevirt/template.html
  modules/web/src/app/shared/entity/preset.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Add GPU quota UI
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/ee/resource-quota/handler.go
  modules/api/pkg/ee/resource-quota/handler_test.go
  modules/api/pkg/provider/kubernetes/featuregates.go
  modules/api/pkg/test/e2e/utils/apiclient/models/feature_gates.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kubevirt_node_size.go
  modules/web/src/app/core/services/feature-gate.ts
  modules/web/src/app/dynamic/enterprise/quotas/component.spec.ts
  modules/web/src/app/dynamic/enterprise/quotas/component.ts
  modules/web/src/app/dynamic/enterprise/quotas/project-quota-dialog/component.spec.ts
  modules/web/src/app/dynamic/enterprise/quotas/project-quota-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/quotas/project-quota-dialog/style.scss
  modules/web/src/app/dynamic/enterprise/quotas/project-quota-dialog/template.html
  modules/web/src/app/dynamic/enterprise/quotas/quota-widget/component.spec.ts
  modules/web/src/app/dynamic/enterprise/quotas/quota-widget/component.ts
  modules/web/src/app/dynamic/enterprise/quotas/quota-widget/style.scss
  modules/web/src/app/dynamic/enterprise/quotas/quota-widget/template.html
  modules/web/src/app/dynamic/enterprise/quotas/services/quota-calculation.ts
  modules/web/src/app/dynamic/enterprise/quotas/style.scss
  modules/web/src/app/dynamic/enterprise/quotas/template.html
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/shared/entity/provider/kubevirt.ts
  modules/web/src/app/shared/entity/quota.ts
  modules/web/src/app/shared/utils/health-status.ts
  modules/web/src/app/shared/validators/accelerator-form.validators.ts
  modules/web/src/app/shared/validators/others.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

enable accelerator per project quota
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/ee/resource-quota/handler.go
  modules/api/pkg/ee/resource-quota/handler_test.go
  modules/api/pkg/test/e2e/utils/apiclient/models/quota.go
  modules/api/pkg/test/e2e/utils/apiclient/models/resource_quota.go
  modules/web/src/app/dynamic/enterprise/quotas/component.spec.ts
  modules/web/src/app/dynamic/enterprise/quotas/component.ts
  modules/web/src/app/dynamic/enterprise/quotas/project-quota-dialog/component.spec.ts
  modules/web/src/app/dynamic/enterprise/quotas/project-quota-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/quotas/project-quota-dialog/template.html
  modules/web/src/app/dynamic/enterprise/quotas/template.html
  modules/web/src/app/shared/entity/quota.ts
  modules/web/src/test/services/quota-mock.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Add KubeVirt accelerator quota UI (#8269)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/ee/resource-quota/handler.go
  modules/api/pkg/ee/resource-quota/handler_test.go
  modules/api/pkg/provider/kubernetes/featuregates.go
  modules/api/pkg/test/e2e/utils/apiclient/models/feature_gates.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kubevirt_node_size.go
  modules/api/pkg/test/e2e/utils/apiclient/models/quota.go
  modules/api/pkg/test/e2e/utils/apiclient/models/resource_quota.go
  modules/web/src/app/core/services/feature-gate.ts
  modules/web/src/app/dynamic/enterprise/quotas/component.spec.ts
  modules/web/src/app/dynamic/enterprise/quotas/component.ts
  modules/web/src/app/dynamic/enterprise/quotas/project-quota-dialog/component.spec.ts
  modules/web/src/app/dynamic/enterprise/quotas/project-quota-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/quotas/project-quota-dialog/style.scss
  modules/web/src/app/dynamic/enterprise/quotas/project-quota-dialog/template.html
  modules/web/src/app/dynamic/enterprise/quotas/quota-widget/component.spec.ts
  modules/web/src/app/dynamic/enterprise/quotas/quota-widget/component.ts
  modules/web/src/app/dynamic/enterprise/quotas/quota-widget/style.scss
  modules/web/src/app/dynamic/enterprise/quotas/quota-widget/template.html
  modules/web/src/app/dynamic/enterprise/quotas/services/quota-calculation.ts
  modules/web/src/app/dynamic/enterprise/quotas/style.scss
  modules/web/src/app/dynamic/enterprise/quotas/template.html
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/shared/entity/provider/kubevirt.ts
  modules/web/src/app/shared/entity/quota.ts
  modules/web/src/app/shared/utils/health-status.ts
  modules/web/src/app/shared/validators/accelerator-form.validators.ts
  modules/web/src/app/shared/validators/others.ts
  modules/web/src/test/services/quota-mock.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.30] Update Go version to v1.25.14 and bump chrome-headless to v1.9.4
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  modules/api/go.mod
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/chrome-headless/release.sh
  modules/web/containers/custom-dashboard/Dockerfile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Prepare for 2.31
  Makefile
  modules/api/Makefile
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

tidy deps
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

upgrade sdk
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

upgrade to main
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Prepare for 2.31 (#8273)
  Makefile
  modules/api/Makefile
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.30] Automate the web-terminal image build and update the k8s dependency
  .prow/common.yaml
  hack/images/web-terminal/Dockerfile
  hack/images/web-terminal/metadata.yaml
  hack/images/web-terminal/release.sh
  hack/verify-web-terminal-tag.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update Go version to v1.26.7 and bump chrome-headless image version to v1.10.0
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/go.mod
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/chrome-headless/release.sh
  modules/web/containers/custom-dashboard/Dockerfile
  modules/web/go.mod
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-go-mod-verify, pre-dashboard-web-lint, pre-dashboard-web-check

Update all the dependencies in web-terminal and bump web-terminal image to v1.13.1
  hack/images/web-terminal/Dockerfile
  hack/images/web-terminal/metadata.yaml
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Revert the hubble version to latest available
  hack/images/web-terminal/Dockerfile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.30] Update Go version to v1.25.14 and bump chrome-headless to v1.9.4 (#8271)
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  modules/api/go.mod
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/chrome-headless/release.sh
  modules/web/containers/custom-dashboard/Dockerfile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Update Go version to v1.26.7 and bump chrome-headless image version to v1.10.0 (#8270)
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/go.mod
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/chrome-headless/release.sh
  modules/web/containers/custom-dashboard/Dockerfile
  modules/web/go.mod
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-go-mod-verify, pre-dashboard-web-lint, pre-dashboard-web-check

Bump KKP Go dependencies to latest commit
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

[release/v2.31] Bump KKP Go dependencies to latest commit
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

[release/v2.30] Bump KKP Go dependencies to latest commit
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

[release/v2.29] Bump KKP Go dependencies to latest commit
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Bump KKP Go dependencies to latest commit (#8277)
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify
