Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-go-mod-verify, pre-dashboard-web-lint, pre-dashboard-web-check

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-api-e2e: any of: modules/api/pkg
  pre-dashboard-api-unit: any of: modules/api
  pre-dashboard-api-lint: any of: modules/api
  pre-dashboard-api-verify: any of: modules/api
  pre-dashboard-web-integration-tests: any of: modules/web
  pre-dashboard-web-integration-tests-ce: any of: modules/web
  pre-dashboard-web-unit: any of: modules/web
  pre-dashboard-web-go-mod-verify: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-lint: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-check: any of: modules/web

Fix licenses check
  modules/api/.wwhrd.yml
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Fix typecheck and licenses error
  modules/api/.wwhrd.yml
  modules/api/pkg/ee/metering/report_handler.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Fix api unit tests
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

[release/v2.28] Bump KKP dependency and version for KKP patch release 2.28.3 (#7594)
  Makefile
  modules/api/.wwhrd.yml
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/ee/metering/report_handler.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.26] Bump KKP dependency and version for KKP patch release 2.26.13 (#7592)
  Makefile
  modules/api/.wwhrd.yml
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/ee/metering/report_handler.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.27] Bump KKP dependency and version for KKP patch release 2.27.8 (#7593)
  Makefile
  modules/api/.wwhrd.yml
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/ee/metering/report_handler.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster_test.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Bump Go dependencies for KKP, MC and OSM (#7591)
  modules/api/.wwhrd.yml
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/ee/metering/report_handler.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_l_b.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_l_b_datacenter_settings.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Enable Encryption At Rest for User Cluster (#7525)
  modules/api/.golangci.yml
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/v1/cluster/cluster_test.go
  modules/api/pkg/resources/cluster/cluster.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/create_cluster_template_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/update_cluster_template_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_status.go
  modules/api/pkg/test/e2e/utils/apiclient/models/create_cluster_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/encryption_at_rest_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/encryption_configuration.go
  modules/api/pkg/test/e2e/utils/apiclient/models/encryption_status.go
  modules/api/pkg/test/e2e/utils/apiclient/models/secretbox_encryption_configuration.go
  modules/api/pkg/test/e2e/utils/apiclient/models/secretbox_key.go
  modules/web/src/app/cluster/details/cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/cluster/details/cluster/edit-cluster/theme.scss
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/core/services/cluster-spec.ts
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/components/save-cluster-template/component.ts
  modules/web/src/app/shared/components/save-cluster-template/template.html
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/shared/utils/health-status.ts
  modules/web/src/app/wizard/component.ts
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/template.html
  modules/web/src/app/wizard/step/cluster/theme.scss
  modules/web/src/assets/css/global/_main.scss
  modules/web/src/assets/css/theme/_component.scss
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Remove setter method and reset form control within clear method
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/azure/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/azure/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Remove Azure Basic Load Balancer SKU option (#7590)
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/azure/component.ts
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/azure/template.html
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/azure/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/azure/template.html
  modules/web/src/test/data/cluster.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Add OpenStack LoadBalancerClass keys endpoint and update routes
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v2/provider/openstack.go
  modules/api/pkg/handler/v2/routes_v2.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

bump kkp dependency to latest
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

bump kkp dependency to latest (#7598)
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Allow disable/enable Encryption at rest for cluster edit
  modules/api/pkg/handler/common/cluster.go
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/shared/utils/cluster.ts
  modules/web/src/app/wizard/step/cluster/component.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

update comments
  modules/api/pkg/handler/common/cluster.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Use constant for annotations/update comment
  modules/api/pkg/handler/common/cluster.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Update ngx-charts to v23.0.1 for Angular 20 compatibility
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Update Angular core packages to v20.3.1
  modules/web/angular.json
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/app/cluster/details/cluster/mla/alertmanager-config/component.ts
  modules/web/src/app/component.ts
  modules/web/src/app/core/components/notification/component.ts
  modules/web/src/app/core/components/user-panel/component.ts
  modules/web/src/app/dynamic/enterprise/metering/legacy-reports/list/component.ts
  modules/web/src/app/dynamic/enterprise/metering/schedule-config/report-list/component.ts
  modules/web/src/app/dynamic/enterprise/theming/services/color-scheme.ts
  modules/web/src/app/dynamic/enterprise/theming/services/manager.ts
  modules/web/src/app/pages/api-docs/component.ts
  modules/web/tsconfig.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Update Angular Material and other Angular dependencies to v20
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/app/cluster/details/cluster/cni-version/theme.scss
  modules/web/src/app/cluster/details/shared/version-picker/theme.scss
  modules/web/src/app/dynamic/enterprise/quotas/quota-widget/style.scss
  modules/web/src/app/shared/components/property-usage/style.scss
  modules/web/src/assets/css/material/_main.scss
  modules/web/src/assets/css/material/_theme.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Remove warning/beta label styles
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/cluster/details/cluster/edit-cluster/theme.scss
  modules/web/src/app/wizard/step/cluster/template.html
  modules/web/src/app/wizard/step/cluster/theme.scss
  modules/web/src/assets/css/global/_main.scss
  modules/web/src/assets/css/theme/_component.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Revert jest-environment-jsdom package/revert Buffer polyfill
  modules/web/angular.json
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/polyfills.ts
  modules/web/tsconfig.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix spacing
  modules/web/src/app/component.ts
  modules/web/src/app/core/components/notification/component.ts
  modules/web/src/app/core/components/user-panel/component.ts
  modules/web/src/app/dynamic/enterprise/metering/legacy-reports/list/component.ts
  modules/web/src/app/dynamic/enterprise/metering/schedule-config/report-list/component.ts
  modules/web/src/app/dynamic/enterprise/theming/services/manager.ts
  modules/web/src/app/pages/api-docs/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Reveret module resolution/use theming updated syntax for colors obj
  modules/web/src/assets/themes/dark.scss
  modules/web/src/assets/themes/light.scss
  modules/web/tsconfig.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Allow toggle Encryption at rest for cluster edit (#7599)
  modules/api/pkg/handler/common/cluster.go
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/shared/utils/cluster.ts
  modules/web/src/app/wizard/step/cluster/component.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Update theme files and provide updated variable names for Material theme
  modules/web/src/app/core/components/notification-panel/theme.scss
  modules/web/src/app/core/components/notification/theme.scss
  modules/web/src/assets/css/theme/_main.scss
  modules/web/src/assets/themes/dark.scss
  modules/web/src/assets/themes/light.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Update variable
  modules/web/src/app/core/components/notification/theme.scss
  modules/web/src/assets/themes/dark.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Remove custom css instead use subscriptSizing property
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/assets/css/global/_main.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Audit fix vulnerabilities
  modules/web/package-lock.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Handle enabling encryption during edit when it’s being set for the first time
  modules/api/pkg/handler/common/cluster.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Handle enabling encryption during edit when it’s being set for the first time (#7606)
  modules/api/pkg/handler/common/cluster.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

update scss variables
  modules/web/src/assets/themes/dark.scss
  modules/web/src/assets/themes/light.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Audit fix vulnerabilities (#7604)
  modules/web/package-lock.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Add more cusotmize variables
  modules/web/src/assets/themes/dark.scss
  modules/web/src/assets/themes/light.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Define custom variables in _main.scs instead of individual theme files
  modules/web/src/assets/css/theme/_main.scss
  modules/web/src/assets/themes/dark.scss
  modules/web/src/assets/themes/light.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

prepare 2.29 alpha.1
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix: update the expected cilium version in api-tests
  modules/api/pkg/handler/v1/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

update cilium version
  modules/api/pkg/handler/v1/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

prepare for 2.29 alpha.1 (#7607)
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v1/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template_test.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check
