Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$

fix the redirect URI for keycloak
  modules/web/src/app/core/services/auth/service.ts
  modules/web/src/app/shared/model/Config.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix the redirect URI for keycloak v2.22
  modules/web/src/app/core/services/auth/service.ts
  modules/web/src/app/shared/model/Config.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix the redirect URI for keyclock v2.21
  src/app/core/services/auth/service.ts
  src/app/shared/model/Config.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix the redirect URI for keycloak (#6153)
  modules/web/src/app/core/services/auth/service.ts
  modules/web/src/app/shared/model/Config.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix the redirect URI for keycloak v2.22 (#6154)
  modules/web/src/app/core/services/auth/service.ts
  modules/web/src/app/shared/model/Config.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix the redirect URI for keyclock v2.21 (#6155)
  src/app/core/services/auth/service.ts
  src/app/shared/model/Config.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Include TenantID in list options while listing SecurityGroups, Networks and SubnetPools
  modules/api/pkg/provider/cloud/openstack/helper.go
  modules/api/pkg/provider/cloud/openstack/provider.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

docs: remove Zenhub guide
  Zenhub.md
Due: none

docs: remove Zenhub guide (#6157)
  Zenhub.md
Due: none

Skip fetching metrics if metric-server is not available
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/common/machine.go
  modules/web/src/app/cluster/details/cluster/component.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix unit tests
  modules/api/pkg/handler/v2/machine/machine_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Skip fetching metrics if metric-server is not available (#6166)
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/common/machine.go
  modules/api/pkg/handler/v2/machine/machine_test.go
  modules/web/src/app/cluster/details/cluster/component.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update web for v2.23.2 patch release
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update web for v2.22.6 patch release
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Upgrade to Go 1.21
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  Development.md
  hack/verify-spelling.sh
  modules/api/.golangci.yml
  modules/api/go.mod
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/custom-dashboard/Dockerfile
  modules/web/go.mod
  modules/web/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix data race
  modules/api/pkg/test/e2e/utils/http_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update api for v2.23.2 patch release
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix filter for quota calculation
  modules/web/src/app/node-data/basic/provider/hetzner/component.ts
  modules/web/src/app/node-data/basic/provider/nutanix/component.ts
  modules/web/src/app/node-data/basic/provider/vsphere/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Updates for v2.21.12 patch release
  Makefile
  package-lock.json
  package.json
  src/assets/config/changelog.json
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update version in the main Makefile
  Makefile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix filter for quota calculation (#6171)
  modules/web/src/app/node-data/basic/provider/hetzner/component.ts
  modules/web/src/app/node-data/basic/provider/nutanix/component.ts
  modules/web/src/app/node-data/basic/provider/vsphere/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix filter for quota calculation (#6172)
  modules/web/src/app/node-data/basic/provider/hetzner/component.ts
  modules/web/src/app/node-data/basic/provider/nutanix/component.ts
  modules/web/src/app/node-data/basic/provider/vsphere/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix filter for quota calculation (#6173)
  modules/web/src/app/node-data/basic/provider/hetzner/component.ts
  modules/web/src/app/node-data/basic/provider/nutanix/component.ts
  modules/web/src/app/node-data/basic/provider/vsphere/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update README.md
  README.md
Due: none

Update changelog with quota calculation filter fix
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.22] Update web for v2.22.6 patch release (#6170)
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump k8c.io/kubermatic/v2 dependency to f0cb4e1a1357
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update swagger
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/test/e2e/utils/apiclient/models/metering_report_configuration.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update Canal default version in unit tests
  modules/api/pkg/handler/v1/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Extend changelog with info about telemetry agent update
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update changelog.json
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Updates for v2.21.12 patch release (#6176)
  Makefile
  package-lock.json
  package.json
  src/assets/config/changelog.json
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.22] Add information about telemetry update (#6177)
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update KKP version in API
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.23] Updates for v2.23.2 patch release (#6178)
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix: vSphere tags for initial machine deployments
  modules/web/src/app/node-data/extended/provider/vsphere/tag-categories/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce
