Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

pre-dashboard-go-mod-verify:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      command:
      - make
      - verify-go
      resources:
        requests:
          cpu: 100m

pre-dashboard-test-unit:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/chrome-headless:v0.11
      command:
      - make
      - test-headless
      resources:
        requests:
          cpu: 1
          memory: 3Gi
        limits:
          cpu: 2
          memory: 5Gi
      env:
      - name: CODECOV_TOKEN
        valueFrom:
  ...

pre-dashboard-test-full-e2e:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-full-e2e-ce:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-e2e:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-test-e2e-ce:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-build-image:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

pre-dashboard-build-image-ce:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

Fixing errors
  modules/api/cmd/kubermatic-api/main.go
  modules/api/pkg/provider/auth/oidc.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Application starting. TODO: fix OIDCProvider interfaces
  modules/api/pkg/handler/common/kubeconfig.go
  modules/api/pkg/handler/v1/cluster/kubeconfig.go
  modules/api/pkg/handler/v2/kubernetes-dashboard/login.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/handler/v2/routing.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Display version in KubeOne clusters table
  modules/web/src/app/cluster/list/external-cluster/component.spec.ts
  modules/web/src/app/cluster/list/kubeone/component.ts
  modules/web/src/app/cluster/list/kubeone/template.html
  modules/web/src/app/kubeone-wizard/steps/credentials/provider/basic/aws/component.ts
  modules/web/src/app/kubeone-wizard/steps/credentials/provider/basic/azure/component.ts
  modules/web/src/app/kubeone-wizard/steps/credentials/provider/basic/gcp/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Working dashboard proxy
  modules/api/pkg/handler/v2/kubernetes-dashboard/login.go
  modules/api/pkg/handler/v2/kubernetes-dashboard/request.go
  modules/api/pkg/handler/v2/routes_v2.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add support to select preset in credentials step of KubeOne wizard (#5504)
  modules/web/src/app/cluster/list/external-cluster/component.spec.ts
  modules/web/src/app/cluster/list/kubeone/component.ts
  modules/web/src/app/cluster/list/kubeone/template.html
  modules/web/src/app/core/module.ts
  modules/web/src/app/core/services/external-cluster.ts
  modules/web/src/app/core/services/kubeone-wizard/kubeone-presets.ts
  modules/web/src/app/kubeone-wizard/module.ts
  modules/web/src/app/kubeone-wizard/steps/credentials/component.ts
  modules/web/src/app/kubeone-wizard/steps/credentials/preset/component.ts
  modules/web/src/app/kubeone-wizard/steps/credentials/preset/style.scss
  modules/web/src/app/kubeone-wizard/steps/credentials/preset/template.html
  modules/web/src/app/kubeone-wizard/steps/credentials/provider/basic/aws/component.ts
  modules/web/src/app/kubeone-wizard/steps/credentials/provider/basic/azure/component.ts
  modules/web/src/app/kubeone-wizard/steps/credentials/provider/basic/gcp/component.ts
  modules/web/src/app/kubeone-wizard/steps/credentials/template.html
  modules/web/src/app/kubeone-wizard/steps/summary/component.ts
  modules/web/src/app/kubeone-wizard/steps/summary/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Small refactor
  modules/api/pkg/handler/v2/kubernetes-dashboard/login.go
  modules/api/pkg/handler/v2/kubernetes-dashboard/request.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add support for OIDC provider logout URL
  src/app/core/components/user-panel/component.spec.ts
  src/app/core/components/user-panel/component.ts
  src/app/core/services/auth/service.ts
  src/app/shared/model/Config.ts
  src/test/services/auth-mock.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add support for OIDC provider logout URL (#5540)
  src/app/core/components/user-panel/component.spec.ts
  src/app/core/components/user-panel/component.ts
  src/app/core/services/auth/service.ts
  src/app/shared/model/Config.ts
  src/test/services/auth-mock.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Use project aware API endpoints
  modules/web/src/app/core/services/external-cluster.ts
  modules/web/src/app/core/services/node-data/provider/nutanix.ts
  modules/web/src/app/core/services/project.ts
  modules/web/src/app/core/services/wizard/presets.ts
  modules/web/src/app/core/services/wizard/provider/alibaba.ts
  modules/web/src/app/core/services/wizard/provider/anexia.ts
  modules/web/src/app/core/services/wizard/provider/aws.ts
  modules/web/src/app/core/services/wizard/provider/azure.ts
  modules/web/src/app/core/services/wizard/provider/digitalocean.ts
  modules/web/src/app/core/services/wizard/provider/equinix.ts
  modules/web/src/app/core/services/wizard/provider/gcp.ts
  modules/web/src/app/core/services/wizard/provider/hetzner.ts
  modules/web/src/app/core/services/wizard/provider/kubevirt.ts
  modules/web/src/app/core/services/wizard/provider/nutanix.ts
  modules/web/src/app/core/services/wizard/provider/openstack.ts
  modules/web/src/app/core/services/wizard/provider/provider.ts
  modules/web/src/app/core/services/wizard/provider/vmware-cloud-director.ts
  modules/web/src/app/core/services/wizard/provider/vsphere.ts
  modules/web/src/app/external-cluster-wizard/steps/external-cluster/provider/aks/component.ts
  modules/web/src/app/external-cluster-wizard/steps/external-cluster/provider/eks/component.ts
  modules/web/src/app/external-cluster-wizard/steps/external-cluster/provider/gke/component.ts
  modules/web/src/app/settings/admin/presets/component.ts
  modules/web/src/app/shared/components/external-cluster-credentials/preset/component.ts
  modules/web/src/app/shared/components/external-cluster-credentials/provider/aks/component.ts
  modules/web/src/app/shared/components/external-cluster-credentials/provider/eks/component.ts
  modules/web/src/app/shared/components/external-cluster-credentials/provider/gke/component.ts
  modules/web/src/app/wizard/step/provider-settings/preset/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add project-aware endpoint for kubeone presets
  modules/web/src/app/core/services/kubeone-wizard/kubeone-presets.ts
  modules/web/src/app/core/services/wizard/provider/openstack.spec.ts
  modules/web/src/app/core/services/wizard/provider/openstack.ts
  modules/web/src/app/kubeone-wizard/steps/credentials/preset/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix unit tests for openstack provider
  modules/web/src/app/core/services/wizard/provider/openstack.spec.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Create authtypes package
  modules/api/.golangci.yml
  modules/api/cmd/kubermatic-api/main.go
  modules/api/pkg/handler/auth/oidc.go
  modules/api/pkg/handler/auth/plugin.go
  modules/api/pkg/handler/auth/sa.go
  modules/api/pkg/handler/common/kubeconfig.go
  modules/api/pkg/handler/middleware/middleware.go
  modules/api/pkg/handler/routes_v1_websocket.go
  modules/api/pkg/handler/routing.go
  modules/api/pkg/handler/test/fake_auth.go
  modules/api/pkg/handler/test/hack/hack.go
  modules/api/pkg/handler/test/helper.go
  modules/api/pkg/handler/v1/cluster/kubeconfig.go
  modules/api/pkg/handler/v2/kubernetes-dashboard/login.go
  modules/api/pkg/handler/v2/routing.go
  modules/api/pkg/handler/v2/webterminal/webterminal.go
  modules/api/pkg/provider/auth/oidc.go
  modules/api/pkg/provider/auth/types/types.go
  modules/api/pkg/provider/types.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Removed redundant comments
  modules/api/pkg/handler/common/kubeconfig.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

webterminal dynamic oidc
  modules/api/pkg/handler/common/kubeconfig.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/handler/v2/webterminal/webterminal.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add mocking for list presets endpoint
  modules/web/cypress/utils/endpoint.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Use project aware API endpoints (#5539)
  modules/web/cypress/utils/endpoint.ts
  modules/web/src/app/core/services/external-cluster.ts
  modules/web/src/app/core/services/kubeone-wizard/kubeone-presets.ts
  modules/web/src/app/core/services/node-data/provider/nutanix.ts
  modules/web/src/app/core/services/project.ts
  modules/web/src/app/core/services/wizard/presets.ts
  modules/web/src/app/core/services/wizard/provider/alibaba.ts
  modules/web/src/app/core/services/wizard/provider/anexia.ts
  modules/web/src/app/core/services/wizard/provider/aws.ts
  modules/web/src/app/core/services/wizard/provider/azure.ts
  modules/web/src/app/core/services/wizard/provider/digitalocean.ts
  modules/web/src/app/core/services/wizard/provider/equinix.ts
  modules/web/src/app/core/services/wizard/provider/gcp.ts
  modules/web/src/app/core/services/wizard/provider/hetzner.ts
  modules/web/src/app/core/services/wizard/provider/kubevirt.ts
  modules/web/src/app/core/services/wizard/provider/nutanix.ts
  modules/web/src/app/core/services/wizard/provider/openstack.spec.ts
  modules/web/src/app/core/services/wizard/provider/openstack.ts
  modules/web/src/app/core/services/wizard/provider/provider.ts
  modules/web/src/app/core/services/wizard/provider/vmware-cloud-director.ts
  modules/web/src/app/core/services/wizard/provider/vsphere.ts
  modules/web/src/app/external-cluster-wizard/steps/external-cluster/provider/aks/component.ts
  modules/web/src/app/external-cluster-wizard/steps/external-cluster/provider/eks/component.ts
  modules/web/src/app/external-cluster-wizard/steps/external-cluster/provider/gke/component.ts
  modules/web/src/app/kubeone-wizard/steps/credentials/preset/component.ts
  modules/web/src/app/settings/admin/presets/component.ts
  modules/web/src/app/shared/components/external-cluster-credentials/preset/component.ts
  modules/web/src/app/shared/components/external-cluster-credentials/provider/aks/component.ts
  modules/web/src/app/shared/components/external-cluster-credentials/provider/eks/component.ts
  modules/web/src/app/shared/components/external-cluster-credentials/provider/gke/component.ts
  modules/web/src/app/wizard/step/provider-settings/preset/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

bump kkp version
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

gen swagger/api client
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/test/e2e/utils/apiclient/models/custom_network_policy.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_kubevirt.go
  modules/api/pkg/test/e2e/utils/apiclient/models/image_cloning.go
  modules/api/pkg/test/e2e/utils/apiclient/models/int_or_string.go
  modules/api/pkg/test/e2e/utils/apiclient/models/ip_block.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kubevirt_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/network_policy_egress_rule.go
  modules/api/pkg/test/e2e/utils/apiclient/models/network_policy_ingress_rule.go
  modules/api/pkg/test/e2e/utils/apiclient/models/network_policy_peer.go
  modules/api/pkg/test/e2e/utils/apiclient/models/network_policy_port.go
  modules/api/pkg/test/e2e/utils/apiclient/models/network_policy_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_type.go
  modules/api/pkg/test/e2e/utils/apiclient/models/protocol.go
  modules/api/pkg/test/e2e/utils/apiclient/models/type.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

bump kkp version (#5541)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/test/e2e/utils/apiclient/models/custom_network_policy.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_kubevirt.go
  modules/api/pkg/test/e2e/utils/apiclient/models/image_cloning.go
  modules/api/pkg/test/e2e/utils/apiclient/models/int_or_string.go
  modules/api/pkg/test/e2e/utils/apiclient/models/ip_block.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kubevirt_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/network_policy_egress_rule.go
  modules/api/pkg/test/e2e/utils/apiclient/models/network_policy_ingress_rule.go
  modules/api/pkg/test/e2e/utils/apiclient/models/network_policy_peer.go
  modules/api/pkg/test/e2e/utils/apiclient/models/network_policy_port.go
  modules/api/pkg/test/e2e/utils/apiclient/models/network_policy_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_type.go
  modules/api/pkg/test/e2e/utils/apiclient/models/protocol.go
  modules/api/pkg/test/e2e/utils/apiclient/models/type.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix unit tests
  modules/api/pkg/handler/test/hack/hack.go
  modules/api/pkg/handler/test/helper.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

handle no seed oidc config
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/options.go
  modules/api/pkg/provider/auth/oidc.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove unnecessary DeepCopy
  modules/api/pkg/handler/v2/external_cluster/kubeone.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

pass oidc configuration to issuerverifier
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/options.go
  modules/api/pkg/handler/auth/oidc.go
  modules/api/pkg/handler/common/kubeconfig.go
  modules/api/pkg/handler/routes_v1_optional.go
  modules/api/pkg/handler/test/fake_auth.go
  modules/api/pkg/handler/test/hack/hack.go
  modules/api/pkg/handler/v1/cluster/kubeconfig.go
  modules/api/pkg/handler/v1/common/common.go
  modules/api/pkg/handler/v2/kubernetes-dashboard/login.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/handler/v2/webterminal/webterminal.go
  modules/api/pkg/provider/auth/oidc.go
  modules/api/pkg/provider/auth/types/types.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Refactor KubeOne Patch (#5518)
  modules/api/pkg/handler/v2/external_cluster/external_cluster.go
  modules/api/pkg/handler/v2/external_cluster/kubeone.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

KubeOne preset support (#5525)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster.go
  modules/api/pkg/handler/v2/external_cluster/kubeone.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_one_spec.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix options
  modules/api/cmd/kubermatic-api/options.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

remove uneccessary seedsGetter
  modules/api/pkg/handler/common/kubeconfig.go
  modules/api/pkg/handler/routes_v1_optional.go
  modules/api/pkg/handler/v1/cluster/kubeconfig.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

WIP dynamic oidc config
  modules/api/pkg/handler/common/kubeconfig.go
  modules/api/pkg/handler/routes_v1_optional.go
  modules/api/pkg/handler/v1/cluster/kubeconfig.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/handler/v2/webterminal/webterminal.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

WIP dynamic oidc config v2
  modules/api/cmd/kubermatic-api/main.go
  modules/api/pkg/handler/routes_v1_optional.go
  modules/api/pkg/handler/test/hack/hack.go
  modules/api/pkg/handler/v2/routes_v2.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove `shareReplay` operator for health endpoint to fix polling issue
  modules/web/src/app/core/services/cluster.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add support to migrate KubeOne cluster container runtime
  modules/web/src/app/cluster/details/kubeone/component.ts
  modules/web/src/app/cluster/details/kubeone/edit-cluster-dialog/component.ts
  modules/web/src/app/cluster/details/kubeone/edit-cluster-dialog/template.html
  modules/web/src/app/cluster/details/kubeone/template.html
  modules/web/src/app/cluster/module.ts
  modules/web/src/app/shared/entity/external-cluster.ts
  modules/web/src/app/shared/entity/kubeone-cluster.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

use dynamic oicd config
  modules/api/cmd/kubermatic-api/main.go
  modules/api/pkg/handler/common/kubeconfig.go
  modules/api/pkg/handler/test/hack/hack.go
  modules/api/pkg/handler/v2/kubernetes-dashboard/login.go
  modules/api/pkg/handler/v2/kubernetes-dashboard/response.go
  modules/api/pkg/handler/v2/routes_v2.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

use dynamic secure cookie
  modules/api/cmd/kubermatic-api/options.go
  modules/api/pkg/handler/common/kubeconfig.go
  modules/api/pkg/handler/test/fake_auth.go
  modules/api/pkg/handler/v2/kubernetes-dashboard/login.go
  modules/api/pkg/handler/v2/kubernetes-dashboard/response.go
  modules/api/pkg/provider/auth/types/types.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.19] changelog update 2.19.14
  src/assets/config/changelog.json
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Typo
  src/assets/config/changelog.json
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.20] changelog update 2.20.12
  src/assets/config/changelog.json
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

typo
  src/assets/config/changelog.json
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Removed comma
  src/assets/config/changelog.json
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.21] changelog update 2.21.5
  src/assets/config/changelog.json
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$
