Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

pre-dashboard-go-mod-verify:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      command:
      - make
      - verify-go
      resources:
        requests:
          cpu: 100m

pre-dashboard-test-unit:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/chrome-headless:v0.11
      command:
      - make
      - test-headless
      resources:
        requests:
          cpu: 1
          memory: 3Gi
        limits:
          cpu: 2
          memory: 5Gi
      env:
      - name: CODECOV_TOKEN
        valueFrom:
  ...

pre-dashboard-test-full-e2e:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-full-e2e-ce:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-e2e:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-test-e2e-ce:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-build-image:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

pre-dashboard-build-image-ce:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

release v2.19.0-rc.0
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update event grouping and more information section logic (#4123)
  src/app/cluster/details/cluster/component.ts
  src/app/cluster/details/cluster/template.html
  src/app/shared/components/event-list/component.ts
  src/app/shared/components/expansion-panel/component.ts
  src/app/shared/components/expansion-panel/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update version to final
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Move member-related methods
  src/app/core/services/api.ts
  src/app/core/services/member.ts
  src/app/member/component.ts
  src/app/testing/services/api-mock.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump version to v2.19 and update changelog (#4098)
  Makefile
  cypress/utils/endpoint.ts
  cypress/utils/mocks.ts
  package-lock.json
  package.json
  src/app/core/components/changelog/theme.scss
  src/assets/config/changelog.json
Due: pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump version to v2.19 and update changelog
  Makefile
  cypress/utils/endpoint.ts
  cypress/utils/mocks.ts
  package-lock.json
  package.json
  src/app/core/components/changelog/theme.scss
  src/assets/config/changelog.json
Due: pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Move addon-related methods
  src/app/core/services/addon.ts
  src/app/core/services/api.ts
  src/app/core/services/cluster.ts
  src/app/shared/components/addon-list/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove changelog from the master
  src/assets/config/changelog.json
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update method calls
  src/app/cluster/details/cluster/component.ts
  src/app/cluster/details/cluster/mla/alertmanager-config/component.ts
  src/app/member/add-member/component.ts
  src/app/member/edit-member/component.ts
  src/app/serviceaccount/create-dialog/component.ts
  src/app/serviceaccount/edit-dialog/component.ts
  src/app/serviceaccount/token/add/component.ts
  src/app/serviceaccount/token/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Format files
  src/app/shared/components/addon-list/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update wording
  src/app/cluster/details/cluster/component.ts
  src/app/core/services/addon.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Move SSH key-related methods
  src/app/cluster/details/cluster/edit-sshkeys/component.ts
  src/app/core/services/api.ts
  src/app/core/services/ssh-key.ts
  src/app/shared/components/add-ssh-key-dialog/component.ts
  src/app/sshkey/component.ts
  src/app/testing/services/api-mock.ts
  src/app/wizard/step/cluster/ssh-keys/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Move machine deployment-related methods
  src/app/cluster/details/cluster/component.ts
  src/app/cluster/details/cluster/machine-deployment-details/component.ts
  src/app/cluster/list/cluster/component.ts
  src/app/core/services/api.ts
  src/app/core/services/machine-deployment.ts
  src/app/core/services/node.ts
  src/app/core/services/page-title.ts
  src/app/testing/services/api-mock.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump version to v2.19 and update changelog (#4127)
  Makefile
  cypress/utils/endpoint.ts
  cypress/utils/mocks.ts
  package-lock.json
  package.json
  src/app/core/components/changelog/theme.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Move provider-related methods
  src/app/core/services/api.ts
  src/app/core/services/provider/alibaba.ts
  src/app/core/services/provider/anexia.ts
  src/app/core/services/provider/aws.ts
  src/app/core/services/provider/azure.ts
  src/app/core/services/provider/digitalocean.ts
  src/app/core/services/provider/equinix.ts
  src/app/core/services/provider/gcp.ts
  src/app/core/services/provider/hetzner.ts
  src/app/core/services/provider/openstack.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove API service
  src/app/config.service.ts
  src/app/core/services/api.ts
  src/app/core/services/cluster.ts
  src/app/wizard/step/cluster/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Minor adjustments
  src/app/cluster/details/cluster/machine-deployment-details/component.ts
  src/app/cluster/details/cluster/rbac/component.ts
  src/app/cluster/details/external-cluster/external-machine-deployment-details/component.ts
  src/app/core/services/backup.ts
  src/app/core/services/cluster.ts
  src/app/core/services/project.ts
  src/app/core/services/settings.ts
  src/app/core/services/user.ts
  src/app/member/component.ts
  src/app/serviceaccount/component.ts
  src/app/sshkey/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update method calls
  src/app/cluster/details/cluster/component.ts
  src/app/cluster/details/cluster/edit-cluster/component.ts
  src/app/cluster/details/cluster/revoke-token/component.ts
  src/app/cluster/details/cluster/share-kubeconfig/component.ts
  src/app/core/module.ts
  src/app/core/services/node-data/provider/alibaba.ts
  src/app/core/services/node-data/provider/anexia.ts
  src/app/core/services/node-data/provider/aws.ts
  src/app/core/services/node-data/provider/azure.ts
  src/app/core/services/node-data/provider/digitalocean.ts
  src/app/core/services/node-data/provider/equinix.ts
  src/app/core/services/node-data/provider/gcp.ts
  src/app/core/services/node-data/provider/hetzner.ts
  src/app/core/services/node-data/provider/openstack.ts
  src/app/core/services/node-data/service.ts
  src/app/pages/api-docs/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add missing imports
  src/app/cluster/details/cluster/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix half of the unit tests
  src/app/cluster/details/cluster/component.spec.ts
  src/app/cluster/details/cluster/constraints/constraint-dialog/component.spec.ts
  src/app/cluster/details/cluster/edit-cluster/component.spec.ts
  src/app/cluster/details/cluster/edit-provider-settings/equinix-provider-settings/component.spec.ts
  src/app/cluster/details/cluster/edit-provider-settings/openstack-provider-settings/component.spec.ts
  src/app/cluster/details/cluster/edit-sshkeys/component.spec.ts
  src/app/cluster/details/cluster/gatekeeper-config/gatekeeper-config-dialog/component.spec.ts
  src/app/cluster/details/cluster/machine-deployment-details/component.spec.ts
  src/app/cluster/details/cluster/machine-deployment-list/component.spec.ts
  src/app/cluster/details/cluster/mla/alertmanager-config/alertmanager-config-dialog/component.spec.ts
  src/app/cluster/details/cluster/mla/alertmanager-config/component.spec.ts
  src/app/cluster/details/cluster/mla/rule-groups/rule-group-dialog/component.spec.ts
  src/app/cluster/details/cluster/share-kubeconfig/component.spec.ts
  src/app/cluster/details/shared/version-picker/component.spec.ts
  src/app/cluster/list/cluster/component.spec.ts
  src/app/cluster/list/external-cluster/component.spec.ts
  src/app/component.spec.ts
  src/app/core/components/navigation/project/component.spec.ts
  src/app/core/services/node.spec.ts
  src/app/dashboard/component.spec.ts
  src/app/member/add-member/component.spec.ts
  src/app/member/component.spec.ts
  src/app/member/edit-member/component.spec.ts
  src/app/project/edit-project/component.spec.ts
  src/app/serviceaccount/component.spec.ts
  src/app/serviceaccount/create-dialog/component.spec.ts
  src/app/serviceaccount/edit-dialog/component.spec.ts
  src/app/serviceaccount/token/component.spec.ts
  src/app/settings/admin/opa/constraint-templates/constraint-template-dialog/component.spec.ts
  src/app/settings/admin/opa/default-constraints/default-constraint-dialog/component.spec.ts
  src/app/shared/components/add-project-dialog/component.spec.ts
  src/app/shared/components/add-ssh-key-dialog/component.spec.ts
  src/app/shared/components/machine-networks-new/component.spec.ts
  src/app/sshkey/component.spec.ts
  src/app/testing/services/api-mock.ts
  src/app/testing/services/project-mock.ts
  src/app/wizard/step/cluster/ssh-keys/component.spec.ts
  src/app/wizard/step/network/component.spec.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add services to the module
  src/app/core/module.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add SSH key service mock
  src/app/cluster/details/cluster/edit-sshkeys/component.spec.ts
  src/app/cluster/details/cluster/rbac/add-binding/component.spec.ts
  src/app/cluster/list/cluster/component.spec.ts
  src/app/member/add-member/component.spec.ts
  src/app/project/edit-project/component.spec.ts
  src/app/shared/components/add-ssh-key-dialog/component.spec.ts
  src/app/sshkey/component.spec.ts
  src/app/testing/services/ssh-key-mock.ts
  src/app/wizard/step/network/component.spec.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix few more unit tests
  src/app/cluster/details/cluster/gatekeeper-config/gatekeeper-config-dialog/component.spec.ts
  src/app/member/add-member/component.spec.ts
  src/app/member/component.spec.ts
  src/app/serviceaccount/token/component.spec.ts
  src/app/sshkey/component.spec.ts
  src/app/testing/services/member-mock.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix few more unit tests
  src/app/cluster/details/cluster/mla/alertmanager-config/component.spec.ts
  src/app/serviceaccount/token/component.spec.ts
  src/app/testing/services/service-account-mock.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix few more unit tests
  src/app/cluster/details/cluster/component.spec.ts
  src/app/cluster/details/cluster/machine-deployment-details/component.spec.ts
  src/app/shared/components/machine-networks-new/component.spec.ts
  src/app/wizard/step/network/component.spec.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Finish fixing unit tests
  src/app/cluster/details/cluster/component.spec.ts
  src/app/cluster/details/cluster/mla/alertmanager-config/alertmanager-config-dialog/component.spec.ts
  src/app/cluster/details/cluster/mla/alertmanager-config/component.spec.ts
  src/app/core/services/node.spec.ts
  src/app/testing/services/addon-mock.ts
  src/app/testing/services/machine-deployment-mock.ts
  src/app/testing/services/member-mock.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Refactor member service
  src/app/core/services/addon.ts
  src/app/core/services/member.ts
  src/app/member/add-member/component.spec.ts
  src/app/member/add-member/component.ts
  src/app/member/component.spec.ts
  src/app/member/component.ts
  src/app/member/edit-member/component.ts
  src/app/shared/entity/member.ts
  src/app/testing/services/member-mock.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add SSH key service to shared module
  src/app/core/module.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove unused and deprecated mocks
  src/app/testing/fake-data/add-node-modal.ts
  src/app/testing/fake-data/alibaba.ts
  src/app/testing/fake-data/anexia.ts
  src/app/testing/fake-data/cluster-spec.ts
  src/app/testing/fake-data/cluster.ts
  src/app/testing/fake-data/datacenter.ts
  src/app/testing/fake-data/node.ts
  src/app/testing/fake-data/project.ts
  src/app/testing/fake-data/vsphere.ts
  src/app/testing/fake-data/wizard.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Reorganize mocks
  src/app/cluster/details/cluster/component.spec.ts
  src/app/testing/fake-data/app-config.ts
  src/app/testing/fake-data/version-info.ts
  src/app/testing/services/app-config-mock.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Format files
  src/app/cluster/details/cluster/constraints/component.spec.ts
  src/app/cluster/details/cluster/constraints/violation-details/component.spec.ts
  src/app/cluster/details/cluster/mla/rule-groups/component.spec.ts
  src/app/cluster/list/cluster/component.spec.ts
  src/app/cluster/list/external-cluster/component.spec.ts
  src/app/settings/admin/opa/default-constraints/default-constraint-dialog/component.spec.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

disable opa again
  cypress/plugins/index.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

mock e2e tests
  cypress/fixtures/constraint.json
  cypress/fixtures/constraints.json
  cypress/fixtures/constrainttemplate.json
  cypress/fixtures/constrainttemplates.json
  cypress/fixtures/digitalocean/cluster.json
  cypress/fixtures/digitalocean/clusters.json
  cypress/fixtures/gatekeeperconfig.json
  cypress/fixtures/health.json
  cypress/integration/providers/digitalocean.spec.ts
  cypress/integration/stories/admin-settings/administrators.spec.ts
  cypress/integration/stories/admin-settings/cluster-settings.spec.ts
  cypress/integration/stories/admin-settings/custom-links.spec.ts
  cypress/integration/stories/admin-settings/opa-integration.spec.ts
  cypress/integration/stories/opa.spec.ts
  cypress/pages/admin-settings.po.ts
  cypress/plugins/index.ts
  cypress/utils/endpoint.ts
  cypress/utils/mocks.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

remove unused
  cypress/integration/stories/opa.spec.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

gts fix
  cypress/integration/stories/admin-settings/opa-integration.spec.ts
  cypress/integration/stories/opa.spec.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Revert IDE changes
  cypress/pages/service-accounts.po.ts
  cypress/utils/mocks.ts
  src/app/serviceaccount/create-dialog/component.spec.ts
  src/app/serviceaccount/create-dialog/component.ts
  src/app/serviceaccount/edit-dialog/component.spec.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Revert IDE changes
  cypress/integration/stories/admin-settings/custom-links.spec.ts
  cypress/integration/stories/service-accounts.spec.ts
  hack/check-licenses.sh
  hack/e2e/fixtures/oauth_values.yaml
  hack/e2e/setup-kind-cluster.sh
  src/app/component.spec.ts
  src/app/member/add-member/component.spec.ts
  src/app/serviceaccount/component.spec.ts
  src/app/shared/components/add-project-dialog/component.spec.ts
  src/app/shared/components/tab-card/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$
