Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-go-mod-verify, pre-dashboard-web-lint, pre-dashboard-web-check

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-web-integration-tests: any of: modules/web
  pre-dashboard-web-integration-tests-ce: any of: modules/web
  pre-dashboard-web-unit: any of: modules/web
  pre-dashboard-web-go-mod-verify: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-lint: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-check: any of: modules/web

codegen
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/test/e2e/utils/apiclient/models/ip_block.go
  modules/api/pkg/test/e2e/utils/apiclient/models/json_schema_props.go
  modules/api/pkg/test/e2e/utils/apiclient/models/json_schema_props_or_array.go
  modules/api/pkg/test/e2e/utils/apiclient/models/json_schema_props_or_string_array.go
  modules/api/pkg/test/e2e/utils/apiclient/models/label_selector.go
  modules/api/pkg/test/e2e/utils/apiclient/models/label_selector_requirement.go
  modules/api/pkg/test/e2e/utils/apiclient/models/network_policy_egress_rule.go
  modules/api/pkg/test/e2e/utils/apiclient/models/network_policy_ingress_rule.go
  modules/api/pkg/test/e2e/utils/apiclient/models/network_policy_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/pod_dns_config.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_rule.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

remove EnableOperatingSystemManager field alltogether
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/v1/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template_test.go
  modules/api/pkg/resources/cluster/cluster.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_spec.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

bump KKP to eec75550ae15 (#6697)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/v1/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template_test.go
  modules/api/pkg/resources/cluster/cluster.go
  modules/api/pkg/test/clusterexposer/controller/controller.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/ip_block.go
  modules/api/pkg/test/e2e/utils/apiclient/models/json_schema_props.go
  modules/api/pkg/test/e2e/utils/apiclient/models/json_schema_props_or_array.go
  modules/api/pkg/test/e2e/utils/apiclient/models/json_schema_props_or_string_array.go
  modules/api/pkg/test/e2e/utils/apiclient/models/label_selector.go
  modules/api/pkg/test/e2e/utils/apiclient/models/label_selector_requirement.go
  modules/api/pkg/test/e2e/utils/apiclient/models/network_policy_egress_rule.go
  modules/api/pkg/test/e2e/utils/apiclient/models/network_policy_ingress_rule.go
  modules/api/pkg/test/e2e/utils/apiclient/models/network_policy_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/pod_dns_config.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_rule.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix dev deployment
  Makefile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix dev deployment (#6706)
  Makefile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Display the used preset in cluster page
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/handler/v2/preset/preset.go
  modules/api/pkg/test/e2e/utils/apiclient/client/preset/list_presets_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/preset/list_project_presets_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/preset/list_project_provider_presets_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/preset/list_provider_presets_parameters.go
  modules/web/src/app/cluster/details/cluster/component.spec.ts
  modules/web/src/app/cluster/details/cluster/component.ts
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/core/services/wizard/presets.ts
  modules/web/src/app/shared/utils/health-status.ts
  modules/web/src/test/services/preset-mock.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Display the used preset in cluster page (#6705)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/handler/v2/preset/preset.go
  modules/api/pkg/test/e2e/utils/apiclient/client/preset/list_presets_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/preset/list_project_presets_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/preset/list_project_provider_presets_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/preset/list_provider_presets_parameters.go
  modules/web/src/app/cluster/details/cluster/component.spec.ts
  modules/web/src/app/cluster/details/cluster/component.ts
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/core/services/wizard/presets.ts
  modules/web/src/app/shared/utils/health-status.ts
  modules/web/src/test/services/preset-mock.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

small ui enhancement
  modules/web/src/app/cluster/details/cluster/constraints/style.scss
  modules/web/src/app/cluster/details/cluster/mla/rule-groups/style.scss
  modules/web/src/app/project/style.scss
  modules/web/src/app/settings/admin/dynamic-datacenters/style.scss
  modules/web/src/app/settings/admin/dynamic-datacenters/template.html
  modules/web/src/app/settings/admin/opa/default-constraints/style.scss
  modules/web/src/app/settings/admin/presets/style.scss
  modules/web/src/app/settings/admin/presets/template.html
  modules/web/src/app/settings/admin/rule-groups/style.scss
  modules/web/src/app/settings/admin/rule-groups/template.html
  modules/web/src/app/shared/components/application-list/style.scss
  modules/web/src/assets/css/global/_main.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

small ui enhancement (#6707)
  modules/web/src/app/cluster/details/cluster/constraints/style.scss
  modules/web/src/app/cluster/details/cluster/mla/rule-groups/style.scss
  modules/web/src/app/project/style.scss
  modules/web/src/app/settings/admin/dynamic-datacenters/style.scss
  modules/web/src/app/settings/admin/dynamic-datacenters/template.html
  modules/web/src/app/settings/admin/opa/default-constraints/style.scss
  modules/web/src/app/settings/admin/presets/style.scss
  modules/web/src/app/settings/admin/presets/template.html
  modules/web/src/app/settings/admin/rule-groups/style.scss
  modules/web/src/app/settings/admin/rule-groups/template.html
  modules/web/src/app/shared/components/application-list/style.scss
  modules/web/src/assets/css/global/_main.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix defaulting for CNI
  modules/web/src/app/wizard/step/cluster/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix defaulting for CNI (#6708)
  modules/web/src/app/wizard/step/cluster/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix defaulting for CNI (#6709)
  modules/web/src/app/wizard/step/cluster/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Bump GO version to 1.22.4
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  docs/proposals/testing.md
  hack/verify-spelling.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/custom-dashboard/Dockerfile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Updated GO version to 1.21.11
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  docs/proposals/testing.md
  hack/verify-spelling.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/custom-dashboard/Dockerfile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Updated Go version to 1.22.4
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  docs/proposals/testing.md
  hack/verify-spelling.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/custom-dashboard/Dockerfile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

add select all namespaces checkbox
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/add-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/add-dialog/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/schedule/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/schedule/template.html
  modules/web/src/app/shared/entity/backup.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

add select all namespaces checkbox (#6713)
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/add-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/add-dialog/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/schedule/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/schedule/template.html
  modules/web/src/app/shared/entity/backup.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Address review comments
  modules/api/hack/gen-api-client.sh
  modules/web/containers/chrome-headless/Dockerfile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Bump Go version to 1.22.4 (#6710)
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  docs/proposals/testing.md
  hack/verify-spelling.sh
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/custom-dashboard/Dockerfile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.25] Updated Go version to 1.22.4 (#6712)
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  docs/proposals/testing.md
  hack/verify-spelling.sh
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/custom-dashboard/Dockerfile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.24] Updated Go version to 1.21.11 (#6711)
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  docs/proposals/testing.md
  hack/verify-spelling.sh
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/custom-dashboard/Dockerfile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.23] prepare 2.23.16
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.24] prepare 2.24.9
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.25] prepare 2.25.5
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

codegen
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_networking_config.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

codegen
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/resources/reconciling/zz_generated_reconcile.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix typo
  docs/proposals/testing.md
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix typo
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.23] prepare 2.23.16 (#6715)
  Makefile
  docs/proposals/testing.md
  modules/api/Makefile
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/resources/reconciling/zz_generated_reconcile.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.24] prepare 2.24.9 (#6716)
  Makefile
  modules/api/Makefile
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_networking_config.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.25] prepare 2.25.5 (#6717)
  Makefile
  modules/api/Makefile
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_networking_config.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Update dependencies
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/provider/kubernetes/util_test.go
  modules/api/pkg/serviceaccount/jwt.go
  modules/web/.eslintrc.yml
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Update dependencies (#6718)
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/provider/kubernetes/util_test.go
  modules/api/pkg/serviceaccount/jwt.go
  modules/web/.eslintrc.yml
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.25] prepare 2.25.6
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.24] prepare 2.24.10
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

update changelog
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check
