Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$

Display instance type and preference category instead of `kind` (#5294)
  modules/web/src/app/cluster/details/cluster/node-list/component.ts
  modules/web/src/app/cluster/details/cluster/node-list/template.html
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
  modules/web/src/app/shared/components/cluster-summary/component.ts
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/entity/provider/kubevirt.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add Seed UI implementation to display table (#5285)
  modules/web/src/app/core/services/datacenter.ts
  modules/web/src/app/settings/admin/nav/template.html
  modules/web/src/app/settings/admin/routing.ts
  modules/web/src/app/settings/admin/seed-configurations/clusters-by-datacenter/component.ts
  modules/web/src/app/settings/admin/seed-configurations/clusters-by-datacenter/style.scss
  modules/web/src/app/settings/admin/seed-configurations/clusters-by-datacenter/template.html
  modules/web/src/app/settings/admin/seed-configurations/component.ts
  modules/web/src/app/settings/admin/seed-configurations/module.ts
  modules/web/src/app/settings/admin/seed-configurations/routing.ts
  modules/web/src/app/settings/admin/seed-configurations/seed-configurations-details/component.ts
  modules/web/src/app/settings/admin/seed-configurations/seed-configurations-details/style.scss
  modules/web/src/app/settings/admin/seed-configurations/seed-configurations-details/template.html
  modules/web/src/app/settings/admin/seed-configurations/style.scss
  modules/web/src/app/settings/admin/seed-configurations/template.html
  modules/web/src/app/settings/admin/seed-configurations/types/seed-configurations.ts
  modules/web/src/app/shared/entity/datacenter.ts
  modules/web/src/app/shared/utils/seed-configurations.ts
  modules/web/src/assets/css/_images.scss
  modules/web/src/assets/css/global/_main.scss
  modules/web/src/assets/images/icons/seed.svg
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Ignore OWNERS files to add license (#5293)
  modules/web/license-checker-config.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add an option to not force `min-width` on input field
  modules/web/src/app/shared/components/number-stepper/component.ts
  modules/web/src/app/shared/components/number-stepper/style.scss
  modules/web/src/app/shared/components/number-stepper/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.21] Bump version to 2.21.4
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add functionality to configure topology spread constraints
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/template.html
  modules/web/src/app/node-data/basic/provider/kubevirt/topology-spread-contraint-form/component.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/topology-spread-contraint-form/style.scss
  modules/web/src/app/node-data/basic/provider/kubevirt/topology-spread-contraint-form/template.html
  modules/web/src/app/node-data/module.ts
  modules/web/src/app/shared/entity/node.ts
  modules/web/src/app/shared/entity/provider/kubevirt.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Display topology spread constraints on cluster summary and node-list details
  modules/web/src/app/cluster/details/cluster/node-list/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove Pod Affinity and Pod Anti-Affinity settings from KubeVirt provider
  modules/web/src/app/cluster/details/cluster/node-list/template.html
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/entity/node.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.21] Bump version to 2.21.4 (#5298)
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add support to configure topology spread constraints in KubeVirt (#5296)
  modules/web/src/app/cluster/details/cluster/node-list/template.html
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/template.html
  modules/web/src/app/node-data/basic/provider/kubevirt/topology-spread-contraint-form/component.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/topology-spread-contraint-form/style.scss
  modules/web/src/app/node-data/basic/provider/kubevirt/topology-spread-contraint-form/template.html
  modules/web/src/app/node-data/module.ts
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/components/number-stepper/component.ts
  modules/web/src/app/shared/components/number-stepper/template.html
  modules/web/src/app/shared/entity/node.ts
  modules/web/src/app/shared/entity/provider/kubevirt.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add endpoint to calculate resource quota update
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/ee/resource-quota/handler.go
  modules/api/pkg/handler/v2/resource_quota/resourequota.go
  modules/api/pkg/handler/v2/resource_quota/wrappers_ce.go
  modules/api/pkg/handler/v2/resource_quota/wrappers_ee.go
  modules/api/pkg/handler/v2/routes_v2.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add Create endpoint for AppDefs
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/v2/application_definition/application_definition.go
  modules/api/pkg/handler/v2/application_definition/application_definition_test.go
  modules/api/pkg/handler/v2/application_definition/conversion.go
  modules/api/pkg/handler/v2/application_definition/request.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/provider/kubernetes/application_definition.go
  modules/api/pkg/provider/types.go
  modules/api/pkg/test/e2e/utils/apiclient/client/applications/applications_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/applications/create_application_definition_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/applications/create_application_definition_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/models/application_definition_body.go
  modules/api/pkg/test/e2e/utils/apiclient/models/application_ref.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kubevirt_node_spec.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

KubeVirt remove /vmflavors endpoints
  Makefile
  modules/api/Makefile
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/common/provider/kubevirt.go
  modules/api/pkg/handler/v2/cluster/cluster.go
  modules/api/pkg/handler/v2/provider/kubevirt.go
  modules/api/pkg/handler/v2/provider/kubevirt_test.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/provider/cloud/kubevirt/manifests/manifests.go
  modules/api/pkg/provider/cloud/kubevirt/manifests/manifests_test.go
  modules/api/pkg/provider/cloud/kubevirt/manifests/presets/kubermatic-standard.yaml
  modules/api/pkg/provider/cloud/kubevirt/manifests/test/presets/invalid-standard.yaml
  modules/api/pkg/provider/cloud/kubevirt/manifests/test/presets/standard-1.yaml
  modules/api/pkg/provider/cloud/kubevirt/manifests/test/presets/standard-2.yaml
  modules/api/pkg/provider/cloud/kubevirt/provider.go
  modules/api/pkg/provider/cloud/kubevirt/vm_preset.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/kubevirt_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_kube_virt_vm_i_presets_no_credentials_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_kube_virt_vm_i_presets_no_credentials_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_kube_virt_vm_i_presets_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_kube_virt_vm_i_presets_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kubevirt_node_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/virtual_machine_instance_preset.go
  modules/api/pkg/test/e2e/utils/apiclient/models/virtual_machine_instance_preset_list.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fixing e2e tests
  modules/web/cypress/e2e/v2/stories/admin-settings/defaults.spec.ts
  modules/web/cypress/e2e/v2/stories/members.spec.ts
  modules/web/cypress/e2e/v2/stories/service-accounts.spec.ts
  modules/web/cypress/e2e/v2/stories/ssh-keys.spec.ts
  modules/web/cypress/pages/v2/clusters/list/page.ts
  modules/web/cypress/pages/v2/members/page.ts
  modules/web/src/app/core/components/sidenav/component.spec.ts
  modules/web/src/app/core/components/sidenav/template.html
  modules/web/src/app/member/component.spec.ts
  modules/web/src/app/shared/components/side-nav-field/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add all the side nav field and the menu tab
  modules/web/src/app/backup/list/template.html
  modules/web/src/app/cluster/details/external-cluster/component.ts
  modules/web/src/app/cluster/list/component.ts
  modules/web/src/app/cluster/list/template.html
  modules/web/src/app/core/components/sidenav/component.ts
  modules/web/src/app/core/components/sidenav/style.scss
  modules/web/src/app/core/components/sidenav/template.html
  modules/web/src/app/core/components/sidenav/theme.scss
  modules/web/src/app/core/services/external-cluster.ts
  modules/web/src/app/dynamic/enterprise/group/template.html
  modules/web/src/app/member/component.ts
  modules/web/src/app/member/template.html
  modules/web/src/app/project-overview/clusters-overview/component.ts
  modules/web/src/app/routing.ts
  modules/web/src/app/shared/components/side-nav-field/component.ts
  modules/web/src/app/shared/components/side-nav-field/style.scss
  modules/web/src/app/shared/components/side-nav-field/template.html
  modules/web/src/app/shared/components/side-nav-field/theme.scss
  modules/web/src/app/shared/entity/common.ts
  modules/web/src/assets/css/theme/_component.scss
  src/app/shared/components/side-nav-field/style.scss
  src/app/shared/components/side-nav-field/theme.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

overall adjustments
  modules/web/src/app/backup/list/component.ts
  modules/web/src/app/backup/list/template.html
  modules/web/src/app/cluster/list/component.ts
  modules/web/src/app/cluster/list/template.html
  modules/web/src/app/core/components/sidenav/component.ts
  modules/web/src/app/core/components/sidenav/template.html
  modules/web/src/app/member/component.ts
  modules/web/src/app/member/template.html
  modules/web/src/app/routing.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add the collapsed button to the side-nav-field component
  modules/web/src/app/backup/list/component.ts
  modules/web/src/app/backup/list/template.html
  modules/web/src/app/cluster/details/cluster/machine-deployment-details/cluster-panel/component.ts
  modules/web/src/app/cluster/details/external-cluster/component.ts
  modules/web/src/app/cluster/details/external-cluster/external-machine-deployment-details/component.ts
  modules/web/src/app/cluster/details/external-cluster/external-machine-deployment-list/component.ts
  modules/web/src/app/cluster/list/component.ts
  modules/web/src/app/cluster/list/external-cluster/component.ts
  modules/web/src/app/cluster/list/template.html
  modules/web/src/app/cluster/routing.ts
  modules/web/src/app/core/components/sidenav/component.ts
  modules/web/src/app/core/components/sidenav/style.scss
  modules/web/src/app/core/components/sidenav/template.html
  modules/web/src/app/core/components/sidenav/theme.scss
  modules/web/src/app/core/services/external-cluster.ts
  modules/web/src/app/core/services/page-title.ts
  modules/web/src/app/external-cluster-wizard/component.ts
  modules/web/src/app/member/component.ts
  modules/web/src/app/member/template.html
  modules/web/src/app/project-overview/clusters-overview/component.ts
  modules/web/src/app/routing.ts
  modules/web/src/app/shared/components/add-external-cluster-dialog/component.ts
  modules/web/src/app/shared/components/side-nav-field/component.ts
  modules/web/src/app/shared/components/side-nav-field/style.scss
  modules/web/src/app/shared/components/side-nav-field/template.html
  modules/web/src/app/shared/components/side-nav-field/theme.scss
  modules/web/src/app/shared/entity/common.ts
  modules/web/src/app/shared/module.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add side-nav-field component
  src/app/shared/components/side-nav-field/component.ts
  src/app/shared/components/side-nav-field/style.scss
  src/app/shared/components/side-nav-field/template.html
  src/app/shared/components/side-nav-field/theme.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add routing to externalclusters tab
  modules/web/src/app/cluster/details/external-cluster/component.ts
  modules/web/src/app/cluster/list/component.ts
  modules/web/src/app/cluster/list/template.html
  modules/web/src/app/core/components/sidenav/template.html
  modules/web/src/app/core/components/sidenav/theme.scss
  modules/web/src/app/core/services/external-cluster.ts
  modules/web/src/app/external-cluster-wizard/component.ts
  modules/web/src/app/project-overview/clusters-overview/component.ts
  modules/web/src/app/routing.ts
  modules/web/src/app/settings/admin/nav/theme.scss
  modules/web/src/app/shared/entity/common.ts
  modules/web/src/app/shared/module.ts
  modules/web/src/assets/css/theme/_component.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

KubeVirt remove /vmflavors endpoints (#5309)
  Makefile
  modules/api/Makefile
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/common/provider/kubevirt.go
  modules/api/pkg/handler/v2/cluster/cluster.go
  modules/api/pkg/handler/v2/provider/kubevirt.go
  modules/api/pkg/handler/v2/provider/kubevirt_test.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/provider/cloud/kubevirt/manifests/manifests.go
  modules/api/pkg/provider/cloud/kubevirt/manifests/manifests_test.go
  modules/api/pkg/provider/cloud/kubevirt/manifests/presets/kubermatic-standard.yaml
  modules/api/pkg/provider/cloud/kubevirt/manifests/test/presets/invalid-standard.yaml
  modules/api/pkg/provider/cloud/kubevirt/manifests/test/presets/standard-1.yaml
  modules/api/pkg/provider/cloud/kubevirt/manifests/test/presets/standard-2.yaml
  modules/api/pkg/provider/cloud/kubevirt/provider.go
  modules/api/pkg/provider/cloud/kubevirt/vm_preset.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/kubevirt_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_kube_virt_vm_i_presets_no_credentials_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_kube_virt_vm_i_presets_no_credentials_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_kube_virt_vm_i_presets_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_kube_virt_vm_i_presets_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kubevirt_node_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/virtual_machine_instance_preset.go
  modules/api/pkg/test/e2e/utils/apiclient/models/virtual_machine_instance_preset_list.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix Header icons vertical alignment
  modules/web/src/app/project-overview/create-resource-panel/template.html
  modules/web/src/assets/css/_mixins.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Default icon to pending all over the application
  modules/web/src/app/shared/components/loader/component.ts
  modules/web/src/app/shared/components/loader/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix icon alignment in case of error
  modules/web/src/app/cluster/details/cluster/node-list/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Gloabl fix of yaml dialog height
  modules/web/src/app/shared/components/editor/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Quota widget fixes
  modules/web/src/app/cluster/details/cluster/machine-deployment-list/component.ts
  modules/web/src/app/dynamic/enterprise/quotas/quota-widget/style.scss
  modules/web/src/app/dynamic/enterprise/quotas/quota-widget/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix: Expose strategy not being set properly
  modules/api/pkg/handler/common/cluster.go
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/wizard/step/cluster/component.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Quota widget fixes (#5301)
  modules/web/src/app/cluster/details/cluster/machine-deployment-list/component.ts
  modules/web/src/app/dynamic/enterprise/quotas/quota-widget/style.scss
  modules/web/src/app/dynamic/enterprise/quotas/quota-widget/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add tests
  modules/api/pkg/ee/resource-quota/handler.go
  modules/api/pkg/ee/resource-quota/handler_test.go
  modules/api/pkg/handler/v2/routes_v2.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remover space for Preset dialogs
  modules/web/src/assets/css/global/_main.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix: Expose strategy not being set properly (#5312)
  modules/api/pkg/handler/common/cluster.go
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/wizard/step/cluster/component.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Include all required data in get cluster template API endpoint
  modules/api/pkg/handler/v2/cluster_template/cluster_template.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix proxy mode handling
  modules/web/src/app/shared/components/label-form/component.ts
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/wizard/step/cluster/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Implement defaulting for cluster step in the wizard
  modules/web/src/app/cluster-template/component.ts
  modules/web/src/app/cluster-template/template.html
  modules/web/src/app/cluster/details/shared/version-change-dialog/component.ts
  modules/web/src/app/cluster/details/shared/version-change-dialog/template.html
  modules/web/src/app/core/services/cluster-spec.ts
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/node-data/template.html
  modules/web/src/app/shared/components/event-rate-limit/component.ts
  modules/web/src/app/shared/components/label-form/component.ts
  modules/web/src/app/shared/components/label-form/template.html
  modules/web/src/app/wizard/component.ts
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/ssh-keys/component.ts
  modules/web/src/app/wizard/step/cluster/template.html
  modules/web/src/app/wizard/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Handle routing and data loading for editing cluster template
  modules/web/src/app/core/services/cluster-spec.ts
  modules/web/src/app/core/services/node-data/service.ts
  modules/web/src/app/shared/components/add-cluster-from-template-dialog/component.ts
  modules/web/src/app/shared/components/add-cluster-from-template-dialog/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/wizard/component.ts
  modules/web/src/app/wizard/step/cluster/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

more provider tests
  modules/api/pkg/ee/resource-quota/handler_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

lint
  modules/api/pkg/ee/resource-quota/handler.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

gofmt
  modules/api/pkg/ee/resource-quota/handler_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

correctly check for admin access
  modules/api/pkg/handler/v2/application_definition/application_definition_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix imports order
  modules/api/pkg/ee/resource-quota/handler.go
  modules/api/pkg/ee/resource-quota/handler_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

simplify get resource details
  modules/api/pkg/ee/resource-quota/handler.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce
