Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-go-mod-verify, pre-dashboard-web-lint, pre-dashboard-web-check

pre-dashboard-go-mod-verify:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      command:
      - make
      - verify-go
      resources:
        requests:
          cpu: 100m

pre-dashboard-test-unit:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/chrome-headless:v0.11
      command:
      - make
      - test-headless
      resources:
        requests:
          cpu: 1
          memory: 3Gi
        limits:
          cpu: 2
          memory: 5Gi
      env:
      - name: CODECOV_TOKEN
        valueFrom:
  ...

pre-dashboard-test-full-e2e:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-full-e2e-ce:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-e2e:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-test-e2e-ce:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-build-image:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

pre-dashboard-build-image-ce:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

fix hints in group and members dialogs (#7156)
  modules/web/src/app/dynamic/enterprise/group/add-group-dialog/template.html
  modules/web/src/app/dynamic/enterprise/group/edit-group-dialog/template.html
  modules/web/src/app/dynamic/enterprise/group/template.html
  modules/web/src/app/member/add-member/template.html
  modules/web/src/app/member/edit-member/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

feat(cluster-backup): add apis for bsl
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/handler/v2/routes_v2.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

feat(cluster-backup): addressed review comments
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/ee/clusterbackup/backupstoragelocation/handler.go
  modules/api/pkg/ee/clusterbackup/storage-location/provider.go
  modules/api/pkg/handler/v2/clusterbackup/backupstoragelocation/wrappers_ce.go
  modules/api/pkg/handler/v2/clusterbackup/backupstoragelocation/wrappers_ee.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/test/e2e/utils/apiclient/client/backupstoragelocation/backupstoragelocation_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/backupstoragelocation/create_backup_storage_location_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/backupstoragelocation/create_backup_storage_location_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/backupstoragelocation/get_backup_storage_location_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/backupstoragelocation/get_backup_storage_location_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/backupstoragelocation/list_backup_storage_location_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/backupstoragelocation/list_backup_storage_location_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubermatic_kubernetes_platform_api_client.go
  modules/api/pkg/test/e2e/utils/apiclient/models/backup_storage_location.go
  modules/api/pkg/test/e2e/utils/apiclient/models/bsl_body.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

feat(cluster-backup): add apis for bsl
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/ee/clusterbackup/backupstoragelocation/handler.go
  modules/api/pkg/ee/clusterbackup/storage-location/provider.go
  modules/api/pkg/handler/v2/clusterbackup/backupstoragelocation/bsl.go
  modules/api/pkg/handler/v2/clusterbackup/backupstoragelocation/wrappers_ce.go
  modules/api/pkg/handler/v2/clusterbackup/backupstoragelocation/wrappers_ee.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/provider/types.go
  modules/api/pkg/test/e2e/utils/apiclient/models/bsl_body.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

feat(cluster-backup): addressed review comments
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/ee/clusterbackup/backupstoragelocation/handler.go
  modules/api/pkg/handler/v2/clusterbackup/backupstoragelocation/wrappers_ce.go
  modules/api/pkg/handler/v2/clusterbackup/backupstoragelocation/wrappers_ee.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/test/e2e/utils/apiclient/client/backupstoragelocation/backupstoragelocation_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/backupstoragelocation/create_backup_storage_location_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/backupstoragelocation/delete_backup_storage_location_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/backupstoragelocation/delete_backup_storage_location_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/backupstoragelocation/list_backup_storage_location_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/models/b_s_l_body.go
  modules/api/pkg/test/e2e/utils/apiclient/models/backup_storage_location_list.go
  modules/api/pkg/test/e2e/utils/apiclient/models/backup_storage_location_overview.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

feat(cluster-backup): addressed review comments
  modules/api/pkg/ee/clusterbackup/backupstoragelocation/handler.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Refactored code
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/ee/clusterbackup/backupstoragelocation/handler.go
  modules/api/pkg/test/e2e/utils/apiclient/models/backup_storage_location_overview.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

feat(cluster-backup): downgrade velero version
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Rebase with main branch
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/ee/clusterbackup/backupstoragelocation/handler.go
  modules/api/pkg/handler/v2/clusterbackup/backupstoragelocation/wrappers_ce.go
  modules/api/pkg/test/e2e/utils/http.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

feat(cluster-backup): add hashicorp packages in the exception list for license verification
  modules/api/.wwhrd.yml
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Check credentials type when evaluating required credentials for Openstack settings
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/default/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Check credentials type when evaluating required credentials for Openstack settings (#7157)
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/default/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Check credentials type when evaluating required credentials for Openstack settings (#7158)
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/default/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

feat(cluster-backup): update
  modules/api/pkg/test/e2e/utils/http.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

feat(cluster-backup): add apis for managing backup storage location (#7108)
  modules/api/.wwhrd.yml
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/ee/clusterbackup/backupstoragelocation/handler.go
  modules/api/pkg/ee/clusterbackup/storage-location/provider.go
  modules/api/pkg/handler/v2/clusterbackup/backupstoragelocation/bsl.go
  modules/api/pkg/handler/v2/clusterbackup/backupstoragelocation/wrappers_ce.go
  modules/api/pkg/handler/v2/clusterbackup/backupstoragelocation/wrappers_ee.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/provider/types.go
  modules/api/pkg/test/e2e/utils/apiclient/client/backupstoragelocation/backupstoragelocation_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/backupstoragelocation/create_backup_storage_location_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/backupstoragelocation/create_backup_storage_location_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/backupstoragelocation/delete_backup_storage_location_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/backupstoragelocation/delete_backup_storage_location_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/backupstoragelocation/get_backup_storage_location_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/backupstoragelocation/get_backup_storage_location_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/backupstoragelocation/list_backup_storage_location_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/backupstoragelocation/list_backup_storage_location_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubermatic_kubernetes_platform_api_client.go
  modules/api/pkg/test/e2e/utils/apiclient/models/b_s_l_body.go
  modules/api/pkg/test/e2e/utils/apiclient/models/backup_storage_location.go
  modules/api/pkg/test/e2e/utils/apiclient/models/backup_storage_location_list.go
  modules/api/pkg/test/e2e/utils/apiclient/models/backup_storage_location_overview.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

prepare 2.27.0-beta.0
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

add kyverno Policies endpoints
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/options.go
  modules/api/cmd/kubermatic-api/wrappers_ce.go
  modules/api/cmd/kubermatic-api/wrappers_ee.go
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/ee/cmd/kubermatic-api/wrappers.go
  modules/api/pkg/ee/kyverno/policy-instance/handler.go
  modules/api/pkg/ee/kyverno/policy-template/handler.go
  modules/api/pkg/ee/kyverno/policy-template/provider.go
  modules/api/pkg/handler/v2/kyverno/policy-instance/policytemplateconfig.go
  modules/api/pkg/handler/v2/kyverno/policy-instance/wrappers_ce.go
  modules/api/pkg/handler/v2/kyverno/policy-instance/wrappers_ee.go
  modules/api/pkg/handler/v2/kyverno/policy-template/policytemplateconfig.go
  modules/api/pkg/handler/v2/kyverno/policy-template/wrappers_ce.go
  modules/api/pkg/handler/v2/kyverno/policy-template/wrappers_ee.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/handler/v2/routing.go
  modules/api/pkg/provider/types.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix middleware handling
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/ee/kyverno/policy-template/handler.go
  modules/api/pkg/ee/kyverno/policy-template/provider.go
  modules/api/pkg/handler/routing.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/handler/v2/routing.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/admin_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/create_kyverno_policy_template_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/create_kyverno_policy_template_responses.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix nil pointer dereference
  modules/api/pkg/ee/kyverno/policy-template/handler.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

update policy binding endpoints
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/options.go
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/cmd/kubermatic-api/wrappers_ce.go
  modules/api/cmd/kubermatic-api/wrappers_ee.go
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/ee/cmd/kubermatic-api/wrappers.go
  modules/api/pkg/ee/kyverno/policy-binding/handler.go
  modules/api/pkg/ee/kyverno/policy-binding/provider.go
  modules/api/pkg/ee/kyverno/policy-instance/handler.go
  modules/api/pkg/ee/kyverno/policy-template/handler.go
  modules/api/pkg/ee/kyverno/policy-template/provider.go
  modules/api/pkg/handler/routing.go
  modules/api/pkg/handler/v2/kyverno/policy-binding/policybindingconfig.go
  modules/api/pkg/handler/v2/kyverno/policy-binding/wrappers_ce.go
  modules/api/pkg/handler/v2/kyverno/policy-binding/wrappers_ee.go
  modules/api/pkg/handler/v2/kyverno/policy-instance/wrappers_ce.go
  modules/api/pkg/handler/v2/kyverno/policy-instance/wrappers_ee.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/handler/v2/routing.go
  modules/api/pkg/provider/types.go
  modules/api/pkg/resources/reconciling/zz_generated_reconcile.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/admin_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/create_policy_binding_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/create_policy_binding_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/delete_policy_binding_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/delete_policy_binding_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/get_policy_binding_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/get_policy_binding_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/list_policy_binding_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/list_policy_binding_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/patch_policy_binding_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/patch_policy_binding_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_binding.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add swagger annotations to policy template
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/ee/kyverno/policy-template/handler.go
  modules/api/pkg/ee/kyverno/policy-template/provider.go
  modules/api/pkg/handler/v2/kyverno/policy-template/wrappers_ce.go
  modules/api/pkg/handler/v2/kyverno/policy-template/wrappers_ee.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/resources/reconciling/zz_generated_reconcile.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/admin_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/create_kyverno_policy_template_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/create_kyverno_policy_template_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/create_policy_template_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/create_policy_template_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/delete_policy_template_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/delete_policy_template_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/get_policy_template_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/get_policy_template_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/list_policy_template_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/list_policy_template_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/patchpolicy_template_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/patchpolicy_template_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_template.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

prepare 2.27.0-beta.0 (#7159)
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

UX and UI improvements for admin announcements
  modules/web/src/app/core/components/help-panel/component.ts
  modules/web/src/app/settings/admin/announcements/announcement-dialog/component.ts
  modules/web/src/app/settings/admin/announcements/announcement-dialog/template.html
  modules/web/src/app/settings/admin/announcements/component.ts
  modules/web/src/app/settings/admin/announcements/template.html
  modules/web/src/app/shared/components/announcement-banner/component.ts
  modules/web/src/app/shared/components/announcement-banner/style.scss
  modules/web/src/app/shared/components/announcement-banner/template.html
  modules/web/src/app/shared/components/announcements-dialog/component.ts
  modules/web/src/app/shared/components/announcements-dialog/style.scss
  modules/web/src/app/shared/components/announcements-dialog/template.html
  modules/web/src/app/shared/components/announcements-dialog/theme.scss
  modules/web/src/app/shared/module.ts
  modules/web/src/assets/css/_images.scss
  modules/web/src/assets/css/global/_main.scss
  modules/web/src/assets/css/theme/_component.scss
  modules/web/src/assets/images/icons/announcement.svg
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

UX and UI improvements for admin announcements (#7160)
  modules/web/src/app/core/components/help-panel/component.ts
  modules/web/src/app/settings/admin/announcements/announcement-dialog/component.ts
  modules/web/src/app/settings/admin/announcements/announcement-dialog/template.html
  modules/web/src/app/settings/admin/announcements/component.ts
  modules/web/src/app/settings/admin/announcements/template.html
  modules/web/src/app/shared/components/announcement-banner/component.ts
  modules/web/src/app/shared/components/announcement-banner/style.scss
  modules/web/src/app/shared/components/announcement-banner/template.html
  modules/web/src/app/shared/components/announcements-dialog/component.ts
  modules/web/src/app/shared/components/announcements-dialog/style.scss
  modules/web/src/app/shared/components/announcements-dialog/template.html
  modules/web/src/app/shared/components/announcements-dialog/theme.scss
  modules/web/src/app/shared/module.ts
  modules/web/src/assets/css/_images.scss
  modules/web/src/assets/css/global/_main.scss
  modules/web/src/assets/css/theme/_component.scss
  modules/web/src/assets/images/icons/announcement.svg
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Minor applications bug fixes and improvements
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/shared/components/application-list/edit-application-dialog/component.ts
  modules/web/src/app/shared/components/application-list/edit-application-dialog/template.html
  modules/web/src/app/wizard/step/applications/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Minor applications bug fixes and improvements (#7161)
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/shared/components/application-list/edit-application-dialog/component.ts
  modules/web/src/app/shared/components/application-list/edit-application-dialog/template.html
  modules/web/src/app/wizard/step/applications/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Minor improvements
  modules/web/src/app/cluster/details/cluster/style.scss
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/import-dialog/template.html
  modules/web/src/app/dynamic/enterprise/quotas/default-project-quota/template.html
  modules/web/src/app/kubeone-wizard/steps/cluster/style.scss
  modules/web/src/app/kubeone-wizard/steps/cluster/template.html
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/settings/admin/opa/component.ts
  modules/web/src/app/settings/admin/opa/style.scss
  modules/web/src/app/settings/admin/opa/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/preset/template.html
  modules/web/src/app/shared/components/announcement-banner/component.ts
  modules/web/src/app/wizard/step/cluster/style.scss
  modules/web/src/app/wizard/step/cluster/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Display email format error while adding member/admin email
  modules/web/src/app/member/add-member/template.html
  modules/web/src/app/settings/admin/admins/add-admin-dialog/template.html
  modules/web/src/app/settings/admin/announcements/announcement-dialog/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Pin correct dependency for KubeOne
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Pin KubeOne dependency in API
  modules/api/go.mod
  modules/web/src/app/shared/components/add-external-cluster-dialog/steps/external-provider/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Minor improvements (#7162)
  modules/api/go.mod
  modules/api/go.sum
  modules/web/src/app/cluster/details/cluster/style.scss
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/import-dialog/template.html
  modules/web/src/app/dynamic/enterprise/quotas/default-project-quota/template.html
  modules/web/src/app/kubeone-wizard/steps/cluster/style.scss
  modules/web/src/app/kubeone-wizard/steps/cluster/template.html
  modules/web/src/app/member/add-member/template.html
  modules/web/src/app/settings/admin/admins/add-admin-dialog/template.html
  modules/web/src/app/settings/admin/announcements/announcement-dialog/template.html
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/settings/admin/opa/component.ts
  modules/web/src/app/settings/admin/opa/style.scss
  modules/web/src/app/settings/admin/opa/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/preset/template.html
  modules/web/src/app/shared/components/add-external-cluster-dialog/steps/external-provider/template.html
  modules/web/src/app/shared/components/announcement-banner/component.ts
  modules/web/src/app/wizard/step/cluster/style.scss
  modules/web/src/app/wizard/step/cluster/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

small enhancements
  modules/web/src/app/backup/list/automatic-backup/add-dialog/template.html
  modules/web/src/app/backup/list/component.ts
  modules/web/src/app/backup/list/snapshot/add-dialog/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-web-integration-tests: any of: modules/web
  pre-dashboard-web-integration-tests-ce: any of: modules/web
  pre-dashboard-web-unit: any of: modules/web
  pre-dashboard-web-go-mod-verify: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-lint: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-check: any of: modules/web
