Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

pre-dashboard-go-mod-verify:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      command:
      - make
      - verify-go
      resources:
        requests:
          cpu: 100m

pre-dashboard-test-unit:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/chrome-headless:v0.11
      command:
      - make
      - test-headless
      resources:
        requests:
          cpu: 1
          memory: 3Gi
        limits:
          cpu: 2
          memory: 5Gi
      env:
      - name: CODECOV_TOKEN
        valueFrom:
  ...

pre-dashboard-test-full-e2e:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-full-e2e-ce:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-e2e:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-test-e2e-ce:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-build-image:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

pre-dashboard-build-image-ce:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

Give correct Kubernetes version that removes Docker support (#4481)
  src/app/cluster/details/cluster/edit-cluster/template.html
  src/app/wizard/step/cluster/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Only consider MachineDeployment running if replicas are updated
  src/app/shared/utils/health-status.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

adjust styling
  src/app/core/components/navigation/style.scss
  src/app/core/components/navigation/theme.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Impove labels and descriptions for introduced retention parameter (v2)
  src/app/backup/list/automatic-backup/add-dialog/template.html
  src/app/dynamic/enterprise/metering/schedule-config/add-dialog/template.html
  src/app/dynamic/enterprise/metering/schedule-config/template.html
  src/app/dynamic/enterprise/metering/service/metering.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

hide Dynamic kubelet config
  src/app/node-data/component.ts
  src/app/node-data/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

solve the comments
  src/app/core/components/navigation/component.ts
  src/app/core/components/navigation/style.scss
  src/app/core/components/navigation/template.html
  src/app/core/components/navigation/theme.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Hide `centOS` for HETZNER node provider
  src/app/node-data/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Only consider MachineDeployment running if replicas are updated (#4504)
  src/app/shared/utils/health-status.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

using router events inside ngOnit
  src/app/core/components/navigation/component.ts
  src/app/core/components/navigation/style.scss
  src/app/core/components/navigation/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

typo
  src/app/core/components/navigation/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove Type any from services (#4489)
  src/app/cluster/details/cluster/edit-sshkeys/component.ts
  src/app/core/services/addon.ts
  src/app/core/services/backup.ts
  src/app/core/services/cluster-spec.ts
  src/app/core/services/cluster-templates.ts
  src/app/core/services/cluster.ts
  src/app/core/services/datacenter.ts
  src/app/core/services/machine-deployment.ts
  src/app/core/services/member.ts
  src/app/core/services/mla.ts
  src/app/core/services/node.ts
  src/app/core/services/opa.ts
  src/app/core/services/rbac.ts
  src/app/core/services/service-account.ts
  src/app/core/services/settings.ts
  src/app/core/services/ssh-key.ts
  src/app/shared/components/add-cluster-from-template-dialog/component.ts
  src/app/shared/components/cluster-from-template/dialog/component.ts
  src/app/shared/entity/cluster-template.ts
  src/app/shared/entity/rbac.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add missing unsubscribe to metering component
  src/app/dynamic/enterprise/metering/component.ts
  src/app/dynamic/enterprise/metering/service/metering.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add headline
  src/app/project-overview/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Split cluster count
  src/app/project-overview/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove member count
  src/app/project-overview/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Adjust alignment
  src/app/project-overview/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix icon colors
  src/app/project-overview/members-overview/template.html
  src/app/project-overview/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add button
  src/app/project-overview/style.scss
  src/app/project-overview/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add node version manager runtime configuration file
  .nvmrc
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add explicit onDestroy to metering component
  src/app/dynamic/enterprise/metering/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

hide-dynamic-kebelet-config
  src/app/node-data/component.ts
  src/app/node-data/template.html
  src/app/shared/entity/cluster.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add support for Rocky Linux OS
  src/app/cluster/details/cluster/machine-deployment-details/template.html
  src/app/cluster/details/cluster/node-list/template.html
  src/app/core/services/node.ts
  src/app/node-data/basic/provider/nutanix/component.ts
  src/app/node-data/basic/provider/openstack/component.ts
  src/app/node-data/basic/provider/vsphere/component.ts
  src/app/node-data/component.ts
  src/app/node-data/template.html
  src/app/shared/components/cluster-summary/template.html
  src/app/shared/entity/datacenter.ts
  src/app/shared/entity/node.ts
  src/app/shared/model/NodeProviderConstants.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add logo icon for `rockylinux` OS
  src/assets/css/_images.scss
  src/assets/images/os/rocky-linux.svg
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fixing typo and id naming
  cypress/pages/wizard.po.ts
  src/app/core/services/cluster.ts
  src/app/shared/components/button/template.html
  src/app/shared/components/confirmation-dialog/component.ts
  src/app/shared/components/confirmation-dialog/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update `rockylinus` display label
  src/app/node-data/template.html
  src/app/shared/entity/node.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

use classname instead of the element name
  src/app/core/components/navigation/style.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add `Rocky Linux` in comment
  src/app/node-data/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add node version manager runtime configuration file (#4512)
  .nvmrc
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Revert "Hide `centOS` for HETZNER node provider"
  src/app/node-data/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump version to 2.20.3
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix providers overview
  src/app/project-overview/providers-overview/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add node version manager runtime configuration file to `.gitignore`
  .gitignore
  .nvmrc
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add create panel
  package-lock.json
  src/app/cluster/list/cluster/component.ts
  src/app/project-overview/create-resource-panel/component.ts
  src/app/project-overview/create-resource-panel/style.scss
  src/app/project-overview/create-resource-panel/template.html
  src/app/project-overview/module.ts
  src/app/project-overview/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add node version manager runtime configuration file to `.gitignore` (#4521)
  .gitignore
  .nvmrc
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

adjusting styling and naming convention
  src/app/core/components/navigation/component.ts
  src/app/core/components/navigation/style.scss
  src/app/core/components/navigation/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add cron validator
  package-lock.json
  package.json
  src/app/dynamic/enterprise/metering/component.ts
  src/app/dynamic/enterprise/metering/schedule-config/add-dialog/component.ts
  src/app/dynamic/enterprise/metering/schedule-config/add-dialog/template.html
  src/app/dynamic/enterprise/metering/schedule-config/component.ts
  src/app/dynamic/enterprise/metering/schedule-config/edit-dialog/component.ts
  src/app/dynamic/enterprise/metering/schedule-config/report-list/component.ts
  src/app/dynamic/enterprise/metering/schedule-config/report-list/template.html
  src/app/dynamic/enterprise/metering/schedule-config/template.html
  src/app/shared/validators/cron.validator.ts
  src/app/shared/validators/validators.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump version to 2.20.3 (#4520)
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add cron validation to automatic backups
  src/app/backup/list/automatic-backup/add-dialog/component.ts
  src/app/shared/validators/cron.validator.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

removed autoupdate for cron validation dependency
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update styling
  src/app/project-overview/create-resource-panel/component.ts
  src/app/project-overview/create-resource-panel/style.scss
  src/app/project-overview/create-resource-panel/template.html
  src/assets/css/global/_theme.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$
