Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-go-mod-verify, pre-dashboard-web-lint, pre-dashboard-web-check

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-web-integration-tests: any of: modules/web
  pre-dashboard-web-integration-tests-ce: any of: modules/web
  pre-dashboard-web-unit: any of: modules/web
  pre-dashboard-web-go-mod-verify: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-lint: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-check: any of: modules/web

UI: Subnet and VPC support for kubeVirt
  modules/api/cmd/kubermatic-api/main.go
  modules/api/pkg/provider/cloud/kubevirt/client.go
  modules/api/pkg/provider/cloud/kubevirt/networks.go
  modules/web/src/app/core/services/node-data/provider/kubevirt.ts
  modules/web/src/app/core/services/provider/kubevirt.ts
  modules/web/src/app/core/services/wizard/provider/kubevirt.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/template.html
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/shared/entity/provider/kubevirt.ts
  modules/web/src/app/wizard/step/provider-settings/provider/basic/kubevirt/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/basic/kubevirt/template.html
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Read KubeVirt infra namespace from datacenter (#6949)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/handler/common/provider/kubevirt.go
  modules/api/pkg/handler/test/helper.go
  modules/api/pkg/handler/v1/admin/seed_test.go
  modules/api/pkg/handler/v1/dc/datacenter_test.go
  modules/api/pkg/handler/v2/provider/kubevirt.go
  modules/api/pkg/handler/v2/provider/kubevirt_test.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/handler/v2/seedoverview/seedoverview_test.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_kube_virt_instancetypes_no_credentials_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_kube_virt_preferences_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_kube_virt_storage_classes_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_project_kube_virt_preferences_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_project_kube_virt_storage_classes_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_project_kubevirt_subnets_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_project_kubevirt_v_p_cs_parameters.go
  modules/web/src/app/core/services/node-data/provider/kubevirt.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Update k8c.io/kubermatic/v2
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.26] Read KubeVirt infra namespace from datacenter (#6964)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/common/provider/kubevirt.go
  modules/api/pkg/handler/test/helper.go
  modules/api/pkg/handler/v1/admin/seed_test.go
  modules/api/pkg/handler/v1/dc/datacenter_test.go
  modules/api/pkg/handler/v2/provider/kubevirt.go
  modules/api/pkg/handler/v2/provider/kubevirt_test.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/handler/v2/seedoverview/seedoverview_test.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_kube_virt_instancetypes_no_credentials_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_kube_virt_preferences_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_kube_virt_storage_classes_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_project_kube_virt_preferences_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_project_kube_virt_storage_classes_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_project_kubevirt_subnets_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_project_kubevirt_v_p_cs_parameters.go
  modules/web/src/app/core/services/node-data/provider/kubevirt.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

remove empty LabelSelector in Velero objects
  modules/api/pkg/ee/clusterbackup/backup/handler.go
  modules/api/pkg/ee/clusterbackup/restore/handler.go
  modules/api/pkg/ee/clusterbackup/schedule/handler.go
  modules/api/pkg/kubernetes/helper.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

remove empty LabelSelector in Velero objects (#6971)
  modules/api/pkg/ee/clusterbackup/backup/handler.go
  modules/api/pkg/ee/clusterbackup/restore/handler.go
  modules/api/pkg/ee/clusterbackup/schedule/handler.go
  modules/api/pkg/kubernetes/helper.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump KKP API version
  modules/api/cmd/kubermatic-api/swagger.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.24] Bump KKP API version
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/swagger.json
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.25] Bump KKP API version
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/swagger.json
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

remove empty LabelSelector in Velero objects (#6975)
  modules/api/pkg/ee/clusterbackup/backup/handler.go
  modules/api/pkg/ee/clusterbackup/restore/handler.go
  modules/api/pkg/ee/clusterbackup/schedule/handler.go
  modules/api/pkg/kubernetes/helper.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

remove empty LabelSelector in Velero objects (#6973)
  modules/api/pkg/ee/clusterbackup/backup/handler.go
  modules/api/pkg/ee/clusterbackup/restore/handler.go
  modules/api/pkg/ee/clusterbackup/schedule/handler.go
  modules/api/pkg/kubernetes/helper.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump the version programmatically
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/swagger.json
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

bump KKP dependency, replace packngo with Equinix Metal SDK
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/common/provider/packet.go
  modules/api/pkg/handler/v2/provider/equinixmetal.go
  modules/api/pkg/provider/cloud/packet/provider.go
  modules/api/pkg/provider/kubernetes/credentials.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.26] Bump KKP API version to 2.26
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/swagger.json
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

restore UA
  modules/api/pkg/handler/common/provider/packet.go
  modules/api/pkg/provider/cloud/packet/provider.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump KKP API version programmatically
  modules/api/cmd/kubermatic-api/swagger.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.26] Bump KKP API version to 2.26 (#6978)
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/swagger.json
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.25] Bump KKP API version (#6974)
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/swagger.json
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.24] Bump KKP API version (#6976)
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/swagger.json
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump KKP API version (#6972)
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/swagger.json
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add prefix_page_title to page title
  modules/web/src/app/core/services/page-title.ts
  modules/web/src/app/shared/model/Config.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

update go mods
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix rest api and signIn routes titles
  modules/web/src/app/component.ts
  modules/web/src/app/core/services/page-title.ts
  modules/web/src/app/shared/entity/common.ts
  modules/web/src/app/shared/model/Config.ts
  modules/web/src/assets/config/config.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Allow adding a postfix to the page title (#6980)
  modules/web/src/app/component.ts
  modules/web/src/app/core/services/page-title.ts
  modules/web/src/app/shared/entity/common.ts
  modules/web/src/app/shared/model/Config.ts
  modules/web/src/assets/config/config.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

read provider networks from datacenter
  modules/api/pkg/handler/common/provider/kubevirt.go
  modules/api/pkg/handler/v2/provider/kubevirt.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/web/src/app/core/services/node-data/provider/kubevirt.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

generate code Signed-off-by: moadqassem <moad.qassem@gmail.com>
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_kubevirt.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_virt_infra_storage_class.go
  modules/api/pkg/test/e2e/utils/apiclient/models/provider_network.go
  modules/api/pkg/test/e2e/utils/apiclient/models/subnet.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_p_c.go
  modules/api/pkg/test/e2e/utils/apiclient/models/volume_binding_mode.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix tests
  modules/api/pkg/handler/v1/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Support reading vpcs and subnets from dc (#6982)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/common/provider/kubevirt.go
  modules/api/pkg/handler/v1/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template_test.go
  modules/api/pkg/handler/v2/provider/kubevirt.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_kubevirt.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_virt_infra_storage_class.go
  modules/api/pkg/test/e2e/utils/apiclient/models/provider_network.go
  modules/api/pkg/test/e2e/utils/apiclient/models/subnet.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_p_c.go
  modules/api/pkg/test/e2e/utils/apiclient/models/volume_binding_mode.go
  modules/web/src/app/core/services/node-data/provider/kubevirt.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

add OPA deprevated warning
  modules/web/src/app/cluster/details/cluster/style.scss
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/settings/admin/defaults/style.scss
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/settings/admin/opa/component.ts
  modules/web/src/app/settings/admin/opa/style.scss
  modules/web/src/app/settings/admin/opa/template.html
  modules/web/src/app/wizard/step/cluster/style.scss
  modules/web/src/app/wizard/step/cluster/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

add OPA deprevated warning (#6990)
  modules/web/src/app/cluster/details/cluster/style.scss
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/settings/admin/defaults/style.scss
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/settings/admin/opa/component.ts
  modules/web/src/app/settings/admin/opa/style.scss
  modules/web/src/app/settings/admin/opa/template.html
  modules/web/src/app/wizard/step/cluster/style.scss
  modules/web/src/app/wizard/step/cluster/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.24] Bump dashboard version for KKP next patch release 2.24.14
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.25] Bump dashboard version for KKP next patch release 2.25.12
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.26] Bump dashboard version for KKP next patch release 2.26.1
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fixed test failures
  modules/api/pkg/handler/v1/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix edit project from overview page
  modules/web/src/app/project-overview/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check
