Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$

Fix edit of alertmanager config
  Development.md
  src/app/cluster/details/cluster/mla/alertmanager-config/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Proposal for unit test guideline
  Development.md
Due: none

disable and warning for kubelet dynamic config
  src/app/cluster/details/shared/version-change-dialog/component.spec.ts
  src/app/cluster/details/shared/version-change-dialog/component.ts
  src/app/cluster/details/shared/version-change-dialog/style.scss
  src/app/cluster/details/shared/version-change-dialog/template.html
  src/app/node-data/component.ts
  src/app/node-data/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

delete google Analytics Service
  src/app/wizard/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

PR review update
  src/app/dynamic/enterprise/metering/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Open dialog api method (#4411)
  src/app/cluster-template/template.html
  src/app/cluster/details/cluster/share-kubeconfig/component.spec.ts
  src/app/cluster/details/external-cluster/component.ts
  src/app/cluster/details/external-cluster/template.html
  src/app/cluster/list/external-cluster/component.ts
  src/app/core/services/cluster.ts
  src/app/settings/admin/dynamic-datacenters/component.ts
  src/app/settings/admin/dynamic-datacenters/datacenter-data-dialog/component.ts
  src/app/settings/admin/dynamic-datacenters/datacenter-data-dialog/template.html
  src/app/shared/components/button/component.ts
  src/app/shared/components/button/template.html
  src/app/shared/components/confirmation-dialog/component.ts
  src/app/shared/components/confirmation-dialog/template.html
  src/app/shared/components/external-cluster-data-dialog/component.ts
  src/app/shared/components/external-cluster-data-dialog/template.html
  src/app/wizard/component.ts
  src/app/wizard/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add retention parameter to metering schedule configuration (#4478)
  package-lock.json
  package.json
  src/app/backup/list/automatic-backup/add-dialog/component.ts
  src/app/backup/list/automatic-backup/add-dialog/template.html
  src/app/dynamic/enterprise/metering/component.ts
  src/app/dynamic/enterprise/metering/schedule-config/add-dialog/component.ts
  src/app/dynamic/enterprise/metering/schedule-config/add-dialog/template.html
  src/app/dynamic/enterprise/metering/schedule-config/component.ts
  src/app/dynamic/enterprise/metering/schedule-config/edit-dialog/component.ts
  src/app/dynamic/enterprise/metering/schedule-config/edit-dialog/template.html
  src/app/dynamic/enterprise/metering/schedule-config/report-list/component.ts
  src/app/dynamic/enterprise/metering/schedule-config/report-list/template.html
  src/app/dynamic/enterprise/metering/schedule-config/template.html
  src/app/dynamic/enterprise/metering/service/metering.ts
  src/app/shared/entity/datacenter.ts
  src/app/shared/validators/cron.validator.ts
  src/app/shared/validators/validators.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Synchronize OWNERS_ALIASES file with Github teams (#4528)
  OWNERS_ALIASES
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add handlers
  src/app/project-overview/create-resource-panel/component.ts
  src/app/project-overview/create-resource-panel/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Implement handlers
  src/app/project-overview/create-resource-panel/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add resource refresh
  src/app/project-overview/component.ts
  src/app/project-overview/create-resource-panel/component.ts
  src/app/project-overview/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix charts
  src/app/project-overview/providers-overview/component.ts
  src/app/project-overview/providers-overview/template.html
  src/app/project-overview/template.html
  src/assets/themes/dark.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix formatting
  src/app/project-overview/component.ts
  src/app/project-overview/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Project overview updates (#4509)
  package-lock.json
  src/app/cluster/list/cluster/component.ts
  src/app/project-overview/component.ts
  src/app/project-overview/create-resource-panel/component.ts
  src/app/project-overview/create-resource-panel/style.scss
  src/app/project-overview/create-resource-panel/template.html
  src/app/project-overview/members-overview/template.html
  src/app/project-overview/module.ts
  src/app/project-overview/providers-overview/component.ts
  src/app/project-overview/providers-overview/template.html
  src/app/project-overview/template.html
  src/assets/css/global/_theme.scss
  src/assets/themes/dark.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

added disabling logic to Konnectivity control, when cluster uses Cilium CNI with ebpf proxy mode.
  src/app/cluster/details/cluster/edit-cluster/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add theme styles for mat-checkbox
  src/assets/css/material/_theme.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

styling review
  src/app/cluster/details/shared/version-change-dialog/style.scss
  src/app/cluster/details/shared/version-change-dialog/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add `NodeIPAddress` class
  src/app/shared/entity/node.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update `getAddresses` method to return instance of `NodeIPAddress` with multiple internal IPs
  src/app/shared/utils/node.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add functionality to display multiple internal IPs
  src/app/cluster/details/cluster/node-list/component.ts
  src/app/cluster/details/cluster/node-list/style.scss
  src/app/cluster/details/cluster/node-list/template.html
  src/app/cluster/details/external-cluster/external-node-list/component.ts
  src/app/cluster/details/external-cluster/external-node-list/style.scss
  src/app/cluster/details/external-cluster/external-node-list/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix alignment of Name column by using `fxFlex` layout
  src/app/cluster/details/cluster/node-list/style.scss
  src/app/cluster/details/cluster/node-list/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add `health-status` class on health status icon to adjust icon alignment
  src/app/cluster/details/external-cluster/external-node-list/style.scss
  src/app/cluster/details/external-cluster/external-node-list/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove empty line
  src/app/cluster/details/external-cluster/external-node-list/style.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add space inside text
  src/app/cluster/details/cluster/node-list/template.html
  src/app/cluster/details/external-cluster/external-node-list/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove vertical alignment
  src/app/cluster/details/cluster/node-list/template.html
  src/app/cluster/details/external-cluster/external-node-list/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fetching upstream
  package-lock.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

4494 Add Rocky Linux OS for Hetzner cloud provider (#4515)
  src/app/cluster/details/cluster/machine-deployment-details/template.html
  src/app/cluster/details/cluster/node-list/template.html
  src/app/core/services/node.ts
  src/app/node-data/basic/provider/nutanix/component.ts
  src/app/node-data/basic/provider/openstack/component.ts
  src/app/node-data/basic/provider/vsphere/component.ts
  src/app/node-data/component.ts
  src/app/node-data/template.html
  src/app/shared/components/cluster-summary/template.html
  src/app/shared/entity/datacenter.ts
  src/app/shared/entity/node.ts
  src/app/shared/model/NodeProviderConstants.ts
  src/assets/css/_images.scss
  src/assets/images/os/rocky-linux.svg
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump Angular version
  package-lock.json
  package.json
  src/app/cluster/details/cluster/cluster-delete-confirmation/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump dev dependencies version
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump dependencies version
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Regenerate lockfile
  package-lock.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Show updated config instead of default values in edit machine deployment dialog (#4496)
  src/app/node-data/basic/provider/alibaba/component.ts
  src/app/node-data/basic/provider/anexia/component.ts
  src/app/node-data/basic/provider/aws/component.ts
  src/app/node-data/basic/provider/gcp/component.ts
  src/app/node-data/basic/provider/kubevirt/component.ts
  src/app/node-data/basic/provider/openstack/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

added required data in cluster mock for resolving unit test errors.
  src/test/data/cluster.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

4529 display multiple internal IPs in node details of machine deployment (#4542)
  src/app/cluster/details/cluster/node-list/component.ts
  src/app/cluster/details/cluster/node-list/style.scss
  src/app/cluster/details/cluster/node-list/template.html
  src/app/cluster/details/external-cluster/external-node-list/component.ts
  src/app/cluster/details/external-cluster/external-node-list/style.scss
  src/app/cluster/details/external-cluster/external-node-list/template.html
  src/app/shared/entity/node.ts
  src/app/shared/utils/node.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

revert go back method in external cluster
  src/app/cluster/details/external-cluster/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add "km-text-muted" class to Konnectivity checkbox when disabled.
  src/app/cluster/details/cluster/edit-cluster/template.html
  src/assets/css/material/_theme.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Retry with older typescript version
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

revert package lock changes
  package-lock.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update Angular and other dependencies (#4546)
  package-lock.json
  package.json
  src/app/cluster/details/cluster/cluster-delete-confirmation/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce
