Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

pre-dashboard-go-mod-verify:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      command:
      - make
      - verify-go
      resources:
        requests:
          cpu: 100m

pre-dashboard-test-unit:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/chrome-headless:v0.11
      command:
      - make
      - test-headless
      resources:
        requests:
          cpu: 1
          memory: 3Gi
        limits:
          cpu: 2
          memory: 5Gi
      env:
      - name: CODECOV_TOKEN
        valueFrom:
  ...

pre-dashboard-test-full-e2e:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-full-e2e-ce:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-e2e:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-test-e2e-ce:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-build-image:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

pre-dashboard-build-image-ce:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

Fix AWS wizard
  src/app/core/services/wizard/provider/aws.ts
  src/app/node-data/basic/provider/aws/component.ts
  src/app/shared/entity/provider/aws.ts
  src/app/wizard/step/provider-settings/provider/basic/aws/component.ts
  src/app/wizard/step/provider-settings/provider/basic/aws/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update prow to do the full clone
  .prow.yaml
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

restore add header license method
  license-checker-config.json
  license-header.txt
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Debug prow
  .prow.yaml
  hack/e2e/setup-kubermatic-in-kind.sh
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Revert changes
  hack/e2e/setup-kubermatic-in-kind.sh
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

nutanix test (#4182)
  .gitignore
  cypress/fixtures/datacenters.json
  cypress/fixtures/nutanix/cluster.json
  cypress/fixtures/nutanix/clusters.json
  cypress/fixtures/nutanix/machinedeployment.json
  cypress/fixtures/nutanix/machinedeployments.json
  cypress/fixtures/nutanix/subnets.json
  cypress/fixtures/preset.json
  cypress/integration/providers/nutanix.spec.ts
  cypress/utils/endpoint.ts
  cypress/utils/mocks.ts
  cypress/utils/preset.ts
  cypress/utils/provider.ts
  hack/e2e/fixtures/seed.yaml
  package-lock.json
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Use release/v2.18 as base ref
  .prow.yaml
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

adding extra line
  license-checker-config.json
  license-header.txt
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.19] Bump release version to v2.19.1 (#4189)
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.18] Bump release version to v2.18.6 (#4188)
  .prow.yaml
  Makefile
  hack/e2e/setup-kubermatic-in-kind.sh
  package-lock.json
  package.json
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fixing cluster.json
  cypress/fixtures/nutanix/cluster.json
  cypress/fixtures/nutanix/clusters.json
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Disable OIDC kubeconfig flag if feature gate OIDCKubeCfgEndpoint is disabled
  src/app/core/services/feature-gate.ts
  src/app/settings/admin/interface/component.ts
  src/app/settings/admin/interface/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix invalid marshalling for requiredEmails in preset creation
  src/app/settings/admin/presets/dialog/steps/preset/component.ts
  src/app/settings/admin/presets/dialog/steps/preset/style.scss
  src/app/settings/admin/presets/dialog/steps/preset/template.html
  src/app/settings/admin/presets/module.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Refactored code
  src/app/core/services/feature-gate.ts
  src/app/settings/admin/interface/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add .angular folder to be ignore from add license
  license-checker-config.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Refactored code
  src/app/settings/admin/presets/dialog/steps/preset/style.scss
  src/app/settings/admin/presets/dialog/steps/preset/template.html
  src/app/settings/admin/presets/module.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Support for customizing AllowedIPRange of NodePorts
  src/app/shared/constants/constants.ts
  src/app/shared/entity/cluster.ts
  src/app/wizard/step/provider-settings/provider/extended/aws/component.ts
  src/app/wizard/step/provider-settings/provider/extended/aws/template.html
  src/app/wizard/step/provider-settings/provider/extended/azure/component.ts
  src/app/wizard/step/provider-settings/provider/extended/azure/template.html
  src/app/wizard/step/provider-settings/provider/extended/gcp/component.ts
  src/app/wizard/step/provider-settings/provider/extended/gcp/template.html
  src/app/wizard/step/provider-settings/provider/extended/openstack/application/component.ts
  src/app/wizard/step/provider-settings/provider/extended/openstack/application/template.html
  src/app/wizard/step/provider-settings/provider/extended/openstack/default/component.ts
  src/app/wizard/step/provider-settings/provider/extended/openstack/default/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Refactored code
  src/app/wizard/step/provider-settings/provider/extended/aws/component.ts
  src/app/wizard/step/provider-settings/provider/extended/aws/template.html
  src/app/wizard/step/provider-settings/provider/extended/azure/component.ts
  src/app/wizard/step/provider-settings/provider/extended/azure/template.html
  src/app/wizard/step/provider-settings/provider/extended/component.ts
  src/app/wizard/step/provider-settings/provider/extended/gcp/component.ts
  src/app/wizard/step/provider-settings/provider/extended/gcp/template.html
  src/app/wizard/step/provider-settings/provider/extended/openstack/application/component.ts
  src/app/wizard/step/provider-settings/provider/extended/openstack/application/template.html
  src/app/wizard/step/provider-settings/provider/extended/openstack/default/component.ts
  src/app/wizard/step/provider-settings/provider/extended/openstack/default/template.html
  src/app/wizard/step/provider-settings/provider/extended/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

PR feedback
  src/app/settings/admin/interface/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Refactored code
  src/app/shared/components/cluster-summary/template.html
  src/app/shared/constants/constants.ts
  src/app/wizard/step/provider-settings/provider/basic/aws/component.ts
  src/app/wizard/step/provider-settings/provider/basic/azure/component.ts
  src/app/wizard/step/provider-settings/provider/basic/gcp/component.ts
  src/app/wizard/step/provider-settings/provider/basic/openstack/application/component.ts
  src/app/wizard/step/provider-settings/provider/basic/openstack/component.ts
  src/app/wizard/step/provider-settings/provider/basic/openstack/default/component.ts
  src/app/wizard/step/provider-settings/provider/extended/aws/component.ts
  src/app/wizard/step/provider-settings/provider/extended/azure/component.ts
  src/app/wizard/step/provider-settings/provider/extended/component.ts
  src/app/wizard/step/provider-settings/provider/extended/gcp/component.ts
  src/app/wizard/step/provider-settings/provider/extended/openstack/application/component.ts
  src/app/wizard/step/provider-settings/provider/extended/openstack/default/component.ts
  src/app/wizard/step/provider-settings/provider/extended/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Refactored code
  src/app/settings/admin/presets/module.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add dist and coverage to ignore
  license-checker-config.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Refactored code
  src/app/wizard/step/provider-settings/provider/basic/azure/component.ts
  src/app/wizard/step/provider-settings/provider/extended/azure/component.ts
  src/test/data/cluster.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix ui in edit provider dialog (#4163)
  src/app/settings/admin/presets/dialog/steps/settings/component.ts
  src/app/settings/admin/presets/dialog/steps/settings/style.scss
  src/app/settings/admin/presets/dialog/steps/settings/template.html
  src/app/settings/admin/presets/dialog/template.html
  src/assets/css/global/_main.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

remove assignment from dependabot
  .github/dependabot.yml
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix unit test and update headless Chrome image (#4177)
  .prow.yaml
  containers/chrome-headless/Dockerfile
  containers/chrome-headless/release.sh
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Improve Nutanix wizard form (#4179)
  src/app/wizard/step/provider-settings/provider/basic/nutanix/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Use textarea instead of input field (#4158)
  src/app/cluster/details/cluster/edit-provider-settings/gcp-provider-settings/component.ts
  src/app/cluster/details/cluster/edit-provider-settings/gcp-provider-settings/template.html
  src/app/cluster/details/cluster/edit-provider-settings/kubevirt-provider-settings/template.html
  src/app/settings/admin/presets/dialog/steps/settings/provider/gcp/component.ts
  src/app/settings/admin/presets/dialog/steps/settings/provider/gcp/template.html
  src/app/settings/admin/presets/dialog/steps/settings/provider/gke/component.ts
  src/app/settings/admin/presets/dialog/steps/settings/provider/gke/template.html
  src/app/settings/admin/presets/dialog/steps/settings/provider/kubevirt/template.html
  src/app/shared/components/add-external-cluster-dialog/steps/credentials/provider/gke/component.ts
  src/app/shared/components/add-external-cluster-dialog/steps/credentials/provider/gke/template.html
  src/app/wizard/step/provider-settings/provider/basic/gcp/component.ts
  src/app/wizard/step/provider-settings/provider/basic/gcp/template.html
  src/app/wizard/step/provider-settings/provider/basic/kubevirt/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix AWS wizard (#4181)
  src/app/core/services/wizard/provider/aws.ts
  src/app/node-data/basic/provider/aws/component.ts
  src/app/shared/entity/provider/aws.ts
  src/app/wizard/step/provider-settings/provider/basic/aws/component.ts
  src/app/wizard/step/provider-settings/provider/basic/aws/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Revert "remove assignment from dependabot"
  .github/dependabot.yml
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Refactored code
  src/app/node-data/extended/provider/digitalocean/template.html
  src/app/node-data/extended/provider/equinix/template.html
  src/app/node-data/extended/provider/gcp/template.html
  src/app/settings/admin/dynamic-datacenters/datacenter-data-dialog/component.ts
  src/app/settings/admin/dynamic-datacenters/datacenter-data-dialog/template.html
  src/app/settings/admin/presets/dialog/steps/preset/component.ts
  src/app/settings/admin/presets/dialog/steps/preset/style.scss
  src/app/settings/admin/presets/dialog/steps/preset/template.html
  src/app/shared/components/tag-list/component.ts
  src/app/shared/components/tag-list/style.scss
  src/app/shared/components/tag-list/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add license (#4191)
  cypress/fixtures/nutanix/cluster.json
  cypress/fixtures/nutanix/clusters.json
  license-checker-config.json
  license-header.txt
  package-lock.json
  package.json
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

feat: support for application credentials in openstack preset
  src/app/cluster/details/cluster/edit-cluster/component.ts
  src/app/node-data/component.ts
  src/app/settings/admin/presets/dialog/steps/preset/component.ts
  src/app/settings/admin/presets/dialog/steps/preset/template.html
  src/app/settings/admin/presets/dialog/steps/settings/provider/openstack/component.ts
  src/app/settings/admin/presets/dialog/steps/settings/provider/openstack/template.html
  src/app/settings/admin/rule-groups/rule-group-dialog/component.ts
  src/app/shared/components/openstack-credentials/application/component.ts
  src/app/shared/components/openstack-credentials/application/template.html
  src/app/shared/components/openstack-credentials/component.ts
  src/app/shared/components/openstack-credentials/default/component.ts
  src/app/shared/components/openstack-credentials/default/template.html
  src/app/shared/components/openstack-credentials/style.scss
  src/app/shared/components/openstack-credentials/template.html
  src/app/shared/components/openstack-credentials/theme.scss
  src/app/shared/entity/preset.ts
  src/app/shared/module.ts
  src/app/shared/validators/others.ts
  src/app/wizard/module.ts
  src/app/wizard/step/cluster/component.ts
  src/app/wizard/step/provider-settings/provider/basic/openstack/application/template.html
  src/app/wizard/step/provider-settings/provider/basic/openstack/template.html
  src/assets/css/theme/_component.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix lint errors
  src/app/wizard/step/provider-settings/provider/basic/openstack/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$
