Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$

update the conditions for enable get kubeconfig and add MD buttons
  modules/web/src/app/cluster/details/external-cluster/component.ts
  modules/web/src/app/cluster/details/external-cluster/external-machine-deployment-list/component.ts
  modules/web/src/app/cluster/details/external-cluster/external-machine-deployment-list/template.html
  modules/web/src/app/cluster/details/external-cluster/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update default project quota layout (#5707)
  modules/web/src/app/dynamic/enterprise/quotas/default-project-quota/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Hotfix: project list for inactive projects
  modules/api/pkg/handler/v1/project/project.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Only take single subscription of project quota API request
  modules/web/src/app/dynamic/enterprise/quotas/service.ts
  modules/web/src/app/project/component.ts
  modules/web/src/app/project/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Hotfix: project list for inactive projects (#5710)
  modules/api/pkg/handler/v1/project/project.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix initial value for projects in create preset (#5706)
  modules/web/src/app/settings/admin/presets/dialog/steps/preset/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Only take single subscription of project quota API request (#5709)
  modules/web/src/app/dynamic/enterprise/quotas/service.ts
  modules/web/src/app/project/component.ts
  modules/web/src/app/project/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Display hints in edit schedule dialog for metering
  modules/web/src/app/dynamic/enterprise/metering/schedule-config/edit-dialog/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

update the conditions for enable get kubeconfig and add MD buttons (#5708)
  modules/web/src/app/cluster/details/external-cluster/component.ts
  modules/web/src/app/cluster/details/external-cluster/external-machine-deployment-list/component.ts
  modules/web/src/app/cluster/details/external-cluster/external-machine-deployment-list/template.html
  modules/web/src/app/cluster/details/external-cluster/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Minor improvements
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/settings/admin/dynamic-datacenters/datacenter-data-dialog/template.html
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add unknown status for installed applications
  modules/web/src/app/shared/components/application-list/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix edit application #5679 (#5697)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/test/helper.go
  modules/api/pkg/handler/v2/application_installation/application_installation_test.go
  modules/api/pkg/handler/v2/application_installation/conversion.go
  modules/api/pkg/test/e2e/utils/apiclient/models/application_installation_list_item.go
  modules/web/src/app/core/services/application.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add unknown status for installed applications (#5715)
  modules/web/src/app/shared/components/application-list/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Display hints in edit schedule dialog for metering (#5712)
  modules/web/src/app/dynamic/enterprise/metering/schedule-config/edit-dialog/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump patch version & update changelog for 2.21.6
  Makefile
  package-lock.json
  package.json
  src/assets/config/changelog.json
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump patch version & update changelog for 2.21.6 (#5716)
  Makefile
  package-lock.json
  package.json
  src/assets/config/changelog.json
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix allignment for enforce PSP checkbox
  modules/web/src/app/settings/admin/dynamic-datacenters/datacenter-data-dialog/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Refactored code
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Minor UI/UX improvements (#5713)
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/settings/admin/dynamic-datacenters/datacenter-data-dialog/template.html
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update `sizes` endpoint of Equinix provider
  modules/web/cypress/types/endpoints.ts
  modules/web/cypress/utils/endpoint.ts
  modules/web/src/app/core/services/provider/equinix.ts
  modules/web/src/app/core/services/wizard/provider/equinix.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Include annotations for nodeDeployments in get cluster templates response
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/common/machine.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_template_node_deployment.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Refactored code
  modules/api/pkg/handler/common/machine.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update `sizes` endpoint of Equinix provider (#5717)
  modules/web/cypress/types/endpoints.ts
  modules/web/cypress/utils/endpoint.ts
  modules/web/src/app/core/services/provider/equinix.ts
  modules/web/src/app/core/services/wizard/provider/equinix.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix quota calculation payload and trigger api call once instance type has changed
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Include annotations for nodeDeployments in get cluster templates response (#5721)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_template_node_deployment.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update estimated quota progress bar design to be more user friendly
  modules/web/src/app/dynamic/enterprise/quotas/quota-widget/component.ts
  modules/web/src/app/dynamic/enterprise/quotas/quota-widget/template.html
  modules/web/src/app/dynamic/enterprise/quotas/quota-widget/theme.scss
  modules/web/src/assets/css/global/_main.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix quota calculation payload and trigger api call once instance type has changed (#5723)
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add image for web-terminal
  hack/images/web-terminal/Dockerfile
  hack/images/web-terminal/release.sh
  modules/api/pkg/handler/websocket/terminal.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Display spinner when loading quota calculation
  modules/web/src/app/dynamic/enterprise/quotas/quota-widget/component.spec.ts
  modules/web/src/app/dynamic/enterprise/quotas/quota-widget/component.ts
  modules/web/src/app/dynamic/enterprise/quotas/quota-widget/style.scss
  modules/web/src/app/dynamic/enterprise/quotas/quota-widget/template.html
  modules/web/src/app/dynamic/enterprise/quotas/services/quota-calculation.ts
  modules/web/src/test/services/quota-calculation-mock.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update estimated quota progress bar design to be more user friendly (#5722)
  modules/web/src/app/dynamic/enterprise/quotas/quota-widget/component.spec.ts
  modules/web/src/app/dynamic/enterprise/quotas/quota-widget/component.ts
  modules/web/src/app/dynamic/enterprise/quotas/quota-widget/style.scss
  modules/web/src/app/dynamic/enterprise/quotas/quota-widget/template.html
  modules/web/src/app/dynamic/enterprise/quotas/quota-widget/theme.scss
  modules/web/src/app/dynamic/enterprise/quotas/services/quota-calculation.ts
  modules/web/src/assets/css/global/_main.scss
  modules/web/src/test/services/quota-calculation-mock.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add image for web-terminal (#5724)
  hack/images/web-terminal/Dockerfile
  hack/images/web-terminal/release.sh
  modules/api/pkg/handler/websocket/terminal.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Handle pong messages from web terminal client
  modules/api/pkg/handler/websocket/terminal.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Keep WS connection alive by exchange of messages
  modules/web/src/app/shared/components/terminal/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Handle pong messages from web terminal client (#5727)
  modules/api/pkg/handler/websocket/terminal.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Avoid handling of regex to strip `pong` text from data
  modules/web/src/app/shared/components/terminal/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update header names for Equinix provider endpoints
  modules/web/src/app/core/services/wizard/provider/equinix.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

cherrypick hide external cluster from project overview
  src/app/project-overview/create-resource-panel/component.ts
  src/app/project-overview/create-resource-panel/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

cherrypick hide external cluster from project overview (#5729)
  src/app/project-overview/create-resource-panel/component.ts
  src/app/project-overview/create-resource-panel/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update header names for Equinix provider endpoints (#5730)
  modules/web/src/app/core/services/wizard/provider/equinix.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix IP ranges labels and pattern error message
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/wizard/step/cluster/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce
