Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$

Add `pkg`, `cmd` and `certs` directories to ignored list for license checker
  license-checker-config.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add `pkg`, `cmd` and `certs` directories to ignored list for license checker (#5144)
  license-checker-config.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Synchronize OWNERS_ALIASES file with Github teams (#5147)
  OWNERS_ALIASES
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Set sig-api and sig-ui OWNERS accordingly
  certs/OWNERS
  cmd/dashboard/OWNERS
  containers/OWNERS
  cypress/OWNERS
  fixtures/OWNERS
  pkg/OWNERS
  src/OWNERS
Due: pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

UI Changes and fixes
  src/app/cluster/details/cluster/component.ts
  src/app/cluster/details/cluster/web-terminal/component.ts
  src/app/cluster/details/cluster/web-terminal/style.scss
  src/app/cluster/details/cluster/web-terminal/template.html
  src/app/core/services/websocket.ts
  src/app/dynamic/enterprise/metering/config/config-dialog/template.html
  src/app/dynamic/enterprise/metering/schedule-config/add-dialog/template.html
  src/app/shared/components/save-cluster-template/template.html
  src/app/shared/components/terminal/component.spec.ts
  src/app/shared/components/terminal/component.ts
  src/app/shared/components/terminal/style.scss
  src/app/shared/components/terminal/template.html
  src/app/shared/components/terminal/terminal-status-bar/style.scss
  src/app/shared/components/terminal/terminal-toolbar/style.scss
  src/app/shared/model/Terminal.ts
  src/assets/css/_images.scss
  src/assets/themes/dark.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Integrate web terminal to user cluster (#4492)
  angular.json
  package-lock.json
  package.json
  src/app/cluster/details/cluster/component.ts
  src/app/cluster/details/cluster/overlay-terminal/component.ts
  src/app/cluster/details/cluster/overlay-terminal/style.scss
  src/app/cluster/details/cluster/overlay-terminal/template.html
  src/app/cluster/details/cluster/overlay-terminal/theme.scss
  src/app/cluster/details/cluster/template.html
  src/app/cluster/details/cluster/web-terminal/component.ts
  src/app/cluster/details/cluster/web-terminal/style.scss
  src/app/cluster/details/cluster/web-terminal/template.html
  src/app/cluster/module.ts
  src/app/cluster/routing.ts
  src/app/core/services/cluster.ts
  src/app/core/services/websocket.ts
  src/app/shared/components/terminal/component.spec.ts
  src/app/shared/components/terminal/component.ts
  src/app/shared/components/terminal/style.scss
  src/app/shared/components/terminal/template.html
  src/app/shared/components/terminal/terminal-status-bar/component.ts
  src/app/shared/components/terminal/terminal-status-bar/style.scss
  src/app/shared/components/terminal/terminal-status-bar/template.html
  src/app/shared/components/terminal/terminal-status-bar/theme.scss
  src/app/shared/components/terminal/terminal-toolbar/component.ts
  src/app/shared/components/terminal/terminal-toolbar/style.scss
  src/app/shared/components/terminal/terminal-toolbar/template.html
  src/app/shared/components/terminal/terminal-toolbar/theme.scss
  src/app/shared/model/Terminal.ts
  src/app/shared/module.ts
  src/assets/css/_images.scss
  src/assets/css/theme/_component.scss
  src/assets/images/icons/reconnect.svg
  src/assets/images/icons/terminal.svg
  src/assets/images/icons/webterminal-placholder.svg
  src/assets/themes/dark.scss
  src/assets/themes/light.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Set sig-api and sig-ui OWNERS accordingly (#5148)
  certs/OWNERS
  cmd/dashboard/OWNERS
  containers/OWNERS
  cypress/OWNERS
  fixtures/OWNERS
  pkg/OWNERS
  src/OWNERS
Due: pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix Makefile not producing the right image repository
  Makefile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add /bin/bash as shell again and fix REPO variable
  Makefile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix repo
  Makefile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix Makefile not producing the right image repository (#5155)
  Makefile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add class to apply placeholder styles
  src/app/shared/components/terminal/style.scss
  src/app/shared/components/terminal/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add class to apply placeholder styles (#5156)
  src/app/shared/components/terminal/style.scss
  src/app/shared/components/terminal/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Implementation improvements
  pkg/handler/websocket/terminal.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Kubermatic#11021: Add network policy to allow only egress to k8s api server from the web terminal pod
  pkg/handler/routes_v1_websocket.go
  pkg/handler/websocket/terminal.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Expiration check routine fixes
  pkg/handler/websocket/terminal.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Limiting the number of refreshes to avoid permanent k8s resources
  pkg/handler/websocket/terminal.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Kubermatic#10156: Add cleanup job for user web terminal temporary k8s resources
  pkg/handler/websocket/terminal.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Kubermatic#10157: Extend the web terminal endpoint to implement pod expiration message/refresh
  pkg/handler/websocket/terminal.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add DatacenterName header to API call to list VM flavors
  src/app/core/services/node-data/provider/alibaba.ts
  src/app/core/services/node-data/provider/aws.ts
  src/app/core/services/node-data/provider/azure.ts
  src/app/core/services/node-data/provider/digitalocean.ts
  src/app/core/services/node-data/provider/equinix.ts
  src/app/core/services/node-data/provider/gcp.ts
  src/app/core/services/node-data/provider/hetzner.ts
  src/app/core/services/node-data/provider/kubevirt.ts
  src/app/core/services/wizard/provider/alibaba.ts
  src/app/core/services/wizard/provider/aws.ts
  src/app/core/services/wizard/provider/azure.ts
  src/app/core/services/wizard/provider/digitalocean.ts
  src/app/core/services/wizard/provider/equinix.ts
  src/app/core/services/wizard/provider/gcp.ts
  src/app/core/services/wizard/provider/hetzner.ts
  src/app/core/services/wizard/provider/kubevirt.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Display units GB for RAM in resource filter
  src/app/settings/admin/defaults/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Web terminal: expiration implementation + security improvements + cleanup job for temporary resources (#5143)
  pkg/handler/routes_v1_websocket.go
  pkg/handler/websocket/terminal.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add a wrapper container to apply styles
  src/app/shared/components/terminal/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add a wrapper container to apply styles (#5157)
  src/app/shared/components/terminal/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

5078 Added quota widget to external cluster
  src/app/cluster/list/external-cluster/component.ts
  src/app/cluster/list/external-cluster/template.html
  src/app/dynamic/enterprise/quotas/quota-widget/component.ts
  src/app/dynamic/enterprise/quotas/quota-widget/style.scss
  src/app/dynamic/enterprise/quotas/quota-widget/template.html
  src/app/external-cluster-wizard/routing.ts
  src/app/external-cluster-wizard/steps/external-cluster/component.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/aks/component.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/aks/template.html
  src/app/external-cluster-wizard/steps/external-cluster/provider/eks/component.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/eks/template.html
  src/app/external-cluster-wizard/steps/external-cluster/provider/gke/component.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/gke/template.html
  src/app/external-cluster-wizard/steps/external-cluster/template.html
  src/app/external-cluster-wizard/template.html
  src/app/shared/components/add-external-cluster-dialog/component.ts
  src/app/shared/components/add-external-cluster-dialog/steps/cluster/component.ts
  src/app/shared/components/add-external-cluster-dialog/steps/cluster/style.scss
  src/app/shared/components/add-external-cluster-dialog/steps/cluster/template.html
  src/app/shared/components/add-external-cluster-dialog/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Test API
  README.md
Due: none

Support for setting machine flavor filter at datacenter level
  src/app/settings/admin/defaults/component.ts
  src/app/settings/admin/dynamic-datacenters/datacenter-data-dialog/component.ts
  src/app/settings/admin/dynamic-datacenters/datacenter-data-dialog/style.scss
  src/app/settings/admin/dynamic-datacenters/datacenter-data-dialog/template.html
  src/app/shared/components/machine-flavor-filter/component.ts
  src/app/shared/components/machine-flavor-filter/template.html
  src/app/shared/entity/datacenter.ts
  src/app/shared/module.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove unused code
  src/app/shared/entity/datacenter.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Refactored code
  src/app/shared/components/machine-flavor-filter/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

5078 Added quota widget to external cluster (#5145)
  src/app/cluster/list/external-cluster/component.ts
  src/app/cluster/list/external-cluster/template.html
  src/app/dynamic/enterprise/quotas/quota-widget/component.ts
  src/app/dynamic/enterprise/quotas/quota-widget/style.scss
  src/app/dynamic/enterprise/quotas/quota-widget/template.html
  src/app/external-cluster-wizard/routing.ts
  src/app/external-cluster-wizard/steps/external-cluster/component.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/aks/component.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/aks/template.html
  src/app/external-cluster-wizard/steps/external-cluster/provider/eks/component.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/eks/template.html
  src/app/external-cluster-wizard/steps/external-cluster/provider/gke/component.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/gke/template.html
  src/app/external-cluster-wizard/steps/external-cluster/template.html
  src/app/external-cluster-wizard/template.html
  src/app/shared/components/add-external-cluster-dialog/component.ts
  src/app/shared/components/add-external-cluster-dialog/steps/cluster/component.ts
  src/app/shared/components/add-external-cluster-dialog/steps/cluster/style.scss
  src/app/shared/components/add-external-cluster-dialog/steps/cluster/template.html
  src/app/shared/components/add-external-cluster-dialog/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Support to filter machines based on resources per datacenter (#5164)
  src/app/core/services/node-data/provider/alibaba.ts
  src/app/core/services/node-data/provider/aws.ts
  src/app/core/services/node-data/provider/azure.ts
  src/app/core/services/node-data/provider/digitalocean.ts
  src/app/core/services/node-data/provider/equinix.ts
  src/app/core/services/node-data/provider/gcp.ts
  src/app/core/services/node-data/provider/hetzner.ts
  src/app/core/services/node-data/provider/kubevirt.ts
  src/app/core/services/wizard/provider/alibaba.ts
  src/app/core/services/wizard/provider/aws.ts
  src/app/core/services/wizard/provider/azure.ts
  src/app/core/services/wizard/provider/digitalocean.ts
  src/app/core/services/wizard/provider/equinix.ts
  src/app/core/services/wizard/provider/gcp.ts
  src/app/core/services/wizard/provider/hetzner.ts
  src/app/core/services/wizard/provider/kubevirt.ts
  src/app/settings/admin/defaults/component.ts
  src/app/settings/admin/defaults/template.html
  src/app/settings/admin/dynamic-datacenters/datacenter-data-dialog/component.ts
  src/app/settings/admin/dynamic-datacenters/datacenter-data-dialog/style.scss
  src/app/settings/admin/dynamic-datacenters/datacenter-data-dialog/template.html
  src/app/shared/components/machine-flavor-filter/component.ts
  src/app/shared/components/machine-flavor-filter/template.html
  src/app/shared/entity/datacenter.ts
  src/app/shared/module.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

bump KKP to 48b7e886aed9
  go.mod
  go.sum
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

apply: Update tests to kind 0.16 (kubermatic/kubermatic#11133)
  .prow/tests-e2e.yaml
  .prow/tests-unit.yaml
  .prow/verify.yaml
  containers/chrome-headless/Dockerfile
  containers/chrome-headless/release.sh
  containers/custom-dashboard/Dockerfile
  hack/update-swagger.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

apply: Properly check condition array length before accessing it (kubermatic/kubermatic#11213)
  pkg/provider/cloud/gke/provider.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

apply: Switch AWS account for E2E tests (kubermatic/kubermatic#11211)
  .prow/tests-e2e.yaml
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

apply: Refactor KubeVirt cloud provider - part 1 (kubermatic/kubermatic#11202)
  pkg/handler/common/provider/kubevirt.go
  pkg/handler/common/provider/kubevirt_test.go
  pkg/handler/v2/provider/kubevirt_test.go
  pkg/provider/cloud/kubevirt/client.go
  pkg/provider/cloud/kubevirt/client_test.go
  pkg/provider/cloud/kubevirt/csi.go
  pkg/provider/cloud/kubevirt/data_volume.go
  pkg/provider/cloud/kubevirt/manifests/manifests.go
  pkg/provider/cloud/kubevirt/manifests/preferences/sockets-advantage.yaml
  pkg/provider/cloud/kubevirt/namespace.go
  pkg/provider/cloud/kubevirt/network_policy.go
  pkg/provider/cloud/kubevirt/provider.go
  pkg/provider/cloud/kubevirt/storage_class.go
  pkg/provider/cloud/kubevirt/vm_instancetype.go
  pkg/provider/cloud/kubevirt/vm_preference.go
  pkg/provider/cloud/kubevirt/vm_preset.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

apply: Fix panic in cluster webhook (kubermatic/kubermatic#11236)
  pkg/validation/cluster.go
  pkg/validation/cluster_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

apply: Cleanup tests, improve logging (kubermatic/kubermatic#11228)
  hack/ci/setup-kubermatic-in-kind.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

apply: Add Kubernetes 1.25 (kubermatic/kubermatic#11049)
  pkg/defaulting/configuration.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce
