Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-go-mod-verify, pre-dashboard-web-lint, pre-dashboard-web-check

pre-dashboard-go-mod-verify:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      command:
      - make
      - verify-go
      resources:
        requests:
          cpu: 100m

pre-dashboard-test-unit:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/chrome-headless:v0.11
      command:
      - make
      - test-headless
      resources:
        requests:
          cpu: 1
          memory: 3Gi
        limits:
          cpu: 2
          memory: 5Gi
      env:
      - name: CODECOV_TOKEN
        valueFrom:
  ...

pre-dashboard-test-full-e2e:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-full-e2e-ce:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-e2e:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-test-e2e-ce:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-build-image:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

pre-dashboard-build-image-ce:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

Do not set OSP annotation if osp is an empty string. OSM will handle both cases in its defaulting logic. This change allows us to pass test cases without modification.
  modules/api/pkg/resources/machine/machinedeployment.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix OSP annotation handling in MachineDeployment
  modules/api/pkg/resources/machine/machinedeployment.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update `getOperatingSystemProfile` helper to parse Node deployment instead of relying on the datacenter spec which needs to be used as defaulting not as an enforeced OSP
  modules/api/pkg/resources/machine/machinedeployment.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

(fix): use OSP from node instead of default OSP from dc (#7217)
  modules/api/pkg/resources/machine/machinedeployment.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.26] (fix): use OSP from node instead of default OSP from dc (#7219)
  modules/api/pkg/resources/machine/machinedeployment.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.27] (fix): use OSP from node instead of default OSP from dc (#7220)
  modules/api/pkg/resources/machine/machinedeployment.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

(fix): use OSP from node instead of default OSP from dc (#7217) (#7221)
  modules/api/pkg/resources/machine/machinedeployment.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix middleware handling
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/ee/kyverno/policy-template/handler.go
  modules/api/pkg/ee/kyverno/policy-template/provider.go
  modules/api/pkg/handler/routing.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/handler/v2/routing.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/admin_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/create_kyverno_policy_template_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/create_kyverno_policy_template_responses.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

update policy binding endpoints
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/options.go
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/cmd/kubermatic-api/wrappers_ce.go
  modules/api/cmd/kubermatic-api/wrappers_ee.go
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/ee/cmd/kubermatic-api/wrappers.go
  modules/api/pkg/ee/kyverno/policy-binding/handler.go
  modules/api/pkg/ee/kyverno/policy-binding/provider.go
  modules/api/pkg/ee/kyverno/policy-instance/handler.go
  modules/api/pkg/ee/kyverno/policy-template/handler.go
  modules/api/pkg/ee/kyverno/policy-template/provider.go
  modules/api/pkg/handler/routing.go
  modules/api/pkg/handler/v2/kyverno/policy-binding/policybindingconfig.go
  modules/api/pkg/handler/v2/kyverno/policy-binding/wrappers_ce.go
  modules/api/pkg/handler/v2/kyverno/policy-binding/wrappers_ee.go
  modules/api/pkg/handler/v2/kyverno/policy-instance/wrappers_ce.go
  modules/api/pkg/handler/v2/kyverno/policy-instance/wrappers_ee.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/handler/v2/routing.go
  modules/api/pkg/provider/types.go
  modules/api/pkg/resources/reconciling/zz_generated_reconcile.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/admin_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/create_policy_binding_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/create_policy_binding_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/delete_policy_binding_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/delete_policy_binding_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/get_policy_binding_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/get_policy_binding_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/list_policy_binding_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/list_policy_binding_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/patch_policy_binding_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/patch_policy_binding_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_binding.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix nil pointer dereference
  modules/api/pkg/ee/kyverno/policy-template/handler.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add swagger annotations to policy template
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/ee/kyverno/policy-template/handler.go
  modules/api/pkg/ee/kyverno/policy-template/provider.go
  modules/api/pkg/handler/v2/kyverno/policy-template/wrappers_ce.go
  modules/api/pkg/handler/v2/kyverno/policy-template/wrappers_ee.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/resources/reconciling/zz_generated_reconcile.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/admin_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/create_kyverno_policy_template_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/create_kyverno_policy_template_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/create_policy_template_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/create_policy_template_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/delete_policy_template_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/delete_policy_template_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/get_policy_template_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/get_policy_template_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/list_policy_template_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/list_policy_template_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/patchpolicy_template_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/patchpolicy_template_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_template.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add kyverno Policies endpoints
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/options.go
  modules/api/cmd/kubermatic-api/wrappers_ce.go
  modules/api/cmd/kubermatic-api/wrappers_ee.go
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/ee/cmd/kubermatic-api/wrappers.go
  modules/api/pkg/ee/kyverno/policy-instance/handler.go
  modules/api/pkg/ee/kyverno/policy-template/handler.go
  modules/api/pkg/ee/kyverno/policy-template/provider.go
  modules/api/pkg/handler/v2/kyverno/policy-instance/policytemplateconfig.go
  modules/api/pkg/handler/v2/kyverno/policy-instance/wrappers_ce.go
  modules/api/pkg/handler/v2/kyverno/policy-instance/wrappers_ee.go
  modules/api/pkg/handler/v2/kyverno/policy-template/policytemplateconfig.go
  modules/api/pkg/handler/v2/kyverno/policy-template/wrappers_ce.go
  modules/api/pkg/handler/v2/kyverno/policy-template/wrappers_ee.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/handler/v2/routing.go
  modules/api/pkg/provider/types.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

remove MasterImpersonatedClient
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/wrappers_ce.go
  modules/api/cmd/kubermatic-api/wrappers_ee.go
  modules/api/pkg/ee/cmd/kubermatic-api/wrappers.go
  modules/api/pkg/ee/kyverno/policy-binding/handler.go
  modules/api/pkg/ee/kyverno/policy-binding/provider.go
  modules/api/pkg/ee/kyverno/policy-template/handler.go
  modules/api/pkg/ee/kyverno/policy-template/provider.go
  modules/api/pkg/provider/types.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

remove swagger:ignore for policytemplate spec
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/ee/kyverno/policy-template/handler.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/patchpolicy_template_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_template.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_template_spec.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Trim whitespaces for the S3URL
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/add-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/add-dialog/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Trim whitespaces for the S3URL (#7233)
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/add-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/add-dialog/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.25] Bump KKP dashboard version and update dependencies
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.25] Bump KKP dashboard version and update dependencies (#7237)
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.26] Bump KKP dashboard version and update dependencies
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.27] Bump KKP dashboard version and update dependencies
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Bump KKP dependencies with latest commit
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.26] Bump KKP dashboard version and update dependencies (#7239)
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.27] Bump KKP dashboard version and update dependencies (#7238)
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

codegen
  modules/api/cmd/kubermatic-api/swagger.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix linter config
  modules/api/.golangci.yml
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump Go build image version to 1.23.7
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/custom-dashboard/Dockerfile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Update k8c.io/kubermatic/sdk/v2
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump Go build image version to 1.23.7 (#7247)
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/custom-dashboard/Dockerfile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Bump KKP dependency to ea05aecd080e68fa31fe0b30a004768e7a0d4bc1
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

update tests
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-web-integration-tests: any of: modules/web
  pre-dashboard-web-integration-tests-ce: any of: modules/web
  pre-dashboard-web-unit: any of: modules/web
  pre-dashboard-web-go-mod-verify: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-lint: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-check: any of: modules/web
