Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

pre-dashboard-go-mod-verify:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      command:
      - make
      - verify-go
      resources:
        requests:
          cpu: 100m

pre-dashboard-test-unit:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/chrome-headless:v0.11
      command:
      - make
      - test-headless
      resources:
        requests:
          cpu: 1
          memory: 3Gi
        limits:
          cpu: 2
          memory: 5Gi
      env:
      - name: CODECOV_TOKEN
        valueFrom:
  ...

pre-dashboard-test-full-e2e:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-full-e2e-ce:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-e2e:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-test-e2e-ce:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-build-image:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

pre-dashboard-build-image-ce:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

apply: update KubevirtNodeSpec with topologyConstraint (kubermatic/kubermatic#11114)
  cmd/kubermatic-api/swagger.json
  pkg/api/v1/types.go
  pkg/api/v1/types_test.go
  pkg/machine/convert.go
  pkg/resources/machine/common.go
  pkg/test/e2e/utils/apiclient/models/kubevirt_node_spec.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

apply: Add feature flag to enable/disable the Web Terminal for the user clusters (kubermatic/kubermatic#11243)
  cmd/kubermatic-api/swagger.json
  pkg/handler/test/helper.go
  pkg/handler/v1/admin/settings_test.go
  pkg/provider/kubernetes/settings.go
  pkg/test/e2e/utils/apiclient/models/setting_spec.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

update swagger spec / apiclient
  cmd/kubermatic-api/swagger.json
  pkg/test/e2e/utils/apiclient/models/topology_spread_constraint.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Updating kubermatic dependecy
  cmd/kubermatic-api/swagger.json
  go.mod
  go.sum
  pkg/handler/common/provider/alibaba.go
  pkg/handler/common/provider/aws.go
  pkg/handler/common/provider/aws_test.go
  pkg/handler/common/provider/azure.go
  pkg/handler/common/provider/digitalocean.go
  pkg/handler/common/provider/gcp.go
  pkg/handler/common/provider/hetzner.go
  pkg/handler/common/provider/kubevirt.go
  pkg/handler/common/provider/kubevirt_test.go
  pkg/handler/common/provider/openstack.go
  pkg/handler/common/provider/packet.go
  pkg/provider/kubernetes/settings.go
  pkg/test/e2e/api/settings_test.go
  pkg/test/e2e/utils/apiclient/models/machine_deployment_vm_resource_quota.go
  pkg/test/e2e/utils/apiclient/models/machine_flavor_filter.go
  pkg/test/e2e/utils/apiclient/models/setting_spec.go
  pkg/test/e2e/utils/apiclient/models/topology_spread_constraint.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Block Web Terminal access if the feature is not enabled
  pkg/handler/routes_v1_websocket.go
  pkg/handler/test/helper.go
  pkg/handler/v1/admin/settings_test.go
  pkg/provider/kubernetes/settings.go
  pkg/test/e2e/api/settings_test.go
  pkg/test/e2e/utils/apiclient/models/datacenter_spec.go
  pkg/test/e2e/utils/client.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

use the operator's native support for a custom dashboard/api image
  hack/ci/setup-kubermatic-in-kind.sh
  hack/ci/testdata/kubermatic.yaml
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

get rid of needless tmpfs hack to fix the minio PVC
  .prow/tests-e2e.yaml
  hack/e2e/setup-kind-cluster.sh
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

remove sig-cluster-mngt as the code owner
  OWNERS_ALIASES
  pkg/provider/cloud/OWNERS
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

remove sig-cluster-mngt as the code owner (#5168)
  OWNERS_ALIASES
  pkg/provider/cloud/OWNERS
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update tooltip for resource filter
  pkg/handler/v1/dc/datacenter.go
  src/app/settings/admin/defaults/template.html
  src/app/shared/components/machine-flavor-filter/template.html
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update tooltip for resource filter (#5169)
  pkg/handler/v1/dc/datacenter.go
  src/app/settings/admin/defaults/template.html
  src/app/shared/components/machine-flavor-filter/template.html
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update dependencies for API
  .gitignore
  Development.md
  go.mod
  go.sum
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update dependencies for API (#5170)
  .gitignore
  Development.md
  go.mod
  go.sum
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

change label and icon for the edit button in edit dialog
  src/app/dynamic/enterprise/allowed-registries/allowed-registry-dialog/component.ts
  src/app/dynamic/enterprise/allowed-registries/allowed-registry-dialog/template.html
  src/app/dynamic/enterprise/metering/schedule-config/edit-dialog/template.html
  src/app/dynamic/enterprise/quotas/project-quota-dialog/template.html
  src/app/member/edit-member/template.html
  src/app/serviceaccount/edit-dialog/template.html
  src/app/settings/admin/dynamic-datacenters/datacenter-data-dialog/component.ts
  src/app/settings/admin/dynamic-datacenters/datacenter-data-dialog/template.html
  src/app/settings/admin/opa/constraint-templates/constraint-template-dialog/component.spec.ts
  src/app/settings/admin/opa/constraint-templates/constraint-template-dialog/component.ts
  src/app/settings/admin/opa/constraint-templates/constraint-template-dialog/template.html
  src/app/settings/admin/opa/default-constraints/default-constraint-dialog/component.spec.ts
  src/app/settings/admin/opa/default-constraints/default-constraint-dialog/component.ts
  src/app/settings/admin/opa/default-constraints/default-constraint-dialog/template.html
  src/app/settings/admin/presets/dialog/component.ts
  src/app/settings/admin/rule-groups/component.ts
  src/app/settings/admin/rule-groups/rule-group-dialog/component.ts
  src/app/settings/admin/rule-groups/rule-group-dialog/template.html
  src/app/shared/components/addon-list/edit-addon-dialog/template.html
  src/app/shared/components/application-list/edit-application-dialog/template.html
  src/app/shared/utils/common.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Refactor husky pre-commit and pre-push hooks
  .husky/pre-commit
  .husky/pre-push
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Include cypress and package.json
  .husky/pre-commit
  .husky/pre-push
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Refactor husky pre-commit and pre-push hooks (#5172)
  .husky/pre-commit
  .husky/pre-push
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

remove credentials handling from dashboard
  pkg/handler/common/cluster.go
  pkg/handler/v2/cluster_template/cluster_template.go
  pkg/provider/kubernetes/credentials.go
  pkg/provider/kubernetes/external_cluster.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Use the operator's native support for a custom dashboard/api image (#5167)
  .prow/tests-e2e.yaml
  hack/ci/setup-kubermatic-in-kind.sh
  hack/ci/testdata/kubermatic.yaml
  hack/e2e/setup-kind-cluster.sh
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

remove some unused code from cloud providers
  pkg/provider/cloud/aks/provider.go
  pkg/provider/cloud/alibaba/provider.go
  pkg/provider/cloud/anexia/provider.go
  pkg/provider/cloud/eks/authenticator/arn.go
  pkg/provider/cloud/eks/authenticator/token.go
  pkg/provider/cloud/eks/provider.go
  pkg/provider/cloud/gke/provider.go
  pkg/provider/cloud/nutanix/provider.go
  pkg/provider/cloud/openstack/provider.go
  pkg/provider/cloud/vmwareclouddirector/provider.go
  pkg/provider/cloud/vsphere/provider.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

remove handler provider unused code
  pkg/handler/common/provider/alibaba.go
  pkg/handler/common/provider/aws.go
  pkg/handler/common/provider/azure.go
  pkg/handler/common/provider/digitalocean.go
  pkg/handler/common/provider/gcp.go
  pkg/handler/common/provider/hetzner.go
  pkg/handler/common/provider/kubevirt.go
  pkg/handler/common/provider/openstack.go
  pkg/handler/common/provider/packet.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix imports
  pkg/handler/common/provider/azure.go
  pkg/handler/common/provider/kubevirt.go
  pkg/handler/common/provider/openstack.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Display groups on project overview page
  src/app/dynamic/enterprise/group/module.ts
  src/app/dynamic/enterprise/group/service.ts
  src/app/project-overview/component.ts
  src/app/project-overview/members-overview/component.ts
  src/app/project-overview/members-overview/style.scss
  src/app/project-overview/members-overview/template.html
  src/app/project-overview/template.html
  src/assets/css/_images.scss
  src/assets/images/icons/groups.svg
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Refactor load Project Quota API call
  src/app/project-overview/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update `Cloud Shell` text to Web Terminal to avoid copy infringement
  src/app/shared/components/terminal/component.ts
  src/app/shared/components/terminal/terminal-status-bar/template.html
  src/app/shared/components/terminal/terminal-toolbar/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update `Cloud Shell` text to Web Terminal to avoid copy infringement (#5173)
  src/app/shared/components/terminal/component.ts
  src/app/shared/components/terminal/terminal-status-bar/template.html
  src/app/shared/components/terminal/terminal-toolbar/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Block Web Terminal access if the feature is not enabled
  pkg/handler/routes_v1_websocket.go
  pkg/test/e2e/api/settings_test.go
  pkg/test/e2e/utils/client.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Block Web Terminal access if the feature is not enabled (#5174)
  pkg/handler/routes_v1_websocket.go
  pkg/test/e2e/api/settings_test.go
  pkg/test/e2e/utils/client.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Cleanup some unused code in providers (#5163)
  pkg/handler/common/cluster.go
  pkg/handler/common/provider/alibaba.go
  pkg/handler/common/provider/aws.go
  pkg/handler/common/provider/azure.go
  pkg/handler/common/provider/digitalocean.go
  pkg/handler/common/provider/gcp.go
  pkg/handler/common/provider/hetzner.go
  pkg/handler/common/provider/kubevirt.go
  pkg/handler/common/provider/openstack.go
  pkg/handler/common/provider/packet.go
  pkg/handler/v2/cluster_template/cluster_template.go
  pkg/provider/cloud/aks/provider.go
  pkg/provider/cloud/alibaba/provider.go
  pkg/provider/cloud/anexia/provider.go
  pkg/provider/cloud/eks/authenticator/arn.go
  pkg/provider/cloud/eks/authenticator/token.go
  pkg/provider/cloud/eks/provider.go
  pkg/provider/cloud/gke/provider.go
  pkg/provider/cloud/nutanix/provider.go
  pkg/provider/cloud/openstack/provider.go
  pkg/provider/cloud/vmwareclouddirector/provider.go
  pkg/provider/cloud/vsphere/provider.go
  pkg/provider/kubernetes/credentials.go
  pkg/provider/kubernetes/external_cluster.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add prow job for running api unit tests
  .prow/api.yaml
  Makefile
  hack/run-api-tests.sh
  pkg/ee/resource-quota/provider_test.go
  pkg/handler/test/wrappers_ee.go
  pkg/handler/v2/provider/kubevirt_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add `retries` for failing test
  cypress.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Enable cypress debug logs
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Mark E2E tests as optional
  .prow.yaml
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

edit MD Enhancements
  src/app/node-data/component.ts
  src/app/node-data/dialog/component.ts
  src/app/node-data/dialog/template.html
  src/app/node-data/template.html
  src/assets/css/material/_main.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

create dialog action mode enum in shared entity common file
  src/app/cluster/details/cluster/constraints/component.ts
  src/app/cluster/details/cluster/constraints/constraint-dialog/component.spec.ts
  src/app/cluster/details/cluster/constraints/constraint-dialog/component.ts
  src/app/cluster/details/cluster/constraints/constraint-dialog/template.html
  src/app/cluster/details/cluster/edit-provider-settings/template.html
  src/app/cluster/details/cluster/gatekeeper-config/component.ts
  src/app/cluster/details/cluster/gatekeeper-config/gatekeeper-config-dialog/component.spec.ts
  src/app/cluster/details/cluster/gatekeeper-config/gatekeeper-config-dialog/component.ts
  src/app/cluster/details/cluster/gatekeeper-config/gatekeeper-config-dialog/template.html
  src/app/dynamic/enterprise/allowed-registries/allowed-registry-dialog/component.ts
  src/app/dynamic/enterprise/allowed-registries/allowed-registry-dialog/template.html
  src/app/dynamic/enterprise/allowed-registries/component.ts
  src/app/dynamic/enterprise/group/edit-group-dialog/template.html
  src/app/dynamic/enterprise/metering/schedule-config/component.spec.ts
  src/app/dynamic/enterprise/metering/schedule-config/component.ts
  src/app/settings/admin/dynamic-datacenters/datacenter-data-dialog/component.ts
  src/app/settings/admin/opa/constraint-templates/component.ts
  src/app/settings/admin/opa/constraint-templates/constraint-template-dialog/component.spec.ts
  src/app/settings/admin/opa/constraint-templates/constraint-template-dialog/component.ts
  src/app/settings/admin/opa/constraint-templates/constraint-template-dialog/template.html
  src/app/settings/admin/opa/default-constraints/component.ts
  src/app/settings/admin/opa/default-constraints/default-constraint-dialog/component.spec.ts
  src/app/settings/admin/opa/default-constraints/default-constraint-dialog/component.ts
  src/app/settings/admin/opa/default-constraints/default-constraint-dialog/template.html
  src/app/settings/admin/rule-groups/component.ts
  src/app/settings/admin/rule-groups/rule-group-dialog/component.ts
  src/app/shared/types/common.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add project-scoped endpoints for EKS (#5125)
  cmd/kubermatic-api/swagger.json
  pkg/handler/v2/external_cluster/eks.go
  pkg/handler/v2/routes_v2.go
  pkg/test/e2e/utils/apiclient/client/eks/eks_client.go
  pkg/test/e2e/utils/apiclient/client/eks/list_project_e_k_s_a_m_i_types_parameters.go
  pkg/test/e2e/utils/apiclient/client/eks/list_project_e_k_s_a_m_i_types_responses.go
  pkg/test/e2e/utils/apiclient/client/eks/list_project_e_k_s_capacity_types_parameters.go
  pkg/test/e2e/utils/apiclient/client/eks/list_project_e_k_s_capacity_types_responses.go
  pkg/test/e2e/utils/apiclient/client/eks/list_project_e_k_s_cluster_roles_parameters.go
  pkg/test/e2e/utils/apiclient/client/eks/list_project_e_k_s_cluster_roles_responses.go
  pkg/test/e2e/utils/apiclient/client/eks/list_project_e_k_s_regions_parameters.go
  pkg/test/e2e/utils/apiclient/client/eks/list_project_e_k_s_regions_responses.go
  pkg/test/e2e/utils/apiclient/client/eks/list_project_e_k_s_security_groups_parameters.go
  pkg/test/e2e/utils/apiclient/client/eks/list_project_e_k_s_security_groups_responses.go
  pkg/test/e2e/utils/apiclient/client/eks/list_project_e_k_s_subnets_parameters.go
  pkg/test/e2e/utils/apiclient/client/eks/list_project_e_k_s_subnets_responses.go
  pkg/test/e2e/utils/apiclient/client/eks/list_project_e_k_s_v_p_cs_parameters.go
  pkg/test/e2e/utils/apiclient/client/eks/list_project_e_k_s_v_p_cs_responses.go
  pkg/test/e2e/utils/apiclient/client/eks/list_project_e_k_s_versions_parameters.go
  pkg/test/e2e/utils/apiclient/client/eks/list_project_e_k_s_versions_responses.go
  pkg/test/e2e/utils/apiclient/client/eks/validate_project_e_k_s_credentials_parameters.go
  pkg/test/e2e/utils/apiclient/client/eks/validate_project_e_k_s_credentials_responses.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$
