Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-go-mod-verify, pre-dashboard-web-lint, pre-dashboard-web-check

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-web-integration-tests: any of: modules/web
  pre-dashboard-web-integration-tests-ce: any of: modules/web
  pre-dashboard-web-unit: any of: modules/web
  pre-dashboard-web-go-mod-verify: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-lint: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-check: any of: modules/web

prepare 2.27.0-rc.0
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

codegen
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_virt_c_s_i_driver_operator.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kubevirt_cloud_spec.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

small enhancements (#7163)
  modules/web/src/app/backup/list/automatic-backup/add-dialog/template.html
  modules/web/src/app/backup/list/component.ts
  modules/web/src/app/backup/list/snapshot/add-dialog/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Prepare 2.27.0 rc.0 (#7164)
  Makefile
  modules/api/Makefile
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_virt_c_s_i_driver_operator.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kubevirt_cloud_spec.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix datacenter handling for Edge
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/v1/dc/datacenter.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_edge.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix datacenter handling for Edge (#7165)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/v1/dc/datacenter.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_edge.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix datacenter handling for Edge (#7165)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/v1/dc/datacenter.go
  modules/api/pkg/resources/reconciling/zz_generated_reconcile.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_edge.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix datacenter handling for Edge (#7166)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/v1/dc/datacenter.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_edge.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix datacenter handling for Edge (#7165) (#7167)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/v1/dc/datacenter.go
  modules/api/pkg/resources/reconciling/zz_generated_reconcile.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_edge.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix wrong GCP machine deployment values in Edit MD dialog
  modules/web/src/app/core/services/node-data/provider/gcp.ts
  modules/web/src/app/node-data/basic/provider/gcp/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix wrong GCP machine deployment values in Edit MD dialog (#7169)
  modules/web/src/app/core/services/node-data/provider/gcp.ts
  modules/web/src/app/node-data/basic/provider/gcp/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix wrong GCP machine deployment values in Edit MD dialog (#7171)
  modules/web/src/app/core/services/node-data/provider/gcp.ts
  modules/web/src/app/node-data/basic/provider/gcp/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix wrong GCP machine deployment values in Edit MD dialog (#7170)
  modules/web/src/app/core/services/node-data/provider/gcp.ts
  modules/web/src/app/node-data/basic/provider/gcp/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

add select all namespaces to restore and few enhancements
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/add-dialog/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/style.scss
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/add-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/add-dialog/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/style.scss
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/schedule/template.html
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/shared/entity/backup.ts
  modules/web/src/app/wizard/step/cluster/template.html
  modules/web/src/assets/css/global/_theme.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

add select all namespaces to restore and few enhancements (#7168)
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/add-dialog/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/style.scss
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/add-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/add-dialog/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/style.scss
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/schedule/template.html
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/shared/entity/backup.ts
  modules/web/src/app/wizard/step/cluster/template.html
  modules/web/src/assets/css/global/_theme.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

add select all namespaces to restore and few enhancements
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/add-dialog/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/style.scss
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/add-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/add-dialog/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/style.scss
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/schedule/template.html
  modules/web/src/app/shared/entity/backup.ts
  modules/web/src/assets/css/global/_theme.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Use the NewExternalWithProxy method to manage UserClusters which are not directly available for kkp
  modules/api/cmd/kubermatic-api/main.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

cover the external cloud spec in the api Signed-off-by: moadqassem <moad.qassem@gmail.com>
  modules/api/pkg/machine/convert.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

prepare 2.27.0
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

codegen
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_kubevirt.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

cover the external cloud spec in the api (#7178)
  modules/api/pkg/machine/convert.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add select all namespaces to restore and few enhancements (#7172)
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/add-dialog/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/style.scss
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/add-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/add-dialog/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/style.scss
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/schedule/template.html
  modules/web/src/app/shared/entity/backup.ts
  modules/web/src/assets/css/global/_theme.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Prepare 2.27.0 (#7180)
  Makefile
  modules/api/Makefile
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_kubevirt.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Upgrade jest-preset-angular
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Upgrade angular/cdk and ngx-charts
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fixes
  modules/web/angular.json
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/app/external-cluster-wizard/steps/summary/style.scss
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/assets/css/theme/_component.scss
  modules/web/src/assets/css/theme/_main.scss
  modules/web/tsconfig.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.27] prepare 2.27.1
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.27] prepare 2.27.1 (#7185)
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

codegen
  modules/api/cmd/kubermatic-api/swagger.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Mark unit and integration tests as optional for the time being
  .prow/frontend.yaml
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix mocking for canvas
  modules/web/jest.config.cjs
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/app/cluster/details/cluster/add-machine-network/component.spec.ts
  modules/web/src/app/cluster/details/cluster/gatekeeper-config/component.spec.ts
  modules/web/src/app/cluster/details/cluster/mla/component.spec.ts
  modules/web/src/app/cluster/details/cluster/mla/rule-groups/component.spec.ts
  modules/web/src/app/component.spec.ts
  modules/web/src/app/dynamic/enterprise/quotas/template.html
  modules/web/src/app/project/edit-project/component.spec.ts
  modules/web/src/app/serviceaccount/token/component.spec.ts
  modules/web/src/app/settings/admin/opa/constraint-templates/component.spec.ts
  modules/web/src/app/shared/components/terminal/component.spec.ts
  modules/web/src/app/wizard/step/cluster/ssh-keys/component.spec.ts
  modules/web/src/app/wizard/step/network/component.spec.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check
