Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$

Mark E2E tests as optional (#5180)
  .prow.yaml
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add project-scoped API endpoints for cloud provider Nutanix
  pkg/handler/v2/provider/nutanix.go
  pkg/handler/v2/routes_v2.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update codegen
  cmd/kubermatic-api/swagger.json
  pkg/test/e2e/utils/apiclient/client/nutanix/list_project_nutanix_categories_parameters.go
  pkg/test/e2e/utils/apiclient/client/nutanix/list_project_nutanix_categories_responses.go
  pkg/test/e2e/utils/apiclient/client/nutanix/list_project_nutanix_category_values_parameters.go
  pkg/test/e2e/utils/apiclient/client/nutanix/list_project_nutanix_category_values_responses.go
  pkg/test/e2e/utils/apiclient/client/nutanix/list_project_nutanix_clusters_parameters.go
  pkg/test/e2e/utils/apiclient/client/nutanix/list_project_nutanix_clusters_responses.go
  pkg/test/e2e/utils/apiclient/client/nutanix/list_project_nutanix_projects_parameters.go
  pkg/test/e2e/utils/apiclient/client/nutanix/list_project_nutanix_projects_responses.go
  pkg/test/e2e/utils/apiclient/client/nutanix/list_project_nutanix_subnets_parameters.go
  pkg/test/e2e/utils/apiclient/client/nutanix/list_project_nutanix_subnets_responses.go
  pkg/test/e2e/utils/apiclient/client/nutanix/nutanix_client.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

TEMP
  .codespell.exclude
  Makefile
  hack/ci/verify.sh
  hack/verify-import-order.sh
  hack/verify-spelling.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

change label and icon for the edit button in edit dialog (#5111)
  src/app/cluster/details/cluster/constraints/component.ts
  src/app/cluster/details/cluster/constraints/constraint-dialog/component.spec.ts
  src/app/cluster/details/cluster/constraints/constraint-dialog/component.ts
  src/app/cluster/details/cluster/constraints/constraint-dialog/template.html
  src/app/cluster/details/cluster/edit-provider-settings/template.html
  src/app/cluster/details/cluster/gatekeeper-config/component.ts
  src/app/cluster/details/cluster/gatekeeper-config/gatekeeper-config-dialog/component.spec.ts
  src/app/cluster/details/cluster/gatekeeper-config/gatekeeper-config-dialog/component.ts
  src/app/cluster/details/cluster/gatekeeper-config/gatekeeper-config-dialog/template.html
  src/app/dynamic/enterprise/allowed-registries/allowed-registry-dialog/component.ts
  src/app/dynamic/enterprise/allowed-registries/allowed-registry-dialog/template.html
  src/app/dynamic/enterprise/allowed-registries/component.ts
  src/app/dynamic/enterprise/group/edit-group-dialog/template.html
  src/app/dynamic/enterprise/metering/schedule-config/component.spec.ts
  src/app/dynamic/enterprise/metering/schedule-config/component.ts
  src/app/dynamic/enterprise/metering/schedule-config/edit-dialog/template.html
  src/app/dynamic/enterprise/quotas/project-quota-dialog/template.html
  src/app/member/edit-member/template.html
  src/app/serviceaccount/edit-dialog/template.html
  src/app/settings/admin/dynamic-datacenters/datacenter-data-dialog/component.ts
  src/app/settings/admin/dynamic-datacenters/datacenter-data-dialog/template.html
  src/app/settings/admin/opa/constraint-templates/component.ts
  src/app/settings/admin/opa/constraint-templates/constraint-template-dialog/component.spec.ts
  src/app/settings/admin/opa/constraint-templates/constraint-template-dialog/component.ts
  src/app/settings/admin/opa/constraint-templates/constraint-template-dialog/template.html
  src/app/settings/admin/opa/default-constraints/component.ts
  src/app/settings/admin/opa/default-constraints/default-constraint-dialog/component.spec.ts
  src/app/settings/admin/opa/default-constraints/default-constraint-dialog/component.ts
  src/app/settings/admin/opa/default-constraints/default-constraint-dialog/template.html
  src/app/settings/admin/presets/dialog/component.ts
  src/app/settings/admin/rule-groups/component.ts
  src/app/settings/admin/rule-groups/rule-group-dialog/component.ts
  src/app/settings/admin/rule-groups/rule-group-dialog/template.html
  src/app/shared/components/addon-list/edit-addon-dialog/template.html
  src/app/shared/components/application-list/edit-application-dialog/template.html
  src/app/shared/types/common.ts
  src/app/shared/utils/common.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add .envrc to gititnore
  .gitignore
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add license check
  .golangci.yml
  .wwhrd.yml
  Makefile
  go.mod
  go.sum
  hack/ci/verify.sh
  hack/verify-licenses.sh
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add .envrc to gititnore (#5185)
  .gitignore
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Mark E2E tests as optional (#5181)
  .prow.yaml
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix hack scripts formatting
  .prow/api.yaml
  hack/check-licenses.sh
  hack/development/run-npm-in-docker.sh
  hack/e2e/run-tests.sh
  hack/e2e/setup-kind-cluster.sh
  hack/e2e/setup-kubermatic-in-kind.sh
  hack/extract-themes.sh
  hack/run-dashboard.sh
  hack/run-in-docker.sh
  hack/run-local-dashboard.sh
  hack/verify-spelling.sh
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add spellcheck
  docs/proposals/testing.md
  hack/ci/setup-kubermatic-in-kind.sh
  hack/ci/verify.sh
  hack/e2e/setup-kubermatic-in-kind.sh
  hack/verify-spelling.sh
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Upgrade dependencies to latest version
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Replace `toEqual` with `toMatchObject` for matching `creationTimestamp` values
  src/app/cluster/details/cluster/component.spec.ts
  src/app/cluster/list/cluster/component.spec.ts
  src/app/cluster/list/external-cluster/component.spec.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Updated verify permissions
  hack/ci/verify.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Upgrade dependencies to latest version (#5187)
  package-lock.json
  package.json
  src/app/cluster/details/cluster/component.spec.ts
  src/app/cluster/list/cluster/component.spec.ts
  src/app/cluster/list/external-cluster/component.spec.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Updated wwhrd license config
  .wwhrd.yml
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add project-scoped endpoints for Nutanix (#5154)
  cmd/kubermatic-api/swagger.json
  pkg/handler/v2/provider/nutanix.go
  pkg/handler/v2/routes_v2.go
  pkg/test/e2e/utils/apiclient/client/nutanix/list_project_nutanix_categories_parameters.go
  pkg/test/e2e/utils/apiclient/client/nutanix/list_project_nutanix_categories_responses.go
  pkg/test/e2e/utils/apiclient/client/nutanix/list_project_nutanix_category_values_parameters.go
  pkg/test/e2e/utils/apiclient/client/nutanix/list_project_nutanix_category_values_responses.go
  pkg/test/e2e/utils/apiclient/client/nutanix/list_project_nutanix_clusters_parameters.go
  pkg/test/e2e/utils/apiclient/client/nutanix/list_project_nutanix_clusters_responses.go
  pkg/test/e2e/utils/apiclient/client/nutanix/list_project_nutanix_projects_parameters.go
  pkg/test/e2e/utils/apiclient/client/nutanix/list_project_nutanix_projects_responses.go
  pkg/test/e2e/utils/apiclient/client/nutanix/list_project_nutanix_subnets_parameters.go
  pkg/test/e2e/utils/apiclient/client/nutanix/list_project_nutanix_subnets_responses.go
  pkg/test/e2e/utils/apiclient/client/nutanix/nutanix_client.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Upgrade to Go 1.19.3
  .prow/api.yaml
  .prow/verify.yaml
  containers/chrome-headless/Dockerfile
  containers/custom-dashboard/Dockerfile
  hack/gen-api-client.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add functionality to enable web terminal option when OIDC kubeconfig and enable terminal options are enabled
  src/app/cluster/details/cluster/template.html
  src/app/settings/admin/interface/component.ts
  src/app/settings/admin/interface/template.html
  src/app/shared/entity/settings.ts
  src/test/services/settings-mock.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove async subscription from template to ts file
  src/app/cluster/details/cluster/component.ts
  src/app/cluster/details/cluster/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Upgrade to Go 1.19.3 (#5188)
  .prow/api.yaml
  .prow/verify.yaml
  containers/chrome-headless/Dockerfile
  containers/custom-dashboard/Dockerfile
  hack/gen-api-client.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add interface option to enable/disable the web terminal (#5186)
  src/app/cluster/details/cluster/component.ts
  src/app/cluster/details/cluster/template.html
  src/app/settings/admin/interface/component.ts
  src/app/settings/admin/interface/template.html
  src/app/shared/entity/settings.ts
  src/test/services/settings-mock.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Refreshed with main and fix lint issue
  pkg/handler/v2/provider/nutanix.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add tooltip and remove alias for input field
  src/app/project-overview/members-overview/component.ts
  src/app/project-overview/members-overview/template.html
  src/app/project-overview/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Display groups on project overview page (#5171)
  src/app/dynamic/enterprise/group/module.ts
  src/app/dynamic/enterprise/group/service.ts
  src/app/project-overview/component.ts
  src/app/project-overview/members-overview/component.ts
  src/app/project-overview/members-overview/style.scss
  src/app/project-overview/members-overview/template.html
  src/app/project-overview/template.html
  src/assets/css/_images.scss
  src/assets/images/icons/groups.svg
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Removed unnused linter config
  .golangci.apis.yml
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump node and go version in prow job image
  .prow/api.yaml
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update date in boilerplate
  .gimps.yaml
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove kubermatic oauth config as we moved it to dashboard repo
  hack/e2e/setup-kubermatic-in-kind.sh
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bring back auth config but reference it from dashboard repo
  hack/e2e/setup-kubermatic-in-kind.sh
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

update web-terminal Docker image to 0.3
  pkg/handler/websocket/terminal.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

4715 kubevirt UI/UX improvements
  src/app/node-data/basic/provider/kubevirt/component.ts
  src/app/node-data/basic/provider/kubevirt/template.html
  src/app/shared/components/chip-list/template.html
  src/app/shared/validators/others.ts
  src/app/wizard/step/provider-settings/provider/extended/kubevirt/component.ts
  src/app/wizard/step/provider-settings/provider/extended/kubevirt/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Support for listing OpenStack server groups
  cmd/kubermatic-api/swagger.json
  pkg/api/v2/types.go
  pkg/handler/common/provider/openstack.go
  pkg/handler/v2/provider/openstack.go
  pkg/handler/v2/routes_v2.go
  pkg/provider/cloud/openstack/provider.go
  pkg/test/e2e/utils/apiclient/client/openstack/list_openstack_server_groups_no_credentials_parameters.go
  pkg/test/e2e/utils/apiclient/client/openstack/list_openstack_server_groups_no_credentials_responses.go
  pkg/test/e2e/utils/apiclient/client/openstack/list_openstack_server_groups_parameters.go
  pkg/test/e2e/utils/apiclient/client/openstack/list_openstack_server_groups_responses.go
  pkg/test/e2e/utils/apiclient/client/openstack/openstack_client.go
  pkg/test/e2e/utils/apiclient/models/openstack_server_group.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

4715 kubevirt UI/UX improvements (#5183)
  src/app/node-data/basic/provider/kubevirt/component.ts
  src/app/node-data/basic/provider/kubevirt/template.html
  src/app/shared/components/chip-list/template.html
  src/app/shared/validators/others.ts
  src/app/wizard/step/provider-settings/provider/extended/kubevirt/component.ts
  src/app/wizard/step/provider-settings/provider/extended/kubevirt/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Support for server groups in dashboard
  cmd/kubermatic-api/swagger.json
  pkg/api/v1/types.go
  pkg/machine/convert.go
  pkg/resources/machine/common.go
  src/app/core/services/node-data/provider/openstack.ts
  src/app/core/services/provider/openstack.ts
  src/app/core/services/wizard/provider/openstack.ts
  src/app/node-data/basic/provider/openstack/component.ts
  src/app/node-data/basic/provider/openstack/template.html
  src/app/shared/entity/node.ts
  src/app/shared/entity/provider/openstack.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

ExposeStrategy webhook and defaulting changes
  cmd/kubermatic-api/swagger.json
  pkg/api/v2/types.go
  pkg/handler/v2/networkdefaults/networkdefaults.go
  pkg/handler/v2/networkdefaults/networkdefaults_test.go
  pkg/handler/v2/networkdefaults/networkdefaults_unit_test.go
  pkg/handler/v2/routes_v2.go
  pkg/test/e2e/utils/apiclient/models/network_defaults.go
  pkg/validation/cluster.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Use ID of server group in machines
  src/app/node-data/basic/provider/openstack/component.ts
  src/app/node-data/basic/provider/openstack/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Refactored code
  pkg/handler/common/provider/openstack.go
  pkg/handler/v1/provider/openstack.go
  pkg/provider/cloud/openstack/provider.go
  pkg/test/e2e/utils/apiclient/models/openstack_node_spec.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce
