Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-go-mod-verify, pre-dashboard-web-lint, pre-dashboard-web-check

pre-dashboard-go-mod-verify:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      command:
      - make
      - verify-go
      resources:
        requests:
          cpu: 100m

pre-dashboard-test-unit:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/chrome-headless:v0.11
      command:
      - make
      - test-headless
      resources:
        requests:
          cpu: 1
          memory: 3Gi
        limits:
          cpu: 2
          memory: 5Gi
      env:
      - name: CODECOV_TOKEN
        valueFrom:
  ...

pre-dashboard-test-full-e2e:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-full-e2e-ce:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-e2e:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-test-e2e-ce:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-build-image:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

pre-dashboard-build-image-ce:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

fix: update TypeScript lib target to ES2022 and remove baseUrl from spec config
  modules/web/src/app/cluster/details/cluster/Untitled-2.md
  modules/web/tsconfig.json
  modules/web/tsconfig.spec.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Log the metrics server unavailability error
  modules/api/pkg/handler/common/machine.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Log the metrics server unavailability error
  modules/api/pkg/handler/common/cluster.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Add TabLabelDirective and update tab components to use it for label templates (#8059)
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/shared/components/tab-card/tab/label.directive.ts
  modules/web/src/app/shared/module.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Angular Upgrade v21.x (#8052)
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/app/cluster/details/cluster/cluster-delete-confirmation/component.ts
  modules/web/src/app/cluster/details/cluster/machine-deployment-details/copy-joining-script-button/component.ts
  modules/web/src/app/cluster/details/cluster/machine-deployment-details/template.html
  modules/web/src/app/cluster/details/cluster/machine-deployment-list/template.html
  modules/web/src/app/cluster/details/cluster/node-list/template.html
  modules/web/src/app/cluster/details/cluster/share-kubeconfig/template.html
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/cluster/details/external-cluster/external-cluster-delete-confirmation/component.ts
  modules/web/src/app/cluster/details/external-cluster/external-machine-deployment-details/template.html
  modules/web/src/app/cluster/details/external-cluster/external-node-list/template.html
  modules/web/src/app/cluster/details/external-cluster/template.html
  modules/web/src/app/cluster/details/kubeone/machine-deployment-details/template.html
  modules/web/src/app/cluster/details/kubeone/template.html
  modules/web/src/app/core/components/notification-panel/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/delete-dialog/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/delete-dialog/template.html
  modules/web/src/app/kubeone-wizard/steps/cluster/component.ts
  modules/web/src/app/module.ts
  modules/web/src/app/project/delete-project/template.html
  modules/web/src/app/serviceaccount/token/add/steps/information/template.html
  modules/web/src/app/shared/module.ts
  modules/web/src/test.base.mocks.ts
  modules/web/src/test/components/noop-confirmation-dialog.component.ts
  modules/web/src/test/components/noop-project-delete-dialog.component.ts
  modules/web/src/test/components/noop-token-dialog.component.ts
  modules/web/tsconfig.json
  modules/web/tsconfig.spec.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Return empty metrics for unavailable BYO CNI cluster (#8060)
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/common/cluster_test.go
  modules/api/pkg/handler/common/machine.go
  modules/api/pkg/handler/common/machine_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Return empty metrics for unavailable BYOCNI clustr
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/common/cluster_test.go
  modules/api/pkg/handler/common/machine.go
  modules/api/pkg/handler/common/machine_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

[release/v2.30] Return empty metrics for unavailable BYO CNI cluster (#8068)
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/common/cluster_test.go
  modules/api/pkg/handler/common/machine.go
  modules/api/pkg/handler/common/machine_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

[release/v2.29] Return empty metrics for unavailable BYO CNI cluster (#8067)
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/common/cluster_test.go
  modules/api/pkg/handler/common/machine.go
  modules/api/pkg/handler/common/machine_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

[release/v2.28] Return empty metrics for unavailable BYO CNI cluster (#8069)
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/common/cluster_test.go
  modules/api/pkg/handler/common/machine.go
  modules/api/pkg/handler/common/machine_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Add auth status endpoint and dynamic token cookie expiry
  modules/api/pkg/handler/v2/kubermatic-dashboard/endpoints.go
  modules/api/pkg/handler/v2/kubermatic-dashboard/handler.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Add OAuth authorization code flow endpoints for KKP dashboard login
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/options.go
  modules/api/hack/run-api.sh
  modules/api/pkg/handler/auth/oidc.go
  modules/api/pkg/handler/routing.go
  modules/api/pkg/handler/v2/kubermatic-dashboard/endpoints.go
  modules/api/pkg/handler/v2/kubermatic-dashboard/handler.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/handler/v2/routing.go
  modules/api/pkg/provider/auth/types/types.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Switch frontend auth to backend-driven OAuth code flow
  modules/web/src/app/core/components/user-panel/component.ts
  modules/web/src/app/core/interceptors/auth.ts
  modules/web/src/app/core/interceptors/check-token.ts
  modules/web/src/app/core/services/auth/guard.ts
  modules/web/src/app/core/services/auth/service.ts
  modules/web/src/app/core/services/token.ts
  modules/web/src/app/pages/api-docs/component.ts
  modules/web/src/app/pages/frontpage/component.ts
  modules/web/src/app/pages/frontpage/template.html
  modules/web/src/environments/environment.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Add frontend auth state service with proactive token refresh
  modules/web/src/app/core/interceptors/auth.ts
  modules/web/src/app/core/services/auth/service.ts
  modules/web/src/app/core/services/token.ts
  modules/web/src/app/core/services/user.ts
  modules/web/src/app/module.ts
  modules/web/src/app/shared/components/openstack-credentials/default/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix redirect uri and use a secure coockie to save auth state
  modules/api/cmd/kubermatic-api/main.go
  modules/api/pkg/handler/auth/oidc.go
  modules/api/pkg/handler/routing.go
  modules/api/pkg/handler/v2/authflow/handler.go
  modules/api/pkg/handler/v2/authflow/routing.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/handler/v2/routing.go
  modules/api/pkg/provider/auth/types/types.go
  modules/web/src/app/core/interceptors/error-notifications.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix auth bootstrap race and consolidate token refresh logic
  modules/api/pkg/handler/v2/authflow/handler.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/web/src/app/core/interceptors/auth.ts
  modules/web/src/app/core/services/auth/service.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix lint issues and clean up unused code
  modules/api/pkg/handler/v2/kubermatic-dashboard/handler.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/web/src/app/core/interceptors/auth.ts
  modules/web/src/app/core/interceptors/error-notifications.ts
  modules/web/src/app/core/module.ts
  modules/web/src/app/core/services/auth/service.ts
  modules/web/src/app/shared/components/openstack-credentials/default/component.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

use oauth2 native methodes for pkce and change package name
  modules/api/pkg/handler/v2/authflow/handler.go
  modules/api/pkg/handler/v2/authflow/routing.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/web/src/app/core/interceptors/auth.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

add status and refresh endpoints to tests
  modules/web/cypress/fixtures/db.json
  modules/web/cypress/fixtures/routes.json
  modules/web/cypress/intercept/root.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

add split token logic
  modules/api/pkg/handler/v2/kubermatic-dashboard/handler.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Add PKCE support to OAuth authorization code flow
  modules/api/pkg/handler/auth/oidc.go
  modules/api/pkg/handler/test/fake_auth.go
  modules/api/pkg/handler/v2/kubermatic-dashboard/endpoints.go
  modules/api/pkg/handler/v2/kubermatic-dashboard/handler.go
  modules/api/pkg/handler/v2/kubermatic-dashboard/routing.go
  modules/api/pkg/provider/auth/types/types.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Clean up legacy implicit flow code
  modules/web/src/app/config.ts
  modules/web/src/app/core/interceptors/check-token.ts
  modules/web/src/app/core/interceptors/index.ts
  modules/web/src/app/core/module.ts
  modules/web/src/app/core/services/auth/service.ts
  modules/web/src/app/core/services/token.ts
  modules/web/src/app/project/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

remove the old logout logic from UI
  modules/api/pkg/handler/v2/kubermatic-dashboard/handler.go
  modules/api/pkg/handler/v2/kubermatic-dashboard/routing.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/web/src/app/core/components/user-panel/component.ts
  modules/web/src/app/core/interceptors/error-notifications.ts
  modules/web/src/app/core/services/auth/guard.ts
  modules/web/src/app/core/services/auth/service.ts
  modules/web/src/app/pages/frontpage/component.ts
  modules/web/src/app/pages/frontpage/template.html
  modules/web/src/app/project/component.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

code cleaning and lint fixing
  modules/api/pkg/handler/v2/kubermatic-dashboard/handler.go
  modules/web/src/app/core/components/user-panel/component.spec.ts
  modules/web/src/app/core/services/auth/guard.ts
  modules/web/src/app/core/services/auth/service.ts
  modules/web/src/app/shared/model/Config.ts
  modules/web/src/environments/environment.e2e.local.ts
  modules/web/src/environments/environment.e2e.mock.ts
  modules/web/src/environments/environment.e2e.ts
  modules/web/src/environments/environment.prod.ts
  modules/web/src/environments/environment.ts
  modules/web/src/test/services/auth-mock.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix multi-cookie token support in auth endpoints and clean up frontend auth code
  modules/api/pkg/handler/v2/kubermatic-dashboard/handler.go
  modules/api/pkg/handler/v2/kubermatic-dashboard/routing.go
  modules/web/src/app/core/components/user-panel/component.ts
  modules/web/src/app/core/services/auth/guard.ts
  modules/web/src/app/core/services/auth/service.ts
  modules/web/src/app/project/component.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Add cookie fallback for auth check and revert e2e mock fixtures
  modules/api/pkg/handler/v2/kubermatic-dashboard/handler.go
  modules/web/cypress/fixtures/db.json
  modules/web/cypress/fixtures/routes.json
  modules/web/src/app/core/services/auth/service.spec.ts
  modules/web/src/app/core/services/auth/service.ts
  modules/web/src/app/core/services/user.spec.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix review comments
  modules/api/pkg/handler/auth/oidc.go
  modules/api/pkg/handler/v2/authflow/handler.go
  modules/web/src/app/module.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix binary to decimal conversion for resource quotas in API and update service calls
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/convert.go
  modules/api/pkg/api/v2/convert_test.go
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/ee/resource-quota/handler.go
  modules/api/pkg/handler/v1/admin/settings.go
  modules/api/pkg/handler/v2/resource_quota/wrappers_ce.go
  modules/api/pkg/handler/v2/resource_quota/wrappers_ee.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/test/e2e/utils/apiclient/client/resource_quota/create_resource_quota_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/resource_quota/delete_resource_quota_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/resource_quota/get_resource_quota_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/resource_quota/list_resource_quotas_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/resource_quota/put_resource_quota_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/models/quota.go
  modules/web/src/app/dynamic/enterprise/quotas/service.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Revert "Fix binary to decimal conversion for resource quotas in API and update service calls"
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/convert.go
  modules/api/pkg/api/v2/convert_test.go
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/ee/resource-quota/handler.go
  modules/api/pkg/handler/v1/admin/settings.go
  modules/api/pkg/handler/v2/resource_quota/wrappers_ce.go
  modules/api/pkg/handler/v2/resource_quota/wrappers_ee.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/test/e2e/utils/apiclient/client/resource_quota/create_resource_quota_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/resource_quota/delete_resource_quota_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/resource_quota/get_resource_quota_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/resource_quota/list_resource_quotas_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/resource_quota/put_resource_quota_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/models/quota.go
  modules/web/src/app/dynamic/enterprise/quotas/service.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix memory and storage unit conversion from G to Gi in CRD quota
  modules/api/pkg/api/v2/convert.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

chore(web): bump deps via npm audit fix
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-api-e2e: any of: modules/api/pkg
  pre-dashboard-api-unit: any of: modules/api
  pre-dashboard-api-lint: any of: modules/api
  pre-dashboard-api-verify: any of: modules/api
  pre-dashboard-web-integration-tests: any of: modules/web
  pre-dashboard-web-integration-tests-ce: any of: modules/web
  pre-dashboard-web-unit: any of: modules/web
  pre-dashboard-web-go-mod-verify: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-lint: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-check: any of: modules/web
