Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$

- Add metering report removal to report list component. (#4438)
  src/app/core/services/settings.ts
  src/app/dynamic/enterprise/metering/schedule-config/report-list/component.spec.ts
  src/app/dynamic/enterprise/metering/schedule-config/report-list/component.ts
  src/app/dynamic/enterprise/metering/schedule-config/report-list/template.html
  src/app/dynamic/enterprise/metering/service/metering.ts
  src/test/services/metering-mock.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Small fix
  cypress/integration/v2/stories/admin-settings/defaults.spec.ts
  package.json
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.19] Fix alertmanager config edit (#4439)
  src/app/cluster/details/cluster/mla/alertmanager-config/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

- update comment
  src/app/cluster/details/cluster/node-list/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

revert the unit test and comment the unavailable method
  src/app/cluster/details/cluster/constraints/constraint-dialog/component.spec.ts
  src/app/cluster/details/cluster/edit-cluster/component.spec.ts
  src/app/cluster/details/cluster/gatekeeper-config/gatekeeper-config-dialog/component.spec.ts
  src/app/cluster/details/cluster/mla/alertmanager-config/alertmanager-config-dialog/component.spec.ts
  src/app/cluster/details/cluster/mla/rule-groups/rule-group-dialog/component.spec.ts
  src/app/cluster/details/shared/version-change-dialog/component.spec.ts
  src/app/member/edit-member/component.spec.ts
  src/app/project/edit-project/component.spec.ts
  src/app/serviceaccount/edit-dialog/component.spec.ts
  src/app/settings/admin/opa/constraint-templates/constraint-template-dialog/component.spec.ts
  src/app/settings/admin/opa/default-constraints/default-constraint-dialog/component.spec.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix few changes
  src/app/cluster/details/cluster/add-machine-network/component.spec.ts
  src/app/shared/components/external-cluster-data-dialog/template.html
  src/app/wizard/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

- update copyright templates for html/ts file
  src/app/core/services/node-data/provider/vsphere.ts
  src/app/node-data/extended/provider/vsphere/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

- fix linting errors
  src/app/node-data/dialog/component.ts
  src/app/shared/components/label-form/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

New points
  Development.md
Due: none

add multiple click on creating cluster test
  cypress/pages/v2/wizard/page.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Provider logos adjustments (#4440)
  package-lock.json
  src/app/cluster-template/style.scss
  src/app/cluster/details/cluster/style.scss
  src/app/cluster/list/cluster/style.scss
  src/app/cluster/list/external-cluster/style.scss
  src/app/settings/admin/dynamic-datacenters/style.scss
  src/app/settings/admin/dynamic-datacenters/template.html
  src/app/settings/admin/presets/component.ts
  src/app/settings/admin/presets/edit-dialog/style.scss
  src/app/settings/admin/presets/edit-dialog/template.html
  src/app/settings/admin/presets/style.scss
  src/app/settings/admin/presets/template.html
  src/app/shared/components/add-external-cluster-dialog/steps/cluster/style.scss
  src/app/shared/components/add-external-cluster-dialog/steps/credentials/style.scss
  src/app/shared/components/add-external-cluster-dialog/steps/provider/style.scss
  src/app/shared/components/cluster-summary/style.scss
  src/assets/css/_images.scss
  src/assets/css/_mixins.scss
  src/assets/css/global/_main.scss
  src/assets/css/material/_main.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update dependencies
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Restore missing dependencies
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove go back button
  src/app/settings/admin/nav/style.scss
  src/app/settings/admin/style.scss
  src/app/settings/admin/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Restore go back button
  src/app/settings/admin/component.ts
  src/app/settings/admin/nav/component.ts
  src/app/settings/admin/nav/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update icons
  src/app/core/components/sidenav/template.html
  src/app/settings/admin/nav/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add go back buttons
  src/app/backup/details/automatic-backup/component.ts
  src/app/backup/details/automatic-backup/template.html
  src/app/cluster/details/cluster/component.ts
  src/app/cluster/details/cluster/machine-deployment-details/cluster-panel/component.ts
  src/app/cluster/details/cluster/machine-deployment-details/cluster-panel/template.html
  src/app/cluster/details/cluster/template.html
  src/app/cluster/details/external-cluster/component.ts
  src/app/cluster/details/external-cluster/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Adjust buttons
  src/app/dynamic/enterprise/metering/schedule-config/report-list/style.scss
  src/app/dynamic/enterprise/metering/schedule-config/report-list/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove pointer
  src/app/settings/admin/opa/default-constraints/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Use HTML native bullet list
  src/app/core/components/changelog/style.scss
  src/app/core/components/changelog/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

omitted `categoryID` it is optional and not used by FE as BE auto sets default category
  src/app/shared/entity/node.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

revert the multi click
  cypress/pages/v2/wizard/page.ts
  cypress/pages/wizard.po.ts
  src/app/shared/components/button/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add e2e for dynamic datacenters
  cypress/fixtures/datacenter.json
  cypress/fixtures/datacenters.json
  cypress/fixtures/seeds.json
  cypress/integration/v2/stories/admin-settings/dynamic-datacenters.spec.ts
  cypress/intercept/root.ts
  cypress/intercept/settings/admin.ts
  cypress/pages/v2/projects/page.ts
  cypress/pages/v2/settings/admin/dynamic-datacenters/page.ts
  cypress/pages/v2/settings/admin/dynamic-datacenters/strategy/factory.ts
  cypress/pages/v2/settings/admin/dynamic-datacenters/strategy/mocked.ts
  cypress/pages/v2/settings/admin/page.ts
  cypress/plugins/index.ts
  cypress/types/endpoints.ts
  cypress/types/fixtures.ts
  cypress/types/pages.ts
  fixtures/db.json
  package-lock.json
  package.json
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove json-server leftovers
  fixtures/db.json
  fixtures/routes.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove old e2e spec
  cypress/integration/stories/admin-settings/dynamic-datacenters.spec.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Stabilize project creation checks
  cypress/integration/v2/stories/admin-settings/defaults.spec.ts
  cypress/integration/v2/stories/members.spec.ts
  cypress/integration/v2/stories/service-accounts.spec.ts
  cypress/integration/v2/stories/ssh-keys.spec.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Restore datacenter fixture
  cypress/intercept/settings/admin.ts
  cypress/pages/v2/settings/admin/dynamic-datacenters/page.ts
  cypress/pages/v2/settings/admin/dynamic-datacenters/strategy/factory.ts
  cypress/pages/v2/settings/admin/dynamic-datacenters/strategy/mocked.ts
  cypress/pages/v2/settings/admin/page.ts
  cypress/types/pages.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Revert jest version
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update test dc name
  cypress/fixtures/datacenter.json
  cypress/fixtures/datacenters.json
  cypress/pages/v2/settings/admin/dynamic-datacenters/page.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update dependencies and adjust styling (#4451)
  package-lock.json
  package.json
  src/app/backup/details/automatic-backup/component.ts
  src/app/backup/details/automatic-backup/template.html
  src/app/cluster/details/cluster/component.ts
  src/app/cluster/details/cluster/machine-deployment-details/cluster-panel/component.ts
  src/app/cluster/details/cluster/machine-deployment-details/cluster-panel/template.html
  src/app/cluster/details/cluster/template.html
  src/app/cluster/details/external-cluster/component.ts
  src/app/cluster/details/external-cluster/template.html
  src/app/core/components/changelog/style.scss
  src/app/core/components/changelog/template.html
  src/app/core/components/sidenav/template.html
  src/app/dynamic/enterprise/metering/schedule-config/report-list/style.scss
  src/app/dynamic/enterprise/metering/schedule-config/report-list/template.html
  src/app/settings/admin/component.ts
  src/app/settings/admin/nav/component.ts
  src/app/settings/admin/nav/style.scss
  src/app/settings/admin/nav/template.html
  src/app/settings/admin/opa/default-constraints/template.html
  src/app/settings/admin/style.scss
  src/app/settings/admin/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Restore json-server for better stability
  fixtures/db.json
  fixtures/routes.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Finish dynamic DC test
  cypress/integration/v2/stories/admin-settings/dynamic-datacenters.spec.ts
  cypress/intercept/settings/admin.ts
  cypress/pages/v2/settings/admin/dynamic-datacenters/page.ts
  cypress/pages/v2/settings/admin/dynamic-datacenters/strategy/factory.ts
  cypress/pages/v2/settings/admin/dynamic-datacenters/strategy/mocked.ts
  cypress/pages/v2/settings/admin/page.ts
  cypress/types/endpoints.ts
  cypress/types/pages.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add e2e for dynamic datacenters (#4459)
  cypress/fixtures/datacenter.json
  cypress/fixtures/datacenters.json
  cypress/fixtures/seeds.json
  cypress/integration/stories/admin-settings/dynamic-datacenters.spec.ts
  cypress/integration/v2/stories/admin-settings/defaults.spec.ts
  cypress/integration/v2/stories/admin-settings/dynamic-datacenters.spec.ts
  cypress/integration/v2/stories/members.spec.ts
  cypress/integration/v2/stories/service-accounts.spec.ts
  cypress/integration/v2/stories/ssh-keys.spec.ts
  cypress/intercept/root.ts
  cypress/intercept/settings/admin.ts
  cypress/pages/v2/projects/page.ts
  cypress/pages/v2/settings/admin/dynamic-datacenters/page.ts
  cypress/pages/v2/settings/admin/dynamic-datacenters/strategy/factory.ts
  cypress/pages/v2/settings/admin/dynamic-datacenters/strategy/mocked.ts
  cypress/pages/v2/settings/admin/page.ts
  cypress/plugins/index.ts
  cypress/types/endpoints.ts
  cypress/types/fixtures.ts
  cypress/types/pages.ts
  fixtures/db.json
  src/app/core/components/changelog/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add project overview to sidenav
  src/app/core/components/sidenav/template.html
  src/app/shared/entity/common.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Set overview as default view
  src/app/core/services/project.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add machine deployment count
  src/app/core/services/cluster.ts
  src/app/project-overview/clusters-overview/component.ts
  src/app/project-overview/clusters-overview/template.html
  src/app/project-overview/component.ts
  src/app/shared/entity/cluster.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

hint to Konnectivity
  src/app/cluster/details/cluster/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fixing add MD test
  src/app/cluster/details/cluster/add-machine-network/component.spec.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce
