Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-go-mod-verify, pre-dashboard-web-lint, pre-dashboard-web-check

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-api-e2e: any of: modules/api/pkg
  pre-dashboard-api-unit: any of: modules/api
  pre-dashboard-api-lint: any of: modules/api
  pre-dashboard-api-verify: any of: modules/api
  pre-dashboard-web-integration-tests: any of: modules/web
  pre-dashboard-web-integration-tests-ce: any of: modules/web
  pre-dashboard-web-unit: any of: modules/web
  pre-dashboard-web-go-mod-verify: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-lint: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-check: any of: modules/web

Fix typos in comments and documentation in API module (#7957)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/v2/provider/openstack.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/test/e2e/utils/apiclient/client/preset/preset_client.go
  modules/api/pkg/test/e2e/utils/apiclient/models/global_settings.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

update kubeone to latest release
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

fix improve KubeLB handling and UI updates for better clarity and functionality
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/shared/components/cluster-summary/component.ts
  modules/web/src/app/shared/components/cluster-summary/style.scss
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix comment
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/wizard/step/cluster/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix ensure KubeLB option is only displayed when enabled and selected
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/wizard/step/cluster/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix project allowed operating systems not initialized on creation (#7956)
  modules/web/src/app/shared/components/add-project-dialog/component.spec.ts
  modules/web/src/app/shared/components/add-project-dialog/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix url building logic causing issues with other ingress controller
  modules/web/src/app/core/services/cluster.ts
  modules/web/src/environments/environment.e2e.local.ts
  modules/web/src/environments/environment.e2e.ts
  modules/web/src/environments/environment.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix url building logic causing issues with other ingress controller (#7967)
  modules/web/src/app/core/services/cluster.ts
  modules/web/src/environments/environment.e2e.local.ts
  modules/web/src/environments/environment.e2e.ts
  modules/web/src/environments/environment.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Add test issue to the PR template
  .github/pull_request_template.md
Due: none

Add test issue to the PR template (#7968)
  .github/pull_request_template.md
Due: none

Add OAuth authorization code flow endpoints for KKP dashboard login
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/options.go
  modules/api/hack/run-api.sh
  modules/api/pkg/handler/auth/oidc.go
  modules/api/pkg/handler/routing.go
  modules/api/pkg/handler/v2/kubermatic-dashboard/endpoints.go
  modules/api/pkg/handler/v2/kubermatic-dashboard/handler.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/handler/v2/routing.go
  modules/api/pkg/provider/auth/types/types.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Add auth status endpoint and dynamic token cookie expiry
  modules/api/pkg/handler/v2/kubermatic-dashboard/endpoints.go
  modules/api/pkg/handler/v2/kubermatic-dashboard/handler.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Switch frontend auth to backend-driven OAuth code flow
  modules/web/src/app/core/components/user-panel/component.ts
  modules/web/src/app/core/interceptors/auth.ts
  modules/web/src/app/core/interceptors/check-token.ts
  modules/web/src/app/core/services/auth/guard.ts
  modules/web/src/app/core/services/auth/service.ts
  modules/web/src/app/core/services/token.ts
  modules/web/src/app/pages/api-docs/component.ts
  modules/web/src/app/pages/frontpage/component.ts
  modules/web/src/app/pages/frontpage/template.html
  modules/web/src/environments/environment.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Clean up legacy implicit flow code
  modules/web/src/app/config.ts
  modules/web/src/app/core/interceptors/check-token.ts
  modules/web/src/app/core/interceptors/index.ts
  modules/web/src/app/core/module.ts
  modules/web/src/app/core/services/auth/service.ts
  modules/web/src/app/core/services/token.ts
  modules/web/src/app/project/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix lint issues and clean up unused code
  modules/api/pkg/handler/v2/kubermatic-dashboard/handler.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/web/src/app/core/interceptors/auth.ts
  modules/web/src/app/core/interceptors/error-notifications.ts
  modules/web/src/app/core/module.ts
  modules/web/src/app/core/services/auth/service.ts
  modules/web/src/app/shared/components/openstack-credentials/default/component.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Add frontend auth state service with proactive token refresh
  modules/web/src/app/core/interceptors/auth.ts
  modules/web/src/app/core/services/auth/service.ts
  modules/web/src/app/core/services/token.ts
  modules/web/src/app/core/services/user.ts
  modules/web/src/app/module.ts
  modules/web/src/app/shared/components/openstack-credentials/default/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Bump KKP dependencies to latest commit
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

fix update KubeLB configuration comments for clarity
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/wizard/step/cluster/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix tooltips to be visible even when buttons are disabled, providing context for disabled actions. (#7959)
  modules/web/src/app/backup/list/automatic-backup/component.ts
  modules/web/src/app/backup/list/automatic-backup/template.html
  modules/web/src/app/backup/list/snapshot/component.ts
  modules/web/src/app/backup/list/snapshot/template.html
  modules/web/src/app/cluster-template/component.ts
  modules/web/src/app/cluster-template/template.html
  modules/web/src/app/cluster/list/cluster/component.ts
  modules/web/src/app/cluster/list/cluster/template.html
  modules/web/src/app/cluster/list/external-cluster/component.ts
  modules/web/src/app/cluster/list/external-cluster/template.html
  modules/web/src/app/cluster/list/kubeone/component.ts
  modules/web/src/app/cluster/list/kubeone/template.html
  modules/web/src/app/core/components/sidenav/style.scss
  modules/web/src/app/core/components/sidenav/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/schedule/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/schedule/template.html
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/component.ts
  modules/web/src/app/dynamic/enterprise/kyverno-policies/policy-template/template.html
  modules/web/src/app/project-overview/create-resource-panel/component.ts
  modules/web/src/app/shared/constants/common.ts
  modules/web/src/app/shared/directives/disabled-tooltip.ts
  modules/web/src/app/shared/module.ts
  modules/web/src/app/sshkey/component.ts
  modules/web/src/app/sshkey/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

add status and refresh endpoints to tests
  modules/web/cypress/fixtures/db.json
  modules/web/cypress/fixtures/routes.json
  modules/web/cypress/intercept/root.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Add PKCE support to OAuth authorization code flow
  modules/api/pkg/handler/auth/oidc.go
  modules/api/pkg/handler/test/fake_auth.go
  modules/api/pkg/handler/v2/kubermatic-dashboard/endpoints.go
  modules/api/pkg/handler/v2/kubermatic-dashboard/handler.go
  modules/api/pkg/handler/v2/kubermatic-dashboard/routing.go
  modules/api/pkg/provider/auth/types/types.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Endpoint/region not mandatory on 'custom config'
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/add-dialog/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Reorder BSL selector & Skip router reconciliation
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

BSL improvements on Cluster Creation Wizard
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Additional field validations on the BSL forms
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/add-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/add-dialog/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Extend BSL-selection logic to 'Edit cluster'
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.spec.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Bump KKP dependencies to latest commit (#7969)
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

fix correct visibility logic to respect enforced and seed fallback
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/wizard/step/cluster/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix bump go-jose/v4, cosign/v2, and lodash to fix CVEs
  modules/api/go.mod
  modules/api/go.sum
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix enhance KubeLB public IP warning logic to respect datacenter settings and seed-level configurations
  modules/web/src/app/shared/components/cluster-summary/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix KubeLB enhancement issues (#7958)
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/shared/components/cluster-summary/component.ts
  modules/web/src/app/shared/components/cluster-summary/style.scss
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Enhance Swagger spec generation by adding architecture and storage class parameters, and exclude additional conflicting APIs
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-swagger.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Add cookie fallback for auth check and revert e2e mock fixtures
  modules/api/pkg/handler/v2/kubermatic-dashboard/handler.go
  modules/web/cypress/fixtures/db.json
  modules/web/cypress/fixtures/routes.json
  modules/web/src/app/core/services/auth/service.spec.ts
  modules/web/src/app/core/services/auth/service.ts
  modules/web/src/app/core/services/user.spec.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

add split token logic
  modules/api/pkg/handler/v2/kubermatic-dashboard/handler.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Fix deps version bumps to fix security issues (#7976)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-swagger.sh
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

remove the old logout logic from UI
  modules/api/pkg/handler/v2/kubermatic-dashboard/handler.go
  modules/api/pkg/handler/v2/kubermatic-dashboard/routing.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/web/src/app/core/components/user-panel/component.ts
  modules/web/src/app/core/interceptors/error-notifications.ts
  modules/web/src/app/core/services/auth/guard.ts
  modules/web/src/app/core/services/auth/service.ts
  modules/web/src/app/pages/frontpage/component.ts
  modules/web/src/app/pages/frontpage/template.html
  modules/web/src/app/project/component.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

add tests for kubevirt instancetype filtering
  modules/api/pkg/handler/common/provider/kubevirt_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Fix multi-cookie token support in auth endpoints and clean up frontend auth code
  modules/api/pkg/handler/v2/kubermatic-dashboard/handler.go
  modules/api/pkg/handler/v2/kubermatic-dashboard/routing.go
  modules/web/src/app/core/components/user-panel/component.ts
  modules/web/src/app/core/services/auth/guard.ts
  modules/web/src/app/core/services/auth/service.ts
  modules/web/src/app/project/component.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

code cleaning and lint fixing
  modules/api/pkg/handler/v2/kubermatic-dashboard/handler.go
  modules/web/src/app/core/components/user-panel/component.spec.ts
  modules/web/src/app/core/services/auth/guard.ts
  modules/web/src/app/core/services/auth/service.ts
  modules/web/src/app/shared/model/Config.ts
  modules/web/src/environments/environment.e2e.local.ts
  modules/web/src/environments/environment.e2e.mock.ts
  modules/web/src/environments/environment.e2e.ts
  modules/web/src/environments/environment.prod.ts
  modules/web/src/environments/environment.ts
  modules/web/src/test/services/auth-mock.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check
