Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

pre-dashboard-go-mod-verify:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      command:
      - make
      - verify-go
      resources:
        requests:
          cpu: 100m

pre-dashboard-test-unit:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/chrome-headless:v0.11
      command:
      - make
      - test-headless
      resources:
        requests:
          cpu: 1
          memory: 3Gi
        limits:
          cpu: 2
          memory: 5Gi
      env:
      - name: CODECOV_TOKEN
        valueFrom:
  ...

pre-dashboard-test-full-e2e:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-full-e2e-ce:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-e2e:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-test-e2e-ce:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-build-image:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

pre-dashboard-build-image-ce:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

Add roxy user
  hack/e2e/fixtures/user.yaml
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update SA e2e test
  cypress/integration/stories/v2/service-accounts.spec.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix unit tests Use generics
  src/app/member/add-member/component.spec.ts
  src/app/serviceaccount/create-dialog/component.spec.ts
  src/app/shared/components/add-project-dialog/component.spec.ts
  src/app/shared/components/add-ssh-key-dialog/component.spec.ts
  src/app/shared/components/add-ssh-key-dialog/component.ts
  src/app/shared/components/add-ssh-key-dialog/template.html
  src/app/shared/components/button/component.ts
  src/app/shared/components/cluster-from-template/dialog/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Force click the delete project
  cypress/pages/v2/projects/page.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

auto focus dialog
  src/app/shared/directives/autofocus/directive-autofoocusDiallog.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fixing directives array
  src/app/shared/module.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add autofocus
  src/app/shared/directives/autofocus/directive-autofoocusDiallog.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add autofocus
  src/app/member/add-member/template.html
  src/app/serviceaccount/create-dialog/template.html
  src/app/shared/components/add-project-dialog/template.html
  src/app/shared/components/add-ssh-key-dialog/template.html
  src/app/shared/directives/autofocus/directive-autofoocusDiallog.ts
  src/app/shared/module.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

small fix
  cypress/integration/stories/external-cluster.spec.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update license check and files
  cypress/pages/v2/dex/page.ts
  cypress/pages/v2/pages.ts
  cypress/pages/v2/projects/page.ts
  cypress/pages/v2/projects/strategy/factory.ts
  cypress/pages/v2/projects/strategy/mocked.ts
  cypress/pages/v2/projects/strategy/types.ts
  cypress/pages/v2/root/page.ts
  cypress/pages/v2/root/strategy/factory.ts
  cypress/pages/v2/root/strategy/mocked.ts
  cypress/pages/v2/root/strategy/real.ts
  cypress/pages/v2/root/strategy/types.ts
  cypress/pages/v2/serviceaccounts/page.ts
  cypress/pages/v2/serviceaccounts/strategy/factory.ts
  cypress/pages/v2/serviceaccounts/strategy/mocked.ts
  cypress/pages/v2/serviceaccounts/strategy/types.ts
  cypress/pages/v2/types.ts
  license-checker-config.json
  license-header.txt
  package.json
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Base for the e2e rewrite (#4364)
  .prow.yaml
  containers/chrome-headless/Dockerfile
  containers/chrome-headless/release.sh
  cypress.json
  cypress/fixtures/empty-array.json
  cypress/fixtures/empty-object.json
  cypress/integration/stories/service-accounts.spec.ts
  cypress/integration/stories/v2/service-accounts.spec.ts
  cypress/pages/v2/dex/page.ts
  cypress/pages/v2/pages.ts
  cypress/pages/v2/projects/page.ts
  cypress/pages/v2/projects/strategy/factory.ts
  cypress/pages/v2/projects/strategy/mocked.ts
  cypress/pages/v2/projects/strategy/types.ts
  cypress/pages/v2/root/page.ts
  cypress/pages/v2/root/strategy/factory.ts
  cypress/pages/v2/root/strategy/mocked.ts
  cypress/pages/v2/root/strategy/real.ts
  cypress/pages/v2/root/strategy/types.ts
  cypress/pages/v2/serviceaccounts/page.ts
  cypress/pages/v2/serviceaccounts/strategy/factory.ts
  cypress/pages/v2/serviceaccounts/strategy/mocked.ts
  cypress/pages/v2/serviceaccounts/strategy/types.ts
  cypress/pages/v2/types.ts
  cypress/plugins/index.ts
  cypress/support/index.ts
  cypress/tsconfig.e2e.json
  cypress/utils/auth.ts
  cypress/utils/config.ts
  cypress/utils/mocks.ts
  cypress/utils/view.ts
  hack/e2e/fixtures/user.yaml
  hack/e2e/setup-kind-cluster.sh
  license-checker-config.json
  license-header.txt
  package.json
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

few adjustments
  src/app/cluster/list/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix e2e test for external cluster
  cypress/integration/stories/external-cluster.spec.ts
  cypress/pages/clusters.po.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add enum
  src/app/cluster/details/external-cluster/component.ts
  src/app/cluster/list/component.ts
  src/app/cluster/list/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

intercepting the Endpoint.ExternalCluster Endpoint
  cypress/pages/clusters.po.ts
Due: pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

enum name fixing
  src/app/cluster/details/external-cluster/component.ts
  src/app/cluster/list/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

redirect to external cluster view after disconnect
  src/app/cluster/details/external-cluster/component.ts
  src/app/cluster/list/component.ts
  src/app/cluster/list/template.html
  src/app/core/components/sidenav/component.ts
  src/app/core/services/cluster.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

using fragment instead of service
  src/app/cluster/details/external-cluster/component.ts
  src/app/cluster/list/component.ts
  src/app/cluster/list/template.html
  src/app/core/components/sidenav/component.ts
  src/app/core/components/sidenav/template.html
  src/app/core/services/cluster.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fixing some test error
  src/app/core/components/sidenav/component.ts
  src/app/core/components/sidenav/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

unit test fixing
  src/app/core/components/sidenav/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix package json file
  cypress/integration/stories/external-cluster.spec.ts
  cypress/pages/clusters.po.ts
  src/app/cluster/details/external-cluster/component.ts
  src/app/cluster/list/component.ts
  src/app/cluster/list/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump version to 2.18.9
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump version to 2.19.4
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump version to 2.20.1
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump version to 2.19.4 (#4376)
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump version to 2.18.9 (#4375)
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump version to 2.20.1 (#4377)
  Makefile
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix package json file (#4374)
  cypress/integration/stories/external-cluster.spec.ts
  cypress/pages/clusters.po.ts
  src/app/cluster/details/external-cluster/component.ts
  src/app/cluster/list/component.ts
  src/app/cluster/list/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Migrate next part of buttons
  src/app/backup/list/snapshot/delete-dialog/component.ts
  src/app/backup/list/snapshot/delete-dialog/template.html
  src/app/cluster/details/cluster/cluster-delete-confirmation/component.ts
  src/app/cluster/details/cluster/cluster-delete-confirmation/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Migrate next part of buttons
  src/app/backup/list/restore/template.html
  src/app/cluster-template/template.html
  src/app/settings/admin/presets/dialog/component.ts
  src/app/settings/admin/presets/dialog/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Format files
  src/app/backup/list/snapshot/delete-dialog/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Parameters extended for bug report
  .github/ISSUE_TEMPLATE/bug-report.md
Due: none

Parameters extended for feature request
  .github/ISSUE_TEMPLATE/feature.md
Due: none

remove the autofocus dialog directive
  src/app/member/add-member/template.html
  src/app/serviceaccount/create-dialog/template.html
  src/app/shared/components/add-project-dialog/template.html
  src/app/shared/components/add-ssh-key-dialog/template.html
  src/app/shared/directives/autofocus/directive-autofoocusDiallog.ts
  src/app/shared/directives/autofocus/directive.ts
  src/app/shared/module.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$
