Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$

Configure OpenStack ingress cluster settings (#5861)
  src/app/node-data/basic/provider/openstack/component.ts
  src/app/node-data/basic/provider/openstack/template.html
  src/app/shared/components/cluster-summary/template.html
  src/app/shared/entity/cluster.ts
  src/app/wizard/step/provider-settings/provider/extended/openstack/application/component.ts
  src/app/wizard/step/provider-settings/provider/extended/openstack/component.ts
  src/app/wizard/step/provider-settings/provider/extended/openstack/default/component.ts
  src/app/wizard/step/provider-settings/provider/extended/openstack/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Configure OpenStack ingress cluster settings (#5861) (#5865)
  src/app/node-data/basic/provider/openstack/component.ts
  src/app/node-data/basic/provider/openstack/template.html
  src/app/shared/components/cluster-summary/template.html
  src/app/shared/entity/cluster.ts
  src/app/wizard/step/provider-settings/provider/extended/openstack/application/component.ts
  src/app/wizard/step/provider-settings/provider/extended/openstack/component.ts
  src/app/wizard/step/provider-settings/provider/extended/openstack/default/component.ts
  src/app/wizard/step/provider-settings/provider/extended/openstack/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove unused cloud provider code
  modules/api/pkg/handler/v2/kubernetes-dashboard/login.go
  modules/api/pkg/handler/v2/networkdefaults/networkdefaults.go
  modules/api/pkg/provider/cloud/alibaba/provider.go
  modules/api/pkg/provider/cloud/anexia/provider.go
  modules/api/pkg/provider/cloud/aws/provider.go
  modules/api/pkg/provider/cloud/aws/provider_test.go
  modules/api/pkg/provider/cloud/aws/security_group.go
  modules/api/pkg/provider/cloud/aws/security_group_test.go
  modules/api/pkg/provider/cloud/azure/client.go
  modules/api/pkg/provider/cloud/azure/provider.go
  modules/api/pkg/provider/cloud/bringyourown/provider.go
  modules/api/pkg/provider/cloud/digitalocean/provider.go
  modules/api/pkg/provider/cloud/fake/provider.go
  modules/api/pkg/provider/cloud/gcp/provider.go
  modules/api/pkg/provider/cloud/gke/provider.go
  modules/api/pkg/provider/cloud/hetzner/provider.go
  modules/api/pkg/provider/cloud/kubevirt/provider.go
  modules/api/pkg/provider/cloud/kubevirt/storage_class.go
  modules/api/pkg/provider/cloud/nutanix/client.go
  modules/api/pkg/provider/cloud/nutanix/provider.go
  modules/api/pkg/provider/cloud/openstack/helper.go
  modules/api/pkg/provider/cloud/openstack/provider.go
  modules/api/pkg/provider/cloud/packet/provider.go
  modules/api/pkg/provider/cloud/vmwareclouddirector/provider.go
  modules/api/pkg/provider/cloud/vsphere/provider.go
  modules/api/pkg/provider/cloud/vsphere/provider_test.go
  modules/api/pkg/provider/types.go
  modules/api/pkg/test/e2e/utils/dex/client.go
  modules/api/pkg/test/e2e/utils/kubernetes.go
  modules/api/pkg/test/e2e/utils/util.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Refactored code
  modules/api/pkg/provider/cloud/nutanix/client.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove unused cloud provider code (#5866)
  modules/api/pkg/handler/v2/kubernetes-dashboard/login.go
  modules/api/pkg/handler/v2/networkdefaults/networkdefaults.go
  modules/api/pkg/provider/cloud/alibaba/provider.go
  modules/api/pkg/provider/cloud/anexia/provider.go
  modules/api/pkg/provider/cloud/aws/provider.go
  modules/api/pkg/provider/cloud/aws/provider_test.go
  modules/api/pkg/provider/cloud/aws/security_group.go
  modules/api/pkg/provider/cloud/aws/security_group_test.go
  modules/api/pkg/provider/cloud/azure/client.go
  modules/api/pkg/provider/cloud/azure/provider.go
  modules/api/pkg/provider/cloud/bringyourown/provider.go
  modules/api/pkg/provider/cloud/digitalocean/provider.go
  modules/api/pkg/provider/cloud/fake/provider.go
  modules/api/pkg/provider/cloud/gcp/provider.go
  modules/api/pkg/provider/cloud/gke/provider.go
  modules/api/pkg/provider/cloud/hetzner/provider.go
  modules/api/pkg/provider/cloud/kubevirt/provider.go
  modules/api/pkg/provider/cloud/kubevirt/storage_class.go
  modules/api/pkg/provider/cloud/nutanix/provider.go
  modules/api/pkg/provider/cloud/openstack/helper.go
  modules/api/pkg/provider/cloud/openstack/provider.go
  modules/api/pkg/provider/cloud/packet/provider.go
  modules/api/pkg/provider/cloud/vmwareclouddirector/provider.go
  modules/api/pkg/provider/cloud/vsphere/provider.go
  modules/api/pkg/provider/cloud/vsphere/provider_test.go
  modules/api/pkg/provider/types.go
  modules/api/pkg/test/e2e/utils/dex/client.go
  modules/api/pkg/test/e2e/utils/kubernetes.go
  modules/api/pkg/test/e2e/utils/util.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

dashboard: allow http for cookie store
  modules/web/src/app/core/services/auth/service.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

dashboard: allow http for cookie store (#5867)
  modules/web/src/app/core/services/auth/service.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Mutate partial cluster before validating its spec
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/resources/cluster/cluster.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Reference correct spec
  modules/api/pkg/handler/common/cluster.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Mutate partial cluster before validating its spec (#5868)
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/resources/cluster/cluster.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Increase dependabot open pull requests limit
  .github/dependabot.yml
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix 'v' prefix removal by removing character instead of slicing string
  modules/web/src/app/wizard/step/cluster/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Make pre-dashboard-web-check a happy test
  modules/web/src/app/wizard/step/cluster/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix 'v' prefix removal by removing character instead of slicing string (#5879)
  modules/web/src/app/wizard/step/cluster/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.22] Fix 'v' prefix removal by removing character instead of slicing string (#5881)
  modules/web/src/app/wizard/step/cluster/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fetch VPC id from request header
  modules/api/pkg/handler/v2/provider/aws.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Docker suffix bump after golang 1.19.8 patch
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/custom-dashboard/Dockerfile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fetch VPC id from request header (#5883)
  modules/api/pkg/handler/v2/provider/aws.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

API: Support API Token authentication for VCD
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v2/provider/vmwareclouddirector.go
  modules/api/pkg/provider/cloud/vmwareclouddirector/client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vmwareclouddirector/list_project_v_mware_cloud_director_catalogs_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vmwareclouddirector/list_project_v_mware_cloud_director_networks_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vmwareclouddirector/list_project_v_mware_cloud_director_storage_profiles_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vmwareclouddirector/list_project_v_mware_cloud_director_templates_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vmwareclouddirector/list_v_mware_cloud_director_catalogs_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vmwareclouddirector/list_v_mware_cloud_director_networks_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vmwareclouddirector/list_v_mware_cloud_director_storage_profiles_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vmwareclouddirector/list_v_mware_cloud_director_templates_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_mware_cloud_director.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_mware_cloud_director_cloud_spec.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Frontend: Support for API token
  modules/web/src/app/cluster/details/cluster/edit-provider-settings/vmware-cloud-director-provider-settings/component.ts
  modules/web/src/app/cluster/details/cluster/edit-provider-settings/vmware-cloud-director-provider-settings/style.scss
  modules/web/src/app/cluster/details/cluster/edit-provider-settings/vmware-cloud-director-provider-settings/template.html
  modules/web/src/app/core/services/node-data/provider/vmware-cloud-director.ts
  modules/web/src/app/core/services/wizard/provider/vmware-cloud-director.ts
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/vmware-cloud-director/component.ts
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/vmware-cloud-director/style.scss
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/vmware-cloud-director/template.html
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/shared/utils/form.ts
  modules/web/src/app/wizard/step/provider-settings/provider/basic/vmware-cloud-director/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/basic/vmware-cloud-director/style.scss
  modules/web/src/app/wizard/step/provider-settings/provider/basic/vmware-cloud-director/template.html
  modules/web/src/app/wizard/step/provider-settings/provider/extended/vmware-cloud-director/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

API: fix credential validation for VCD
  modules/api/pkg/provider/cloud/vmwareclouddirector/provider.go
  modules/api/pkg/provider/kubernetes/credentials.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove unused method
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/vmware-cloud-director/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix spellcheck
  modules/api/pkg/handler/v1/user/user_test.go
  modules/api/pkg/handler/v2/cluster/binding_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Refactored code
  modules/api/go.mod
  modules/api/go.sum
  modules/web/src/app/cluster/details/cluster/edit-provider-settings/openstack-provider-settings/style.scss
  modules/web/src/app/cluster/details/cluster/edit-provider-settings/openstack-provider-settings/template.html
  modules/web/src/app/cluster/details/cluster/edit-provider-settings/vmware-cloud-director-provider-settings/style.scss
  modules/web/src/app/cluster/details/cluster/edit-provider-settings/vmware-cloud-director-provider-settings/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/vmware-cloud-director/component.ts
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/vmware-cloud-director/style.scss
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/vmware-cloud-director/template.html
  modules/web/src/app/shared/components/openstack-credentials/component.ts
  modules/web/src/app/shared/components/openstack-credentials/style.scss
  modules/web/src/app/shared/components/openstack-credentials/template.html
  modules/web/src/app/wizard/step/provider-settings/provider/basic/vmware-cloud-director/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/basic/vmware-cloud-director/style.scss
  modules/web/src/app/wizard/step/provider-settings/provider/basic/vmware-cloud-director/template.html
  modules/web/src/assets/css/global/_main.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fetch VPC id from request header (#5884)
  modules/api/pkg/handler/v2/provider/aws.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Support API Token authentication for VCD (#5885)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v2/provider/vmwareclouddirector.go
  modules/api/pkg/provider/cloud/vmwareclouddirector/client.go
  modules/api/pkg/provider/cloud/vmwareclouddirector/provider.go
  modules/api/pkg/provider/kubernetes/credentials.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vmwareclouddirector/list_project_v_mware_cloud_director_catalogs_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vmwareclouddirector/list_project_v_mware_cloud_director_networks_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vmwareclouddirector/list_project_v_mware_cloud_director_storage_profiles_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vmwareclouddirector/list_project_v_mware_cloud_director_templates_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vmwareclouddirector/list_v_mware_cloud_director_catalogs_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vmwareclouddirector/list_v_mware_cloud_director_networks_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vmwareclouddirector/list_v_mware_cloud_director_storage_profiles_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vmwareclouddirector/list_v_mware_cloud_director_templates_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_mware_cloud_director.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_mware_cloud_director_cloud_spec.go
  modules/web/src/app/cluster/details/cluster/edit-provider-settings/openstack-provider-settings/template.html
  modules/web/src/app/cluster/details/cluster/edit-provider-settings/vmware-cloud-director-provider-settings/component.ts
  modules/web/src/app/cluster/details/cluster/edit-provider-settings/vmware-cloud-director-provider-settings/style.scss
  modules/web/src/app/cluster/details/cluster/edit-provider-settings/vmware-cloud-director-provider-settings/template.html
  modules/web/src/app/core/services/node-data/provider/vmware-cloud-director.ts
  modules/web/src/app/core/services/wizard/provider/vmware-cloud-director.ts
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/vmware-cloud-director/component.ts
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/vmware-cloud-director/template.html
  modules/web/src/app/shared/components/openstack-credentials/component.ts
  modules/web/src/app/shared/components/openstack-credentials/style.scss
  modules/web/src/app/shared/components/openstack-credentials/template.html
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/shared/utils/form.ts
  modules/web/src/app/wizard/step/provider-settings/provider/basic/vmware-cloud-director/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/basic/vmware-cloud-director/template.html
  modules/web/src/app/wizard/step/provider-settings/provider/extended/vmware-cloud-director/component.ts
  modules/web/src/assets/css/global/_main.scss
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Upgrade dependencies to latest version
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/test/services/datacenter-mock.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Upgrade dependencies to latest version (#5888)
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/test/services/datacenter-mock.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.22] Upgrade to Go 1.19.8 (#5887)
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/api/pkg/handler/v1/user/user_test.go
  modules/api/pkg/handler/v2/cluster/binding_test.go
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/custom-dashboard/Dockerfile
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add indecator for label and update other elements
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/shared/components/addon-list/component.ts
  modules/web/src/app/shared/components/addon-list/edit-addon-dialog/component.ts
  modules/web/src/app/shared/components/addon-list/edit-addon-dialog/template.html
  modules/web/src/app/shared/components/application-list/component.ts
  modules/web/src/app/shared/components/application-list/edit-application-dialog/component.ts
  modules/web/src/app/shared/components/application-list/edit-application-dialog/template.html
  modules/web/src/app/shared/components/editor/template.html
  modules/web/src/app/shared/components/label-form/component.ts
  modules/web/src/app/shared/components/label-form/template.html
  modules/web/src/app/shared/directives/value-cahnged.ts
  modules/web/src/assets/css/global/_main.scss
  modules/web/src/assets/css/global/_theme.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

update all edit dialogs for project
  modules/web/src/app/member/component.ts
  modules/web/src/app/member/edit-member/component.ts
  modules/web/src/app/member/edit-member/template.html
  modules/web/src/app/serviceaccount/component.ts
  modules/web/src/app/serviceaccount/edit-dialog/component.ts
  modules/web/src/app/serviceaccount/edit-dialog/template.html
  modules/web/src/app/shared/components/taint-form/component.ts
  modules/web/src/app/shared/components/taint-form/template.html
  modules/web/src/app/shared/components/taint-form/theme.scss
  modules/web/src/app/shared/directives/value-cahnged.ts
  modules/web/src/assets/css/global/_main.scss
  modules/web/src/assets/css/global/_theme.scss
  modules/web/src/assets/css/theme/_component.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

applay directive to edit md dialog
  modules/web/src/app/cluster/details/cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/cluster/details/cluster/edit-provider-settings/alibaba-provider-settings/template.html
  modules/web/src/app/cluster/details/cluster/machine-deployment-list/component.ts
  modules/web/src/app/cluster/details/cluster/revoke-token/component.ts
  modules/web/src/app/cluster/details/cluster/revoke-token/template.html
  modules/web/src/app/core/module.ts
  modules/web/src/app/core/services/dialog-mode.ts
  modules/web/src/app/node-data/basic/provider/aws/template.html
  modules/web/src/app/node-data/basic/provider/azure/template.html
  modules/web/src/app/node-data/basic/provider/digitalocean/template.html
  modules/web/src/app/node-data/basic/provider/gcp/template.html
  modules/web/src/app/node-data/basic/provider/kubevirt/template.html
  modules/web/src/app/node-data/basic/provider/kubevirt/topology-spread-contraint-form/template.html
  modules/web/src/app/node-data/basic/provider/nutanix/template.html
  modules/web/src/app/node-data/basic/provider/openstack/template.html
  modules/web/src/app/node-data/basic/provider/vmware-cloud-director/template.html
  modules/web/src/app/node-data/basic/provider/vsphere/template.html
  modules/web/src/app/node-data/dialog/component.ts
  modules/web/src/app/node-data/extended/provider/aws/template.html
  modules/web/src/app/node-data/extended/provider/azure/template.html
  modules/web/src/app/node-data/extended/provider/digitalocean/template.html
  modules/web/src/app/node-data/kubelet-version/template.html
  modules/web/src/app/node-data/template.html
  modules/web/src/app/shared/components/chip-list/template.html
  modules/web/src/app/shared/components/combobox/template.html
  modules/web/src/app/shared/components/number-stepper/template.html
  modules/web/src/app/shared/directives/value-cahnged.ts
  modules/web/src/assets/css/global/_main.scss
  modules/web/src/assets/css/global/_theme.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add the vlaue changed directive
  modules/web/src/app/node-data/basic/provider/digitalocean/template.html
  modules/web/src/app/node-data/template.html
  modules/web/src/app/shared/directives/value-cahnged.ts
  modules/web/src/app/shared/module.ts
  modules/web/src/assets/css/global/_main.scss
  modules/web/src/assets/css/global/_theme.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce
