Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$

Set default invalid step value to `false`
  src/app/external-cluster-wizard/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Set default invalid step value to `false` (#4986)
  src/app/external-cluster-wizard/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update control for AKS Wizard/NodePool dialog and remove default values set
  src/app/external-cluster-wizard/steps/external-cluster/provider/aks/component.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/aks/template.html
  src/app/external-cluster-wizard/steps/external-cluster/provider/eks/component.ts
  src/app/shared/entity/provider/aks.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Handle clear of location and prevent API call
  src/app/external-cluster-wizard/steps/external-cluster/provider/aks/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update control for GKE/AKS cluster
  src/app/core/services/external-cluster.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/aks/component.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/gke/component.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/gke/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update control for EKS cluster settings wizard
  src/app/core/services/external-cluster.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/aks/template.html
  src/app/external-cluster-wizard/steps/external-cluster/provider/eks/component.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/eks/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

update to Go 1.19
  .prow/build-image.yaml
  .prow/tests-e2e.yaml
  .prow/tests-unit.yaml
  .prow/verify.yaml
  containers/chrome-headless/Dockerfile
  containers/chrome-headless/release.sh
  containers/custom-dashboard/Dockerfile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update control for AKS/GKE cluster settings page (#4956)
  src/app/core/services/external-cluster.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/aks/component.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/aks/template.html
  src/app/external-cluster-wizard/steps/external-cluster/provider/eks/component.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/eks/template.html
  src/app/external-cluster-wizard/steps/external-cluster/provider/gke/component.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/gke/template.html
  src/app/shared/entity/provider/aks.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

update to Go 1.19 (#4989)
  .prow/build-image.yaml
  .prow/tests-e2e.yaml
  .prow/tests-unit.yaml
  .prow/verify.yaml
  containers/chrome-headless/Dockerfile
  containers/chrome-headless/release.sh
  containers/custom-dashboard/Dockerfile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Upgrade angular packages to latest version
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add kind/chore to PR template
  .github/pull_request_template.md
Due: none

Add kind/chore to PR template (#4996)
  .github/pull_request_template.md
Due: none

Upgrade angular packages to latest version (#4995)
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add third state or AKS/EKS dropdown fields (#4923)
  src/app/external-cluster-wizard/steps/external-cluster/provider/aks/component.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/eks/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Allow to change region for EKS external cluster on Import dialog and Create wizard (#4919)
  src/app/core/services/external-cluster.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/eks/component.ts
  src/app/external-cluster-wizard/template.html
  src/app/shared/components/external-cluster-credentials/provider/aks/component.ts
  src/app/shared/components/external-cluster-credentials/provider/eks/component.ts
  src/app/shared/components/external-cluster-credentials/provider/eks/template.html
  src/app/shared/components/external-cluster-credentials/provider/gke/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add imported label (#4936)
  src/app/cluster/details/external-cluster/component.ts
  src/app/cluster/details/external-cluster/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Move location to aks cloud spec instead of cluster spec (#4934)
  src/app/external-cluster-wizard/steps/external-cluster/provider/aks/component.ts
  src/app/shared/entity/provider/aks.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Improvement gke cluster creation (#4917)
  src/app/core/services/external-cluster.ts
  src/app/core/services/external-machine-deployment.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/gke/component.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/gke/style.scss
  src/app/external-cluster-wizard/steps/external-cluster/provider/gke/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Added summary page to external cluster wizard (#4927)
  src/app/external-cluster-wizard/component.ts
  src/app/external-cluster-wizard/config.ts
  src/app/external-cluster-wizard/module.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/eks/component.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/gke/component.ts
  src/app/external-cluster-wizard/steps/summary/component.ts
  src/app/external-cluster-wizard/steps/summary/external-cluster-details/component.ts
  src/app/external-cluster-wizard/steps/summary/external-cluster-details/provider/aks/component.ts
  src/app/external-cluster-wizard/steps/summary/external-cluster-details/provider/aks/template.html
  src/app/external-cluster-wizard/steps/summary/external-cluster-details/provider/eks/component.ts
  src/app/external-cluster-wizard/steps/summary/external-cluster-details/provider/eks/style.scss
  src/app/external-cluster-wizard/steps/summary/external-cluster-details/provider/eks/template.html
  src/app/external-cluster-wizard/steps/summary/external-cluster-details/provider/gke/component.ts
  src/app/external-cluster-wizard/steps/summary/external-cluster-details/provider/gke/template.html
  src/app/external-cluster-wizard/steps/summary/external-cluster-details/template.html
  src/app/external-cluster-wizard/steps/summary/style.scss
  src/app/external-cluster-wizard/steps/summary/template.html
  src/app/external-cluster-wizard/template.html
  src/app/shared/entity/external-machine-deployment.ts
  src/app/shared/entity/provider/gke.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add Resource Group list dropdown for AKS (#4954)
  src/app/cluster/details/external-cluster/template.html
  src/app/core/services/external-cluster.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/aks/component.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/aks/template.html
  src/app/shared/components/combobox/template.html
  src/app/shared/entity/provider/aks.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add ClusterServiceRole dropdown list for EKS (#4951)
  src/app/core/services/external-cluster.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/eks/component.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/eks/template.html
  src/app/shared/entity/provider/eks.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fixed form logic (#4963)
  src/app/external-cluster-wizard/steps/external-cluster/provider/aks/component.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/aks/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix check to disable `Next` and `Create External Cluster` buttons in external cluster wizard (#4976)
  src/app/external-cluster-wizard/component.ts
  src/app/external-cluster-wizard/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Added logic for clearing form when component is destroyed (#4975)
  src/app/external-cluster-wizard/steps/external-cluster/provider/aks/component.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/eks/component.ts
  src/app/external-cluster-wizard/steps/external-cluster/provider/gke/component.ts
  src/app/shared/validators/base-form.validator.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update existing and new states for external clusters (#4964)
  src/app/external-cluster-wizard/steps/external-cluster/provider/eks/component.ts
  src/app/shared/entity/external-cluster.ts
  src/app/shared/entity/external-machine-deployment.ts
  src/app/shared/entity/provider/eks.ts
  src/app/shared/utils/health-status.ts
  src/assets/css/_images.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

`Security Groups` will show correct data. (#4977)
  src/app/external-cluster-wizard/steps/summary/external-cluster-details/provider/eks/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Upgrade typescript to latest version
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Upgrade typescript to latest version (#5000)
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Upgrade `swagger-ui` to latest version
  package-lock.json
  package.json
  src/app/pages/api-docs/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Upgrade `swagger-ui` to latest version (#5003)
  package-lock.json
  package.json
  src/app/pages/api-docs/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add empty project card placeholder when no project exists
  src/app/project/style.scss
  src/app/project/template.html
  src/assets/css/_images.scss
  src/assets/css/_variables.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add empty project card placeholder when no project exists (#5001)
  src/app/project/style.scss
  src/app/project/template.html
  src/assets/css/_images.scss
  src/assets/css/_variables.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix dropdown colors in dark mode
  src/app/core/components/help-panel/template.html
  src/app/core/components/user-panel/template.html
  src/app/project-overview/create-resource-panel/template.html
  src/assets/css/global/_theme.scss
  src/assets/css/theme/_main.scss
  src/assets/themes/dark.scss
  src/assets/themes/light.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Adjust pending and back icon colors in dark mode
  src/app/backup/details/automatic-backup/template.html
  src/app/cluster/details/cluster/machine-deployment-details/cluster-panel/template.html
  src/app/cluster/details/cluster/template.html
  src/app/cluster/details/external-cluster/template.html
  src/app/dynamic/enterprise/metering/schedule-config/report-list/template.html
  src/assets/css/_images.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce
