Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

pre-dashboard-go-mod-verify:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      command:
      - make
      - verify-go
      resources:
        requests:
          cpu: 100m

pre-dashboard-test-unit:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/chrome-headless:v0.11
      command:
      - make
      - test-headless
      resources:
        requests:
          cpu: 1
          memory: 3Gi
        limits:
          cpu: 2
          memory: 5Gi
      env:
      - name: CODECOV_TOKEN
        valueFrom:
  ...

pre-dashboard-test-full-e2e:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-full-e2e-ce:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-e2e:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-test-e2e-ce:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-build-image:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

pre-dashboard-build-image-ce:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

adopt to kubermatic repo main branch renaming (#5093)
  .prow/tests-e2e.yaml
  src/app/cluster/details/cluster/share-kubeconfig/template.html
  src/app/project/template.html
  src/app/settings/admin/interface/template.html
  src/app/settings/user/template.html
  src/app/shared/components/addon-list/install-addon-dialog/template.html
  src/app/shared/components/addon-list/template.html
  src/app/shared/components/application-list/add-application-dialog/template.html
  src/app/shared/components/application-list/template.html
  src/app/wizard/step/provider-settings/provider/extended/kubevirt/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

rename api-e2e prowjob to match repo name, update kind to 0.16
  .prow/api.yaml
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add back button (#5063)
  src/app/shared/components/add-external-cluster-dialog/component.ts
  src/app/shared/components/add-external-cluster-dialog/steps/cluster/provider/aks/component.ts
  src/app/shared/components/add-external-cluster-dialog/steps/cluster/provider/eks/component.ts
  src/app/shared/components/add-external-cluster-dialog/steps/cluster/provider/gke/component.ts
  src/app/shared/components/add-external-cluster-dialog/style.scss
  src/app/shared/components/add-external-cluster-dialog/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

5074 & 5083 Added warning icon to quota widget and Added quota widget to machine deployment.
  src/app/cluster/details/cluster/component.ts
  src/app/cluster/details/cluster/machine-deployment-details/style.scss
  src/app/cluster/details/cluster/machine-deployment-details/template.html
  src/app/cluster/details/cluster/machine-deployment-list/component.spec.ts
  src/app/cluster/details/cluster/machine-deployment-list/component.ts
  src/app/cluster/details/cluster/machine-deployment-list/template.html
  src/app/cluster/details/cluster/template.html
  src/app/dynamic/enterprise/quotas/quota-widget/component.ts
  src/app/dynamic/enterprise/quotas/quota-widget/style.scss
  src/app/dynamic/enterprise/quotas/quota-widget/template.html
  src/assets/css/global/_main.scss
  src/assets/css/global/_theme.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

5074 & 5083 Added warning icon to quota widget and Added quota widget to machine deployment. (#5105)
  src/app/cluster/details/cluster/component.ts
  src/app/cluster/details/cluster/machine-deployment-details/style.scss
  src/app/cluster/details/cluster/machine-deployment-details/template.html
  src/app/cluster/details/cluster/machine-deployment-list/component.spec.ts
  src/app/cluster/details/cluster/machine-deployment-list/component.ts
  src/app/cluster/details/cluster/machine-deployment-list/template.html
  src/app/cluster/details/cluster/template.html
  src/app/dynamic/enterprise/quotas/quota-widget/component.ts
  src/app/dynamic/enterprise/quotas/quota-widget/style.scss
  src/app/dynamic/enterprise/quotas/quota-widget/template.html
  src/assets/css/global/_main.scss
  src/assets/css/global/_theme.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add project-scoped endpoints for EKS
  pkg/handler/v2/external_cluster/eks.go
  pkg/handler/v2/routes_v2.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Generate swagger and api-client
  cmd/kubermatic-api/swagger.json
  pkg/test/e2e/utils/apiclient/client/eks/eks_client.go
  pkg/test/e2e/utils/apiclient/client/eks/list_project_e_k_s_a_m_i_types_parameters.go
  pkg/test/e2e/utils/apiclient/client/eks/list_project_e_k_s_a_m_i_types_responses.go
  pkg/test/e2e/utils/apiclient/client/eks/list_project_e_k_s_capacity_types_parameters.go
  pkg/test/e2e/utils/apiclient/client/eks/list_project_e_k_s_capacity_types_responses.go
  pkg/test/e2e/utils/apiclient/client/eks/list_project_e_k_s_cluster_roles_parameters.go
  pkg/test/e2e/utils/apiclient/client/eks/list_project_e_k_s_cluster_roles_responses.go
  pkg/test/e2e/utils/apiclient/client/eks/list_project_e_k_s_regions_parameters.go
  pkg/test/e2e/utils/apiclient/client/eks/list_project_e_k_s_regions_responses.go
  pkg/test/e2e/utils/apiclient/client/eks/list_project_e_k_s_security_groups_parameters.go
  pkg/test/e2e/utils/apiclient/client/eks/list_project_e_k_s_security_groups_responses.go
  pkg/test/e2e/utils/apiclient/client/eks/list_project_e_k_s_subnets_parameters.go
  pkg/test/e2e/utils/apiclient/client/eks/list_project_e_k_s_subnets_responses.go
  pkg/test/e2e/utils/apiclient/client/eks/list_project_e_k_s_v_p_cs_parameters.go
  pkg/test/e2e/utils/apiclient/client/eks/list_project_e_k_s_v_p_cs_responses.go
  pkg/test/e2e/utils/apiclient/client/eks/list_project_e_k_s_versions_parameters.go
  pkg/test/e2e/utils/apiclient/client/eks/list_project_e_k_s_versions_responses.go
  pkg/test/e2e/utils/apiclient/client/eks/validate_project_e_k_s_credentials_parameters.go
  pkg/test/e2e/utils/apiclient/client/eks/validate_project_e_k_s_credentials_responses.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix docker repo name, fix default command in docker image
  Dockerfile
  Makefile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix gocache handling
  hack/ci/download-gocache.sh
  hack/ci/upload-gocache.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix docker repo name, fix default command in docker image (#5140)
  Dockerfile
  Makefile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Upgrade dependencies to latest version
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Upgrade dependencies to latest version (#5142)
  package-lock.json
  package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

- setup basic skeleton of web terminal component
  src/app/cluster/details/cluster/web-terminal/component.spec.ts
  src/app/cluster/details/cluster/web-terminal/component.ts
  src/app/cluster/details/cluster/web-terminal/style.scss
  src/app/cluster/details/cluster/web-terminal/template.html
  src/app/cluster/module.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

- add functionality to connect terminal to user cluster via websocket connection - add shared service to handle websocket connection and messages
  src/app/cluster/details/cluster/web-terminal/component.ts
  src/app/cluster/details/cluster/web-terminal/template.html
  src/app/core/services/websocket.ts
  src/app/shared/model/Terminal.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

- add terminal svg
  src/assets/css/_images.scss
  src/assets/images/icons/terminal.svg
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

- inject xterm css for terminal
  angular.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

- add slight delay before fit addon is triggerd - closes websocket connection on destroy - wrap terminal around mat-card
  src/app/cluster/details/cluster/web-terminal/component.ts
  src/app/cluster/details/cluster/web-terminal/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

- fix log comment
  src/app/core/services/websocket.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

- reorder operations in order - remove explicit debouncing to enable terminal fitAddOn
  src/app/cluster/details/cluster/web-terminal/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

- disabled/Hide WebTerminal button till the cluster is not healthy
  src/app/cluster/details/cluster/component.ts
  src/app/cluster/details/cluster/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

- pass cluster details as input to Terminal - set Intro lines to show which Project it is connected
  src/app/cluster/details/cluster/template.html
  src/app/cluster/details/cluster/web-terminal/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

- render terminal as dom instead of canvas
  src/app/cluster/details/cluster/web-terminal/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

- open terminal with `/terminal` route
  src/app/cluster/routing.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

- add terminal toolbar component to display options
  src/app/cluster/details/cluster/web-terminal/terminal-toolbar/terminal-toolbar.component.html
  src/app/cluster/details/cluster/web-terminal/terminal-toolbar/terminal-toolbar.component.scss
  src/app/cluster/details/cluster/web-terminal/terminal-toolbar/terminal-toolbar.component.spec.ts
  src/app/cluster/details/cluster/web-terminal/terminal-toolbar/terminal-toolbar.component.ts
  src/app/cluster/module.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

- display terminal without mat-card wrapper and update terminal intro text
  src/app/cluster/details/cluster/web-terminal/component.ts
  src/app/cluster/details/cluster/web-terminal/template.html
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

- display terminal as fixed overlay and fixed styles - update z-index for mat-sidenav which was causing issue for hide terminal underneath
  src/app/cluster/details/cluster/web-terminal/component.ts
  src/app/cluster/details/cluster/web-terminal/style.scss
  src/app/style.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

- update terminal styles
  src/app/cluster/details/cluster/web-terminal/style.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

- add functionality to close terminal from toolbar component
  src/app/cluster/details/cluster/component.ts
  src/app/cluster/details/cluster/template.html
  src/app/cluster/details/cluster/web-terminal/component.ts
  src/app/cluster/details/cluster/web-terminal/template.html
  src/app/cluster/details/cluster/web-terminal/terminal-toolbar/terminal-toolbar.component.html
  src/app/cluster/details/cluster/web-terminal/terminal-toolbar/terminal-toolbar.component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

- add functionality to display notification on websocket connection successful
  src/app/cluster/details/cluster/web-terminal/component.ts
  src/app/core/services/websocket.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

- Keepalive WS messages subscription till component is not destroyed
  src/app/cluster/details/cluster/web-terminal/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

- add functionality to open terminal in new tab
  src/app/cluster/details/cluster/component.ts
  src/app/cluster/details/cluster/template.html
  src/app/cluster/details/cluster/web-terminal/component.ts
  src/app/cluster/details/cluster/web-terminal/template.html
  src/app/cluster/details/cluster/web-terminal/terminal-toolbar/terminal-toolbar.component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

- initialize terminal once completed initialization of a component's view
  src/app/cluster/details/cluster/web-terminal/component.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

- Add shared/reusable simple xterm terminal and toolbar component
  src/app/shared/components/xterm-terminal/component.spec.ts
  src/app/shared/components/xterm-terminal/component.ts
  src/app/shared/components/xterm-terminal/style.scss
  src/app/shared/components/xterm-terminal/template.html
  src/app/shared/components/xterm-terminal/terminal-toolbar/component.spec.ts
  src/app/shared/components/xterm-terminal/terminal-toolbar/component.ts
  src/app/shared/components/xterm-terminal/terminal-toolbar/style.scss
  src/app/shared/components/xterm-terminal/terminal-toolbar/template.html
  src/app/shared/module.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

- Add Wrapper component to display terminal as Overlay or Page Terminal component
  src/app/cluster/details/cluster/overlay-terminal/component.spec.ts
  src/app/cluster/details/cluster/overlay-terminal/component.ts
  src/app/cluster/details/cluster/overlay-terminal/style.scss
  src/app/cluster/details/cluster/overlay-terminal/template.html
  src/app/cluster/details/cluster/template.html
  src/app/cluster/details/cluster/web-terminal/style.scss
  src/app/cluster/details/cluster/web-terminal/terminal-toolbar/terminal-toolbar.component.spec.ts
  src/app/cluster/module.ts
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add functionality web terminal using web sockets
  angular.json
  package.json
  src/app/cluster/details/cluster/component.ts
  src/app/cluster/details/cluster/overlay-terminal/component.spec.ts
  src/app/cluster/details/cluster/overlay-terminal/component.ts
  src/app/cluster/details/cluster/overlay-terminal/style.scss
  src/app/cluster/details/cluster/overlay-terminal/template.html
  src/app/cluster/details/cluster/overlay-terminal/theme.scss
  src/app/cluster/details/cluster/template.html
  src/app/cluster/details/cluster/web-terminal/component.spec.ts
  src/app/cluster/details/cluster/web-terminal/component.ts
  src/app/cluster/details/cluster/web-terminal/style.scss
  src/app/cluster/details/cluster/web-terminal/template.html
  src/app/core/services/cluster.ts
  src/app/core/services/websocket.ts
  src/app/dynamic/enterprise/metering/config/config-dialog/template.html
  src/app/dynamic/enterprise/metering/schedule-config/add-dialog/template.html
  src/app/shared/components/save-cluster-template/template.html
  src/app/shared/components/xterm-terminal/component.spec.ts
  src/app/shared/components/xterm-terminal/component.ts
  src/app/shared/components/xterm-terminal/style.scss
  src/app/shared/components/xterm-terminal/template.html
  src/app/shared/components/xterm-terminal/terminal-status-bar/component.ts
  src/app/shared/components/xterm-terminal/terminal-status-bar/style.scss
  src/app/shared/components/xterm-terminal/terminal-status-bar/template.html
  src/app/shared/components/xterm-terminal/terminal-status-bar/theme.scss
  src/app/shared/components/xterm-terminal/terminal-toolbar/component.spec.ts
  src/app/shared/components/xterm-terminal/terminal-toolbar/component.ts
  src/app/shared/components/xterm-terminal/terminal-toolbar/theme.scss
  src/app/shared/model/Terminal.ts
  src/app/shared/module.ts
  src/app/style.scss
  src/assets/css/_images.scss
  src/assets/css/theme/_component.scss
  src/assets/images/icons/reconnect.svg
  src/assets/images/icons/webterminal-placholder.svg
  src/assets/themes/dark.scss
  src/assets/themes/light.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Rename directory and component
  src/app/shared/components/terminal/component.spec.ts
  src/app/shared/components/terminal/component.ts
  src/app/shared/components/terminal/style.scss
  src/app/shared/components/terminal/template.html
  src/app/shared/components/terminal/terminal-status-bar/component.ts
  src/app/shared/components/terminal/terminal-status-bar/style.scss
  src/app/shared/components/terminal/terminal-status-bar/template.html
  src/app/shared/components/terminal/terminal-status-bar/theme.scss
  src/app/shared/components/terminal/terminal-toolbar/component.ts
  src/app/shared/components/terminal/terminal-toolbar/style.scss
  src/app/shared/components/terminal/terminal-toolbar/template.html
  src/app/shared/components/terminal/terminal-toolbar/theme.scss
  src/app/shared/module.ts
  src/assets/css/theme/_component.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update lock file
  package-lock.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix name
  hack/ci/upload-gocache.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix gocache handling (#5139)
  hack/ci/download-gocache.sh
  hack/ci/upload-gocache.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$
