Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-go-mod-verify, pre-dashboard-web-lint, pre-dashboard-web-check

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-api-e2e: any of: modules/api/pkg
  pre-dashboard-api-unit: any of: modules/api
  pre-dashboard-api-lint: any of: modules/api
  pre-dashboard-api-verify: any of: modules/api
  pre-dashboard-web-integration-tests: any of: modules/web
  pre-dashboard-web-integration-tests-ce: any of: modules/web
  pre-dashboard-web-unit: any of: modules/web
  pre-dashboard-web-go-mod-verify: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-lint: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-check: any of: modules/web

add unit test for validateAuditWebhookBackendAllowed
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/common/cluster_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

add disabledAuditWebhookBackendDCs option in the admin settings API
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/common/machine.go
  modules/api/pkg/handler/routes_v1.go
  modules/api/pkg/handler/v1/admin/settings.go
  modules/api/pkg/handler/v1/cluster/cluster.go
  modules/api/pkg/handler/v2/cluster/cluster.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/resources/machine/machinedeployment.go
  modules/api/pkg/test/e2e/utils/apiclient/models/global_settings.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

add disabledAuditWebhookBackendDCs option in the admin settings UI
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/settings/admin/defaults/component.ts
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/shared/entity/settings.ts
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/template.html
  modules/web/src/test/services/settings-mock.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

remove sigs and introduce dev-kkp team (#8166)
  OWNERS
  OWNERS_ALIASES
  modules/api/OWNERS
  modules/api/certs/OWNERS
  modules/api/pkg/OWNERS
  modules/api/pkg/api/OWNERS
  modules/api/pkg/handler/OWNERS
  modules/api/pkg/provider/kubernetes/OWNERS
  modules/web/OWNERS
  modules/web/containers/OWNERS
  modules/web/src/OWNERS
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

remove openedChange event
  modules/web/src/app/settings/admin/defaults/component.ts
  modules/web/src/app/settings/admin/defaults/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Refactor kubeLB enablement logic to prioritize enforced settings over enabled flags (#7999) (#8174)
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/wizard/step/cluster/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Refactor kubeLB enablement logic to prioritize enforced settings over enabled flags (#7999) (#8175)
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/wizard/step/cluster/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Add option to disable Audit Webhook Backend per datacenter (#8161)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/common/cluster_test.go
  modules/api/pkg/handler/common/machine.go
  modules/api/pkg/handler/routes_v1.go
  modules/api/pkg/handler/v1/admin/settings.go
  modules/api/pkg/handler/v1/cluster/cluster.go
  modules/api/pkg/handler/v2/cluster/cluster.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/resources/machine/machinedeployment.go
  modules/api/pkg/test/e2e/utils/apiclient/models/global_settings.go
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/settings/admin/defaults/component.ts
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/shared/entity/settings.ts
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/template.html
  modules/web/src/test/services/settings-mock.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix formatting for prettier 3.9 and repair invalid .codecov.yml
  modules/web/.codecov.yml
  modules/web/src/app/cluster/details/cluster/rbac/service-account/component.ts
  modules/web/src/app/core/services/cluster-service-account.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

feat: gate OpenStack image discovery for openstack cloud provider behind admin setting flag
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/common/provider/openstack.go
  modules/api/pkg/handler/v2/provider/openstack.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/provider/cloud/openstack/provider.go
  modules/web/src/app/core/services/node-data/provider/openstack.ts
  modules/web/src/app/core/services/provider/openstack.ts
  modules/web/src/app/core/services/wizard/provider/openstack.ts
  modules/web/src/app/node-data/basic/provider/openstack/component.ts
  modules/web/src/app/node-data/basic/provider/openstack/template.html
  modules/web/src/app/shared/entity/provider/openstack.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

feat: gate OpenStack image discovery behind admin setting
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/common/provider/openstack.go
  modules/api/pkg/handler/v2/provider/openstack.go
  modules/api/pkg/provider/cloud/openstack/provider.go
  modules/web/src/app/core/services/node-data/provider/openstack.ts
  modules/web/src/app/core/services/provider/openstack.ts
  modules/web/src/app/core/services/wizard/provider/openstack.ts
  modules/web/src/app/node-data/basic/provider/openstack/component.ts
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/shared/entity/settings.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix: remove redundant alias for Amazon Linux 2 in OpenStack OS distro mapping
  modules/api/pkg/handler/common/provider/openstack.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

feat(openstack): add OS parameter to various OpenStack API client methods
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v2/provider/openstack.go
  modules/api/pkg/test/e2e/utils/apiclient/client/openstack/list_openstack_availability_zones_no_credentials_v2_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/openstack/list_openstack_images_no_credentials_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/openstack/list_openstack_images_no_credentials_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/openstack/list_openstack_networks_no_credentials_v2_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/openstack/list_openstack_security_groups_no_credentials_v2_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/openstack/list_openstack_server_groups_no_credentials_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/openstack/list_openstack_sizes_no_credentials_v2_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/openstack/list_openstack_subnets_no_credentials_v2_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/openstack/list_openstack_tenants_no_credentials_v2_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/openstack/list_project_openstack_availability_zones_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/openstack/list_project_openstack_images_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/openstack/list_project_openstack_images_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/openstack/list_project_openstack_networks_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/openstack/list_project_openstack_security_groups_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/openstack/list_project_openstack_server_groups_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/openstack/list_project_openstack_sizes_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/openstack/openstack_client.go
  modules/api/pkg/test/e2e/utils/apiclient/models/open_stack.go
  modules/api/pkg/test/e2e/utils/apiclient/models/openstack_image.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

address PR feedback
  modules/api/pkg/handler/v2/provider/openstack.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/web/src/app/core/services/node-data/provider/openstack.ts
  modules/web/src/app/node-data/basic/provider/openstack/component.ts
  modules/web/src/app/node-data/basic/provider/openstack/template.html
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

feat(openstack): improve image loading handling in dropdown
  modules/web/src/app/core/services/node-data/provider/openstack.ts
  modules/web/src/app/core/services/provider/openstack.ts
  modules/web/src/app/node-data/basic/provider/openstack/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Discover OpenStack images per selected OS via new Admin Setting (#8163)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/common/provider/openstack.go
  modules/api/pkg/handler/v2/provider/openstack.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/provider/cloud/openstack/provider.go
  modules/api/pkg/test/e2e/utils/apiclient/client/openstack/list_openstack_availability_zones_no_credentials_v2_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/openstack/list_openstack_images_no_credentials_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/openstack/list_openstack_images_no_credentials_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/openstack/list_openstack_networks_no_credentials_v2_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/openstack/list_openstack_security_groups_no_credentials_v2_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/openstack/list_openstack_server_groups_no_credentials_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/openstack/list_openstack_sizes_no_credentials_v2_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/openstack/list_openstack_subnets_no_credentials_v2_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/openstack/list_openstack_tenants_no_credentials_v2_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/openstack/list_project_openstack_availability_zones_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/openstack/list_project_openstack_images_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/openstack/list_project_openstack_images_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/openstack/list_project_openstack_networks_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/openstack/list_project_openstack_security_groups_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/openstack/list_project_openstack_server_groups_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/openstack/list_project_openstack_sizes_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/openstack/openstack_client.go
  modules/api/pkg/test/e2e/utils/apiclient/models/open_stack.go
  modules/api/pkg/test/e2e/utils/apiclient/models/openstack_image.go
  modules/web/src/app/core/services/node-data/provider/openstack.ts
  modules/web/src/app/core/services/provider/openstack.ts
  modules/web/src/app/core/services/wizard/provider/openstack.ts
  modules/web/src/app/node-data/basic/provider/openstack/component.ts
  modules/web/src/app/node-data/basic/provider/openstack/template.html
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/shared/entity/provider/openstack.ts
  modules/web/src/app/shared/entity/settings.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix npm audit high/moderate vulnerabilities in web module
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Add MIT-0 licensed SegmentIO ASM packages to exceptions list
  modules/api/.wwhrd.yml
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Bump vulnerable Go dependencies in API module
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Bump golang.org/x/sys to v0.46.0 in web module
  modules/web/go.mod
  modules/web/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-go-mod-verify, pre-dashboard-web-lint, pre-dashboard-web-check

Bump vulnerable dependencies in Web and API modules (#8177)
  modules/api/.wwhrd.yml
  modules/api/go.mod
  modules/api/go.sum
  modules/web/go.mod
  modules/web/go.sum
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-go-mod-verify, pre-dashboard-web-lint, pre-dashboard-web-check

automate web-terminal image releases
  .prow/common.yaml
  hack/images/web-terminal/metadata.yaml
  hack/images/web-terminal/release.sh
  hack/verify-web-terminal-tag.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

format shell scripts with shfmt
  hack/images/web-terminal/release.sh
  hack/verify-web-terminal-tag.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Raise hardcoded KubeVirt node defaults
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
  modules/web/src/app/shared/entity/node.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Raise hardcoded KubeVirt node defaults (#8182)
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
  modules/web/src/app/shared/entity/node.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Raise hardcoded KubeVirt node defaults (#8183)
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
  modules/web/src/app/shared/entity/node.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Automate web-terminal image releases (#8178)
  .prow/common.yaml
  hack/images/web-terminal/metadata.yaml
  hack/images/web-terminal/release.sh
  hack/verify-web-terminal-tag.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix project selector dropdown not closing
  modules/web/src/app/core/components/navigation/project/component.ts
  modules/web/src/app/core/components/navigation/project/style.scss
  modules/web/src/app/core/components/navigation/project/template.html
  modules/web/src/app/core/components/navigation/project/theme.scss
  modules/web/src/app/core/components/navigation/style.scss
  modules/web/src/app/core/components/navigation/template.html
  modules/web/src/assets/css/auth.css
  modules/web/src/assets/css/material/_main.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix project selector dropdown not closing (#8189)
  modules/web/src/app/core/components/navigation/project/component.ts
  modules/web/src/app/core/components/navigation/project/style.scss
  modules/web/src/app/core/components/navigation/project/template.html
  modules/web/src/app/core/components/navigation/project/theme.scss
  modules/web/src/app/core/components/navigation/style.scss
  modules/web/src/app/core/components/navigation/template.html
  modules/web/src/assets/css/auth.css
  modules/web/src/assets/css/material/_main.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

hide KubeVirt instance type tabs that have no options
  modules/web/src/app/node-data/basic/provider/kubevirt/machine-type-selector/component.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/machine-type-selector/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

hide KubeVirt instance type tabs that have no options (#8196)
  modules/web/src/app/node-data/basic/provider/kubevirt/machine-type-selector/component.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/machine-type-selector/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

hide KubeVirt instance type tabs that have no options (#8199)
  modules/web/src/app/node-data/basic/provider/kubevirt/machine-type-selector/component.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/machine-type-selector/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix unwanted redirect to login on invalid cloud credentials
  modules/api/pkg/provider/cloud/aws/api.go
  modules/api/pkg/provider/cloud/aws/provider.go
  modules/web/src/app/core/interceptors/auth.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

List KubeVirt instancetypes/preferences via v1beta1 with v1alpha1 fallback
  modules/api/hack/reconciling.yaml
  modules/api/pkg/handler/common/provider/kubevirt.go
  modules/api/pkg/handler/common/provider/kubevirt_test.go
  modules/api/pkg/handler/v2/provider/kubevirt_test.go
  modules/api/pkg/provider/cloud/kubevirt/client.go
  modules/api/pkg/provider/cloud/kubevirt/manifests/instancetypes/standard-2.yaml
  modules/api/pkg/provider/cloud/kubevirt/manifests/instancetypes/standard-4.yaml
  modules/api/pkg/provider/cloud/kubevirt/manifests/instancetypes/standard-8.yaml
  modules/api/pkg/provider/cloud/kubevirt/manifests/manifests_test.go
  modules/api/pkg/provider/cloud/kubevirt/manifests/preferences/sockets-advantage.yaml
  modules/api/pkg/provider/cloud/kubevirt/manifests/test/instancetypes/standard-1.yaml
  modules/api/pkg/provider/cloud/kubevirt/manifests/test/preferences/standard-1.yaml
  modules/api/pkg/provider/cloud/kubevirt/vm_instancetype.go
  modules/api/pkg/provider/cloud/kubevirt/vm_preference.go
  modules/api/pkg/resources/reconciling/zz_generated_reconcile.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

List KubeVirt instancetypes/preferences via v1beta1 with v1alpha1 fallback (#8202)
  modules/api/hack/reconciling.yaml
  modules/api/pkg/handler/common/provider/kubevirt.go
  modules/api/pkg/handler/common/provider/kubevirt_test.go
  modules/api/pkg/handler/v2/provider/kubevirt_test.go
  modules/api/pkg/provider/cloud/kubevirt/client.go
  modules/api/pkg/provider/cloud/kubevirt/manifests/instancetypes/standard-2.yaml
  modules/api/pkg/provider/cloud/kubevirt/manifests/instancetypes/standard-4.yaml
  modules/api/pkg/provider/cloud/kubevirt/manifests/instancetypes/standard-8.yaml
  modules/api/pkg/provider/cloud/kubevirt/manifests/manifests_test.go
  modules/api/pkg/provider/cloud/kubevirt/manifests/preferences/sockets-advantage.yaml
  modules/api/pkg/provider/cloud/kubevirt/manifests/test/instancetypes/standard-1.yaml
  modules/api/pkg/provider/cloud/kubevirt/manifests/test/preferences/standard-1.yaml
  modules/api/pkg/provider/cloud/kubevirt/vm_instancetype.go
  modules/api/pkg/provider/cloud/kubevirt/vm_preference.go
  modules/api/pkg/resources/reconciling/zz_generated_reconcile.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

WIP: switch dashboard api-e2e cluster-create test from Hetzner to AWS
  .prow/api.yaml
  hack/ci/run-api-e2e.sh
  modules/api/pkg/test/e2e/api/aws_test.go
  modules/api/pkg/test/e2e/utils/client.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

cleanup: make client.go diff minimal
  modules/api/pkg/test/e2e/utils/client.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify
