Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-go-mod-verify, pre-dashboard-web-lint, pre-dashboard-web-check

pre-dashboard-go-mod-verify:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      command:
      - make
      - verify-go
      resources:
        requests:
          cpu: 100m

pre-dashboard-test-unit:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/chrome-headless:v0.11
      command:
      - make
      - test-headless
      resources:
        requests:
          cpu: 1
          memory: 3Gi
        limits:
          cpu: 2
          memory: 5Gi
      env:
      - name: CODECOV_TOKEN
        valueFrom:
  ...

pre-dashboard-test-full-e2e:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-full-e2e-ce:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-e2e:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-test-e2e-ce:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-build-image:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

pre-dashboard-build-image-ce:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

Move error throttling configuration from hardcoded constants to external config file for runtime customization
  modules/web/src/app/core/interceptors/error-notifications.ts
  modules/web/src/app/core/interceptors/error-throttling.config.ts
  modules/web/src/app/shared/model/Config.ts
  modules/web/src/assets/config/config.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Mute error notification throttling based on admin settings and remove unused config options
  modules/web/src/app/core/interceptors/error-notifications.ts
  modules/web/src/app/core/interceptors/error-throttling.config.ts
  modules/web/src/app/shared/entity/settings.ts
  modules/web/src/app/shared/model/Config.ts
  modules/web/src/assets/config/config.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Add default notification settings and enable error throttling option
  modules/web/src/app/settings/admin/defaults/component.ts
  modules/web/src/app/settings/admin/defaults/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Update go.mod and go.sum for kubermatic dependencies and correct copyright year in generated reconcile file
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/resources/reconciling/zz_generated_reconcile.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

filter OSP based on OS version for kubevirt
  modules/web/src/app/core/services/node-data/provider/kubevirt.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/shared/entity/operating-system-profile.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix cleare inage option
  modules/api/pkg/resources/reconciling/zz_generated_reconcile.go
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
  modules/web/src/app/node-data/component.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Anexia deprecated message
  modules/web/src/app/cluster-template/component.ts
  modules/web/src/app/cluster-template/style.scss
  modules/web/src/app/cluster-template/template.html
  modules/web/src/app/cluster/details/cluster/component.ts
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/cluster/list/cluster/component.ts
  modules/web/src/app/cluster/list/cluster/template.html
  modules/web/src/app/settings/admin/seed-configurations/seed-configurations-details/component.ts
  modules/web/src/app/settings/admin/seed-configurations/seed-configurations-details/template.html
  modules/web/src/app/shared/constants/common.ts
  modules/web/src/app/wizard/step/provider-datacenter/component.ts
  modules/web/src/app/wizard/step/provider-datacenter/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Anexia deprecated message (#7767)
  modules/web/src/app/cluster-template/component.ts
  modules/web/src/app/cluster-template/style.scss
  modules/web/src/app/cluster-template/template.html
  modules/web/src/app/cluster/details/cluster/component.ts
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/cluster/list/cluster/component.ts
  modules/web/src/app/cluster/list/cluster/template.html
  modules/web/src/app/settings/admin/seed-configurations/seed-configurations-details/component.ts
  modules/web/src/app/settings/admin/seed-configurations/seed-configurations-details/template.html
  modules/web/src/app/shared/constants/common.ts
  modules/web/src/app/wizard/step/provider-datacenter/component.ts
  modules/web/src/app/wizard/step/provider-datacenter/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Add advanced machine type selector for AWS with GPU filtering table
  modules/web/src/app/node-data/basic/provider/aws/component.ts
  modules/web/src/app/node-data/basic/provider/aws/machine-type-selector/component.ts
  modules/web/src/app/node-data/basic/provider/aws/machine-type-selector/template.html
  modules/web/src/app/node-data/basic/provider/aws/template.html
  modules/web/src/app/node-data/module.ts
  modules/web/src/assets/css/global/_machine-type-selector.scss
  modules/web/src/assets/css/global/_main.scss
  modules/web/src/assets/css/global/_theme.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Refactor code for better readbilty
  modules/web/src/app/node-data/basic/provider/aws/machine-type-selector/component.ts
  modules/web/src/app/node-data/basic/provider/aws/machine-type-selector/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Remove redundant classes
  modules/web/src/app/node-data/basic/provider/aws/machine-type-selector/template.html
  modules/web/src/assets/css/global/_machine-type-selector.scss
  modules/web/src/assets/css/global/_theme.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix formatting
  modules/web/src/app/node-data/basic/provider/aws/machine-type-selector/component.ts
  modules/web/src/app/node-data/basic/provider/aws/machine-type-selector/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix Angular Material theme variables for cards, tables, and button toggle
  modules/web/src/assets/css/material/_theme.scss
  modules/web/src/assets/themes/dark.scss
  modules/web/src/assets/themes/light.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Use variable values instead of setting values inline
  modules/web/src/assets/themes/dark.scss
  modules/web/src/assets/themes/light.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix formatting
  modules/web/src/assets/themes/dark.scss
  modules/web/src/assets/themes/light.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Bump Go version to 1.25.5
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/go.mod
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/custom-dashboard/Dockerfile
  modules/web/go.mod
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-go-mod-verify, pre-dashboard-web-lint, pre-dashboard-web-check

Bump chrome-headless version to 1.9.2
  modules/web/containers/chrome-headless/release.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Bump Go version to 1.25.5 (#7775)
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/go.mod
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/chrome-headless/release.sh
  modules/web/containers/custom-dashboard/Dockerfile
  modules/web/go.mod
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-go-mod-verify, pre-dashboard-web-lint, pre-dashboard-web-check

Update base image for dashboard container image to apline:3.23
  .prow/frontend.yaml
  Dockerfile
  hack/images/web-terminal/Dockerfile
  hack/images/web-terminal/release.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Refactor AWS machine type selector to use AWSSize instead of AWSMachineType and update related bindings
  modules/web/src/app/node-data/basic/provider/aws/component.ts
  modules/web/src/app/node-data/basic/provider/aws/machine-type-selector/component.ts
  modules/web/src/app/node-data/basic/provider/aws/machine-type-selector/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

select machine type from selected size set on parent and sync size in node service
  modules/web/src/app/node-data/basic/provider/aws/component.ts
  modules/web/src/app/node-data/basic/provider/aws/machine-type-selector/component.ts
  modules/web/src/app/node-data/basic/provider/aws/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Update base image for dashboard container image to apline:3.23 (#7777)
  .prow/frontend.yaml
  Dockerfile
  hack/images/web-terminal/Dockerfile
  hack/images/web-terminal/release.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix formatting
  modules/web/src/app/node-data/basic/provider/aws/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Refactor theme variables for improved consistency in dark and light themes
  modules/web/src/assets/themes/dark.scss
  modules/web/src/assets/themes/light.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Refactor AWS machine type selection to use filtered sizes instead of machine type options
  modules/web/src/app/node-data/basic/provider/aws/component.ts
  modules/web/src/app/node-data/basic/provider/aws/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Remove unnecessary blank line
  modules/web/src/app/node-data/basic/provider/aws/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

code enhancement
  modules/api/pkg/api/v2/convert.go
  modules/api/pkg/ee/resource-quota/handler.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Advanced Machine Type Selector for AWS with GPU Filtering (#7771)
  modules/web/src/app/node-data/basic/provider/aws/component.ts
  modules/web/src/app/node-data/basic/provider/aws/machine-type-selector/component.ts
  modules/web/src/app/node-data/basic/provider/aws/machine-type-selector/template.html
  modules/web/src/app/node-data/basic/provider/aws/template.html
  modules/web/src/app/node-data/module.ts
  modules/web/src/assets/css/global/_machine-type-selector.scss
  modules/web/src/assets/css/global/_main.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Add GCP machine type selector component and integrate it into the form
  modules/web/src/app/node-data/basic/provider/gcp/component.ts
  modules/web/src/app/node-data/basic/provider/gcp/machine-type-selector/component.ts
  modules/web/src/app/node-data/basic/provider/gcp/machine-type-selector/template.html
  modules/web/src/app/node-data/basic/provider/gcp/style.scss
  modules/web/src/app/node-data/basic/provider/gcp/template.html
  modules/web/src/app/node-data/module.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Update fubectl and k8sgpt in web-terminal
  hack/images/web-terminal/Dockerfile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fix hetzner testing
  modules/api/pkg/test/e2e/utils/client.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

[release/v2.29] Bump Go version to 1.25.5 (#7779)
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/go.mod
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/chrome-headless/release.sh
  modules/web/containers/custom-dashboard/Dockerfile
  modules/web/go.mod
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-go-mod-verify, pre-dashboard-web-lint, pre-dashboard-web-check

Update fubectl and k8sgpt in web-terminal (#7780)
  hack/images/web-terminal/Dockerfile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Filter Kubevirt supported OSP list by selected OS version (#7747)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/v2/operatingsystemprofile/operatingsystemprofile.go
  modules/api/pkg/resources/reconciling/zz_generated_reconcile.go
  modules/api/pkg/test/e2e/utils/apiclient/models/operating_system_profile.go
  modules/api/pkg/test/e2e/utils/client.go
  modules/web/src/app/core/services/node-data/provider/kubevirt.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/shared/entity/operating-system-profile.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.28] Bump Go version to v1.24.12
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/go.mod
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/chrome-headless/release.sh
  modules/web/containers/custom-dashboard/Dockerfile
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Bump Go version to 1.25.6
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/go.mod
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/chrome-headless/release.sh
  modules/web/containers/custom-dashboard/Dockerfile
  modules/web/go.mod
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-go-mod-verify, pre-dashboard-web-lint, pre-dashboard-web-check

Enhance GCP machine type selector with GPU support and tabbed interface
  modules/web/src/app/node-data/basic/provider/gcp/machine-type-selector/component.ts
  modules/web/src/app/node-data/basic/provider/gcp/machine-type-selector/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

add support for machine accelerators in GCP machine sizes
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.sum
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/common/provider/gcp.go
  modules/api/pkg/resources/reconciling/zz_generated_reconcile.go
  modules/api/pkg/test/e2e/utils/apiclient/models/g_c_p_machine_accelerator.go
  modules/api/pkg/test/e2e/utils/apiclient/models/g_c_p_machine_size.go
  modules/web/src/app/shared/entity/provider/gcp.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-api-e2e: any of: modules/api/pkg
  pre-dashboard-api-unit: any of: modules/api
  pre-dashboard-api-lint: any of: modules/api
  pre-dashboard-api-verify: any of: modules/api
  pre-dashboard-web-integration-tests: any of: modules/web
  pre-dashboard-web-integration-tests-ce: any of: modules/web
  pre-dashboard-web-unit: any of: modules/web
  pre-dashboard-web-go-mod-verify: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-lint: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-check: any of: modules/web
