Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-go-mod-verify, pre-dashboard-web-lint, pre-dashboard-web-check

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-api-e2e: any of: modules/api/pkg
  pre-dashboard-api-unit: any of: modules/api
  pre-dashboard-api-lint: any of: modules/api
  pre-dashboard-api-verify: any of: modules/api
  pre-dashboard-web-integration-tests: any of: modules/web
  pre-dashboard-web-integration-tests-ce: any of: modules/web
  pre-dashboard-web-unit: any of: modules/web
  pre-dashboard-web-go-mod-verify: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-lint: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-check: any of: modules/web

skip setting kubevirt cpu value when an instance type is chosen (#7493) (#7499)
  modules/api/pkg/resources/machine/common.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Use Cluster Name instead of Human Readable name for cluster template
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/v2/preset/preset.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/web/src/app/settings/admin/presets/preset-linkages-dialog/component.ts
  modules/web/src/app/settings/admin/presets/preset-linkages-dialog/template.html
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Reverted back `PresetStats` swagger doc
  modules/api/cmd/kubermatic-api/swagger.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Fix License / Quote issue
  modules/api/pkg/test/e2e/utils/apiclient/client/preset/get_preset_linkages_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/preset/get_preset_linkages_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/preset/preset_client.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_association.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_template_association.go
  modules/api/pkg/test/e2e/utils/apiclient/models/preset_linkages.go
  modules/api/pkg/test/e2e/utils/apiclient/models/preset_stats.go
  modules/web/src/app/settings/admin/presets/preset-linkages-dialog/component.ts
  modules/web/src/app/settings/admin/presets/preset-linkages-dialog/template.html
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Update Swagger/ApiClient files
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/v2/preset/preset.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/test/e2e/utils/apiclient/client/preset/get_preset_linkages_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/preset/get_preset_linkages_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/preset/preset_client.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_association.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_template_association.go
  modules/api/pkg/test/e2e/utils/apiclient/models/preset_linkages.go
  modules/api/pkg/test/e2e/utils/apiclient/models/preset_stats.go
  modules/web/src/app/settings/admin/presets/preset-linkages-dialog/component.ts
  modules/web/src/app/settings/admin/presets/preset-linkages-dialog/template.html
  modules/web/src/app/shared/entity/preset.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Sync table pagination with user settings and hide it if items ≤ page size.
  modules/web/src/app/settings/admin/presets/preset-linkages-dialog/component.ts
  modules/web/src/app/settings/admin/presets/preset-linkages-dialog/style.scss
  modules/web/src/app/settings/admin/presets/preset-linkages-dialog/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Update UI to Merge cluster/template and show as unified table
  modules/web/src/app/settings/admin/presets/preset-linkages-dialog/component.ts
  modules/web/src/app/settings/admin/presets/preset-linkages-dialog/style.scss
  modules/web/src/app/settings/admin/presets/preset-linkages-dialog/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Cater API/UI Feedback fixes
  modules/api/pkg/handler/v2/preset/preset.go
  modules/web/src/app/cluster/details/cluster/component.ts
  modules/web/src/app/settings/admin/presets/preset-linkages-dialog/component.ts
  modules/web/src/app/settings/admin/presets/preset-linkages-dialog/style.scss
  modules/web/src/app/settings/admin/presets/preset-linkages-dialog/template.html
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Add Support for Safe Preset Deletion with Linkage Information in Admin Interface (#7479)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/v2/preset/preset.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/test/e2e/utils/apiclient/client/preset/get_preset_linkages_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/preset/get_preset_linkages_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/preset/preset_client.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_association.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_template_association.go
  modules/api/pkg/test/e2e/utils/apiclient/models/preset_linkages.go
  modules/api/pkg/test/e2e/utils/apiclient/models/preset_stats.go
  modules/web/src/app/cluster/details/cluster/component.ts
  modules/web/src/app/core/interceptors/error-notifications.ts
  modules/web/src/app/core/services/wizard/presets.ts
  modules/web/src/app/settings/admin/module.ts
  modules/web/src/app/settings/admin/presets/component.ts
  modules/web/src/app/settings/admin/presets/preset-linkages-dialog/component.ts
  modules/web/src/app/settings/admin/presets/preset-linkages-dialog/style.scss
  modules/web/src/app/settings/admin/presets/preset-linkages-dialog/template.html
  modules/web/src/app/settings/admin/presets/template.html
  modules/web/src/app/shared/entity/preset.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

edit-cluster-auto-scaler-application
  modules/web/src/app/core/services/application.ts
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/node-data/template.html
  modules/web/src/app/settings/admin/applications/component.ts
  modules/web/src/app/shared/components/application-list/component.ts
  modules/web/src/app/shared/components/application-list/edit-application-dialog/component.ts
  modules/web/src/app/shared/components/application-list/edit-application-dialog/template.html
  modules/web/src/app/shared/entity/application.ts
  modules/web/src/app/shared/model/NodeSpecChange.ts
  modules/web/src/app/wizard/component.ts
  modules/web/src/app/wizard/step/applications/component.ts
  modules/web/src/app/wizard/step/summary/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

add a filtrer autoscaler app method
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/node-data/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Add functionality to configure the Cluster Autoscaler application (#7500)
  modules/web/src/app/core/services/application.ts
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/node-data/template.html
  modules/web/src/app/settings/admin/applications/component.ts
  modules/web/src/app/shared/components/application-list/component.ts
  modules/web/src/app/shared/components/application-list/edit-application-dialog/component.ts
  modules/web/src/app/shared/components/application-list/edit-application-dialog/template.html
  modules/web/src/app/shared/entity/application.ts
  modules/web/src/app/shared/model/NodeSpecChange.ts
  modules/web/src/app/wizard/component.ts
  modules/web/src/app/wizard/step/applications/component.ts
  modules/web/src/app/wizard/step/summary/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

update unit tests to check configDrive in OpenStack
  modules/api/pkg/api/v1/types_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

update swagger.json
  modules/api/cmd/kubermatic-api/swagger.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Pass ConfigDrive value to JSON patch during machine updates through UI
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/machine/convert.go
  modules/api/pkg/resources/machine/common.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

update tests
  modules/api/pkg/api/v1/types_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

fix linter
  modules/api/pkg/api/v1/types_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

add swaggers
  modules/api/pkg/test/e2e/utils/apiclient/models/openstack_node_spec.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

[release/v2.27] (fix): OpenStack - pass ConfigDrive value to JSON patch during machine updates (#7502)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/api/v1/types_test.go
  modules/api/pkg/machine/convert.go
  modules/api/pkg/resources/machine/common.go
  modules/api/pkg/test/e2e/utils/apiclient/models/openstack_node_spec.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

[release/v2.26] (fix): OpenStack - pass ConfigDrive value to JSON patch during machine updates (#7503)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/api/v1/types_test.go
  modules/api/pkg/machine/convert.go
  modules/api/pkg/resources/machine/common.go
  modules/api/pkg/test/e2e/utils/apiclient/models/openstack_node_spec.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

delete webterminal kubeconfig when token is expired
  modules/api/pkg/handler/routes_v1_websocket.go
  modules/api/pkg/handler/websocket/terminal.go
  modules/web/src/app/shared/components/terminal/component.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Add restrict project modification settings
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/routes_v1.go
  modules/api/pkg/handler/test/helper.go
  modules/api/pkg/handler/v1/admin/settings.go
  modules/api/pkg/handler/v1/admin/settings_test.go
  modules/api/pkg/handler/v1/dc/datacenter_test.go
  modules/api/pkg/handler/v1/project/project.go
  modules/api/pkg/provider/conversions_test.go
  modules/api/pkg/provider/kubernetes/settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/container_runtime_opts.go
  modules/api/pkg/test/e2e/utils/apiclient/models/global_settings.go
  modules/web/src/app/project-overview/component.ts
  modules/web/src/app/project/component.ts
  modules/web/src/app/settings/admin/limits/template.html
  modules/web/src/app/shared/entity/settings.ts
  modules/web/src/test/services/settings-mock.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Add restrict project modification settings (#7504)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/routes_v1.go
  modules/api/pkg/handler/test/helper.go
  modules/api/pkg/handler/v1/admin/settings.go
  modules/api/pkg/handler/v1/admin/settings_test.go
  modules/api/pkg/handler/v1/dc/datacenter_test.go
  modules/api/pkg/handler/v1/project/project.go
  modules/api/pkg/provider/conversions_test.go
  modules/api/pkg/provider/kubernetes/settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/container_runtime_opts.go
  modules/api/pkg/test/e2e/utils/apiclient/models/global_settings.go
  modules/web/src/app/project-overview/component.ts
  modules/web/src/app/project/component.ts
  modules/web/src/app/settings/admin/limits/template.html
  modules/web/src/app/shared/entity/settings.ts
  modules/web/src/test/services/settings-mock.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Install k9s, krew, and oidc-login in terminal image
  hack/images/web-terminal/Dockerfile
  hack/images/web-terminal/release.sh
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update web-terminal image to v0.11.0
  modules/api/pkg/handler/websocket/terminal.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Install k9s, krew, and oidc-login in terminal image (#7509)
  hack/images/web-terminal/Dockerfile
  hack/images/web-terminal/release.sh
  modules/api/pkg/handler/websocket/terminal.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Reduce spacing to allow 3 project visible in smaller screen
  modules/web/src/app/project/style.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix Buttons to NoWrap
  modules/web/src/app/settings/admin/limits/style.scss
  modules/web/src/app/settings/admin/limits/template.html
  modules/web/src/assets/css/material/_main.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix Icons Issue
  modules/web/src/app/settings/admin/limits/style.scss
  modules/web/src/app/settings/admin/limits/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Use 100 layout in smaller screen
  modules/web/src/app/settings/user/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Minor UI CSS Fixes (#7511)
  modules/web/src/app/project/style.scss
  modules/web/src/app/settings/admin/limits/style.scss
  modules/web/src/app/settings/admin/limits/template.html
  modules/web/src/app/settings/user/template.html
  modules/web/src/assets/css/material/_main.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Handle Openstack network with no name to fetch subnets
  modules/api/pkg/provider/cloud/openstack/helper.go
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/default/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/default/template.html
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Removal of network ID / Display (ID: ) for better UX in case ID exists
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/default/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/default/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix OpenStack network selection to handle networks without name (#7513)
  modules/api/pkg/provider/cloud/openstack/helper.go
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/default/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/default/template.html
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check
