Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-go-mod-verify, pre-dashboard-web-lint, pre-dashboard-web-check

pre-dashboard-go-mod-verify:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      command:
      - make
      - verify-go
      resources:
        requests:
          cpu: 100m

pre-dashboard-test-unit:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/chrome-headless:v0.11
      command:
      - make
      - test-headless
      resources:
        requests:
          cpu: 1
          memory: 3Gi
        limits:
          cpu: 2
          memory: 5Gi
      env:
      - name: CODECOV_TOKEN
        valueFrom:
  ...

pre-dashboard-test-full-e2e:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-full-e2e-ce:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-e2e:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-test-e2e-ce:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-build-image:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

pre-dashboard-build-image-ce:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

[release/v2.26] prepare 2.26.0-rc.1
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.26] codegen
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/test/e2e/utils/apiclient/models/kubevirt.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kubevirt_cloud_spec.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Select correct template value when editing MD of VCD provider (#6927)
  modules/web/src/app/node-data/basic/provider/vmware-cloud-director/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Select correct template value when editing MD of VCD provider
  modules/web/src/app/node-data/basic/provider/vmware-cloud-director/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Select correct template value when editing MD of VCD provider (#6931)
  modules/web/src/app/node-data/basic/provider/vmware-cloud-director/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Select correct template value when editing MD of VCD provider (#6930)
  modules/web/src/app/node-data/basic/provider/vmware-cloud-director/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Select correct template value when editing MD of VCD provider (#6929)
  modules/web/src/app/node-data/basic/provider/vmware-cloud-director/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Bump KKP, MC, and OSM deps to latest
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Bump KKP, MC, and OSM deps to latest (#6934)
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

[release/v2.26] prepare 2.26.0
  Makefile
  modules/api/Makefile
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.26] prepare 2.26.0 (#6933)
  Makefile
  modules/api/Makefile
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

API endpoints to list VPC and subnets
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/common/provider/kubevirt.go
  modules/api/pkg/handler/v2/cluster/cluster.go
  modules/api/pkg/handler/v2/provider/kubevirt.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/provider/cloud/kubevirt/networks.go
  modules/api/pkg/provider/cloud/kubevirt/providernetworks/kubeovn/provider.go
  modules/api/pkg/provider/cloud/kubevirt/providernetworks/provider_networks.go
  modules/api/pkg/resources/machine/common.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/kubevirt_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_kube_virt_subnets_no_credentials_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_kube_virt_subnets_no_credentials_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_project_kubevirt_subnets_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_project_kubevirt_subnets_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_project_kubevirt_v_p_cs_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_project_kubevirt_v_p_cs_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_virt_subnet.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_virt_subnet_list.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_virt_v_p_c.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_virt_v_p_c_list.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

UI: Subnet and VPC support for kubeVirt
  modules/api/cmd/kubermatic-api/main.go
  modules/api/pkg/provider/cloud/kubevirt/client.go
  modules/api/pkg/provider/cloud/kubevirt/networks.go
  modules/web/src/app/core/services/node-data/provider/kubevirt.ts
  modules/web/src/app/core/services/provider/kubevirt.ts
  modules/web/src/app/core/services/wizard/provider/kubevirt.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/template.html
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/shared/entity/provider/kubevirt.ts
  modules/web/src/app/wizard/step/provider-settings/provider/basic/kubevirt/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/basic/kubevirt/template.html
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Update and integrate VPC and subnets on UI
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/v2/provider/kubevirt.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/machine/convert.go
  modules/api/pkg/provider/cloud/kubevirt/client.go
  modules/api/pkg/resources/machine/common.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/kubevirt_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_project_kubevirt_subnets_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_project_kubevirt_subnets_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kubevirt_node_spec.go
  modules/web/src/app/cluster/details/cluster/node-list/template.html
  modules/web/src/app/core/services/wizard/provider/kubevirt.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/kubevirt/component.ts
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/kubevirt/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/entity/node.ts
  modules/web/src/app/shared/entity/preset.ts
  modules/web/src/app/wizard/step/provider-settings/provider/basic/kubevirt/component.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

API: update dependencies
  modules/api/.wwhrd.yml
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

mend
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Refactored code
  modules/web/src/app/core/services/provider/kubevirt.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/basic/kubevirt/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

read kubevirt infra namespace from datacenter
  modules/api/pkg/handler/common/provider/kubevirt.go
  modules/api/pkg/handler/v2/provider/kubevirt.go
  modules/api/pkg/handler/v2/routes_v2.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

update swagger
  modules/api/cmd/kubermatic-api/swagger.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

generate apis
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_kube_virt_preferences_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_kube_virt_storage_classes_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_project_kube_virt_preferences_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_project_kube_virt_storage_classes_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_project_kubevirt_subnets_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_project_kubevirt_v_p_cs_parameters.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Refactored code
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/handler/common/provider/kubevirt.go
  modules/api/pkg/handler/test/helper.go
  modules/api/pkg/handler/v2/provider/kubevirt.go
  modules/api/pkg/handler/v2/provider/kubevirt_test.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_kube_virt_instancetypes_no_credentials_parameters.go
  modules/web/src/app/core/services/node-data/provider/kubevirt.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Update unit tests
  modules/api/pkg/handler/v1/admin/seed_test.go
  modules/api/pkg/handler/v1/dc/datacenter_test.go
  modules/api/pkg/handler/v2/seedoverview/seedoverview_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Read KubeVirt infra namespace from datacenter (#6949)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/handler/common/provider/kubevirt.go
  modules/api/pkg/handler/test/helper.go
  modules/api/pkg/handler/v1/admin/seed_test.go
  modules/api/pkg/handler/v1/dc/datacenter_test.go
  modules/api/pkg/handler/v2/provider/kubevirt.go
  modules/api/pkg/handler/v2/provider/kubevirt_test.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/handler/v2/seedoverview/seedoverview_test.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_kube_virt_instancetypes_no_credentials_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_kube_virt_preferences_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_kube_virt_storage_classes_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_project_kube_virt_preferences_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_project_kube_virt_storage_classes_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_project_kubevirt_subnets_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_project_kubevirt_v_p_cs_parameters.go
  modules/web/src/app/core/services/node-data/provider/kubevirt.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Upgrade Cypress to version 13
  modules/web/cypress.config.ts
  modules/web/cypress/support/e2e.ts
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Upgrade Cypress to version 13 (#6950)
  modules/web/cypress.config.ts
  modules/web/cypress/support/e2e.ts
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Support for explicitly configuring Image for Hetzner Machines
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/common/provider/hetzner.go
  modules/api/pkg/handler/v2/cluster/cluster.go
  modules/api/pkg/handler/v2/provider/hetzner.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/machine/convert.go
  modules/api/pkg/resources/machine/common.go
  modules/api/pkg/test/e2e/utils/apiclient/client/hetzner/hetzner_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/hetzner/list_hetzner_images_no_credentials_v2_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/hetzner/list_hetzner_images_no_credentials_v2_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/hetzner/list_project_hetzner_images_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/hetzner/list_project_hetzner_images_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/models/hetzner_image.go
  modules/api/pkg/test/e2e/utils/apiclient/models/hetzner_image_list.go
  modules/api/pkg/test/e2e/utils/apiclient/models/hetzner_node_spec.go
  modules/web/src/app/core/services/node-data/provider/hetzner.ts
  modules/web/src/app/core/services/provider/hetzner.ts
  modules/web/src/app/core/services/wizard/provider/hetzner.ts
  modules/web/src/app/node-data/basic/provider/hetzner/component.ts
  modules/web/src/app/node-data/basic/provider/hetzner/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/entity/node.ts
  modules/web/src/app/shared/entity/provider/hetzner.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Upgrade to Angular version 18. (#6958)
  modules/web/.gitignore
  modules/web/cypress/pages/v2/wizard/page.ts
  modules/web/hack/check-licenses.sh
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/app/core/module.ts
  modules/web/src/assets/css/theme/_main.scss
  modules/web/src/assets/themes/dark.scss
  modules/web/src/assets/themes/light.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

update style dependencies
  modules/web/.stylelintrc.yml
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/css/_mixins.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

update style dependencies (#6961)
  modules/web/.stylelintrc.yml
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/css/_mixins.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Display only admin allowed OS on project add/edit
  modules/web/src/app/project/component.ts
  modules/web/src/app/project/edit-project/component.spec.ts
  modules/web/src/app/project/edit-project/component.ts
  modules/web/src/app/project/edit-project/template.html
  modules/web/src/app/shared/components/add-project-dialog/component.spec.ts
  modules/web/src/app/shared/components/add-project-dialog/component.ts
  modules/web/src/app/shared/components/add-project-dialog/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Display only admin allowed OS on project add/edit (#6962)
  modules/web/src/app/project/component.ts
  modules/web/src/app/project/edit-project/component.spec.ts
  modules/web/src/app/project/edit-project/component.ts
  modules/web/src/app/project/edit-project/template.html
  modules/web/src/app/shared/components/add-project-dialog/component.spec.ts
  modules/web/src/app/shared/components/add-project-dialog/component.ts
  modules/web/src/app/shared/components/add-project-dialog/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-web-integration-tests: any of: modules/web
  pre-dashboard-web-integration-tests-ce: any of: modules/web
  pre-dashboard-web-unit: any of: modules/web
  pre-dashboard-web-go-mod-verify: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-lint: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-check: any of: modules/web
