Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-go-mod-verify, pre-dashboard-web-lint, pre-dashboard-web-check

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-api-e2e: any of: modules/api/pkg
  pre-dashboard-api-unit: any of: modules/api
  pre-dashboard-api-lint: any of: modules/api
  pre-dashboard-api-verify: any of: modules/api
  pre-dashboard-web-integration-tests: any of: modules/web
  pre-dashboard-web-integration-tests-ce: any of: modules/web
  pre-dashboard-web-unit: any of: modules/web
  pre-dashboard-web-go-mod-verify: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-lint: any of: modules/web/cmd/|modules/web/go.mod|modules/web/go.sum
  pre-dashboard-web-check: any of: modules/web

Implement allowed operating systems management in NodeDataService and VSphereBasicNodeDataComponent
  modules/web/src/app/core/services/node-data/service.ts
  modules/web/src/app/node-data/basic/provider/vsphere/component.ts
  modules/web/src/app/node-data/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix hetzner tests for dashboard (#7804)
  modules/api/pkg/test/e2e/api/hetzner_test.go
  modules/api/pkg/test/e2e/utils/client.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

[release/v2.30] Handle VSphere Project-Level OS Restrictions (#8038)
  modules/web/src/app/core/services/node-data/service.ts
  modules/web/src/app/node-data/basic/provider/vsphere/component.ts
  modules/web/src/app/node-data/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.29] Handle VSphere Project-Level OS Restrictions (#8037)
  modules/web/src/app/core/services/node-data/service.ts
  modules/web/src/app/node-data/basic/provider/vsphere/component.ts
  modules/web/src/app/node-data/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix hetzner tests for dashboard (#7804) (#8039)
  modules/api/pkg/test/e2e/api/hetzner_test.go
  modules/api/pkg/test/e2e/utils/client.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

[release/v2.28] Update development documentation & log warning on seed connectivity failure (#8031)
  Development.md
  modules/api/pkg/provider/kubernetes/cluster.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Fix lint issue
  modules/web/src/app/node-data/basic/provider/vsphere/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Merge admin-level and project-level OS restrictions in VSphereBasicNodeDataComponent
  modules/web/src/app/node-data/basic/provider/vsphere/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Remove redundant getter for allowedOperatingSystems in NodeDataService
  modules/web/src/app/core/services/node-data/service.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.28] Handle VSphere Project-Level OS Restrictions (#8041)
  modules/web/src/app/core/services/node-data/service.ts
  modules/web/src/app/node-data/basic/provider/vsphere/component.ts
  modules/web/src/app/node-data/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

chore(node-data): remove component tests for NodeDataComponent
  modules/web/src/app/node-data/component.spec.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.28] Fix incorrect default OS image selection when Ubuntu is disabled (#8017)
  modules/web/jest.config.cjs
  modules/web/src/app/node-data/basic/provider/nutanix/component.ts
  modules/web/src/app/node-data/basic/provider/openstack/component.ts
  modules/web/src/app/node-data/basic/provider/vsphere/component.ts
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/shared/utils/node.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Migrate KKP dashboard auth from implicit flow to OAuth authorization code flow (#7960)
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/options.go
  modules/api/hack/run-api.sh
  modules/api/pkg/handler/auth/oidc.go
  modules/api/pkg/handler/routing.go
  modules/api/pkg/handler/test/fake_auth.go
  modules/api/pkg/handler/v2/authflow/handler.go
  modules/api/pkg/handler/v2/authflow/routing.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/handler/v2/routing.go
  modules/api/pkg/provider/auth/types/types.go
  modules/web/cypress/intercept/root.ts
  modules/web/src/app/config.ts
  modules/web/src/app/core/components/user-panel/component.spec.ts
  modules/web/src/app/core/components/user-panel/component.ts
  modules/web/src/app/core/interceptors/auth.ts
  modules/web/src/app/core/interceptors/check-token.ts
  modules/web/src/app/core/interceptors/index.ts
  modules/web/src/app/core/module.ts
  modules/web/src/app/core/services/auth/guard.ts
  modules/web/src/app/core/services/auth/service.spec.ts
  modules/web/src/app/core/services/auth/service.ts
  modules/web/src/app/core/services/token.ts
  modules/web/src/app/core/services/user.spec.ts
  modules/web/src/app/core/services/user.ts
  modules/web/src/app/module.ts
  modules/web/src/app/pages/api-docs/component.ts
  modules/web/src/app/pages/frontpage/component.ts
  modules/web/src/app/pages/frontpage/template.html
  modules/web/src/app/project/component.ts
  modules/web/src/app/shared/components/openstack-credentials/default/component.ts
  modules/web/src/app/shared/model/Config.ts
  modules/web/src/environments/environment.e2e.local.ts
  modules/web/src/environments/environment.e2e.mock.ts
  modules/web/src/environments/environment.e2e.ts
  modules/web/src/environments/environment.prod.ts
  modules/web/src/environments/environment.ts
  modules/web/src/test/services/auth-mock.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

update kubeone to v1.12.3 (#7964)
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Add -oidc-authflow-redirect-uri flag to fix redirect URI behind ingress
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/options.go
  modules/api/hack/run-api.sh
  modules/api/pkg/handler/routing.go
  modules/api/pkg/handler/v2/authflow/handler.go
  modules/api/pkg/handler/v2/authflow/routing.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/handler/v2/routing.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

update kubeone to v1.12.3 (#7964) (#8042)
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Revert "Migrate KKP dashboard auth from implicit flow to OAuth authorization code flow (#7960)"
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/options.go
  modules/api/hack/run-api.sh
  modules/api/pkg/handler/auth/oidc.go
  modules/api/pkg/handler/routing.go
  modules/api/pkg/handler/test/fake_auth.go
  modules/api/pkg/handler/v2/authflow/handler.go
  modules/api/pkg/handler/v2/authflow/routing.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/handler/v2/routing.go
  modules/api/pkg/provider/auth/types/types.go
  modules/web/cypress/intercept/root.ts
  modules/web/src/app/config.ts
  modules/web/src/app/core/components/user-panel/component.spec.ts
  modules/web/src/app/core/components/user-panel/component.ts
  modules/web/src/app/core/interceptors/auth.ts
  modules/web/src/app/core/interceptors/check-token.ts
  modules/web/src/app/core/module.ts
  modules/web/src/app/core/services/auth/guard.ts
  modules/web/src/app/core/services/auth/service.spec.ts
  modules/web/src/app/core/services/auth/service.ts
  modules/web/src/app/core/services/token.ts
  modules/web/src/app/core/services/user.spec.ts
  modules/web/src/app/core/services/user.ts
  modules/web/src/app/module.ts
  modules/web/src/app/pages/api-docs/component.ts
  modules/web/src/app/pages/frontpage/component.ts
  modules/web/src/app/pages/frontpage/template.html
  modules/web/src/app/project/component.ts
  modules/web/src/app/shared/components/openstack-credentials/default/component.ts
  modules/web/src/app/shared/model/Config.ts
  modules/web/src/environments/environment.e2e.local.ts
  modules/web/src/environments/environment.e2e.mock.ts
  modules/web/src/environments/environment.e2e.ts
  modules/web/src/environments/environment.prod.ts
  modules/web/src/environments/environment.ts
  modules/web/src/test/services/auth-mock.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Revert "Migrate KKP dashboard auth from implicit flow to OAuth authorization code flow (#7960)" (#8044)
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/options.go
  modules/api/hack/run-api.sh
  modules/api/pkg/handler/auth/oidc.go
  modules/api/pkg/handler/routing.go
  modules/api/pkg/handler/test/fake_auth.go
  modules/api/pkg/handler/v2/authflow/handler.go
  modules/api/pkg/handler/v2/authflow/routing.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/handler/v2/routing.go
  modules/api/pkg/provider/auth/types/types.go
  modules/web/cypress/intercept/root.ts
  modules/web/src/app/config.ts
  modules/web/src/app/core/components/user-panel/component.spec.ts
  modules/web/src/app/core/components/user-panel/component.ts
  modules/web/src/app/core/interceptors/auth.ts
  modules/web/src/app/core/interceptors/check-token.ts
  modules/web/src/app/core/module.ts
  modules/web/src/app/core/services/auth/guard.ts
  modules/web/src/app/core/services/auth/service.spec.ts
  modules/web/src/app/core/services/auth/service.ts
  modules/web/src/app/core/services/token.ts
  modules/web/src/app/core/services/user.spec.ts
  modules/web/src/app/core/services/user.ts
  modules/web/src/app/module.ts
  modules/web/src/app/pages/api-docs/component.ts
  modules/web/src/app/pages/frontpage/component.ts
  modules/web/src/app/pages/frontpage/template.html
  modules/web/src/app/project/component.ts
  modules/web/src/app/shared/components/openstack-credentials/default/component.ts
  modules/web/src/app/shared/model/Config.ts
  modules/web/src/environments/environment.e2e.local.ts
  modules/web/src/environments/environment.e2e.mock.ts
  modules/web/src/environments/environment.e2e.ts
  modules/web/src/environments/environment.prod.ts
  modules/web/src/environments/environment.ts
  modules/web/src/test/services/auth-mock.ts
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

update kubeone to v1.12.3 (#7964) (#8047)
  modules/api/go.mod
  modules/api/go.sum
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

Refactor ng-template usage and improve component structure in various templates
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/node-data/template.html
  modules/web/src/app/shared/components/tab-card/tab/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.30.3] Bump KKP dependencies for KKP patch release v2.30.3
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

[release/v2.30.3] Bump KKP dependencies for KKP patch release v2.30.3 (#8050)
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix: add selectors to noop dialog components for better identification
  modules/web/src/test/components/noop-confirmation-dialog.component.ts
  modules/web/src/test/components/noop-project-delete-dialog.component.ts
  modules/web/src/test/components/noop-token-dialog.component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix 'background-repeat' for menu-item icons
  modules/web/src/app/core/components/sidenav/style.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix 'background-repeat' for menu-item icons (#8054)
  modules/web/src/app/core/components/sidenav/style.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix 'background-repeat' for menu-item icons (#8055)
  modules/web/src/app/core/components/sidenav/style.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix 'background-repeat' for menu-item icons (#8056)
  modules/web/src/app/core/components/sidenav/style.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Fix 'background-repeat' for menu-item icons (#8057)
  modules/web/src/app/core/components/sidenav/style.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

fix: restore mock for URL.createObjectURL in test environment
  modules/web/src/test.base.mocks.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

chore: update Angular dependencies to version 21.2.9
  modules/web/package-lock.json
  modules/web/package.json
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Refactor ng-template usage and improve component structure in various templates (#8049)
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/node-data/template.html
  modules/web/src/app/shared/components/tab-card/tab/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Add TabLabelDirective and update tab components to use it for label templates
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/shared/components/tab-card/tab/label.directive.ts
  modules/web/src/app/shared/module.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check

Return empty metrics for unavailable BYOCNI clustr
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/common/cluster_test.go
  modules/api/pkg/handler/common/machine.go
  modules/api/pkg/handler/common/machine_test.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-api-e2e, pre-dashboard-api-unit, pre-dashboard-api-lint, pre-dashboard-api-verify

refactor: consolidate import statements for DEFAULT_DEBOUNCE_TIME_MS and GENERATE_NAME_TOOLTIP
  modules/web/src/app/external-cluster-wizard/steps/external-cluster/provider/aks/component.ts
  modules/web/src/app/external-cluster-wizard/steps/external-cluster/provider/eks/component.ts
  modules/web/src/app/external-cluster-wizard/steps/external-cluster/provider/gke/component.ts
  modules/web/src/app/node-data/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce, pre-dashboard-web-integration-tests, pre-dashboard-web-integration-tests-ce, pre-dashboard-web-unit, pre-dashboard-web-check
