Repository kubermatic/dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-full-e2e, pre-dashboard-test-full-e2e-ce, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

pre-dashboard-go-mod-verify:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      command:
      - make
      - verify-go
      resources:
        requests:
          cpu: 100m

pre-dashboard-test-unit:
  decorate: true
  spec:
    containers:
    - image: quay.io/kubermatic/chrome-headless:v0.11
      command:
      - make
      - test-headless
      resources:
        requests:
          cpu: 1
          memory: 3Gi
        limits:
          cpu: 2
          memory: 5Gi
      env:
      - name: CODECOV_TOKEN
        valueFrom:
  ...

pre-dashboard-test-full-e2e:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-full-e2e-ce:
  optional: true
  decorate: true
  labels:
    preset-alibaba: 'true'
    preset-anexia: 'true'
    preset-aws: 'true'
    preset-azure: 'true'
    preset-digitalocean: 'true'
    preset-gce: 'true'
    preset-hetzner: 'true'
    preset-kubevirt: 'true'
    preset-openstack: 'true'
    preset-packet: 'true'
  ...

pre-dashboard-test-e2e:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-test-e2e-ce:
  decorate: true
  labels:
    preset-minio: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/e2e-cypress:v1.1.0
      imagePullPolicy: Always
      command:
      - make
      - run-e2e-ci
      resources:
        requests:
          memory: 6Gi
          cpu: 4
        limits:
          memory: 8Gi
          cpu: 4
  ...

pre-dashboard-build-image:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

pre-dashboard-build-image-ce:
  decorate: true
  labels:
    preset-docker-push: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.17-node-16-kind-0.11-1
      imagePullPolicy: Always
      command:
      - /bin/bash
      - -c
      - 'set -euo pipefail
  
        /usr/local/bin/start-docker.sh
  
  ...

UI Adjustment and enhancements (#5317)
  modules/web/src/app/cluster/details/cluster/node-list/template.html
  modules/web/src/app/project-overview/create-resource-panel/template.html
  modules/web/src/app/serviceaccount/component.ts
  modules/web/src/app/serviceaccount/template.html
  modules/web/src/app/settings/admin/bucket-settings/component.ts
  modules/web/src/app/settings/admin/bucket-settings/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/aks/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/alibaba/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/anexia/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/aws/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/azure/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/digitalocean/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/eks/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/equinix/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/gcp/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/gke/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/hetzner/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/kubevirt/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/vsphere/template.html
  modules/web/src/app/shared/components/editor/component.ts
  modules/web/src/app/shared/components/loader/component.ts
  modules/web/src/app/shared/components/loader/template.html
  modules/web/src/assets/css/_mixins.scss
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add create endpoint for AppDefs (#5307)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/v2/application_definition/application_definition.go
  modules/api/pkg/handler/v2/application_definition/application_definition_test.go
  modules/api/pkg/handler/v2/application_definition/conversion.go
  modules/api/pkg/handler/v2/application_definition/request.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/provider/kubernetes/application_definition.go
  modules/api/pkg/provider/types.go
  modules/api/pkg/test/e2e/utils/apiclient/client/applications/applications_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/applications/create_application_definition_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/applications/create_application_definition_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/models/application_definition_body.go
  modules/api/pkg/test/e2e/utils/apiclient/models/application_ref.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Unit test updates
  modules/api/pkg/handler/v2/networkdefaults/networkdefaults_test.go
  modules/api/pkg/handler/v2/networkdefaults/networkdefaults_unit_test.go
  src/assets/config/version.json
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

KubeVirt cleanup Flavor and instancetype (#5336)
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/api/v1/types_test.go
  modules/api/pkg/machine/convert.go
  modules/api/pkg/resources/machine/common.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

import fix
  modules/api/pkg/provider/cloud/aws/security_group.go
  modules/api/pkg/provider/cloud/azure/provider.go
  modules/api/pkg/provider/cloud/kubevirt/provider.go
  modules/api/pkg/provider/cloud/kubevirt/vm_instancetype.go
  modules/api/pkg/provider/cloud/kubevirt/vm_preference.go
  modules/api/pkg/provider/cloud/nutanix/provider.go
  modules/api/pkg/provider/cloud/openstack/helper.go
  modules/api/pkg/provider/cloud/openstack/provider_test.go
  modules/api/pkg/provider/cloud/vsphere/client.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

remove some unused constants
  modules/api/pkg/provider/cloud/aws/provider.go
  modules/api/pkg/provider/cloud/azure/provider.go
  modules/api/pkg/provider/cloud/gcp/provider.go
  modules/api/pkg/provider/cloud/nutanix/provider.go
  modules/api/pkg/provider/cloud/packet/provider.go
  modules/api/pkg/provider/cloud/vmwareclouddirector/provider.go
  modules/api/pkg/provider/cloud/vsphere/provider.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

remove some more
  modules/api/pkg/provider/cloud/azure/provider.go
  modules/api/pkg/provider/cloud/gcp/provider.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add project-scoped API endpoints for Azure (#5324)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/handler/v2/provider/azure.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/test/e2e/utils/apiclient/client/azure/azure_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/azure/list_project_azure_availability_zones_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/azure/list_project_azure_availability_zones_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/azure/list_project_azure_resource_groups_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/azure/list_project_azure_resource_groups_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/azure/list_project_azure_route_tables_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/azure/list_project_azure_route_tables_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/azure/list_project_azure_security_groups_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/azure/list_project_azure_security_groups_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/azure/list_project_azure_sizes_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/azure/list_project_azure_sizes_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/azure/list_project_azure_subnets_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/azure/list_project_azure_subnets_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/azure/list_project_azure_vnets_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/azure/list_project_azure_vnets_responses.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Minor UI/UX fixes
  modules/web/src/app/cluster-template/component.ts
  modules/web/src/app/cluster-template/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/wizard/step/cluster/ssh-keys/component.ts
  modules/web/src/app/wizard/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

refactoring and fixing lint errors
  modules/api/pkg/validation/cluster.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

API networkdefaults changes for TunnelingAgentIP (#5288)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/v2/networkdefaults/networkdefaults.go
  modules/api/pkg/handler/v2/networkdefaults/networkdefaults_test.go
  modules/api/pkg/handler/v2/networkdefaults/networkdefaults_unit_test.go
  modules/api/pkg/test/e2e/utils/apiclient/models/network_defaults.go
  modules/api/pkg/validation/cluster.go
  modules/web/go.mod
  modules/web/go.sum
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add swagger and API client verification jobs
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/hack/verify.sh
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/test/helper.go
  modules/api/pkg/handler/v2/application_installation/application_installation_test.go
  modules/api/pkg/handler/v2/application_installation/conversion.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/calculate_project_quota_update_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/calculate_project_quota_update_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/project_client.go
  modules/api/pkg/test/e2e/utils/apiclient/models/application_ref.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kubevirt_node_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/namespace_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/resource_quota_update_calculation.go
  modules/api/pkg/test/e2e/utils/apiclient/models/version.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix swagger spec
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/hack/gen-api-client.sh
  modules/api/hack/verify-api-client.sh
  modules/api/hack/verify-swagger.sh
  modules/api/pkg/ee/resource-quota/handler.go
  modules/api/pkg/handler/v2/provider/azure.go
  modules/api/pkg/handler/v2/provider/openstack.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/test/e2e/utils/apiclient/client/azure/list_project_azure_availability_zones_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/openstack/list_openstack_server_groups_no_credentials_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/calculate_project_quota_update_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/calculate_project_quota_update_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/calculate_project_resource_quota_update_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/calculate_project_resource_quota_update_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/project_client.go
  modules/api/pkg/test/e2e/utils/apiclient/models/namespace_spec.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update k8c.io/kubermatic/v2 to latest commit on main
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/test/helper.go
  modules/api/pkg/handler/v2/application_installation/application_installation_test.go
  modules/api/pkg/handler/v2/networkdefaults/networkdefaults.go
  modules/api/pkg/handler/v2/networkdefaults/networkdefaults_unit_test.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_networking_config.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_v_sphere.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Add swagger and API client verification jobs (#5344)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/hack/gen-api-client.sh
  modules/api/hack/verify-api-client.sh
  modules/api/hack/verify-swagger.sh
  modules/api/hack/verify.sh
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/ee/resource-quota/handler.go
  modules/api/pkg/handler/test/helper.go
  modules/api/pkg/handler/v2/application_installation/application_installation_test.go
  modules/api/pkg/handler/v2/application_installation/conversion.go
  modules/api/pkg/handler/v2/networkdefaults/networkdefaults.go
  modules/api/pkg/handler/v2/networkdefaults/networkdefaults_unit_test.go
  modules/api/pkg/handler/v2/provider/azure.go
  modules/api/pkg/handler/v2/provider/openstack.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/test/e2e/utils/apiclient/client/azure/list_project_azure_availability_zones_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/openstack/list_openstack_server_groups_no_credentials_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/calculate_project_resource_quota_update_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/calculate_project_resource_quota_update_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/project_client.go
  modules/api/pkg/test/e2e/utils/apiclient/models/application_ref.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_networking_config.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_v_sphere.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kubevirt_node_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/resource_quota_update_calculation.go
  modules/api/pkg/test/e2e/utils/apiclient/models/version.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

New field ClusterName in kubevirt providerconfig
  modules/api/pkg/resources/machine/common.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove close icon status bar
  modules/web/src/app/shared/components/terminal/component.ts
  modules/web/src/app/shared/components/terminal/template.html
  modules/web/src/app/shared/components/terminal/terminal-status-bar/component.ts
  modules/web/src/app/shared/components/terminal/terminal-status-bar/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Handle session expiration for web terminal
  modules/web/src/app/shared/components/terminal/component.ts
  modules/web/src/app/shared/components/terminal/template.html
  modules/web/src/app/shared/components/terminal/terminal-status-bar/component.ts
  modules/web/src/app/shared/components/terminal/terminal-status-bar/template.html
  modules/web/src/assets/css/_images.scss
  modules/web/src/assets/images/icons/clock.svg
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

New field ClusterName in kubevirt providerconfig (#5346)
  modules/api/pkg/resources/machine/common.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update DCO
  CONTRIBUTING.md
  DCO
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix typo in the apiserverallowedIPRanges field
  modules/api/pkg/api/v1/types.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update DCO (#5354)
  CONTRIBUTING.md
  DCO
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Remove status bar once session is refreshed
  modules/web/src/app/shared/components/terminal/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Fix typo in the apiserverallowedIPRanges field (#5355)
  modules/api/pkg/api/v1/types.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Prefilled configured ranges for cluster and allow to send updated patch to configure Allowed IP Ranges
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Update fake cluster data to address allowed ip ranges
  modules/web/src/test/data/cluster.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Display Allowed IP ranges in summary and details page
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

store a MachineDeployment instead of NodeDeployment in the initial-md annotation
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/common/machine.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template.go
  modules/api/pkg/resources/machine/machinedeployment.go
Due: pre-dashboard-go-mod-verify, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Display Allowed IP ranges in summary and details page (#5358)
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add side-nav-field component
  src/app/shared/components/side-nav-field/component.ts
  src/app/shared/components/side-nav-field/style.scss
  src/app/shared/components/side-nav-field/template.html
  src/app/shared/components/side-nav-field/theme.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add routing to externalclusters tab
  modules/web/src/app/cluster/list/component.ts
  modules/web/src/app/core/components/sidenav/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add all the side nav field and the menu tab
  modules/web/src/app/cluster/list/component.ts
  modules/web/src/app/core/components/sidenav/template.html
  modules/web/src/app/core/components/sidenav/theme.scss
  modules/web/src/app/shared/entity/common.ts
  src/app/shared/components/side-nav-field/component.ts
  src/app/shared/components/side-nav-field/style.scss
  src/app/shared/components/side-nav-field/template.html
  src/app/shared/components/side-nav-field/theme.scss
Due: pre-dashboard-test-unit, pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

fixing e2e tests
  modules/web/src/app/core/components/sidenav/template.html
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

overall adjustments
  modules/web/src/app/core/components/sidenav/component.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

add the collapsed button to the side-nav-field component
  modules/web/src/app/core/components/sidenav/component.ts
  modules/web/src/app/core/components/sidenav/template.html
  modules/web/src/app/core/components/sidenav/theme.scss
  modules/web/src/app/shared/entity/common.ts
Due: pre-dashboard-test-e2e, pre-dashboard-test-e2e-ce, pre-dashboard-build-image, pre-dashboard-build-image-ce

Path conditions:
  pre-dashboard-go-mod-verify: any of: ^(go.sum|go.mod)$|\.(go)$
  pre-dashboard-test-unit: any of: ^src/
  pre-dashboard-test-full-e2e: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-full-e2e-ce: any of: ^(cypress|hack/e2e)/
  pre-dashboard-test-e2e: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-test-e2e-ce: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image: unless all of: ^(containers|docs)/|\.(md)$
  pre-dashboard-build-image-ce: unless all of: ^(containers|docs)/|\.(md)$
